Repository WordPress/openverse, pull requests merged in 2023-08, with the labels that each got.

#2676 Implementation Plan: Additional search views
  documentation/projects/proposals/additional_search_views/20230719-implementation_plan_additional_search_views.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 🕹 aspect: interface, 🧱 stack: frontend, skip-changelog, 🧱 stack: documentation, 🧭 project: implementation plan

#2721 Rename `mature` to `includeSensitiveResults`
  frontend/src/components/VErrorSection/VServerTimeout.vue
  frontend/src/components/VErrorSection/meta/VErrorSection.stories.mdx
  frontend/src/constants/content-safety.ts
  frontend/src/constants/filters.ts
  frontend/src/stores/search.ts
  frontend/src/utils/search-query-transform.ts
  frontend/test/unit/specs/stores/search-store.spec.js
  frontend/test/unit/specs/utils/search-query-transform.spec.js
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: documentation

#2740 Clean up Popularity Refresh notifications and adjust poke interval
  catalog/dags/data_refresh/reporting.py
  catalog/dags/database/batched_update/batched_update.py
  catalog/dags/database/batched_update/batched_update_dag.py
  catalog/dags/popularity/dag_factory.py
  catalog/dags/popularity/popularity_refresh_types.py
  catalog/tests/dags/database/test_batched_update.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#2778 Stop converting timeout error to an object in Nuxt API requests
  frontend/src/data/api-service.ts
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2812 Improve the docs
  documentation/general/general_setup.md
Labels: 🟨 priority: medium, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: documentation

#2809 Remove unused WSGIBasicAuth and django-cron
  api/Pipfile
  api/Pipfile.lock
  api/api/utils/scheduled_tasks.py
  api/conf/wsgi.py
Labels: 🟧 priority: high, 💻 aspect: code, dependencies, 🧰 goal: internal improvement, 🧱 stack: api

#2781 fix: adding mce-visual-caret-hidden pattern to ignored Sentry errors
  frontend/src/utils/sentry-config.ts
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2743 Fix audio snackbar and box audio seeking
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VAudioTrack/VWaveform.vue
  frontend/src/components/VAudioTrack/layouts/VBoxLayout.vue
  frontend/src/components/VAudioTrack/layouts/VRowLayout.vue
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/components/VSearchResultsGrid/VAudioCollection.vue
  frontend/src/components/VSearchResultsGrid/VAudioList.vue
  frontend/src/components/VSearchResultsGrid/VAudioResult.vue
  frontend/src/composables/use-audio-snackbar.ts
  frontend/src/composables/use-seekable.ts
  frontend/src/stores/ui.ts
  frontend/src/types/events.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xs-linux.png
  frontend/test/unit/specs/stores/ui-store.spec.js
Labels: 🟧 priority: high, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#2822 polyfill flatMap for Chrome < 69
  frontend/nuxt.config.ts
  frontend/src/plugins/polyfills.client.ts
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: documentation

#2490 JavaScript to TypeScript
  .github/actions/build-docs/action.yml
  frontend/.gitignore
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/src/constants/z-indices.js
  frontend/src/constants/z-indices.ts
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/default.vue
  frontend/src/layouts/search-layout.vue
  frontend/src/styles/tailwind.css
  frontend/tailwind.config.ts
  package.json
  pnpm-lock.yaml
  prettier.config.js
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend

#2821 Fix VImageCell storybook test
  frontend/src/components/VImageCell/meta/VImageCell.stories.mdx
  frontend/test/unit/fixtures/base64Image.js
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: documentation

#2827 Remove reference to tailwind config viewer from docs
  frontend/src/stories/Introduction.stories.mdx
Labels: 🟨 priority: medium, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: documentation

#2783 Replace request mocks with pook in tests
  api/test/unit/utils/test_image_proxy.py
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
  ingestion_server/test/unit_tests/test_slack.py
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: ingestion server

#2777 Remove `body` from the index.update elasticsearch requests
  .github/workflows/ci_cd.yml
  api/api/apps.py
  api/api/models/media.py
  api/test/unit/models/test_media_report.py
  docker-compose.yml
  ingestion_server/gunicorn.conf.py
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: catalog, 🧱 stack: mgmt

#2817 Adjust the date filter in Europeana to pull updates rather than created records
  catalog/dags/providers/provider_api_scripts/europeana.py
  catalog/tests/dags/providers/provider_api_scripts/test_europeana.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#2808 Set API Dockerfile run to production config
  api/Dockerfile
  docker-compose.yml
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: catalog

#2826 Extract use-external-sources composable
  frontend/src/components/VErrorSection/VNoResults.vue
  frontend/src/components/VErrorSection/meta/VErrorSection.stories.mdx
  frontend/src/components/VExternalSearch/VExternalSearchForm.vue
  frontend/src/components/VExternalSearch/VExternalSourceList.vue
  frontend/src/components/VSearchGrid.vue
  frontend/src/composables/use-external-sources.ts
  frontend/test/unit/specs/components/ExternalSources/v-external-source-list.spec.js
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: documentation

#2637 Project Proposal: Openverse Datasets
  documentation/projects/proposals/publish_dataset/20230706-project_proposal_openverse_dataset.md
  documentation/projects/proposals/publish_dataset/index.md
Labels: 🟧 priority: high, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation, 🧭 project: proposal

#2837 Prevent < and > in commit titles from breaking dag-sync slack message
  dag-sync.sh
Labels: 🟩 priority: low, 🏷 status: label work required, 🚦 status: awaiting triage, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: catalog

#2660 Custom ESLint plugin to Skip Unit Tests if Preceded by Comment with Github Issue Link
  .eslintrc.js
  documentation/packages/eslint_plugin/no-unexplained-disabled-test.md
  packages/eslint-plugin/src/configs/recommended.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/src/rules/no-unexplained-disabled-test.ts
  packages/eslint-plugin/test/rules/no-unexplained-disabled-test.spec.ts
Labels: 🟩 priority: low, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: mgmt

#2842 Unexpose port 3000 from API Dockerfile
  api/Dockerfile
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#2819 Update popularity refresh schedule and timeouts
  catalog/DAGs.md
  catalog/dags/popularity/popularity_refresh_types.py
  catalog/tests/dags/common/popularity/test_dag_factory.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#2647 Show individual doc differences for rendered documentation preview on PRs
  .github/workflows/ci_cd.yml
  automations/python/workflows/get_folder_differences.py
Labels: 🟩 priority: low, 🌟 goal: addition, 🤖 aspect: dx, 🧱 stack: frontend, 🧱 stack: mgmt, 🧱 stack: documentation

#2841 Drop and recreate pop constants instead of refreshing
  catalog/dags/common/popularity/sql.py
  catalog/dags/popularity/refresh_popularity_metrics_task_factory.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#2847 Prevent errors when Plausible is not running
  frontend/nuxt.config.ts
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: documentation

#2848 Fix nginx redirect for no trailing slash
  api/nginx.conf.template
  docker-compose.yml
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: catalog

#2852 Escape HTML in media title and creator
  frontend/src/utils/attribution-html.ts
  frontend/test/unit/specs/utils/attribution-html.spec.ts
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2854 Add blurring to the global audio player
  frontend/src/components/VAudioTrack/layouts/VGlobalLayout.vue
Labels: 🟨 priority: medium, 🌟 goal: addition, 🕹 aspect: interface, 🧱 stack: frontend

#2824 Document Plausible configuration deployment & deprecated custom properties
  documentation/frontend/guides/analytics.md
  documentation/frontend/guides/deploy.md
  documentation/frontend/guides/develop.md
  documentation/frontend/guides/index.md
Labels: 🟨 priority: medium, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: analytics, 🧱 stack: documentation

#2864 Revert changes to drop and recreate popularity constants views
  catalog/dags/common/popularity/sql.py
  catalog/dags/popularity/refresh_popularity_metrics_task_factory.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#2855 Add codespell pre-commit hook
  .codespell/README.md
  .codespell/dictionary.txt
  .codespell/ignore_lines.txt
  .codespell/ignore_words.txt
  .github/dependabot.yml
  .isort.cfg
  .pre-commit-config.yaml
  .ruff.toml
  api/api/serializers/media_serializers.py
  api/api/utils/oauth2_helper.py
  api/api/utils/pagination.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/utils/test_search_context.py
  catalog/DAGs.md
  catalog/dags/common/loader/reporting.py
  catalog/dags/common/loader/sql.py
  catalog/dags/data_refresh/data_refresh_task_factory.py
  catalog/dags/maintenance/check_silenced_dags.py
  catalog/dags/providers/provider_api_scripts/metropolitan_museum.py
  catalog/docs/provider_data_ingester_faq.md
  catalog/tests/dags/maintenance/test_check_silenced_dags.py
  catalog/tests/templates/test_create_provider_ingester.py
  documentation/changelogs/api/2023.05.15.21.51.49.md
  documentation/changelogs/frontend/2023.07.28.23.42.26.md
  documentation/frontend/reference/testing_guidelines.md
  documentation/general/deployment.md
  documentation/general/zero_downtime_database_management.md
  documentation/meta/ci_cd/proof_of_functionality.md
  documentation/meta/codespell.md
  documentation/meta/decision_making/additional_practices.md
  documentation/meta/documentation/review.md
  documentation/meta/index.md
  documentation/meta/monitoring/traffic/runbooks/identifying-and-blocking-traffic-anomalies.md
  documentation/packages/index.md
  documentation/projects/planning.md
  documentation/projects/proposals/analytics/20221006-implementation_plan_frontend.md
  documentation/projects/proposals/monitoring/20220307-project_proposal.md
  documentation/projects/proposals/popularity_optimizations/20230406-project_proposal_popularity_optimizations.md
  documentation/projects/proposals/search_relevancy_sandbox/20230406-implementation_plan_update_staging_database.md
  documentation/projects/proposals/search_relevancy_sandbox/20230518-implementation_plan_staging_index_rapid_iteration.md
  documentation/projects/proposals/search_relevancy_sandbox/20230530-implementation_plan_staging_elasticsearch_reindex_dags.md
  documentation/projects/proposals/trust_and_safety/20230109-trust_and_safety_preliminary_overview_and_exploration.md
  documentation/projects/proposals/trust_and_safety/content_report_moderation/20230411-project_proposal_content_report_moderation.md
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20230309-implementation_plan_sensitive_terms_list.md
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20230309-project_proposal_detecting_sensitive_textual_content.md
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20230330-implementation_plan_filtering_and_designating_results_with_sensitive_textual_content.md
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20230506-implementation_plan_frontend_blurring_sensitive.md
  frontend/src/constants/key-codes.ts
  frontend/src/server-middleware/healthcheck.js
  frontend/test/playwright/utils/navigation.ts
  frontend/test/unit/specs/utils/decode-data.spec.js
  frontend/test/unit/specs/utils/prepare-search-query-params.spec.js
  frontend/test/unit/test-utils/api-service-mock.ts
  justfile
  pyproject.toml
  utilities/dead_links/dead_link_tally.py
  utilities/provider_tallies/README.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: api, 🧱 stack: frontend, 🧱 stack: catalog, 🧱 stack: mgmt, 🧱 stack: documentation

#2856 Publish changelog for api-2023.08.22.04.57.04
  documentation/changelogs/api/2023.08.22.04.57.04.md
Labels: 🟩 priority: low, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: api, skip-changelog, 🧱 stack: documentation

#2892 Remove `gevent`, `django-braces`, and `ipaddress` dependencies
  api/Pipfile
  api/Pipfile.lock
  api/conf/wsgi.py
  api/manage.py
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#2866 Refactor search.vue and add it to tsconfig
  frontend/src/components/VSearchGrid.vue
  frontend/src/components/VSearchResultsGrid/VImageGrid.vue
  frontend/src/pages/search.vue
  tsconfig.json
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#2818 Update data refresh to use media tables
  catalog/DAGs.md
  catalog/dags/data_refresh/dag_factory.py
  catalog/tests/dags/data_refresh/test_dag_factory.py
  ingestion_server/ingestion_server/ingest.py
  ingestion_server/ingestion_server/queries.py
  ingestion_server/ingestion_server/tasks.py
  ingestion_server/test/unit_tests/test_queries.py
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: ingestion server, 🧱 stack: catalog

#2734 Add `VCollectionHeader` component
  frontend/src/assets/svg/raw/institution.svg
  frontend/src/assets/svg/raw/person.svg
  frontend/src/assets/svg/raw/tag.svg
  frontend/src/components/VCollectionHeader/VCollectionHeader.vue
  frontend/src/components/VCollectionHeader/meta/VCollectionHeader.stories.mdx
  frontend/src/components/VIcon/VIcon.vue
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/image/_id/index.vue
  frontend/src/types/analytics.ts
  frontend/src/types/search.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-2xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-lg-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-md-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-sm-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-xs-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-2xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-lg-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-md-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-sm-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-xs-linux.png
Labels: 🟨 priority: medium, 🌟 goal: addition, 🕹 aspect: interface, 🧱 stack: frontend, 🧱 stack: documentation

#2882 Remove ES matrix from CI
  .github/workflows/ci_cd.yml
  api/api/apps.py
  docker-compose.yml
  ingestion_server/gunicorn.conf.py
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: catalog, 🧱 stack: mgmt

#2909 Fix Elasticsearch memory hogging the right way
  docker-compose.overrides.yml
  docker/es/env.docker
  justfile
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: mgmt

#2860 Update the external search modal and items
  frontend/src/components/VExternalSearch/VExternalSearchForm.vue
  frontend/src/components/VExternalSearch/VExternalSourceList.vue
  frontend/src/components/VIcon/VIcon.vue
  frontend/src/components/VIconButton/VOldIconButton.vue
  frontend/src/components/VModal/VModal.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/composables/use-dialog-control.ts
  frontend/tailwind.config.ts
  frontend/test/playwright/e2e/external-sources.spec.ts
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-xl-linux.png
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend

#2846 Combine `VAudioDetails` and `VImageDetails` into `VMediaDetails` component
  frontend/src/components/VAudioDetails/VAudioDetails.vue
  frontend/src/components/VImageDetails/VImageDetails.vue
  frontend/src/components/VMediaInfo/VMediaDetails.vue
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/src/components/VMediaInfo/VMetadata.vue
  frontend/src/components/VMediaInfo/meta/VMetadata.stories.mdx
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/audio/_id/index.vue
  frontend/src/pages/image/_id/index.vue
  frontend/src/types/media.ts
  frontend/src/utils/decode-media-data.ts
  frontend/src/utils/metadata.ts
  frontend/test/locales/ar.json
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-2xl-linux.png
  frontend/test/unit/fixtures/audio.js
  frontend/test/unit/fixtures/image.js
  frontend/test/unit/specs/components/VMediaInfo/v-media-details.spec.js
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend, 🧱 stack: documentation

#2876 Add missing argument in `Pool.create_or_update_pool`
  catalog/tests/dags/common/sensors/test_single_run_external_dags_sensor.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#2881 Create a page for apps made with the Openverse API
  api/conf/settings/spectacular.py
  documentation/_static/openverse_gutenberg.png
  documentation/_static/openverse_homepage.png
  documentation/_static/openverse_jetpack.png
  documentation/_static/openverse_mojeek.png
  documentation/_static/openverse_raycast.png
  documentation/_static/openverse_slack.png
  documentation/api/reference/index.md
  documentation/api/reference/made_with_ov.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: api, 🧱 stack: frontend, 🧱 stack: documentation

#2791 Update the "Suggest a provider" issue template
  .github/ISSUE_TEMPLATE/image_provider_api_integration_request.yml
  .github/ISSUE_TEMPLATE/new_source_suggestion.yml
Labels: 🟨 priority: medium, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: mgmt

#2902 Use a temp checkout path for automation when building docs
  .github/workflows/ci_cd.yml
  documentation/meta/ci_cd/jobs/documentation.md
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt, 🧱 stack: documentation

#2811 Update metasearch button style and use a modal for screens below `lg`
  frontend/src/components/VExternalSearch/VExternalSearchForm.vue
  frontend/src/components/VSearchResultsGrid/VAudioCollection.vue
  frontend/src/composables/use-body-scroll-lock.ts
  frontend/src/locales/scripts/en.json5
  frontend/test/locales/ar.json
  frontend/test/playwright/e2e/external-sources.spec.ts
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts
Labels: 🟨 priority: medium, 🌟 goal: addition, 🕹 aspect: interface, 🧱 stack: frontend

#2883 Remove popularity constants view
  catalog/dags/common/popularity/constants.py
  catalog/dags/common/popularity/sql.py
  catalog/dags/common/sql.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/database/batched_update/batched_update.py
  catalog/dags/database/recreate_popularity_calculation_dag_factory.py
  catalog/dags/popularity/refresh_popularity_metrics_task_factory.py
  catalog/tests/dags/common/loader/test_sql.py
  catalog/tests/dags/common/popularity/test_sql.py
  docker/upstream_db/0004_openledger_image_view.sql
  docker/upstream_db/0007_openledger_audio_view.sql
Labels: 🟥 priority: critical, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: ingestion server, 🧱 stack: catalog

#2898 Simplify, improve and document the i18n pipeline
  documentation/frontend/guides/index.md
  documentation/frontend/guides/translate.md
  documentation/frontend/reference/i18n.md
  documentation/frontend/reference/index.md
  frontend/.gitignore
  frontend/nuxt.config.ts
  frontend/src/locales/scripts/create-wp-locale-list.js
  frontend/src/locales/scripts/get-translations-status.js
  frontend/src/locales/scripts/get-validated-locales.js
  frontend/src/locales/scripts/locale-fallback.json
  frontend/src/plugins/vue-i18n.ts
  frontend/typings/nuxt__types/index.d.ts
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: frontend, 🧱 stack: documentation

#2880 Enabling fetching sensitive results when the UI switch is toggled
  frontend/src/components/VFilters/VFilterChecklist.vue
  frontend/src/components/VFilters/VSearchGridFilter.vue
  frontend/src/components/VSafeBrowsing/VSafeBrowsing.vue
  frontend/src/constants/content-safety.ts
  frontend/src/constants/filters.ts
  frontend/src/layouts/search-layout.vue
  frontend/src/pages/search.vue
  frontend/src/stores/search.ts
  frontend/src/types/analytics.ts
  frontend/src/types/media.ts
  frontend/src/utils/decode-media-data.ts
  frontend/src/utils/search-query-transform.ts
  frontend/test/playwright/e2e/search-query-client.spec.ts
  frontend/test/tapes/search/audio/q=cat&unstable__include_sensitive_results=true&peaks=true_keep-alive.json5
  frontend/test/tapes/search/images/q=cat&unstable__include_sensitive_results=true_keep-alive.json5
  frontend/test/unit/specs/stores/search-store.spec.js
  frontend/test/unit/specs/utils/search-query-transform.spec.js
Labels: 🟨 priority: medium, 🌟 goal: addition, 🕹 aspect: interface, 🧱 stack: frontend
