Repository WordPress/openverse, pull requests merged in 2023-12, with the labels that each got.

#3408 Use DB to augment ES hits for related media with required info
  api/api/views/media_views.py
  api/test/media_integration.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3442 Fix incorrect variable mapping for PR util
  automations/js/src/utils/pr.mjs
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#3438 Print diffs for new documentation directories
  automations/python/workflows/get_folder_differences.py
Labels: 🟩 priority: low, 🛠 goal: fix, 🤖 aspect: dx, 🐍 tech: python, 🧱 stack: mgmt, 🧱 stack: documentation

#3443 Make assorted improvements to automations and workflows
  .github/actionlint-matcher.json
  .github/sync.yml
  .github/workflows/actionlint.yml
  .github/workflows/label_new_pr.yml
  .github/workflows/label_pr.yml
  .github/workflows/label_sync.yml
  .github/workflows/pr_automations.yml
  .prettierignore
  automations/js/src/label_pr.mjs
  automations/js/src/last_week_tonight.mjs
  automations/js/src/project_automation/prs.mjs
  automations/js/src/sync_labels.mjs
  automations/js/src/utils/html.mjs
  automations/js/src/utils/id_set.mjs
  automations/js/src/utils/pr.mjs
  automations/js/src/utils/projects.mjs
  automations/python/archive_column.py
  automations/python/issues_with_prs.py
  automations/python/label_pr.py
  automations/python/print_labels.py
  automations/python/shared/project.py
  automations/python/sync_labels.py
  utilities/migrate_issues/migrate_issues.js
Labels: 🟩 priority: low, 🌟 goal: addition, 🤖 aspect: dx, 🧱 stack: mgmt

#3140 Add additional search view pages to the Nuxt app
  frontend/src/components/VCollectionHeader/VCollectionHeader.vue
  frontend/src/components/VCollectionPage.vue
  frontend/src/components/VLoadMore.vue
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
  frontend/src/data/api-service.ts
  frontend/src/data/media-service.ts
  frontend/src/locales/scripts/en.json5
  frontend/src/middleware/collection.ts
  frontend/src/middleware/single-result.ts
  frontend/src/pages/audio/source/_.vue
  frontend/src/pages/audio/tag/_tag.vue
  frontend/src/pages/image/source/_.vue
  frontend/src/pages/image/tag/_tag.vue
  frontend/src/stores/media/index.ts
  frontend/src/stores/provider.ts
  frontend/src/stores/search.ts
  frontend/src/types/result.ts
  frontend/src/types/search.ts
  frontend/src/utils/parse-collection-path.ts
  frontend/test/playwright/e2e/collections.spec.ts
  frontend/test/playwright/e2e/external-sources.spec.ts
  frontend/test/playwright/e2e/global-audio.spec.ts
  frontend/test/playwright/e2e/image-detail.spec.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/tapes/response-293.json5
  frontend/test/tapes/response-314.json5
  frontend/test/tapes/response-333.json5
  frontend/test/unit/specs/stores/search-store.spec.js
  frontend/test/unit/specs/utils/validate-collection-params.spec.js
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: documentation

#3422 Change Django secret key to make it more obvious it's a shim value
  api/env.docker
  api/env.template
Labels: 🟩 priority: low, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: api

#3462 Make punctuation marks consistent for singular & plural strings
  frontend/src/locales/scripts/en.json5
Labels: 🟧 priority: high, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: frontend

#3463 Pass `core` to the labelling job as well
  .github/workflows/pr_automations.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt, 🔧 tech: github actions

#3440 Fix incorrectly parsed license url by-nc-nd for Flickr
  catalog/dags/common/licenses/constants.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3455 Fix image proxy get error handling
  api/api/utils/image_proxy/__init__.py
  api/test/unit/conftest.py
  api/test/unit/utils/test_image_proxy.py
  api/test/unit/views/test_health_views.py
  docker-compose.yml
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3232 Add DAG for creating staging indices
  catalog/dags/common/ingestion_server.py
  catalog/dags/common/slack.py
  catalog/dags/data_refresh/create_filtered_index_dag.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/data_refresh_task_factory.py
  catalog/dags/data_refresh/data_refresh_types.py
  catalog/dags/database/staging_database_restore/staging_database_restore_dag.py
  catalog/dags/es/recreate_staging_index/recreate_full_staging_index.py
  catalog/dags/es/recreate_staging_index/recreate_full_staging_index_dag.py
  catalog/dags/popularity/popularity_refresh_dag_factory.py
  catalog/env.template
  catalog/tests/dags/test_dag_parsing.py
  documentation/catalog/reference/DAGs.md
  ingestion_server/ingestion_server/distributed_reindex_scheduler.py
  ingestion_server/ingestion_server/indexer.py
  ingestion_server/ingestion_server/ingest.py
  ingestion_server/ingestion_server/state.py
  ingestion_server/ingestion_server/tasks.py
  ingestion_server/ingestion_server/utils/config.py
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: catalog, 🧱 stack: documentation

#3453 Extend Europeana timeout to 1 week
  catalog/dags/providers/provider_workflows.py
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3420 Add or update runbooks for alarms of anomalous behavior
  documentation/meta/monitoring/runbooks/api_request_count_anomaly.md
  documentation/meta/monitoring/runbooks/api_thumbnails_avg_response_time_above_threshold.md
  documentation/meta/monitoring/runbooks/api_thumbnails_avg_response_time_anomaly.md
  documentation/meta/monitoring/runbooks/api_thumbnails_p99_response_time_above_threshold.md
  documentation/meta/monitoring/runbooks/api_thumbnails_p99_response_time_anomaly.md
  documentation/meta/monitoring/runbooks/api_thumbnails_request_count_anomaly.md
  documentation/meta/monitoring/runbooks/index.md
  documentation/meta/monitoring/runbooks/nuxt_avg_response_time_above_threshold.md
  documentation/meta/monitoring/runbooks/nuxt_avg_response_time_anomaly.md
  documentation/meta/monitoring/runbooks/nuxt_http_2xx_under_threshold.md
  documentation/meta/monitoring/runbooks/nuxt_http_5xx_above_threshold.md
  documentation/meta/monitoring/runbooks/nuxt_p99_response_time_above_threshold.md
  documentation/meta/monitoring/runbooks/nuxt_p99_response_time_anomaly.md
  documentation/meta/monitoring/runbooks/nuxt_request_count_anomaly.md
Labels: 🟧 priority: high, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation

#3481 Add IDs for the maintainer attention labels
  automations/js/src/label_pr.mjs
Labels: 🟥 priority: critical, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#3406 Replace popper.js with floating-ui
  frontend/package.json
  frontend/src/components/VContentReport/VContentReportPopover.vue
  frontend/src/components/VContentSwitcher/VSearchTypePopover.vue
  frontend/src/components/VContentSwitcher/VSearchTypes.vue
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VPopover/VPopover.vue
  frontend/src/components/VPopover/VPopoverContent.vue
  frontend/src/components/VPopover/meta/VPopover.stories.mdx
  frontend/src/composables/use-floating-ui.ts
  frontend/src/composables/use-popover-content.ts
  frontend/src/composables/use-popper.ts
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-focused-md-linux.png
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-unfocused-md-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-xl-linux.png
  pnpm-lock.yaml
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: documentation

#3441 Add Internet Archive Book Images subprovider
  catalog/dags/common/loader/provider_details.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#3476 Fix path to test resources
  catalog/templates/template_test.py_template
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: catalog

#3483 Use the GitHub API to get the label's node ID
  automations/js/src/label_pr.mjs
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#3502 Update links to archived repositories in documentation
  documentation/general/contributing.md
  documentation/general/publish.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: documentation

#3465 Add catalog to dependencies to update by Renovate
  .github/renovate.json
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#3069 Move Oembed endpoint validation onto the serializer
  api/api/serializers/image_serializers.py
  api/api/views/image_views.py
  api/test/test_image_integration.py
  api/test/unit/views/test_image_views.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3515 Fix incorrect default production data refresh limit of 0
  ingestion_server/ingestion_server/distributed_reindex_scheduler.py
  ingestion_server/ingestion_server/utils/config.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: ingestion server

#3509 Remove staging thumbnails deployment
  .github/workflows/ci_cd.yml
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: mgmt

#3516 Fix source query caching
  api/api/controllers/search_controller.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3519 Pin `@actions/artifact` to version 1
  .github/actions/load-img/action.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#3503 Point Airflow deployment information to updated deployment runbook
  documentation/catalog/guides/deployment.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: documentation

#3522 Update catalog pgcli version to 4.0.1
  docker/upstream_db/Dockerfile
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: catalog

#3527 Remove mysql from apt repository sources for catalog due to expired key
  catalog/Dockerfile
Labels: 🟥 priority: critical, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: catalog

#3361 Unify DAG creation/database cleaning fixtures for testing
  catalog/tests/conftest.py
  catalog/tests/dags/common/sensors/test_single_run_external_dags_sensor.py
  catalog/tests/dags/common/sensors/test_utils.py
  catalog/tests/dags/common/test_ingestion_server.py
  catalog/tests/dags/providers/test_provider_dag_factory.py
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: catalog

#3479 Add DAG for ccMixter
  catalog/dags/common/loader/provider_details.py
  catalog/dags/common/requester.py
  catalog/dags/popularity/popularity_refresh_types.py
  catalog/dags/providers/provider_api_scripts/cc_mixter.py
  catalog/dags/providers/provider_workflows.py
  catalog/tests/dags/providers/provider_api_scripts/resources/cc_mixter/expected_single_record.json
  catalog/tests/dags/providers/provider_api_scripts/resources/cc_mixter/single_item.json
  catalog/tests/dags/providers/provider_api_scripts/test_cc_mixter.py
  docker/upstream_db/0007_openledger_audio_view.sql
  documentation/catalog/reference/DAGs.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: catalog, 🧱 stack: documentation

#3524 Add Jamendo's audiodownload_allowed field to metadata
  catalog/dags/providers/provider_api_scripts/jamendo.py
  catalog/tests/dags/providers/provider_api_scripts/test_jamendo.py
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog

#3521 Rename catalog requirements files to match Renovate pattern
  catalog/Dockerfile
  catalog/justfile
  catalog/requirements-dev.txt
  catalog/requirements-prod.txt
  docker-compose.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: catalog

#2679 Incident Response Plan
  documentation/meta/incidents/index.md
  documentation/meta/incidents/runbooks/incident_response_runbook.md
  documentation/meta/incidents/runbooks/index.md
  documentation/meta/index.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: mgmt, 🧱 stack: documentation

#3529 Remove outdated pre-monorepo info from `README.md`
  README.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: catalog

#3536 Revert "Remove mysql from apt repository sources for catalog due to expired key (#3527)"
  catalog/Dockerfile
Labels: 🟥 priority: critical, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: catalog

#3526 Allow more than one aspect label
  .github/workflows/pr_label_check.yml
Labels: 🟩 priority: low, 💻 aspect: code, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#3458 Convert oembed to async
  api/api/serializers/image_serializers.py
  api/api/utils/asyncio.py
  api/api/views/image_views.py
  api/test/test_image_integration.py
  api/test/unit/views/test_image_views.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api

#3545 Remove stray commas in the codebase
  api/api/utils/image_proxy/__init__.py
  catalog/dags/providers/provider_api_scripts/inaturalist.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api, 🧱 stack: catalog

#3538 Add some `just` recipes for the Redis cache service
  docker/cache/justfile
  justfile
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: api

#3540 Upgrade actions and packages related to artifacts
  .github/actions/load-img/action.yml
  .github/workflows/ci_cd.yml
  .github/workflows/pr_automations_init.yml
  .github/workflows/push_docker_image.yml
  .github/workflows/renovate.yml
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: mgmt

#3551 Handle multiple leading zeros in ccMixter's JSON response
  catalog/dags/providers/provider_api_scripts/cc_mixter.py
  catalog/tests/dags/providers/provider_api_scripts/test_cc_mixter.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3523 Stabilize API HTTP alarms and remove thumbnails alarms runbooks
  documentation/meta/monitoring/runbooks/api_http_2xx_under_threshold.md
  documentation/meta/monitoring/runbooks/api_http_5xx_above_threshold.md
  documentation/meta/monitoring/runbooks/api_thumbnails_avg_response_time_above_threshold.md
  documentation/meta/monitoring/runbooks/api_thumbnails_avg_response_time_anomaly.md
  documentation/meta/monitoring/runbooks/api_thumbnails_http_2xx_under_threshold.md
  documentation/meta/monitoring/runbooks/api_thumbnails_http_5xx_above_threshold.md
  documentation/meta/monitoring/runbooks/api_thumbnails_p99_response_time_above_threshold.md
  documentation/meta/monitoring/runbooks/api_thumbnails_p99_response_time_anomaly.md
  documentation/meta/monitoring/runbooks/api_thumbnails_request_count_anomaly.md
  documentation/meta/monitoring/runbooks/index.md
Labels: 🟧 priority: high, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: documentation

#3404 Add logging to project automations
  .github/workflows/issue_automations.yml
  automations/js/src/project_automation/issues.mjs
  automations/js/src/project_automation/prs.mjs
  automations/js/src/utils/pr.mjs
  automations/js/src/utils/projects.mjs
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#3486 Add referrer based throttle scope
  api/api/utils/throttle.py
  api/api/views/media_views.py
  api/conf/settings/rest_framework.py
  api/test/unit/utils/test_throttle.py
Labels: 🟧 priority: high, 🕹 aspect: interface, 🧰 goal: internal improvement, 🧱 stack: api

#3552 Return status 404 instead of 500 when media not found
  api/api/controllers/elasticsearch/related.py
  api/api/views/media_views.py
Labels: 🟧 priority: high, 🚦 status: awaiting triage, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3543 Use more flexible implementation for user mention link documentation extension
  documentation/_ext/link_issues.py
  documentation/_ext/link_usernames.py
  documentation/conf.py
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: documentation

#3472 Send SELECT_SEARCH_RESULT event only on left-mouse clicks
  frontend/src/components/VImageCell/VImageCell.vue
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#3482 Add external dag sensor utilities
  catalog/dags/common/sensors/utils.py
  catalog/dags/data_refresh/create_filtered_index_dag.py
  catalog/dags/data_refresh/data_refresh_task_factory.py
  catalog/dags/database/staging_database_restore/staging_database_restore_dag.py
  catalog/dags/es/recreate_staging_index/recreate_full_staging_index.py
  catalog/dags/es/recreate_staging_index/recreate_full_staging_index_dag.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#3557 Fix linting in CI
  frontend/src/components/VImageCell/VImageCell.vue
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#3550 Remove front matter from project thread issue template
  .github/ISSUE_TEMPLATE/project_thread.md
Labels: 🟨 priority: medium, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#3546 Replace Python toolchain with Ruff
  .pre-commit-config.yaml
  api/api/views/image_views.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/utils/test_image_proxy.py
  api/test/unit/utils/test_watermark.py
  api/test/unit/utils/test_waveform.py
  api/test/unit/views/test_media_views.py
  catalog/dags/common/loader/reporting.py
  catalog/tests/dags/common/loader/test_sql.py
  catalog/tests/dags/common/test_log_cleanup.py
  catalog/tests/dags/providers/provider_api_scripts/test_cc_mixter.py
  catalog/tests/dags/providers/provider_api_scripts/test_provider_data_ingester.py
  catalog/tests/dags/providers/provider_api_scripts/test_time_delineated_provider_data_ingester.py
  catalog/tests/dags/providers/test_factory_utils.py
  catalog/tests/utilities/dag_doc_gen/test_dag_doc_generation.py
  documentation/_ext/link_issues.py
  pyproject.toml
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🤖 aspect: dx, 🧱 stack: mgmt

#3505 Make usages of Redis resilient to absence of Redis
  api/api/controllers/search_controller.py
  api/api/utils/check_dead_links/__init__.py
  api/api/utils/dead_link_mask.py
  api/api/utils/image_proxy/__init__.py
  api/api/utils/image_proxy/extension.py
  api/api/utils/tallies.py
  api/api/utils/throttle.py
  api/api/views/oauth2_views.py
  api/conf/settings/__init__.py
  api/conf/settings/caches.py
  api/conf/settings/databases.py
  api/test/conftest.py
  api/test/factory/models/content_provider.py
  api/test/fixtures/__init__.py
  api/test/fixtures/asynchronous.py
  api/test/fixtures/cache.py
  api/test/test_auth.py
  api/test/test_dead_link_filter.py
  api/test/unit/conftest.py
  api/test/unit/controllers/elasticsearch/test_related.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/controllers/test_search_controller_search_query.py
  api/test/unit/utils/conftest.py
  api/test/unit/utils/test_check_dead_links.py
  api/test/unit/utils/test_image_proxy.py
  api/test/unit/utils/test_tallies.py
  api/test/unit/utils/test_throttle.py
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#3560 Use api_client, move fixtures around to share basic defaults
  api/test/conftest.py
  api/test/fixtures/rest_framework.py
  api/test/integration/conftest.py
  api/test/integration/test_audio_integration.py
  api/test/integration/test_auth.py
  api/test/integration/test_dead_link_filter.py
  api/test/integration/test_deprecations.py
  api/test/integration/test_image_integration.py
  api/test/integration/test_media_integration.py
  api/test/unit/conftest.py
Labels: 🚦 status: awaiting triage, 🧱 stack: api

#3561 Bump Redis to v7 in local dev environment
  docker-compose.yml
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: catalog

#3565 Remove exlusion of ContentProvider's notes in ProviderAdmin
  api/api/admin/__init__.py
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#3460 Raise Exception for SVG Watermark
  api/api/views/image_views.py
  api/test/unit/views/test_image_views.py
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3553 Fix issues in the sync workflow and narrow down its triggers
  .github/sync.yml
  .github/workflows/sync_meta.yml
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#3562 Replace `requests` mocking with `pook`
  api/test/unit/utils/test_watermark.py
  api/test/unit/utils/test_waveform.py
  api/test/unit/views/test_image_views.py
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#3532 Remove Internet Archive Book Images sub provider
  catalog/dags/common/loader/provider_details.py
  catalog/dags/maintenance/flickr_audit_sub_provider_workflow.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#3575 Add a script to observe the API during Redis migration
  utilities/load_testing/Dockerfile
  utilities/load_testing/justfile
  utilities/load_testing/k6/observation.js
  utilities/load_testing/k6/utils.js
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: api, 🧱 stack: mgmt

#3589 Add "🗄️ aspect:data" label
  automations/data/labels.yml
Labels: 🟩 priority: low, 🌟 goal: addition, 🤖 aspect: dx, 🧱 stack: mgmt

#3597 Docs: Fix typo
  documentation/api/reference/search_algorithm.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: documentation

#3595 Update meeting times in README
  README.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: documentation

#3593 Unify Vue components
  frontend/src/components/VButton.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VItemGroup/VItem.vue
  frontend/src/components/VLogoLoader/VLogoLoader.vue
  frontend/src/components/VMediaInfo/VByLine/VSourceCreatorButton.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/components/VSnackbar.vue
  frontend/src/components/VTabs/VTab.vue
  frontend/src/types/button.ts
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend
