Repository WordPress/openverse, pull requests merged in 2023-06, with the labels that each got.

#2243 Simplify and consolidate photon log handling, improve tallying
  api/api/utils/photon.py
  api/api/utils/tallies.py
  api/conf/settings/thumbnails.py
  api/test/unit/utils/test_photon.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#2257 Use tallies redis DB for thumbnail tallies
  api/api/utils/photon.py
Labels: 🟥 priority: critical, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api

#2057 Derive document sensitivity markings from filtered index
  api/api/constants/media_types.py
  api/api/constants/sensitivity.py
  api/api/controllers/search_controller.py
  api/api/examples/audio_responses.py
  api/api/examples/image_responses.py
  api/api/serializers/media_serializers.py
  api/api/utils/search_context.py
  api/api/views/media_views.py
  api/test/factory/models/__init__.py
  api/test/factory/models/audio.py
  api/test/factory/models/image.py
  api/test/factory/models/media.py
  api/test/unit/conftest.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/serializers/test_media_serializers.py
  api/test/unit/utils/test_search_context.py
  api/test/unit/views/test_media_views.py
Labels: 🟨 priority: medium, 🌟 goal: addition, 🕹 aspect: interface, 🧱 stack: api

#2275 Make criteria for pushing frontend images to GHCR same as that of deployment
  .github/filters.yml
  .github/workflows/ci_cd.yml
  documentation/meta/ci_cd/jobs/api.md
  documentation/meta/ci_cd/jobs/frontend.md
  documentation/meta/ci_cd/proof_of_functionality.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: mgmt, 🧱 stack: documentation

#2201 Add documentation for accessing API over HTTPS
  api/justfile
  docker/nginx/justfile
  documentation/api/guides/https.md
  documentation/api/guides/index.md
  documentation/api/guides/quickstart.md
  documentation/general/quickstart.md
  justfile
  utilities/ps.py
Labels: 🟩 priority: low, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: api, 🧱 stack: documentation

#2262 Upgrade postgres Docker 13.7 match live environments
  docker-compose.yml
  docker/upstream_db/Dockerfile
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, dependencies, 🧱 stack: ingestion server, 🧱 stack: catalog, 🧱 stack: mgmt, skip-changelog

#2226 Hide popover on click outside
  frontend/src/composables/use-dialog-content.ts
  frontend/src/composables/use-focus-on-show.ts
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2229 Fix stories
  frontend/src/components/VItemGroup/meta/VItemGroup.stories.mdx
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/components/VModal/meta/VModal.stories.mdx
  frontend/src/components/meta/VButton.stories.mdx
  frontend/test/unit/specs/components/v-modal.spec.js
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: documentation

#2212 Remove navigation store's embedded property
  frontend/nuxt.config.ts
  frontend/src/middleware/middleware.ts
  frontend/src/plugins/url-change.ts
  frontend/src/stores/navigation.ts
  frontend/test/unit/specs/stores/nav-store.spec.js
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#2199 Prevent accidentally committing focused test selectors
  .eslintrc.js
  .pre-commit-config.yaml
  frontend/package.json
  frontend/test/playwright/playwright.config.ts
  frontend/test/storybook/playwright.config.ts
  frontend/test/unit/.eslintrc.js
  frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
  frontend/test/unit/specs/components/AudioTrack/v-box-layout.spec.js
  frontend/test/unit/specs/components/InputField/input-field.spec.js
  frontend/test/unit/specs/components/VAudioDetails/v-audio-details.spec.js
  frontend/test/unit/specs/components/v-content-report-form.spec.js
  frontend/test/unit/specs/components/v-modal.spec.js
  frontend/test/unit/specs/components/v-popover.spec.js
  frontend/test/unit/specs/components/v-tabs.spec.js
  frontend/test/unit/specs/plugins/api-token.server.spec.ts
  frontend/test/unit/specs/stores/media-store.spec.js
  frontend/test/unit/specs/stores/search-store.spec.js
  frontend/test/unit/specs/stores/ui-store.spec.js
  frontend/test/unit/specs/utils/attribution-html.spec.ts
  frontend/test/unit/test-utils/render.js
  pnpm-lock.yaml
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: frontend, skip-changelog

#2310 Delete the Discussion Template
  .github/ISSUE_TEMPLATE/discussion.md
  .github/ISSUE_TEMPLATE/infrastructure_improvement.md
  .github/ISSUE_TEMPLATE/sentry_bug.md
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#2322 Remove qa param from api
  api/api/serializers/media_serializers.py
  api/api/views/audio_views.py
  api/api/views/image_views.py
  api/api/views/media_views.py
  api/test/search_qa.py
  api/test/unit/serializers/test_media_serializers.py
  ingestion_server/ingestion_server/indexer.py
  ingestion_server/ingestion_server/qa.py
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#2160 Fix the full-height layout
  frontend/src/components/VErrorSection/VNoResults.vue
  frontend/src/components/VHeader/VSearchBar/VSearchBar.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/components/VScrollButton.vue
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/default.vue
  frontend/src/layouts/search-layout.vue
  frontend/src/pages/search.vue
  frontend/src/types/provides.ts
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-xs-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-xs-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-xs-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-lg-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-xl-linux.png
  frontend/test/unit/specs/pages/browse-page.spec.js
  frontend/tsconfig.json
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend

#2307 Add instructions for skipping the database restore DAG to docs
  catalog/DAGs.md
  catalog/dags/database/staging_database_restore/staging_database_restore_dag.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: catalog

#2251 Project thread reminders
  .github/workflows/project_thread_update_reminders.yml
  automations/js/package.json
  automations/js/src/project_thread_updates.js
  pnpm-lock.yaml
Labels: 🟧 priority: high, 🌟 goal: addition, 🤖 aspect: dx, 🧱 stack: mgmt

#2323 Document non-code maintainer tasks
  documentation/general/contributing.md
  documentation/meta/communication_aliases.md
  documentation/meta/documentation/index.md
  documentation/meta/documentation/review.md
  documentation/meta/index.md
  documentation/meta/maintainer_tasks.md
Labels: 🟧 priority: high, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation

#2228 Fix content report form unit test
  frontend/test/unit/specs/components/v-content-report-form.spec.js
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2224 Use local hook for ESLint pre-commit
  .eslintignore
  .eslintrc.js
  .pre-commit-config.yaml
  automations/js/.eslintrc.js
  frontend/.storybook/.eslintrc.js
  frontend/package.json
  frontend/src/components/.eslintrc.js
  package.json
  pnpm-lock.yaml
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: mgmt, skip-changelog, 🧱 stack: documentation

#2311 Add Nuxt 3 migration project proposal
  documentation/projects/proposals/nuxt_3_migration/20230604-project_proposal_nuxt_3_migration.md
  documentation/projects/proposals/nuxt_3_migration/index.md
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: documentation, 🧭 project: proposal

#2244 Convert route guards to middleware
  frontend/src/middleware/search.ts
  frontend/src/middleware/single-result.ts
  frontend/src/pages/audio/_id/index.vue
  frontend/src/pages/image/_id/index.vue
  frontend/src/pages/search.vue
  frontend/src/stores/search.ts
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#2309 Remove PyJWT
  api/Pipfile
  api/Pipfile.lock
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#2302 Add DAG to remove Flickr thumbnails
  catalog/DAGs.md
  catalog/dags/flickr_thumbs_removal.py
  catalog/dags/providers/provider_api_scripts/flickr.py
  docker-compose.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#2308 Add Django UI admin notice for next staging database restore
  .prettierignore
  api/api/templates/admin/base_site.html
  api/conf/context_processors.py
  api/conf/settings/base.py
  api/conf/settings/sentry.py
  api/test/unit/templates/test_admin_base_html.py
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: api

#2313 Use stable identifier for filtered index presence
  api/api/utils/search_context.py
Labels: 🟧 priority: high, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: api

#2337 Enable "should allow changing the type" test for VInputField
  frontend/test/unit/specs/components/InputField/input-field.spec.js
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2334 Add assertions to the `fetchSingleMediaType does not reset images if shouldPersistMedia is true`
  frontend/test/unit/specs/stores/media-store.spec.js
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2247 Add analytics events for external links
  frontend/src/components/VAudioTrack/layouts/VFullLayout.vue
  frontend/src/components/VContentLink/VContentLink.vue
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/components/VLink.vue
  frontend/src/components/VMediaInfo/VCopyLicense.vue
  frontend/src/components/VMediaInfo/VMediaLicense.vue
  frontend/src/pages/image/_id/index.vue
  frontend/src/types/analytics.ts
  frontend/test/unit/specs/components/v-content-link.spec.js
  frontend/test/unit/specs/components/v-link.spec.js
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend

#2329 Update project thread update docs
  documentation/projects/planning.md
Labels: 🟨 priority: medium, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: mgmt, 🧱 stack: documentation

#2196 Update Playwright to use a custom test fixture with global mocks
  .eslintrc.js
  frontend/.remake/component-storybook-test/remake-fileName.spec.ts
  frontend/test/playwright/e2e/all-results-keyboard.spec.ts
  frontend/test/playwright/e2e/attribution.spec.ts
  frontend/test/playwright/e2e/audio-detail.spec.ts
  frontend/test/playwright/e2e/external-sources.spec.ts
  frontend/test/playwright/e2e/filters-sidebar-keyboard.spec.ts
  frontend/test/playwright/e2e/filters.spec.ts
  frontend/test/playwright/e2e/global-audio.spec.ts
  frontend/test/playwright/e2e/header-internal.spec.ts
  frontend/test/playwright/e2e/homepage.spec.ts
  frontend/test/playwright/e2e/image-detail.spec.ts
  frontend/test/playwright/e2e/load-more.spec.ts
  frontend/test/playwright/e2e/migration-banner.spec.ts
  frontend/test/playwright/e2e/mobile-menu.spec.ts
  frontend/test/playwright/e2e/recent-searches.spec.ts
  frontend/test/playwright/e2e/redirect-queryless-searches.spec.ts
  frontend/test/playwright/e2e/report-media.spec.ts
  frontend/test/playwright/e2e/search-navigation.spec.ts
  frontend/test/playwright/e2e/search-query-client.spec.ts
  frontend/test/playwright/e2e/search-query-server.spec.ts
  frontend/test/playwright/e2e/search-types.spec.ts
  frontend/test/playwright/e2e/search.spec.ts
  frontend/test/playwright/e2e/translation-banner.spec.ts
  frontend/test/playwright/playwright.config.ts
  frontend/test/playwright/utils/breakpoints.ts
  frontend/test/playwright/utils/route.ts
  frontend/test/playwright/utils/test-fixture.ts
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts
  frontend/test/playwright/visual-regression/components/filters.spec.ts
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts
  frontend/test/playwright/visual-regression/components/header.spec.ts
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts
  frontend/test/storybook/visual-regression/focus.spec.ts
  frontend/test/storybook/visual-regression/v-button.spec.ts
  frontend/test/storybook/visual-regression/v-checkbox.spec.ts
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts
  frontend/test/storybook/visual-regression/v-footer.spec.ts
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts
  frontend/test/storybook/visual-regression/v-icon-button.spec.ts
  frontend/test/storybook/visual-regression/v-language-select.spec.ts
  frontend/test/storybook/visual-regression/v-media-license.spec.ts
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts
  frontend/test/storybook/visual-regression/v-search-bar-button.spec.ts
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts
  frontend/test/storybook/visual-regression/v-search-types.spec.ts
  frontend/test/storybook/visual-regression/v-select-field.spec.ts
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: frontend

#1926 Extract entrypoints to separate shell scripts
  docker-compose.yml
  docker/minio/load_to_s3_entrypoint.sh
  docker/minio/s3_entrypoint.sh
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: catalog

#2207 Truncate OAuth tables after staging DB restore
  catalog/dags/common/constants.py
  catalog/dags/database/staging_database_restore/staging_database_restore.py
  catalog/dags/database/staging_database_restore/staging_database_restore_dag.py
  catalog/env.template
  catalog/tests/dags/database/staging_database_restore/test_staging_database_restore.py
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: catalog

#2211 Deploy staging API after staging DB restore
  catalog/dags/common/github.py
  catalog/dags/database/staging_database_restore/staging_database_restore.py
  catalog/dags/database/staging_database_restore/staging_database_restore_dag.py
  catalog/dags/database/staging_database_restore/utils.py
  catalog/tests/dags/database/staging_database_restore/test_staging_database_restore.py
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: api, 🧱 stack: catalog

#2133 Implementation Plan: Rapid iteration on ingestion server index configuration
  documentation/projects/proposals/search_relevancy_sandbox/20230518-implementation_plan_staging_index_rapid_iteration.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: ingestion server, 🧱 stack: catalog, 🧱 stack: documentation, 🧭 project: implementation plan

#2347 Remove string reference to old s3 bucket
  catalog/dags/retired/common/etl/scripts/ExtractCCLinks.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#2338 Remove workflows for automation of old projects
  .github/GITHUB.md
  .github/workflows/new_issues.yml
  .github/workflows/new_prs.yml
  .github/workflows/pr_project_automation.yml
  .github/workflows/project_automation.yml
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#2376 Skip flaky tests related to SVGs
  frontend/test/playwright/visual-regression/components/header.spec.ts
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts
Labels: 🟥 priority: critical, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: frontend

#2378 Fix flaky Playwright CI tests
  .eslintrc.js
  frontend/.remake/component-storybook-test/remake-fileName.spec.ts
  frontend/test/playwright/e2e/all-results-keyboard.spec.ts
  frontend/test/playwright/e2e/attribution.spec.ts
  frontend/test/playwright/e2e/audio-detail.spec.ts
  frontend/test/playwright/e2e/external-sources.spec.ts
  frontend/test/playwright/e2e/filters-sidebar-keyboard.spec.ts
  frontend/test/playwright/e2e/filters.spec.ts
  frontend/test/playwright/e2e/global-audio.spec.ts
  frontend/test/playwright/e2e/header-internal.spec.ts
  frontend/test/playwright/e2e/homepage.spec.ts
  frontend/test/playwright/e2e/image-detail.spec.ts
  frontend/test/playwright/e2e/load-more.spec.ts
  frontend/test/playwright/e2e/migration-banner.spec.ts
  frontend/test/playwright/e2e/mobile-menu.spec.ts
  frontend/test/playwright/e2e/recent-searches.spec.ts
  frontend/test/playwright/e2e/redirect-queryless-searches.spec.ts
  frontend/test/playwright/e2e/report-media.spec.ts
  frontend/test/playwright/e2e/search-navigation.spec.ts
  frontend/test/playwright/e2e/search-query-client.spec.ts
  frontend/test/playwright/e2e/search-query-server.spec.ts
  frontend/test/playwright/e2e/search-types.spec.ts
  frontend/test/playwright/e2e/search.spec.ts
  frontend/test/playwright/e2e/translation-banner.spec.ts
  frontend/test/playwright/playwright.config.ts
  frontend/test/playwright/utils/breakpoints.ts
  frontend/test/playwright/utils/route.ts
  frontend/test/playwright/utils/test-fixture.ts
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts
  frontend/test/playwright/visual-regression/components/filters.spec.ts
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts
  frontend/test/playwright/visual-regression/components/header.spec.ts
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts
  frontend/test/storybook/visual-regression/focus.spec.ts
  frontend/test/storybook/visual-regression/v-button.spec.ts
  frontend/test/storybook/visual-regression/v-checkbox.spec.ts
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts
  frontend/test/storybook/visual-regression/v-footer.spec.ts
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts
  frontend/test/storybook/visual-regression/v-icon-button.spec.ts
  frontend/test/storybook/visual-regression/v-language-select.spec.ts
  frontend/test/storybook/visual-regression/v-media-license.spec.ts
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts
  frontend/test/storybook/visual-regression/v-search-bar-button.spec.ts
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts
  frontend/test/storybook/visual-regression/v-search-types.spec.ts
  frontend/test/storybook/visual-regression/v-select-field.spec.ts
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2303 PR count notifications
  .github/workflows/pr_limit_reminders.yml
  automations/js/src/count_user_reviewable_prs.js
Labels: 🟧 priority: high, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#2363 Fix sensitive term reindex query
  ingestion_server/ingestion_server/es_mapping.py
  ingestion_server/ingestion_server/indexer.py
  ingestion_server/ingestion_server/utils/sensitive_terms.py
  ingestion_server/test/integration_test.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: ingestion server, 🧱 stack: infra

#2332 Add CloudWatch logs entrypoint documentation
  documentation/Pipfile
  documentation/Pipfile.lock
  documentation/conf.py
  documentation/meta/index.md
  documentation/meta/monitoring/cloudwatch_logs/index.md
  documentation/meta/monitoring/cloudwatch_logs/search_log_group.png
  documentation/meta/monitoring/index.md
  documentation/meta/monitoring/traffic/index.md
  documentation/meta/monitoring/traffic/runbooks/cloudflare_traffic_ui.png
  documentation/meta/monitoring/traffic/runbooks/identifying-and-blocking-traffic-anomalies.md
Labels: 🟧 priority: high, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation

#2379 Fix CI Playwright storybook failure
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2381 Renamed identifier to id
  frontend/src/assets/homepage_images/image_info.json
  frontend/src/components/VHomeGallery/VHomeGallery.vue
  frontend/src/types/analytics.ts
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#2396 Switch to pull request target; delete commit push trigger
  .github/workflows/pr_limit_reminders.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#2354 Consider age of project when leaving update reminders
  automations/js/src/project_thread_updates.js
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#2331 Add batched_update dag
  catalog/DAGs.md
  catalog/dags/database/batched_update/batched_update.py
  catalog/dags/database/batched_update/batched_update_dag.py
  catalog/dags/database/batched_update/constants.py
  catalog/tests/dags/common/loader/test_sql.py
  catalog/tests/dags/database/test_batched_update.py
  catalog/tests/test_utils/sql.py
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: catalog

#2352 Determine data refresh pool by environment variable with default
  catalog/dags/data_refresh/data_refresh_task_factory.py
  catalog/env.template
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#2410 Fix API image builds
  api/Dockerfile
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api, 🧱 stack: mgmt

#2408 Check filtered index feature flag before querying in `SearchContext`
  api/api/utils/search_context.py
  api/test/unit/utils/test_search_context.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#2413 Updated and added new technology labels
  automations/data/labels.yml
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: mgmt

#2416 Defined log rotation policies in docker-compose
  catalog/docker-compose.yml
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#2426 Add 10s timeout to check_image_type head requests
  api/api/utils/photon.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#2433 Ignore locales; fix kebab-cased translation keys
  .eslintignore
  frontend/src/locales/scripts/utils.js
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2425 Treat 403s from Europeana as dead links
  api/api/utils/check_dead_links/provider_status_mappings.py
  api/env.docker
  api/env.template
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#2444 fix: Changed the default color in Tailwind CSS
  frontend/tailwind.config.js
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2430 Update Nuxt to 2.17 and node to v18.15.0
  .devcontainer/devcontainer.json
  .github/actions/load-img/action.yml
  .github/actions/setup-env/action.yml
  frontend/package.json
  package.json
  pnpm-lock.yaml
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: mgmt

#2209 Add index readiness check to data refresh
  catalog/dags/common/constants.py
  catalog/dags/common/ingestion_server.py
  catalog/dags/data_refresh/create_filtered_index_dag.py
  catalog/dags/data_refresh/data_refresh_task_factory.py
  catalog/dags/data_refresh/data_refresh_types.py
  catalog/env.template
  catalog/tests/dags/common/test_ingestion_server.py
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: api, 🧱 stack: catalog

#2418 Prevent unnecessary post-process results recursion
  api/api/controllers/search_controller.py
  api/api/utils/dead_link_mask.py
  api/test/factory/es_http.py
  api/test/factory/models/media.py
  api/test/test_dead_link_filter.py
  api/test/unit/conftest.py
  api/test/unit/controllers/test_search_controller.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#2447 Add a popover storybook test
  frontend/src/components/VItemGroup/meta/VItemGroup.stories.mdx
  frontend/src/components/VPopover/meta/VPopover.stories.mdx
  frontend/test/storybook/functional/v-popover.spec.ts
  frontend/test/unit/specs/components/v-popover.spec.js
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: documentation

#2422 Use the original SVG file as thumbnail
  api/api/utils/image_proxy/__init__.py
  api/api/utils/image_proxy/exception.py
  api/api/utils/image_proxy/extension.py
  api/api/utils/image_proxy/photon.py
  api/api/utils/photon.py
  api/api/views/media_views.py
  api/test/unit/utils/test_image_proxy.py
Labels: 🟧 priority: high, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: api

#2423 Add APPLY_FILTER analytics event
  frontend/src/components/VFilters/VSearchGridFilter.vue
  frontend/src/stores/search.ts
  frontend/src/types/analytics.ts
  frontend/test/unit/specs/components/v-search-grid-filter.spec.js
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend

#2460 Update Storybook Playwright test CI job name and testing docs
  .github/workflows/ci_cd.yml
  documentation/frontend/reference/storybook_tests.md
  documentation/meta/ci_cd/jobs/frontend.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: mgmt, 🧱 stack: documentation

#2457 Remove catalog deployment dependencies
  catalog/docker-compose.yml
Labels: 🟧 priority: high, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: catalog, skip-changelog

#2455 Deploy staging thumbnails along with staging API
  .github/workflows/ci_cd.yml
  documentation/meta/ci_cd/jobs/deployment.md
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: mgmt, 🧱 stack: documentation

#2395 Add Slack functionality inside logger
  ingestion_server/ingestion_server/indexer.py
  ingestion_server/ingestion_server/slack.py
  ingestion_server/ingestion_server/tasks.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: ingestion server

#2458 Add tips for debugging failed deployments
  documentation/_static/ecs_events_tab.png
  documentation/_static/rerun_failed_deployment.png
  documentation/general/deployment.md
Labels: 🟧 priority: high, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: documentation

#2479 Make `load_sample_data` more resilient
  ingestion_server/justfile
  load_sample_data.sh
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: mgmt

#2126 Implementation Plan: Copy updates `mature` -> `sensitive`
  documentation/projects/proposals/trust_and_safety/content_report_moderation/20230517-implementation_plan_mature_copy_change.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation, 🧭 project: implementation plan

#2405 Add TOGGLE_FILTER_SIDEBAR analytics event
  frontend/src/components/VHeader/VHeaderDesktop.vue
  frontend/src/types/analytics.ts
  frontend/test/unit/specs/components/VHeader/v-header-desktop.spec.js
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend

#2493 Add thumbnails production deployment
  .github/workflows/release-app.yml
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: mgmt

#2454 Analytics: Add REACH_RESULT_END event
  frontend/src/components/VLicense/VLicense.vue
  frontend/src/components/VLoadMore.vue
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/composables/use-search-type.ts
  frontend/src/pages/search.vue
  frontend/src/stores/media/index.ts
  frontend/src/types/analytics.ts
  frontend/test/playwright/e2e/load-more.spec.ts
  frontend/test/playwright/utils/analytics.ts
  frontend/test/unit/specs/components/v-image-grid.spec.js
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend

#2487 Filter single media views for hidden providers
  api/api/views/media_views.py
  api/test/unit/views/test_media_views.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#2398 Add OPEN_PAGES_MENU event
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/types/analytics.ts
  frontend/test/unit/specs/components/VHeader/v-header-internal.spec.js
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend

#2495 Update internal header snapshots
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-modal-ltr-sm-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-modal-ltr-xs-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-modal-rtl-sm-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-modal-rtl-xs-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-ltr-xs-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-rtl-xs-linux.png
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2404 Updates to CI CD notifications
  .github/workflows/ci_cd.yml
  automations/python/workflows/generate_report.py
Labels: 🟧 priority: high, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#2497 Add tzinfo in factory generated access tokens
  api/pytest.ini
  api/test/factory/models/oauth2.py
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#2510 Fix frontend Sentry configuration
  frontend/Dockerfile
  frontend/docker-compose.playwright.yml
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/src/utils/sentry-config.ts
  pnpm-lock.yaml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: frontend, 🧱 stack: documentation
