Repository WordPress/openverse, pull requests merged in 2023-03, with the labels that each got.

#819 Specify absolute path to Tailwind config to restore HMR
  frontend/nuxt.config.ts
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx

#450 Add "Skip to main content" to content pages
  frontend/src/components/VContentPage.vue
  frontend/src/components/VSkipToContentContainer.vue
Labels: 🟧 priority: high, 🛠 goal: fix, ♿️ aspect: a11y

#796 Add timeouts to visual regression, e2e tests, and storybook generation
  .github/filters.yml
  .github/workflows/ci_cd.yml
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement

#820 Fix `always()` logic for dependent tasks in CI/CD workflow
  .github/workflows/ci_cd.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api

#829 Merge renovate bot configuration files
  .github/dependabot.yml
  .github/renovate.json
  renovate.json
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#798 Handle incorrect types in cookie value
  frontend/src/stores/ui.ts
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code

#851 Make codeowners more specific
  .github/CODEOWNERS
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx

#858 Remove `prepare` script to prevent i18n overwrites inside Docker
  frontend/package.json
  justfile
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code

#785 Add actions to search forms
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VHeader/VSearchBar/VSearchBar.vue
  frontend/src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
Labels: 🟩 priority: low, 🌟 goal: addition, ♿️ aspect: a11y, 🧱 stack: frontend

#806 Fix crash when more than one `q` parameter is provided in URL
  frontend/src/stores/search.ts
  frontend/src/utils/search-query-transform.ts
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#788 Update home link screen reader text
  frontend/src/components/VHeader/VHomeLink.vue
  frontend/src/locales/scripts/en.json5
  frontend/test/playwright/e2e/header-internal.spec.ts
Labels: 🟧 priority: high, ✨ goal: improvement, ♿️ aspect: a11y, 🧱 stack: frontend

#840 Add production API deployment action
  .github/actions/production-api-deploy/action.yml
Labels: 🟨 priority: medium, 🌟 goal: addition, 🤖 aspect: dx, 🧱 stack: api

#786 Add stack label if available, make get-changes composite action
  .github/actions/get-changes/action.yml
  .github/workflows/ci_cd.yml
  .github/workflows/pr_label_check.yml
  automations/python/label_pr.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend, 🧱 stack: mgmt

#848 Identify and fix cause of cURL error 23 when setting up pre-commit
  justfile
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#870 Update sentry; fix config
  frontend/package.json
  frontend/src/utils/sentry-config.ts
  pnpm-lock.yaml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: frontend

#885 Add stack to label sync, allow emoji to be defined for whole group
  automations/data/labels.yml
  automations/python/models/label.py
  automations/python/models/label_group.py
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#804 RFC + POC: Add Plausible for analytics
  clickhouse/clickhouse-config.xml
  clickhouse/clickhouse-user-config.xml
  docker-compose.yml
  justfile
  plausible/env.docker
  postgres/plausible.env.docker
  rfcs/analytics/20230307-backend_service.md
  setup_plausible.sh
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: backend

#843 Add preferences for analytics
  .gitignore
  documentation/reference/frontend/feature_flags.md
  documentation/reference/frontend/index.md
  documentation/reference/index.md
  frontend/feat/feature-flags.json
  frontend/src/components/VCheckbox/VCheckbox.vue
  frontend/src/components/VCheckbox/meta/VCheckbox.stories.mdx
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/preferences.vue
  frontend/src/styles/tailwind.css
  frontend/tailwind.config.js
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend

#842 Update homepage copy to "700 million"
  frontend/src/locales/scripts/en.json5
  frontend/test/locales/ar.json
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-xs-linux.png
Labels: 🟧 priority: high, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: frontend

#862 Add feature flag for fake marking results as sensitive
  frontend/feat/feature-flags.json
  frontend/src/stores/media/index.ts
  frontend/src/stores/media/single-result.ts
  frontend/src/types/media.ts
  frontend/src/utils/content-safety.ts
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: frontend

#890 Add a stemming override for the word "universe"
  ingestion_server/ingestion_server/es_mapping.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: ingestion server

#888 Adding brand assets
  brand/README.md
  brand/thumbnail-dark.svg
  brand/thumbnail-small-dark.svg
  brand/thumbnail-small-transparent.svg
  brand/thumbnail-small-yellow.svg
  brand/thumbnail-transparent.svg
  brand/thumbnail-yellow.svg
  brand/wp-icon-openverse.svg
Labels: 🟨 priority: medium, 🌟 goal: addition, 🕹 aspect: interface, 🧱 stack: frontend

#886 Split deployment workflow into 4 separate workflows
  .github/actions/production-api-deploy/action.yml
  .github/actions/production-nuxt-deploy/action.yml
  .github/actions/staging-api-deploy/action.yml
  .github/actions/staging-nuxt-deploy/action.yml
  .github/workflows/api-rollback.yml
  .github/workflows/ci_cd.yml
  .github/workflows/deploy-production-api.yml
  .github/workflows/deploy-production-nuxt.yml
  .github/workflows/deploy-staging-api.yml
  .github/workflows/deploy-staging-nuxt.yml
  .github/workflows/deployment.yml
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend, 🧱 stack: mgmt

#894 Simplify and fix bundle size workflow
  .github/actions/get-changes/action.yml
  .github/filters.yml
  .github/workflows/bundle_size.yml
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: frontend

#882 Only run stack label addition step on pull requests
  .github/workflows/ci_cd.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend, 🧱 stack: mgmt

#397 Provider tally extraction script
  .pre-commit-config.yaml
  README.md
  templates/.pre-commit-config.local.yaml.jinja
  utilities/dead_links/Pipfile
  utilities/dead_links/Pipfile.lock
  utilities/dead_links/dead_link_tally.py
  utilities/load_testing/.env.sh.template
  utilities/load_testing/.gitignore
  utilities/load_testing/Dockerfile
  utilities/load_testing/README.md
  utilities/load_testing/api.sh
  utilities/load_testing/get_word.sh
  utilities/load_testing/justfile
  utilities/load_testing/k6/main.js
  utilities/load_testing/k6/search.js
  utilities/load_testing/k6/utils.js
  utilities/provider_tallies/.gitignore
  utilities/provider_tallies/Pipfile
  utilities/provider_tallies/Pipfile.lock
  utilities/provider_tallies/README.md
  utilities/provider_tallies/provider_tally_stats.py
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: ingestion server

#909 Add get-image-tag as dependency for nginx build step
  .github/workflows/ci_cd.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend

#893 Only generate POT file if `en.json5` has changed
  .github/workflows/ci_cd.yml
  .github/workflows/generate_pot.yml
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend

#828 Move peerDependencyRules to root package.json
  frontend/package.json
  package.json
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: frontend

#916 Update Vue from 2.7.10 to 2.7.14
  frontend/package.json
  pnpm-lock.yaml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#910 Add user validation, concurrency, manual runs to deployment workflow
  .github/workflows/deploy-production-api.yml
  .github/workflows/deploy-production-nuxt.yml
  .github/workflows/deploy-staging-api.yml
  .github/workflows/deploy-staging-nuxt.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#895 Skip more jobs based on changed files
  .github/actions/get-changes/action.yml
  .github/filters.yml
  .github/workflows/ci_cd.yml
  frontend/Dockerfile
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend, 🧱 stack: mgmt

#918 Fix global audio player layout
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  frontend/src/layouts/content-layout.vue
  frontend/test/playwright/e2e/global-audio.spec.ts
  frontend/test/playwright/utils/audio.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-rtl-png-xs-linux.png
  frontend/test/tapes/detail/audio/2536a2ba-1eb3-4f40-9347-29534d029b5c_keep-alive.json5
  frontend/test/tapes/detail/audio/789a34fe-3931-4a4b-ac72-cbbd6782edee_keep-alive.json5
  frontend/test/tapes/related/audio/2536a2ba-1eb3-4f40-9347-29534d029b5c_keep-alive.json5
  frontend/test/tapes/related/audio/789a34fe-3931-4a4b-ac72-cbbd6782edee_keep-alive.json5
  frontend/test/tapes/search/audio/q=honey&length=shortest&peaks=true_close.json5
Labels: 🟥 priority: critical, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#925 Build `api` when ingestion server changes
  .github/workflows/ci_cd.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend

#930 Fix links on the main Storybook page
  frontend/src/stories/Introduction.stories.mdx
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: frontend

#922 Add `.github` to CODEOWNERS
  .github/CODEOWNERS
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#935 Deregister media model admins and dependents
  api/catalog/api/admin/__init__.py
Labels: 🟥 priority: critical, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#936 Always build both api & ingestion server images for either service
  .github/workflows/ci_cd.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend, 🧱 stack: mgmt

#934 Add Django DB logging option
  .editorconfig
  api/catalog/configuration/logging.py
Labels: 🟥 priority: critical, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#933 Add application name to DB
  api/catalog/settings.py
  api/env.template
Labels: 🟥 priority: critical, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api

#873 Project Proposal: Detecting, filtering, and blurring results that include sensitive terms
  docs/projects/templates/project-proposal.md
  rfcs/detecting_sensitive_textual_content/20230309-project_proposal_detecting_sensitive_textual_content.md
  rfcs/trust_and_safety/20230109-trust_and_safety_preliminary_overview_and_exploration.md
Labels: 🟧 priority: high, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: api

#939 Add console_prod handler to query logging to allow in production
  api/catalog/configuration/logging.py
Labels: 🟥 priority: critical, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#917 Update pinia and pinia/testing
  frontend/package.json
  pnpm-lock.yaml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#931 Remove Docker image loading from docs steps
  .github/workflows/ci_cd.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#844 Implement analytics in Nuxt
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/src/components/VHomeGallery/VHomeGallery.vue
  frontend/src/composables/use-analytics.ts
  frontend/src/stores/feature-flag.ts
  frontend/src/types/analytics.ts
  frontend/typings/nuxt__types/index.d.ts
  pnpm-lock.yaml
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend

#927 Fix global audio player's close button
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  frontend/src/locales/scripts/en.json5
  frontend/test/locales/ar.json
  frontend/test/playwright/e2e/global-audio.spec.ts
Labels: 🟧 priority: high, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#891 Add ability to boost search results by authority
  api/catalog/api/controllers/search_controller.py
  api/catalog/api/serializers/media_serializers.py
  api/test/auth_test.py
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: api

#915 Fix background color on report pages
  frontend/src/composables/use-match-routes.ts
  frontend/src/pages/image/_id/report.vue
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/ltr-full-page-report-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/ltr-full-page-report-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/rtl-full-page-report-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/rtl-full-page-report-xl-linux.png
  frontend/test/tapes/detail/images/da5cb478-c093-4d62-b721-cda18797e3fb_close.json5
  frontend/test/tapes/related/images/da5cb478-c093-4d62-b721-cda18797e3fb_close.json5
Labels: 🟧 priority: high, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#943 Make Plausible setup idempotent
  setup_plausible.sh
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#945 Log DB queries in production
  api/catalog/api/middleware/force_debug_cursor_middleware.py
  api/catalog/configuration/logging.py
  api/catalog/settings.py
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#959 Fix link to dev flow docs
  CONTRIBUTING.md
Labels: 🟨 priority: medium, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: mgmt

#914 Use profiles in Docker Compose
  .editorconfig
  .github/workflows/ci_cd.yml
  api/justfile
  docker-compose.yml
  frontend/justfile
  ingestion_server/justfile
  ingestion_server/test/integration_test.py
  justfile
Labels: 🟧 priority: high, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend, 🧱 stack: mgmt

#969 make init script more system agnostic
  load_sample_data.sh
Labels: 🟩 priority: low, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api

#967 Update general setup guide for macOS
  documentation/guides/general_setup.md
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#973 Use formless default browsable API renderer
  api/catalog/api/utils/drf_renderer.py
  api/catalog/settings.py
  api/test/unit/utils/drf_renderer_test.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: api

#919 Update Playwright
  frontend/package.json
  pnpm-lock.yaml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#963 Swap from flake8 to ruff
  .flake8
  .pre-commit-config.yaml
  .ruff.toml
  api/catalog/api/utils/exceptions.py
  api/test/unit/utils/watermark_test.py
  api/test/unit/utils/waveform_test.py
  api/test/unit/views/image_views_test.py
  templates/.pre-commit-config.yaml.jinja
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#869 Add issues to the new Project and set Priority field value
  .github/GITHUB.md
  .github/workflows/new_issues.yml
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#975 Fix needs check on api staging deployment
  .github/workflows/ci_cd.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#955 Make `searchTerm` for VAudioTrack and VImageCell optional
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VSearchResultsGrid/VImageCell.vue
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#980 Change post status to 'publish'
  .github/workflows/weekly_updates.yml
  automations/js/src/last_week_tonight.mjs
Labels: 🟨 priority: medium, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#940 Treat any non 200 status as failure for thingiverse
  api/catalog/api/controllers/search_controller.py
  api/catalog/api/utils/check_dead_links.py
  api/test/audio_integration_test.py
  api/test/dead_link_filter_test.py
  api/test/unit/utils/check_dead_links_test.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#962 Update to new link for pipenv install instructions
  documentation/guides/general_setup.md
Labels: 🟨 priority: medium, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: mgmt

#965 Configure ingestion_server as a known first party for isort
  .isort.cfg
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: backend

#952 Update Nuxt to v.2.16.3
  frontend/nuxt.config.ts
  frontend/package.json
  pnpm-lock.yaml
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#979 Add decoding of the strings that don't have backslashes
  frontend/src/utils/decode-data.ts
  frontend/test/unit/specs/utils/decode-data.spec.js
Labels: 🟨 priority: medium, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#984 Add GH_TOKEN to the gh steps
  .github/workflows/new_issues.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt

#994 Fix local build of the API and add its `recreate` just command
  api/env.template
  api/justfile
  docker-compose.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api

#991 Update URLs to point to docs.openverse.org
  CONTRIBUTING.md
  api/README.md
  api/catalog/urls/swagger.py
  frontend/src/stories/Introduction.stories.mdx
Labels: 🟨 priority: medium, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: api, 🧱 stack: frontend, 🧱 stack: mgmt

#1005 Add docs CNAME to config
  .github/workflows/ci_cd.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend

#912 Project Proposal: Core UI improvement
  rfcs/core_user_interface_improvement/20230314-project_proposal_core_ui_improvement.md
Labels: 🟧 priority: high, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: frontend

#924 Add awaiting triage label onto existing labels
  automations/python/label_pr.py
  automations/python/shared/github.py
Labels: 🟩 priority: low, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#1011 Add release-drafter API configuration to enable testing in #987
  .github/release-drafter-api.yml
Labels: 🟥 priority: critical, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: mgmt

#1006 Add CNAME in other use of `actions-gh-pages`
  .github/workflows/ci_cd.yml
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend, 🧱 stack: mgmt

#775 Set rate-limit headers on each response
  api/catalog/api/docs/README.md
  api/catalog/api/utils/throttle.py
  api/catalog/api/views/audio_views.py
  api/test/unit/utils/throttle_test.py
Labels: 🟩 priority: low, 🌟 goal: addition, 🕹 aspect: interface, 🧱 stack: api

#1014 Pass ISSUE_ID and PROJECT_ID to the new_issue workflow
  .github/workflows/new_issues.yml
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#986 Remove XML from the API
  api/Pipfile
  api/Pipfile.lock
  api/catalog/api/docs/image_docs.py
  api/catalog/api/serializers/image_serializers.py
  api/catalog/settings.py
  api/test/image_integration_test.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api

#898 Use upstream thumbnail if available
  api/catalog/api/views/image_views.py
  api/test/unit/views/image_views_test.py
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api

#951 Update TS configuration to use composite projects and fix VSCode integration
  .gitignore
  .pre-commit-config.yaml
  frontend/package.json
  frontend/src/components/LoadingIcon.vue
  frontend/src/components/VAudioTrack/VWaveform.vue
  frontend/src/components/VFooter/VFooter.vue
  frontend/src/components/VPill.vue
  frontend/src/composables/use-layout.ts
  frontend/src/composables/use-popover-content.ts
  frontend/src/stores/ui.ts
  frontend/src/types/cookies.ts
  frontend/src/types/tabs.ts
  frontend/src/utils/dom.ts
  frontend/src/utils/get-additional-sources.ts
  frontend/src/utils/reakit-utils/README.md
  frontend/tsconfig.json
  frontend/typings/csstype/index.d.ts
  frontend/typings/svg/index.d.ts
  pnpm-lock.yaml
  templates/.pre-commit-config.local.yaml.jinja
  tsconfig.json
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: frontend

#1031 Use the `issue.node_id` for GraphQL API
  .github/workflows/new_issues.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#1026 Add stack label to dependabot & sync label PRs
  .github/dependabot.yml
  .github/workflows/sync_meta.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#1029 Defer the `tags_list` for media models
  api/catalog/api/models/media.py
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#1051 Pin pnpm version in frontend `Dockerfile`
  frontend/Dockerfile
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#1047 New issue automation fix: convert the jobs into steps to share env variables
  .github/workflows/new_issues.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#904 Save cleaned up data during the cleanup step
  ingestion_server/.gitignore
  ingestion_server/ingestion_server/cleanup.py
  ingestion_server/test/integration_test.py
Labels: 🟧 priority: high, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend

#1007 Fix Re-running failed Playwright tests leaves failure comment
  .github/workflows/ci_cd.yml
Labels: 🟨 priority: medium, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#1054 Simplify CI + CD workflow
  .github/actions/build-docs/action.yml
  .github/workflows/ci_cd.yml
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend, 🧱 stack: mgmt

#1058 Fix issues in the workflow simplifications of #1054
  .github/workflows/ci_cd.yml
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend

#990 Retry `up` recipe in case port is occupied
  justfile
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#1065 Restore Django Admin views
  api/catalog/api/admin/__init__.py
  api/catalog/api/controllers/search_controller.py
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#1098 Update other references of media count to 700 million
  frontend/nuxt.config.ts
  frontend/src/static/opensearch.xml
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: frontend

#1034 Dispatch workflows instead of regular reuse to show deployment runs
  .github/workflows/ci_cd.yml
  .github/workflows/release-app.yml
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend, 🧱 stack: mgmt

#1063 Use label.yml to determine required labels
  automations/data/labels.yml
  automations/python/label_pr.py
  automations/python/shared/data.py
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#1103 Add `GITHUB_TOKEN` to GitHub CLI step
  .github/workflows/ci_cd.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend, 🧱 stack: mgmt

#1104 Pass actor for staging deploys with the `-f` flag
  .github/workflows/ci_cd.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend, 🧱 stack: mgmt
