Repository WordPress/openverse, pull requests merged in 2023-07, with the labels that each got.

#2449 Analytics Event: `LOAD_MORE_RESULTS`
  frontend/src/components/VLoadMore.vue
  frontend/src/pages/preferences.vue
  frontend/src/types/analytics.ts
  frontend/test/playwright/e2e/load-more.spec.ts
  frontend/test/playwright/utils/analytics.ts
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend

#2461 Remove unused files from /frontend
  frontend/src/assets/browsers/chrome.svg
  frontend/src/assets/browsers/edge.svg
  frontend/src/assets/browsers/firefox.svg
  frontend/src/assets/browsers/opera.svg
  frontend/src/components/VImageCarousel.vue
  frontend/src/pages/external-sources.vue
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend, skip-changelog

#2450 Add VIEW_EXTERNAL_SOURCES event
  frontend/src/components/VExternalSearch/VExternalSearchForm.vue
  frontend/src/types/analytics.ts
  frontend/test/playwright/e2e/external-sources.spec.ts
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend

#2509 Add upstream URL when sending Photon request exceptions to Sentry
  api/api/utils/image_proxy/__init__.py
Labels: 🟧 priority: high, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: api

#2482 Add ESLint plugin package
  .dockerignore
  .eslintignore
  .eslintrc.js
  .github/actions/load-img/action.yml
  .github/filters.yml
  .github/workflows/bundle_size.yml
  .github/workflows/ci_cd.yml
  .gitignore
  .pre-commit-config.yaml
  documentation/meta/ci_cd/jobs/index.md
  documentation/meta/ci_cd/jobs/packages.md
  documentation/packages/eslint_plugin/analytics_configuration.md
  documentation/packages/eslint_plugin/index.md
  documentation/packages/index.md
  frontend/Dockerfile
  frontend/docker-compose.playwright.yml
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/test/playwright/playwright.config.ts
  frontend/test/storybook/playwright.config.ts
  frontend/tsconfig.json
  package.json
  packages/eslint-plugin/babel.config.js
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/configs/index.ts
  packages/eslint-plugin/src/configs/recommended.ts
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/analytics-configuration.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/src/utils/rule-creator.ts
  packages/eslint-plugin/test/rules/analytics-configuration.spec.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Labels: 🟨 priority: medium, 🌟 goal: addition, 🤖 aspect: dx, 🧱 stack: frontend, 🧱 stack: mgmt, 🧱 stack: documentation

#2506 Fix Sentry configuration for multiprocessing environment
  ingestion_server/ingestion_server/api.py
  ingestion_server/ingestion_server/tasks.py
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: ingestion server

#2428 Replaced get* assertions in testing library with explicit assertions
  frontend/test/unit/specs/components/v-content-report-form.spec.js
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2546 Sync pre-commit deps with package.json
  .pre-commit-config.yaml
  documentation/projects/proposals/visual_regression_testing/20220217-implementation_plan.md
  frontend/src/components/VButton.vue
  frontend/src/components/VHeader/VPageLinks.vue
  frontend/src/components/VHomeGallery/VHomeGallery.vue
  frontend/src/components/VSelectField/VSelectField.vue
  frontend/src/components/VTabs/VTabs.vue
  frontend/src/constants/audio.ts
  frontend/src/constants/content-report.ts
  frontend/src/constants/deploy-env.ts
  frontend/src/constants/errors.ts
  frontend/src/constants/feature-flag.ts
  frontend/src/constants/license.ts
  frontend/src/constants/media.ts
  frontend/src/data/api-service.ts
  frontend/src/stores/feature-flag.ts
  frontend/src/types/button.ts
  frontend/src/types/item-group.ts
  frontend/test/playwright/e2e/search-types.spec.ts
  frontend/test/playwright/utils/breakpoints.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/storybook/visual-regression/v-footer.spec.ts
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: mgmt, 🧱 stack: documentation

#2424 Add AUDIO_INTERACTION event
  frontend/src/components/VAudioDetails/VRelatedAudio.vue
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VAudioTrack/VGlobalAudioTrack.vue
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/pages/audio/_id/index.vue
  frontend/src/pages/search/audio.vue
  frontend/src/stores/active-media.ts
  frontend/src/types/analytics.ts
  frontend/test/playwright/e2e/audio-detail.spec.ts
  frontend/test/playwright/utils/analytics.ts
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend

#2537 Copy `en.json5` to `en.json` in frontend dev script
  frontend/package.json
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: frontend

#2565 Refactor `head` in single result pages
  frontend/src/pages/audio/_id/index.vue
  frontend/src/pages/image/_id/index.vue
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2555 Fix types in Vue components and add all of them to `tsconfig`
  frontend/bin/add-entry-to-tsconfig.js
  frontend/bin/create-component.sh
  frontend/package.json
  frontend/src/components/VAudioDetails/VAudioDetails.vue
  frontend/src/components/VAudioDetails/VRelatedAudio.vue
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VAudioTrack/VGlobalAudioTrack.vue
  frontend/src/components/VFourOhFour.vue
  frontend/src/components/VHeader/VHeaderDesktop.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VHeader/VWordPressLink.vue
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VImageDetails/VImageDetails.vue
  frontend/src/components/VLanguageSelect/VLanguageSelect.vue
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/components/VSelectField/VSelectField.vue
  tsconfig.json
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend

#2568 Upgrade to Elasticsearch 8 locally
  docker-compose.yml
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api, 🔧 tech: elasticsearch

#2584 Fix types in the templates
  frontend/src/pages/audio/_id/index.vue
  frontend/src/pages/image/_id/index.vue
  frontend/test/unit/specs/pages/single-image-result-page.spec.js
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2538 Simplify Skip-to-content links
  frontend/src/components/VContentPage.vue
  frontend/src/components/VFourOhFour.vue
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VLink.vue
  frontend/src/components/VSkipToContentButton.vue
  frontend/src/components/VSkipToContentContainer.vue
  frontend/src/constants/window.ts
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/default.vue
  frontend/src/layouts/search-layout.vue
  frontend/src/pages/audio/_id/index.vue
  frontend/src/pages/image/_id/index.vue
  frontend/src/pages/image/_id/report.vue
  frontend/src/pages/search.vue
  frontend/src/styles/tailwind.css
  frontend/test/playwright/e2e/skip-to-content.spec.ts
  frontend/test/unit/specs/pages/browse-page.spec.js
Labels: 🟨 priority: medium, 🛠 goal: fix, ♿️ aspect: a11y, 🧱 stack: frontend, 🧱 stack: documentation

#2580 Add unhealthy ECS hosts runbook
  documentation/api/reference/healthcheck.md
  documentation/api/reference/index.md
  documentation/frontend/reference/healthcheck.md
  documentation/frontend/reference/index.md
  documentation/meta/monitoring/index.md
  documentation/meta/monitoring/runbooks/index.md
  documentation/meta/monitoring/runbooks/unhealthy_ecs_hosts.md
Labels: 🟧 priority: high, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation, 🧱 stack: infra

#2578 Remove duplicated plausible props
  frontend/src/composables/use-analytics.ts
  packages/eslint-plugin/src/configs/recommended.ts
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: analytics

#2544 Set UA string for Openverse API requests from the frontend
  frontend/src/constants/user-agent.js
  frontend/src/data/api-service.ts
  frontend/src/locales/scripts/axios.js
  tsconfig.json
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend

#2574 Add `eslint-plugin-playwright`
  .eslintrc.js
  frontend/package.json
  frontend/test/playwright/e2e/all-results-keyboard.spec.ts
  frontend/test/playwright/e2e/audio-detail.spec.ts
  frontend/test/playwright/e2e/external-sources.spec.ts
  frontend/test/playwright/e2e/filters-sidebar-keyboard.spec.ts
  frontend/test/playwright/e2e/filters.spec.ts
  frontend/test/playwright/e2e/global-audio.spec.ts
  frontend/test/playwright/e2e/homepage.spec.ts
  frontend/test/playwright/e2e/image-detail.spec.ts
  frontend/test/playwright/e2e/load-more.spec.ts
  frontend/test/playwright/e2e/migration-banner.spec.ts
  frontend/test/playwright/e2e/report-media.spec.ts
  frontend/test/playwright/e2e/search-navigation.spec.ts
  frontend/test/playwright/e2e/search-query-server.spec.ts
  frontend/test/playwright/e2e/search-types.spec.ts
  frontend/test/playwright/e2e/translation-banner.spec.ts
  frontend/test/playwright/utils/analytics.ts
  frontend/test/playwright/utils/audio.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/playwright/utils/page.ts
  frontend/test/playwright/visual-regression/components/header.spec.ts
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
  frontend/test/storybook/visual-regression/v-checkbox.spec.ts
  frontend/test/storybook/visual-regression/v-footer.spec.ts
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts
  package.json
  pnpm-lock.yaml
Labels: 🟧 priority: high, 🌟 goal: addition, 🤖 aspect: dx, 🧱 stack: frontend, skip-changelog

#2613 Update `fake_sensitive` feature flag based on updated API response schema
  frontend/src/constants/content-safety.ts
  frontend/src/stores/media/index.ts
  frontend/src/stores/media/single-result.ts
  frontend/src/types/media.ts
  frontend/src/utils/content-safety.ts
  frontend/src/utils/decode-media-data.ts
  frontend/test/unit/specs/utils/decode-image-data.spec.js
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend

#2617 Remove irrelevant mature UI toggle test
  frontend/test/playwright/e2e/search-query-server.spec.ts
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2632 Exclude venv directories from type checks
  tsconfig.json
Labels: 🟧 priority: high, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: mgmt

#2631 Add "search" role to search bar forms
  frontend/src/components/VHeader/VSearchBar/VSearchBar.vue
  frontend/src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
Labels: 🟧 priority: high, ✨ goal: improvement, ♿️ aspect: a11y, 🧱 stack: frontend

#2634 fix: unused composables/use-browser-detection
  frontend/src/composables/use-browser-detection.ts
  frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#2635 Send CI + CD notifications to the alerts channel
  .github/workflows/ci_cd.yml
Labels: 🟧 priority: high, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#2614 Replace `require` with `import` for error section images
  frontend/src/assets/error_images.json
  frontend/src/components/VErrorSection/VErrorImage.vue
  frontend/src/static/error_images/depressed_musician.jpg
  frontend/src/static/error_images/waiting_for_a_bite.jpg
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#2601 Replace require with import homepage
  frontend/src/assets/homepage_images.json
  frontend/src/components/VHomeGallery/VHomeGallery.vue
  frontend/src/static/homepage_images/olympics/1.png
  frontend/src/static/homepage_images/olympics/10.png
  frontend/src/static/homepage_images/olympics/11.png
  frontend/src/static/homepage_images/olympics/12.png
  frontend/src/static/homepage_images/olympics/13.png
  frontend/src/static/homepage_images/olympics/14.png
  frontend/src/static/homepage_images/olympics/15.png
  frontend/src/static/homepage_images/olympics/2.png
  frontend/src/static/homepage_images/olympics/3.png
  frontend/src/static/homepage_images/olympics/4.png
  frontend/src/static/homepage_images/olympics/5.png
  frontend/src/static/homepage_images/olympics/6.png
  frontend/src/static/homepage_images/olympics/7.png
  frontend/src/static/homepage_images/olympics/8.png
  frontend/src/static/homepage_images/olympics/9.png
  frontend/src/static/homepage_images/pottery/1.png
  frontend/src/static/homepage_images/pottery/10.png
  frontend/src/static/homepage_images/pottery/11.png
  frontend/src/static/homepage_images/pottery/12.png
  frontend/src/static/homepage_images/pottery/13.png
  frontend/src/static/homepage_images/pottery/14.png
  frontend/src/static/homepage_images/pottery/15.png
  frontend/src/static/homepage_images/pottery/2.png
  frontend/src/static/homepage_images/pottery/3.png
  frontend/src/static/homepage_images/pottery/4.png
  frontend/src/static/homepage_images/pottery/5.png
  frontend/src/static/homepage_images/pottery/6.png
  frontend/src/static/homepage_images/pottery/7.png
  frontend/src/static/homepage_images/pottery/8.png
  frontend/src/static/homepage_images/pottery/9.png
  frontend/src/static/homepage_images/universe/1.png
  frontend/src/static/homepage_images/universe/10.png
  frontend/src/static/homepage_images/universe/11.png
  frontend/src/static/homepage_images/universe/12.png
  frontend/src/static/homepage_images/universe/13.png
  frontend/src/static/homepage_images/universe/14.png
  frontend/src/static/homepage_images/universe/15.png
  frontend/src/static/homepage_images/universe/2.png
  frontend/src/static/homepage_images/universe/3.png
  frontend/src/static/homepage_images/universe/4.png
  frontend/src/static/homepage_images/universe/5.png
  frontend/src/static/homepage_images/universe/6.png
  frontend/src/static/homepage_images/universe/7.png
  frontend/src/static/homepage_images/universe/8.png
  frontend/src/static/homepage_images/universe/9.png
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#2620 Use trigger_and_wait for alias point step in create filtered index DAG
  catalog/dags/data_refresh/create_filtered_index_dag.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: ingestion server, 🧱 stack: catalog

#2642 Check readiness against filtered index
  catalog/dags/data_refresh/create_filtered_index_dag.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#2358 Implementation Plan: Staging Elasticsearch Reindex DAGs
  catalog/DAGs.md
  catalog/dags/data_refresh/dag_factory.py
  documentation/projects/planning.md
  documentation/projects/proposals/search_relevancy_sandbox/20230530-implementation_plan_staging_elasticsearch_reindex_dags.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: catalog, skip-changelog, 🧱 stack: documentation, 🧭 project: implementation plan

#2636 Update frontend/src/components/VSkeleton/VGridSkeleton.vue
  frontend/src/components/VSkeleton/VGridSkeleton.vue
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2431 added reasons why certain warnings were filtered in 'pytest.ini'
  api/pytest.ini
  ingestion_server/pytest.ini
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: api, 🧱 stack: ingestion server

#2583 Replace single image unit tests with Playwright e2e
  frontend/test/playwright/e2e/audio-detail.spec.ts
  frontend/test/playwright/e2e/image-detail.spec.ts
  frontend/test/unit/specs/components/ImageDetails/v-image-details-page.spec.js
  frontend/test/unit/specs/pages/single-image-result-page.spec.js
  frontend/test/unit/test-utils/pinia.js
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#2643 Remove nuxt eslint module
  frontend/nuxt.config.ts
  frontend/package.json
  pnpm-lock.yaml
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: mgmt, 🧱 stack: documentation

#2611 Add Playwright visual regression tests for error pages
  frontend/test/playwright/utils/navigation.ts
  frontend/test/playwright/visual-regression/pages/errors.spec.ts
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-all-404-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-all-404-error-SSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-all-429-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-all-429-error-SSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-all-500-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-all-500-error-SSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-404-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-404-error-SSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-429-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-429-error-SSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-500-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-500-error-SSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-404-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-404-error-SSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-429-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-429-error-SSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-500-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-500-error-SSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/single-result-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/single-result-error-xl-linux.png
  frontend/test/tapes/detail/images/da5cb478-c093-4d62-b721-cda18797e3fc_keep-alive.json5
  frontend/test/tapes/detail/images/da5cb478-c093-4d62-b721-cda18797e3fd_keep-alive.json5
  frontend/test/tapes/detail/images/da5cb478-c093-4d62-b721-cda18797e3fe_close.json5
  frontend/test/tapes/detail/images/da5cb478-c093-4d62-b721-cda18797e3fe_keep-alive.json5
  frontend/test/tapes/search/audio/q=SearchPage404error&peaks=true_close.json5
  frontend/test/tapes/search/audio/q=SearchPage404error&peaks=true_keep-alive.json5
  frontend/test/tapes/search/audio/q=SearchPage429error&peaks=true_close.json5
  frontend/test/tapes/search/audio/q=SearchPage429error&peaks=true_keep-alive.json5
  frontend/test/tapes/search/audio/q=SearchPage500error&peaks=true_close.json5
  frontend/test/tapes/search/audio/q=SearchPage500error&peaks=true_keep-alive.json5
  frontend/test/tapes/search/images/q=SearchPage404error_close.json5
  frontend/test/tapes/search/images/q=SearchPage404error_keep-alive.json5
  frontend/test/tapes/search/images/q=SearchPage429error_close.json5
  frontend/test/tapes/search/images/q=SearchPage429error_keep-alive.json5
  frontend/test/tapes/search/images/q=SearchPage500error_close.json5
  frontend/test/tapes/search/images/q=SearchPage500error_keep-alive.json5
  frontend/test/tapes/search/images/q=errorSearchPages_keep-alive.json5
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#2639 Improve and unify ingestion server logging, simplify docker CMDs
  docker-compose.yml
  ingestion_server/Dockerfile
  ingestion_server/docker-compose.yml
  ingestion_server/gunicorn.conf.py
  ingestion_server/gunicorn_worker.conf.py
  ingestion_server/ingestion_server/api.py
  ingestion_server/ingestion_server/indexer_worker.py
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: ingestion server

#2585 Fix fetching and types on single result pages
  frontend/src/components/VAudioDetails/VRelatedAudio.vue
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  frontend/src/components/VImageDetails/VRelatedImages.vue
  frontend/src/components/VSearchResultsGrid/VImageGrid.vue
  frontend/src/middleware/single-result.ts
  frontend/src/pages/audio/_id/index.vue
  frontend/src/pages/image/_id/index.vue
  frontend/src/pages/image/_id/report.vue
  frontend/src/stores/media/index.ts
  frontend/src/stores/media/related-media.ts
  frontend/src/stores/media/single-result.ts
  frontend/src/types/fetch-state.ts
  frontend/src/types/media.ts
  frontend/test/playwright/visual-regression/pages/errors.spec.ts
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/single-result-error-CSR-xl-linux.png
  frontend/test/tapes/detail/images/e9d97a98-621b-4ec2-bf70-f47a74380452_close.json5
  frontend/test/tapes/search/audio/q=birds&peaks=true_close.json5
  frontend/test/tapes/search/audio/q=birds&peaks=true_keep-alive.json5
  frontend/test/unit/specs/components/v-related-audios.spec.js
  frontend/test/unit/specs/components/v-related-images.spec.js
  frontend/test/unit/specs/stores/single-result-store.spec.js
  tsconfig.json
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2640 Blur sensitive search results
  frontend/src/components/VAudioThumbnail/VAudioThumbnail.vue
  frontend/src/components/VAudioTrack/layouts/VBoxLayout.vue
  frontend/src/components/VAudioTrack/layouts/VRowLayout.vue
  frontend/src/components/VSearchResultsGrid/VImageCell.vue
  frontend/src/locales/scripts/en.json5
  frontend/src/stores/ui.ts
  frontend/tailwind.config.js
  frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
  frontend/test/unit/specs/components/VSearchResultsGrid/v-image-cell.spec.js
Labels: 🟨 priority: medium, 🌟 goal: addition, 🕹 aspect: interface, 🧱 stack: frontend, 🧱 stack: documentation

#2659 Fix error tests
  frontend/test/playwright/e2e/header-internal.spec.ts
  frontend/test/playwright/e2e/load-more.spec.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/playwright/utils/viewport.ts
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts
  frontend/test/playwright/visual-regression/pages/errors.spec.ts
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-all-404-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-all-404-error-SSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-all-429-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-all-429-error-SSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-all-500-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-all-500-error-SSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-404-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-404-error-SSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-429-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-429-error-SSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-500-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-500-error-SSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-404-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-404-error-SSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-429-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-429-error-SSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-500-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-500-error-SSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#2645 Add resize observer to ignored errors in Sentry
  frontend/src/utils/sentry-config.ts
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2666 Prevent hovering in the external-sources VR test
  frontend/test/playwright/e2e/filters.spec.ts
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-ltr-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-rtl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-ltr-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-rtl-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-rtl-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-checked-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-checked-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-rtl-lg-linux.png
  frontend/test/tapes/search/audio/q=cat&license_type=commercial&peaks=true_keep-alive.json5
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2644 Fix header bottom border when scrolled
  frontend/src/components/VHeader/VHeaderDesktop.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/search-layout.vue
Labels: 🟨 priority: medium, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#2667 Remove CC referral banner
  frontend/nuxt.config.ts
  frontend/src/components/VBanner/VBanners.vue
  frontend/src/components/VBanner/VMigrationNotice.vue
  frontend/src/locales/scripts/en.json5
  frontend/src/middleware/middleware.ts
  frontend/src/plugins/migration-notice.ts
  frontend/src/stores/navigation.ts
  frontend/src/stores/ui.ts
  frontend/src/types/banners.ts
  frontend/src/utils/pinia-state.ts
  frontend/src/utils/send-message.ts
  frontend/test/iframe-test.html
  frontend/test/locales/ar.json
  frontend/test/locales/es.json
  frontend/test/locales/ru.json
  frontend/test/playwright/e2e/migration-banner.spec.ts
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-lg-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-md-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-sm-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-xl-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-xs-linux.png
  frontend/test/unit/specs/stores/nav-store.spec.js
  frontend/test/unit/specs/stores/ui-store.spec.js
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: documentation

#2672 Add sensitivity toggles in filter sidebar and modal
  frontend/src/components/VAudioThumbnail/VAudioThumbnail.vue
  frontend/src/components/VCheckbox/VCheckbox.vue
  frontend/src/components/VFilters/VSearchGridFilter.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VSafeBrowsing/VSafeBrowsing.vue
  frontend/src/components/VSafeBrowsing/meta/VSafeBrowsing.stories.mdx
  frontend/src/components/VSearchResultsGrid/VImageCell.vue
  frontend/src/layouts/search-layout.vue
  frontend/src/locales/scripts/en.json5
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-checked-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-checked-rtl-lg-linux.png
Labels: 🟨 priority: medium, 🌟 goal: addition, 🕹 aspect: interface, 🧱 stack: frontend, 🧱 stack: documentation

#2674 Update Vueuse
  frontend/package.json
  frontend/src/components/VHomeGallery/VHomeGallery.vue
  frontend/src/components/VLogoLoader/VLogoLoader.vue
  frontend/src/composables/use-dialog-control.ts
  frontend/src/composables/use-event-listener.ts
  frontend/src/composables/use-media-query.ts
  frontend/src/composables/use-reduced-motion.ts
  frontend/src/composables/use-window-scroll.ts
  frontend/src/pages/index.vue
  frontend/test/unit/specs/components/v-logo-loader.spec.js
  pnpm-lock.yaml
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2682 Fix whitespace bug that only affected Chrome
  frontend/src/components/VBrand/VBrand.vue
  frontend/src/components/VFooter/VFooter.vue
  frontend/test/playwright/e2e/search.spec.ts
  frontend/test/playwright/utils/navigation.ts
Labels: 🟧 priority: high, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#2681 Handle AbortError in VAudioTrack.vue
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2687 Added "docker-compose.yml" in filters.yml
  .github/filters.yml
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#2692 Move data refresh complete Slack message from ingestion server to catalog
  catalog/dags/data_refresh/reporting.py
  ingestion_server/ingestion_server/indexer.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: ingestion server, 🧱 stack: catalog

#2703 Add additional details to implementation plan template
  documentation/projects/templates/implementation-plan.md
Labels: 🟨 priority: medium, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: mgmt, 🧱 stack: documentation

#2691 Add development guidelines/documentation for eslint-plugin
  documentation/packages/eslint_plugin/index.md
  documentation/packages/index.md
  justfile
Labels: 🟨 priority: medium, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: documentation

#2700 useSensitiveMedia composable
  frontend/src/components/VAudioThumbnail/VAudioThumbnail.vue
  frontend/src/components/VAudioTrack/layouts/VBoxLayout.vue
  frontend/src/components/VAudioTrack/layouts/VRowLayout.vue
  frontend/src/components/VSafeBrowsing/VSafeBrowsing.vue
  frontend/src/components/VSearchResultsGrid/VImageCell.vue
  frontend/src/composables/use-sensitive-media.ts
  frontend/src/constants/content-safety.ts
  frontend/src/stores/ui.ts
  frontend/test/unit/fixtures/audio.js
  frontend/test/unit/specs/composables/use-sensitive-media.spec.ts
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend

#2693 Remove External sources section from All content page
  frontend/src/components/VSearchGrid.vue
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/test/playwright/e2e/external-sources.spec.ts
  frontend/test/playwright/e2e/search-types.spec.ts
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-rtl-xl-linux.png
Labels: 🟨 priority: medium, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#2570 Make batched_update DAG resistent to mid-update failures
  catalog/DAGs.md
  catalog/dags/database/batched_update/batched_update.py
  catalog/dags/database/batched_update/batched_update_dag.py
  catalog/dags/database/batched_update/constants.py
  catalog/tests/dags/database/test_batched_update.py
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#2696 Update back to results button area
  frontend/src/pages/audio/_id/index.vue
  frontend/src/pages/image/_id/index.vue
Labels: 🟧 priority: high, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend

#2592 Add popularity refresh DAGs
  catalog/DAGs.md
  catalog/dags/common/constants.py
  catalog/dags/common/ingestion_server.py
  catalog/dags/common/popularity/sql.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/data_refresh_task_factory.py
  catalog/dags/popularity/__init__.py
  catalog/dags/popularity/dag_factory.py
  catalog/dags/popularity/popularity_refresh_types.py
  catalog/dags/popularity/refresh_popularity_metrics_task_factory.py
  catalog/tests/dags/common/popularity/test_dag_factory.py
  catalog/tests/dags/common/popularity/test_sql.py
  docker-compose.yml
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: catalog

#2690 Corrections to the catalog & ingestion server deployment run books
  documentation/catalog/guides/deploy.md
  documentation/ingestion_server/guides/deploy.md
Labels: 🟨 priority: medium, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: ingestion server, 🧱 stack: catalog, 🧱 stack: documentation

#2697 Create a new `VIconButton`
  frontend/src/components/VAudioTrack/VPlayPause.vue
  frontend/src/components/VAudioTrack/meta/VPlayPause.stories.mdx
  frontend/src/components/VButton.vue
  frontend/src/components/VCloseButton.vue
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VHeader/VHeaderMobile/VSearchBarButton.vue
  frontend/src/components/VHeader/VLogoButton.vue
  frontend/src/components/VIconButton/VIconButton.vue
  frontend/src/components/VIconButton/VOldIconButton.vue
  frontend/src/components/VIconButton/meta/VIconButton.stories.mdx
  frontend/src/components/VIconButton/meta/VOldIconButton.stories.mdx
  frontend/src/components/meta/VCloseButton.stories.mdx
  frontend/src/types/button.ts
  frontend/test/playwright/e2e/load-more.spec.ts
  frontend/test/storybook/visual-regression/v-icon-button.spec.ts-snapshots/v-icon-button-sizes-linux.png
  frontend/test/storybook/visual-regression/v-old-icon-button.spec.ts
  frontend/test/storybook/visual-regression/v-old-icon-button.spec.ts-snapshots/v-old-icon-button-sizes-linux.png
Labels: 🟨 priority: medium, 🌟 goal: addition, 🕹 aspect: interface, 🧱 stack: frontend, 🧱 stack: documentation

#2723 Update VBackToSearchResultsLink size to "small"
  frontend/src/components/VBackToSearchResultsLink.vue
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xs-linux.png
Labels: 🟧 priority: high, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend

#2722 Extract `use-audio-snackbar` component
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/components/VSnackbar.vue
  frontend/src/composables/use-audio-snackbar.ts
  frontend/src/pages/search/audio.vue
  frontend/test/playwright/e2e/all-results-keyboard.spec.ts
  frontend/test/playwright/e2e/audio-results.spec.ts
  frontend/test/playwright/utils/search-results.ts
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#2733 Add `additional_search_views` feature flag
  frontend/feat/feature-flags.json
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend

#2728 Fix double-scroll issue on iOS devices
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/default.vue
  frontend/src/layouts/search-layout.vue
  frontend/tailwind.config.js
Labels: 🟥 priority: critical, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend, 🧱 stack: documentation

#2726 Re-add request ID tracking to API middleware
  api/conf/settings/logging.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#2618 Fix fetching search results and handle fetching errors
  frontend/src/components/VSearchGrid.vue
  frontend/src/middleware/search.ts
  frontend/src/pages/search.vue
  frontend/src/stores/media/index.ts
  frontend/src/stores/provider.ts
  frontend/test/playwright/e2e/search.spec.ts
  frontend/test/playwright/visual-regression/pages/errors.spec.ts
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-all-429-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-all-500-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-all-500-error-SSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-429-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-500-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-500-error-SSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-429-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-500-error-CSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-500-error-SSR-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts
  frontend/test/tapes/search/audio/q=SearchPage429error&peaks=true_keep-alive.json5
  frontend/test/tapes/search/audio/q=SearchPage429error_close.json5
  frontend/test/tapes/search/audio/q=SearchPage429error_keep-alive.json5
  frontend/test/tapes/search/audio/q=querywithnoresults&peaks=true_close.json5
  frontend/test/tapes/search/images/q=SearchPage404error_keep-alive.json5
  frontend/test/tapes/search/images/q=querywithnoresults_close.json5
  frontend/test/unit/specs/stores/media-store.spec.js
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend

#2695 Extract reusable VAudioCollection.vue
  frontend/src/components/VAudioDetails/VRelatedAudio.vue
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/components/VSearchResultsGrid/VAudioCell.vue
  frontend/src/components/VSearchResultsGrid/VAudioCollection.vue
  frontend/src/components/VSearchResultsGrid/VAudioList.vue
  frontend/src/pages/search.vue
  frontend/src/pages/search/audio.vue
  frontend/src/pages/search/image.vue
  frontend/src/pages/search/index.vue
  frontend/src/pages/search/search-page.types.ts
  frontend/src/types/events.ts
  frontend/test/playwright/e2e/all-results-analytics.spec.ts
  frontend/test/unit/specs/components/VSearchResultsGrid/v-audio-cell.spec.js
  frontend/test/unit/specs/components/VSearchResultsGrid/v-image-cell.spec.js
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#2714 Update the Box image and Large image cell component hover state
  frontend/src/components/VImageCell/VImageCell.vue
  frontend/src/components/VImageCell/meta/VImageCell.stories.mdx
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/components/VSearchResultsGrid/VImageGrid.vue
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-hovered-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-hovered-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-loaded-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-hovered-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-hovered-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-loaded-linux.png
  frontend/test/unit/specs/components/v-image-cell.spec.js
Labels: 🟧 priority: high, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend, 🧱 stack: documentation

#2651 Content Safety UI for single results
  frontend/src/assets/safety-bg.png
  frontend/src/assets/svg/raw/eye-closed.svg
  frontend/src/assets/svg/raw/eye-open.svg
  frontend/src/components/VHideButton.vue
  frontend/src/components/VSafetyWall/VSafetyWall.vue
  frontend/src/components/VSafetyWall/meta/VSafetyWall.stories.mdx
  frontend/src/components/VSingleResultControls.vue
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/audio/_id/index.vue
  frontend/src/pages/image/_id/index.vue
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xs-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-2xl-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-lg-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-md-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-sm-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-xl-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-xs-linux.png
  frontend/test/unit/specs/components/VSafetyWall/v-safety-wall.spec.js
Labels: 🟨 priority: medium, 🌟 goal: addition, 🕹 aspect: interface, 🧱 stack: frontend, 🧱 stack: documentation

#2713 Add test/ to .dockerignore to exlcude tests and test assets from frontend image build context
  frontend/.dockerignore
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend

#2739 Block crawling on search results views
  frontend/src/server-middleware/robots.js
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#2736 Add a wait for the fonts to load in the internal header modal
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts
Labels: 🟥 priority: critical, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend
