Repository WordPress/openverse, pull requests merged in 2023-04, with the labels that each got.

#1028 Absorb `actionlint` into pre-commit
  .github/workflows/actionlint.yml
  .pre-commit-config.yaml
  templates/.pre-commit-config.yaml.jinja
Labels: 🟩 priority: low, 🌟 goal: addition, 🤖 aspect: dx, 🧱 stack: mgmt

#1124 Add a wait to filter button test to fix CI
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#1100 Update other references of media count to 700 million
  frontend/nuxt.config.ts
  frontend/src/constants/meta.ts
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#1117 Fix prod deployment workflow dispatch call
  .github/workflows/release-app.yml
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: mgmt

#1066 Add a Slack notification job to the CI + CD workflow
  .github/actions/get-changes/action.yml
  .github/filters.yml
  .github/workflows/ci_cd.yml
Labels: 🟨 priority: medium, 🌟 goal: addition, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend, 🧱 stack: mgmt

#1030 Fix types in VFilters and VContentReport
  frontend/src/components/VCheckbox/VCheckbox.vue
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/components/VContentReport/VContentReportPopover.vue
  frontend/src/components/VFilters/VFilterChecklist.vue
  frontend/src/components/VFilters/VSearchGridFilter.vue
  frontend/src/components/VRadio/VRadio.vue
  frontend/src/components/VRadio/meta/VRadio.stories.mdx
  frontend/src/components/VSelectField/meta/VSelectField.stories.mdx
  frontend/test/unit/specs/components/v-content-report-form.spec.js
  frontend/tsconfig.json
  frontend/typings/svg/index.d.ts
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend

#1092 Convert VPill and VItemGroup stories to mdx
  frontend/src/components/VItemGroup/meta/VItemGroup.stories.mdx
  frontend/src/components/meta/VPill.stories.js
  frontend/src/components/meta/VPill.stories.mdx
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend, 🧩 tech: storybook

#1123 Update ci to use github.token
  .github/actions/setup-env/action.yml
  .github/workflows/bundle_size.yml
  .github/workflows/ci_cd.yml
  .github/workflows/generate_pot.yml
  .github/workflows/release-app.yml
  .github/workflows/weekly_updates.yml
Labels: 🟨 priority: medium, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#1131 Add `SLACK_WEBHOOK_TYPE` env var to reporting job
  .github/workflows/ci_cd.yml
Labels: 🟩 priority: low, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend, 🧱 stack: mgmt

#887 Add consent decision-making process documentation
  documentation/Pipfile
  documentation/Pipfile.lock
  documentation/conf.py
  documentation/index.md
  documentation/reference/decision_making/additional_practices.md
  documentation/reference/decision_making/how_to_use.md
  documentation/reference/decision_making/index.md
  documentation/reference/decision_making/process_description.md
  documentation/reference/index.md
Labels: 🟨 priority: medium, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: mgmt

#1122 Add more docs for Plausible and auto-initialise custom event names
  documentation/guides/frontend/analytics.md
  documentation/guides/frontend/goal-conversions.png
  documentation/guides/frontend/index.md
  frontend/bin/get-custom-event-names.js
  setup_plausible.sh
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: frontend

#1003 Add new buttons variants and sizes
  frontend/src/components/VButton.vue
  frontend/src/components/meta/VButton.stories.mdx
  frontend/src/types/button.ts
  frontend/test/storybook/playwright.config.ts
  frontend/test/storybook/visual-regression/v-button.spec.ts
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/bordered-gray-focused-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/bordered-gray-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/bordered-gray-resting-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/bordered-white-focused-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/bordered-white-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/bordered-white-resting-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-dark-focused-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-dark-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-dark-resting-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-gray-focused-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-gray-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-gray-resting-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-pink-focused-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-pink-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-pink-resting-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-white-focused-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-white-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-white-resting-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/transparent-dark-focused-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/transparent-dark-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/transparent-dark-resting-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/transparent-gray-focused-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/transparent-gray-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/transparent-gray-resting-linux.png
Labels: 🟨 priority: medium, 🌟 goal: addition, 🕹 aspect: interface, 🧱 stack: frontend

#954 Make `label` prop required for VIconButton
  frontend/src/components/VAudioTrack/VPlayPause.vue
  frontend/src/components/VBanner/VNotificationBanner.vue
  frontend/src/components/VContentReport/VContentReportPopover.vue
  frontend/src/components/VExternalSearch/VExternalSourceList.vue
  frontend/src/components/VFilters/VFilterChecklist.vue
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  frontend/src/components/VHeader/VHeaderDesktop.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsButton.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VHeader/VHeaderMobile/VSearchBarButton.vue
  frontend/src/components/VHeader/meta/VSearchBarButton.stories.mdx
  frontend/src/components/VIconButton/VIconButton.vue
  frontend/src/components/VIconButton/meta/VIconButton.stories.mdx
Labels: 🟨 priority: medium, 🛠 goal: fix, ♿️ aspect: a11y, 🧱 stack: ingestion server, 🧱 stack: frontend

#1136 Modify Renovate to apply appropriate labels to docker PRs
  .github/renovate.json
Labels: 🟩 priority: low, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#1139 Update pre-commit deps, pin actionlint
  .pre-commit-config.yaml
  automations/python/issues_with_prs.py
  documentation/_ext/link_issues.py
  templates/.pre-commit-config.yaml.jinja
Labels: 🟩 priority: low, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#997 Safely call create-or-update-comment when dealing with forks
  .github/workflows/ci_cd.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend, 🧱 stack: mgmt

#1138 Use `add-to-project-and-label` action
  .github/workflows/new_issues.yml
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#1150 Add an implementation plan template
  docs/projects/templates/implementation-plan.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: mgmt

#1143 Delete unused VSearchTypeRadio.vue
  frontend/src/components/VContentSwitcher/VSearchTypeRadio.vue
  frontend/tsconfig.json
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#988 Extract VCloseButton and add descriptive labels
  frontend/src/components/VBanner/VMigrationNotice.vue
  frontend/src/components/VBanner/VNotificationBanner.vue
  frontend/src/components/VBanner/VTranslationStatusBanner.vue
  frontend/src/components/VButton.vue
  frontend/src/components/VCloseButton.vue
  frontend/src/components/VContentReport/VContentReportPopover.vue
  frontend/src/components/VExternalSearch/VExternalSourceList.vue
  frontend/src/components/VFilters/VFilterChecklist.vue
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VIconButton/VIconButton.vue
  frontend/src/components/VTabs/VTabs.vue
  frontend/src/components/meta/VCloseButton.stories.mdx
  frontend/src/locales/scripts/en.json5
  frontend/src/styles/tailwind.css
  frontend/src/types/button.ts
  frontend/test/playwright/e2e/header-internal.spec.ts
  frontend/test/playwright/e2e/migration-banner.spec.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-transparent-focused-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-transparent-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-transparent-resting-linux.png
  frontend/tsconfig.json
Labels: 🟨 priority: medium, ✨ goal: improvement, ♿️ aspect: a11y, 🧱 stack: frontend

#1091 Convert VModal story to MDX
  frontend/src/components/VModal/meta/VModal.stories.js
  frontend/src/components/VModal/meta/VModal.stories.mdx
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend

#907 Update deployment doc and add zero-downtime info about environment variables
  documentation/guides/deploy.md
  documentation/guides/deployment.md
  documentation/guides/index.md
  documentation/guides/zero-downtime-database-management.md
  frontend/meta_docs/DEPLOYMENT.md
Labels: 🟨 priority: medium, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: mgmt

#1177 Add a check for `statement`'s name to fix the failure
  frontend/bin/get-custom-event-names.js
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#1174 Change deployment workflow name from colon to dash
  .github/workflows/ci_cd.yml
  .github/workflows/deploy-production-api.yml
  .github/workflows/deploy-production-nuxt.yml
  .github/workflows/deploy-staging-api.yml
  .github/workflows/deploy-staging-nuxt.yml
  .github/workflows/release-app.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend, 🧱 stack: mgmt

#1021 Update sources button
  frontend/src/components/VLink.vue
  frontend/src/pages/sources.vue
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xs-linux.png
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend

#1173 Pin renovate action to specific version
  .github/workflows/renovate.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#1140 Update the Copy button
  frontend/src/components/VCopyButton.vue
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xs-linux.png
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend

#1183 Add content write permission to release app workflow
  .github/workflows/release-app.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#1182 Disable Plausible at init
  frontend/src/composables/use-analytics.ts
  frontend/src/stores/feature-flag.ts
Labels: 🟥 priority: critical, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend, 🧱 stack: analytics

#1049 Update the CTA buttons
  frontend/src/components/VAudioTrack/layouts/VFullLayout.vue
  frontend/src/components/VButton.vue
  frontend/src/components/VHeader/VHeaderMobile/VShowResultsButton.vue
  frontend/src/components/VLoadMore.vue
  frontend/src/components/meta/VButton.stories.mdx
  frontend/src/pages/image/_id/index.vue
  frontend/src/pages/sources.vue
  frontend/src/types/button.ts
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xs-linux.png
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend

#1179 Use the built-in Tailwind named groups
  frontend/package.json
  frontend/src/components/VAudioTrack/VWaveform.vue
  frontend/tailwind.config.js
  pnpm-lock.yaml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#1062 Convert `VContentLink` story to MDX
  frontend/src/components/VContentLink/meta/VContentLink.stories.js
  frontend/src/components/VContentLink/meta/VContentLink.stories.mdx
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend

#1167 Add project labels
  automations/data/labels.yml
Labels: 🟨 priority: medium, 🌟 goal: addition, 🤖 aspect: dx, 🧱 stack: mgmt

#996 Implementation Plan: Filtering and designating sensitive results in the API
  documentation/projects/proposals/detecting_sensitive_textual_content/20230308-implementation_plan_filtering_and_designating_results_with_sensitive_textual_content.md
  documentation/projects/proposals/detecting_sensitive_textual_content/20230309-implementation_plan_sensitive_terms_list.md
  documentation/projects/proposals/detecting_sensitive_textual_content/20230309-project_proposal_detecting_sensitive_textual_content.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: api, 🧭 project: implementation plan

#1186 Changelog/api 2023.04.12.23.29.59 manual cleanup
  documentation/changelogs/api/2023.04.12.23.29.59.md
Labels: 🟩 priority: low, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: api

#1107 Project Proposal: Search Relevancy Sandbox
  documentation/projects/proposals/search_relevancy_sandbox/20230331-project_proposal_search_relevancy_sandbox.md
  documentation/projects/proposals/search_relevancy_sandbox/index.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: catalog, skip-changelog, 🧭 project: proposal

#1204 Remove empty implementation plan template
  documentation/templates/implementation-plan.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: mgmt, 🧱 stack: documentation

#1223 Add `LABEL` to link repo with GHCR image
  catalog/Dockerfile
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: catalog

#1224 Fix meta-file sync workflow
  .github/sync.yml
  .pre-commit-config.yaml
  README.md
  templates/.pre-commit-config.local.yaml.jinja
  templates/.pre-commit-config.yaml.jinja
  templates/README.md
  templates/prettier.config.js.jinja
  templates/prettier.config.local.js.jinja
  templates/pull_request_template.md.jinja
Labels: 🟥 priority: critical, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#1227 Use `pytest.ini` and add `pytest-sugar`
  api/Pipfile
  api/Pipfile.lock
  api/justfile
  api/pytest.ini
  api/test/run_test.sh
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
  ingestion_server/justfile
  ingestion_server/pytest.ini
  ingestion_server/test/run_test.sh
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: ingestion server

#1802 Fix typo in github link
  api/catalog/api/docs/README.md
Labels: 🟧 priority: high, 🚦 status: awaiting triage, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: api

#1806 Fix the hammer emoji
  documentation/reference/ci_cd.md
Labels: 🚦 status: awaiting triage

#1202 Add `create_and_populate_filtered_index` action to ingestion server
  docker/es/justfile
  ingestion_server/ingestion_server/api.py
  ingestion_server/ingestion_server/indexer.py
  ingestion_server/ingestion_server/static/mock_sensitive_terms.txt
  ingestion_server/ingestion_server/tasks.py
  ingestion_server/ingestion_server/utils/__init__.py
  ingestion_server/ingestion_server/utils/sensitive_terms.py
  ingestion_server/justfile
  ingestion_server/test/integration_test.py
  load_sample_data.sh
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: ingestion server

#1812 Only use upstream thumbs with photon for SMK, for now
  api/catalog/api/views/image_views.py
  api/test/unit/views/image_views_test.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#1193 Ensure the generated changelog gets linted, fix backticks in log
  .github/workflows/release-app.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: mgmt, 🧱 stack: documentation

#1814 Update permissions of deployment steps in the Release workflow
  .github/workflows/release-app.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#1152 updated python scripts in ci workflows with python files
  .github/workflows/ci_cd.yml
  automations/python/workflows/generate_report.py
  automations/python/workflows/set_matrix_images.py
Labels: 🟩 priority: low, 🚦 status: awaiting triage, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#1807 Update how `psycopg2` errors are referenced
  api/test/unit/management/commands/generatewaveforms_test.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#1815 Try to prevent additional issues with writing the changelogs to file
  .github/workflows/release-app.yml
  automations/python/workflows/write_changelog.py
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#1827 Update frontend Dockerfile to use same release ARG as API
  frontend/Dockerfile
Labels: 🟥 priority: critical, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#1828 Remove the unused draft release workflow and add catalog to release app workflow
  .github/release_drafter.yml
  .github/workflows/draft_release.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#1180 Analytics event: GET_MEDIA
  frontend/src/components/VAudioTrack/layouts/VFullLayout.vue
  frontend/src/pages/image/_id/index.vue
  frontend/src/types/analytics.ts
  frontend/test/unit/specs/components/AudioTrack/v-full-layout.spec.js
  frontend/test/unit/specs/components/ImageDetails/v-image-details-page.spec.js
  frontend/test/unit/test-utils/i18n.js
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend

#1822 Fix `pgcli` just commands for the api and catalog
  api/justfile
  catalog/justfile
Labels: 🟩 priority: low, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api

#1160 Add a `just ps` recipe for displaying service ports
  documentation/guides/quickstart.md
  justfile
  utilities/ps.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: mgmt

#1829 Consolidate all transient dev container dirs for the catalog
  catalog/Dockerfile
  docker-compose.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#1839 Pick specific issue templates to sync
  .github/PULL_REQUEST_TEMPLATE.md
  .github/sync.yml
  prettier.config.js
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#1147 Analytics event: COPY_ATTRIBUTION
  frontend/nuxt.config.ts
  frontend/src/components/VCopyButton.vue
  frontend/src/components/VMediaInfo/VCopyLicense.vue
  frontend/src/components/VMediaInfo/VLicenseTabPanel.vue
  frontend/src/types/analytics.ts
  frontend/test/playwright/e2e/attribution.spec.ts
  frontend/test/playwright/playwright.config.ts
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend

#1144 Move Nuxt testing docs to the Docs site
  .github/workflows/ci_cd.yml
  documentation/guides/frontend/index.md
  documentation/guides/frontend/miscellaneous.md
  documentation/guides/frontend/playwright_tests.md
  documentation/guides/frontend/storybook_tests.md
  documentation/guides/frontend/test.md
  documentation/guides/frontend/testing_guidelines.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: frontend, 🧱 stack: mgmt

#1001 Add documentation for the CI + CD workflow
  .github/actions/get-changes/action.yml
  .github/actions/load-img/action.yml
  .github/workflows/bundle_size.yml
  .github/workflows/ci_cd.yml
  documentation/reference/ci_cd/actions.md
  documentation/reference/ci_cd/flow.md
  documentation/reference/ci_cd/index.md
  documentation/reference/ci_cd/jobs/api.md
  documentation/reference/ci_cd/jobs/catalog.md
  documentation/reference/ci_cd/jobs/deployment.md
  documentation/reference/ci_cd/jobs/docker_preparation.md
  documentation/reference/ci_cd/jobs/docker_publishing.md
  documentation/reference/ci_cd/jobs/documentation.md
  documentation/reference/ci_cd/jobs/frontend.md
  documentation/reference/ci_cd/jobs/index.md
  documentation/reference/ci_cd/jobs/ingestion_server.md
  documentation/reference/ci_cd/jobs/notification.md
  documentation/reference/ci_cd/jobs/preparation.md
  documentation/reference/ci_cd/proof_of_functionality.md
  documentation/reference/index.md
Labels: 🟧 priority: high, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend, 🧱 stack: mgmt

#855 Project Proposal: Document all media properties
  documentation/projects/proposals/document_all_media_properties/20230307-project_proposal.md
Labels: 🟧 priority: high, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend, 🧱 stack: mgmt, skip-changelog, 🧭 project: proposal

#1854 Include frontend in the `load-img` action
  .github/actions/load-img/action.yml
  documentation/reference/ci_cd/actions.md
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt

#1845 Removed comment from pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: 🟩 priority: low, 🚦 status: awaiting triage, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#1225 Deduce Python/Node.js/pnpm version in Docker images
  .github/workflows/ci_cd.yml
  api/Dockerfile
  api/justfile
  catalog/Dockerfile
  catalog/justfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/justfile
  ingestion_server/Dockerfile
  ingestion_server/justfile
  ingestion_server/test/gen_integration_compose.py
  justfile
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend

#1853 Pass `--fix` option to Ruff in pre-commit
  .pre-commit-config.yaml
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#1850 Expand docs on proof-of-functionality and add some customisation
  documentation/conf.py
  documentation/index.md
  documentation/meta/ci_cd/proof_of_functionality.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: documentation

#1856 Add `catalog/recreate` just command and remove a file
  .github/sync.yml
  catalog/justfile
  catalog/requirements_tooling.txt
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog

#1852 Update Python code to use Python 3.11
  .github/actions/setup-env/action.yml
  .github/workflows/label_pr.yml
  .github/workflows/label_sync.yml
  .github/workflows/pr_project_automation.yml
  .github/workflows/project_automation.yml
  api/Pipfile
  api/Pipfile.lock
  automations/python/Pipfile
  automations/python/Pipfile.lock
  documentation/Pipfile
  documentation/Pipfile.lock
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: mgmt

#1153 Project Proposal: Popularity calculation optimizations
  documentation/projects/proposals/popularity_optimizations/20230406-project_proposal_popularity_optimizations.md
Labels: 🟧 priority: high, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend, 🧱 stack: catalog, skip-changelog, 🧭 project: proposal

#1865 Dispatch deployment workflows from infrastructure repository
  .github/workflows/ci_cd.yml
  .github/workflows/release-app.yml
Labels: 🟧 priority: high, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend, 🧱 stack: mgmt

#1855 Avoid the need to specify each image individually in `load-img`
  .github/actions/load-img/action.yml
  .github/workflows/ci_cd.yml
  documentation/meta/ci_cd/actions.md
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend, 🧱 stack: mgmt

#1132 Update the VFilterButton to use the new variants
  frontend/src/components/VHeader/VFilterButton.vue
  frontend/src/components/VHeader/meta/VFilterButton.stories.mdx
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-0-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-0-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-1-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-1-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-12-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-12-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-0-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-0-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-1-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-1-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-12-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-12-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-pressed-0-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-pressed-0-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-pressed-1-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-pressed-1-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-pressed-12-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-pressed-12-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-hovered-0-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-hovered-0-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-hovered-1-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-hovered-1-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-hovered-12-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-hovered-12-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-0-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-0-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-1-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-1-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-12-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-12-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-focused-0-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-focused-0-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-focused-1-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-focused-1-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-focused-12-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-focused-12-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-hovered-0-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-hovered-0-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-hovered-1-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-hovered-1-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-hovered-12-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-hovered-12-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/desktop-header-internal-rtl-2xl-linux.png
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend

#1887 Make foreign_identifier required in `add_item`
  catalog/dags/common/storage/audio.py
  catalog/dags/common/storage/image.py
  catalog/dags/common/storage/media.py
  catalog/tests/dags/common/storage/test_media.py
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog

#1879 Fix heading hierarchy in job documentation for CI + CD workflow
  documentation/meta/ci_cd/jobs/ingestion_server.md
  documentation/meta/ci_cd/jobs/preparation.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: documentation

#1866 Accommodate multi-heading DAG docs
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
  catalog/utilities/dag_doc_gen/dag_doc_generation.py
Labels: 🟩 priority: low, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: catalog

#1882 Update deployment log links; remove old deployment workflows
  .github/workflows/deploy-production-api.yml
  .github/workflows/deploy-production-nuxt.yml
  .github/workflows/deploy-staging-api.yml
  .github/workflows/deploy-staging-nuxt.yml
  documentation/general/deployment.md
Labels: 🟧 priority: high, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: documentation

#1871 Compute search path query parameters for the type passed
  frontend/src/stores/search.ts
  frontend/test/unit/setup-after-env.js
  frontend/test/unit/specs/stores/search-store.spec.js
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#1905 Fix CI migration checks
  .github/workflows/migration_safety_warning.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt

#1906 Update timeouts for image popularity view creation
  catalog/dags/data_refresh/data_refresh_types.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#1911 Actually add catalog to the release-app workflow
  .github/workflows/release-app.yml
  documentation/changelogs/catalog/index.md
Labels: 🟥 priority: critical, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#1913 Add release drafter configuration for catalog
  .github/release-drafter-catalog.yml
  automations/js/justfile
Labels: 🟥 priority: critical, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#1915 Use path relative to `docker-compose.yml` file
  catalog/docker-compose.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt

#1146 Use `bordered-white` variant for VSearchTypeButton.vue
  frontend/src/components/VButton.vue
  frontend/src/components/VContentSwitcher/VSearchTypeButton.vue
  frontend/src/components/meta/VButtonOld.stories.mdx
  frontend/src/styles/tailwind.css
  frontend/src/types/button.ts
Labels: 🟨 priority: medium, 🕹 aspect: interface, 🧰 goal: internal improvement, 🧱 stack: frontend

#1181 Analytics event: REPORT_MEDIA
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/components/VContentReport/VDmcaNotice.vue
  frontend/src/types/analytics.ts
  frontend/test/unit/specs/components/v-content-report-form.spec.js
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend

#956 Remove `tags_list` from models and ingestion_server
  api/catalog/api/migrations/0053_remove_tags_list.py
  api/catalog/api/models/media.py
  ingestion_server/README.md
  ingestion_server/test/mock_schemas/audio.sql
  ingestion_server/test/mock_schemas/audio_view.sql
  ingestion_server/test/mock_schemas/image.sql
  ingestion_server/test/mock_schemas/image_view.sql
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: ingestion server, migrations

#1918 Replace the links to old repos in code
  catalog/dags/maintenance/pr_review_reminders/pr_review_reminders.py
  catalog/docs/adding_a_new_provider.md
  catalog/templates/create_provider_ingester.py
  catalog/tests/factories/github/comment.json
  catalog/tests/factories/github/pull.json
  catalog/tests/factories/github/review.json
  dag-sync.sh
  frontend/src/locales/scripts/parse-vue-files.js
  frontend/src/pages/about.vue
  frontend/src/pages/external-sources.vue
  frontend/src/pages/sources.vue
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#1872 Simplify report views
  api/catalog/api/models/media.py
  api/catalog/api/views/audio_views.py
  api/catalog/api/views/image_views.py
  api/catalog/api/views/media_views.py
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#1876 Install drf-spectacular
  .github/workflows/ci_cd.yml
  api/.gitignore
  api/Pipfile
  api/Pipfile.lock
  api/catalog/api/docs/README.md
  api/catalog/api/docs/audio_docs.py
  api/catalog/api/docs/base_docs.py
  api/catalog/api/docs/image_docs.py
  api/catalog/api/docs/media_docs.py
  api/catalog/api/docs/oauth2_docs.py
  api/catalog/api/examples/__init__.py
  api/catalog/api/examples/audio_requests.py
  api/catalog/api/examples/audio_responses.py
  api/catalog/api/examples/oauth2_requests.py
  api/catalog/api/examples/oauth2_responses.py
  api/catalog/api/models/media.py
  api/catalog/api/serializers/audio_serializers.py
  api/catalog/api/serializers/error_serializers.py
  api/catalog/api/serializers/image_serializers.py
  api/catalog/api/serializers/media_serializers.py
  api/catalog/api/serializers/oauth2_serializers.py
  api/catalog/api/serializers/provider_serializers.py
  api/catalog/api/utils/pagination.py
  api/catalog/api/views/audio_views.py
  api/catalog/api/views/health_views.py
  api/catalog/api/views/image_views.py
  api/catalog/api/views/media_views.py
  api/catalog/api/views/oauth2_views.py
  api/catalog/configuration/spectacular.py
  api/catalog/custom_auto_schema.py
  api/catalog/example_responses.py
  api/catalog/management/commands/validateopenapischema.py
  api/catalog/settings.py
  api/catalog/templates/drf-yasg/redoc.html
  api/catalog/urls/__init__.py
  api/catalog/urls/auth_tokens.py
  api/catalog/urls/swagger.py
  api/justfile
  automations/python/workflows/set_matrix_images.py
  documentation/meta/ci_cd/flow.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend

#1928 Respect the task timeout in recreate popularity constants task
  catalog/dags/common/popularity/sql.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#1800 Reintroduce API changelog 2023.04.12.23.29.59.md
  documentation/changelogs/api/2023.04.12.23.29.59.md
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: documentation
