Repository WordPress/openverse, pull requests merged in 2023-05, with the labels that each got.

#1833 Add filtered index creation DAG
  catalog/DAGs.md
  catalog/dags/common/ingestion_server.py
  catalog/dags/common/sensors/utils.py
  catalog/dags/data_refresh/create_filtered_index_dag.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/data_refresh_task_factory.py
  catalog/dags/data_refresh/data_refresh_types.py
  catalog/env.template
  catalog/justfile
  catalog/tests/dags/common/sensors/test_utils.py
  catalog/tests/dags/test_dag_parsing.py
  ingestion_server/ingestion_server/api.py
  ingestion_server/ingestion_server/indexer.py
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: ingestion server

#1922 Remove `orjson`
  api/Pipfile
  api/Pipfile.lock
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#1869 Improve Playwright navigation utilities
  frontend/test/playwright/e2e/filters-sidebar-keyboard.spec.ts
  frontend/test/playwright/e2e/filters.spec.ts
  frontend/test/playwright/e2e/header-internal.spec.ts
  frontend/test/playwright/e2e/homepage.spec.ts
  frontend/test/playwright/e2e/load-more.spec.ts
  frontend/test/playwright/e2e/mobile-menu.spec.ts
  frontend/test/playwright/e2e/search-navigation.spec.ts
  frontend/test/playwright/e2e/search-query-client.spec.ts
  frontend/test/playwright/e2e/search-query-server.spec.ts
  frontend/test/playwright/e2e/search-types.spec.ts
  frontend/test/playwright/e2e/translation-banner.spec.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/playwright/visual-regression/components/header.spec.ts
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
Labels: 🟥 priority: critical, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#1934 Update labelling system to reduce duplication and cover more stacks
  .github/filters.yml
  .github/workflows/ci_cd.yml
  .github/workflows/pr_label_check.yml
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#1935 Run `awk` before `grep` in the `attach` recipe
  justfile
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#1206 Only delete docs preview on PR close if one is generated
  .github/workflows/pr_closed.yml
  documentation/meta/ci_cd/jobs/documentation.md
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#1937 Remove @types/lodash.sortBy from project
  frontend/package.json
  pnpm-lock.yaml
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: frontend

#1176 Project Proposal: Sensitive content report moderation
  documentation/projects/proposals/trust_and_safety/20230109-trust_and_safety_preliminary_overview_and_exploration.md
  documentation/projects/proposals/trust_and_safety/content_report_moderation/20230411-project_proposal_content_report_moderation.md
  documentation/projects/proposals/trust_and_safety/content_report_moderation/index.md
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20230309-implementation_plan_sensitive_terms_list.md
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20230309-project_proposal_detecting_sensitive_textual_content.md
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20230330-implementation_plan_filtering_and_designating_results_with_sensitive_textual_content.md
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/index.md
  documentation/projects/proposals/trust_and_safety/index.md
Labels: 🟩 priority: low, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: api, 🧱 stack: frontend, 🧭 project: proposal

#1900 Fall back to `main` branch protection rules for PRs targeting branches without protection rules
  catalog/dags/maintenance/pr_review_reminders/pr_review_reminders.py
  catalog/tests/dags/maintenance/test_pr_review_reminders.py
  catalog/tests/factories/github/__init__.py
  catalog/tests/factories/github/pull.json
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#1960 Correctly pass `maxDiffPixelRatio` to add tolerance for pages-single-result VR test
  frontend/test/playwright/utils/breakpoints.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#1188 Remove primary button variant and make variant required
  frontend/src/components/VButton.vue
  frontend/src/components/VFilters/VSearchGridFilter.vue
  frontend/src/components/VHeader/VSearchBar/VSearchButton.vue
  frontend/src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
  frontend/src/components/VSkipToContentContainer.vue
  frontend/src/types/button.ts
  frontend/test/unit/specs/components/v-button.spec.js
  frontend/test/unit/specs/components/v-modal.spec.js
  frontend/test/unit/specs/components/v-popover.spec.js
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#1118 Analytics event: BACK_TO_SEARCH
  frontend/src/components/VBackToSearchResultsLink.vue
  frontend/src/components/VLink.vue
  frontend/src/components/meta/VBackToSearchResultsLink.stories.mdx
  frontend/src/pages/audio/_id/index.vue
  frontend/src/pages/image/_id/index.vue
  frontend/src/types/analytics.ts
  frontend/test/playwright/e2e/attribution.spec.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/unit/setup.js
  frontend/test/unit/specs/components/v-back-to-search-results-link.spec.js
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend

#1141 Update Back to results button to use the new VButton variant and size
  frontend/src/components/VBackToSearchResultsLink.vue
  frontend/src/components/VErrorSection/VNoResults.vue
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend

#1892 Raise `UpstreamThumbnailException` for unsuccessful requests
  api/catalog/api/utils/photon.py
  api/test/unit/utils/photon_test.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: api

#1888 Replace span with h2 on image search results
  frontend/src/components/VSearchResultsGrid/VImageCell.vue
  frontend/test/unit/specs/components/related-images.spec.js
Labels: 🟨 priority: medium, ✨ goal: improvement, ♿️ aspect: a11y, 🧱 stack: frontend

#1154 Implementation Plan: Update staging database
  documentation/projects/proposals/search_relevancy_sandbox/20230406-implementation_plan_update_staging_database.md
Labels: 🟧 priority: high, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: catalog, skip-changelog, 🧭 project: implementation plan

#1898 Refactor `LicenseInfo` to only hold valid license information
  catalog/dags/common/licenses/__init__.py
  catalog/dags/common/licenses/constants.py
  catalog/dags/common/licenses/licenses.py
  catalog/dags/common/storage/media.py
  catalog/dags/providers/provider_api_scripts/brooklyn_museum.py
  catalog/dags/providers/provider_api_scripts/cleveland_museum.py
  catalog/dags/providers/provider_api_scripts/europeana.py
  catalog/dags/providers/provider_api_scripts/finnish_museums.py
  catalog/dags/providers/provider_api_scripts/flickr.py
  catalog/dags/providers/provider_api_scripts/freesound.py
  catalog/dags/providers/provider_api_scripts/jamendo.py
  catalog/dags/providers/provider_api_scripts/museum_victoria.py
  catalog/dags/providers/provider_api_scripts/nypl.py
  catalog/dags/providers/provider_api_scripts/phylopic.py
  catalog/dags/providers/provider_api_scripts/rawpixel.py
  catalog/dags/providers/provider_api_scripts/science_museum.py
  catalog/dags/providers/provider_api_scripts/smk.py
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
  catalog/tests/dags/common/licenses/test_licenses.py
  catalog/tests/dags/providers/provider_api_scripts/test_brooklyn_museum.py
  catalog/tests/dags/providers/provider_api_scripts/test_europeana.py
  catalog/tests/dags/providers/provider_api_scripts/test_finnish_museums.py
  catalog/tests/dags/providers/provider_api_scripts/test_flickr.py
  catalog/tests/dags/providers/provider_api_scripts/test_freesound.py
  catalog/tests/dags/providers/provider_api_scripts/test_jamendo.py
  catalog/tests/dags/providers/provider_api_scripts/test_museum_victoria.py
  catalog/tests/dags/providers/provider_api_scripts/test_nypl.py
  catalog/tests/dags/providers/provider_api_scripts/test_phylopic.py
  catalog/tests/dags/providers/provider_api_scripts/test_rawpixel.py
  catalog/tests/dags/providers/provider_api_scripts/test_science_museum.py
  catalog/tests/dags/providers/provider_api_scripts/test_wikimedia_commons.py
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog

#1158 Analytics event: SELECT_EXTERNAL_SOURCE
  frontend/package.json
  frontend/src/components/VErrorSection/VNoResults.vue
  frontend/src/components/VExternalSearch/VExternalSearchForm.vue
  frontend/src/components/VExternalSearch/VExternalSourceList.vue
  frontend/src/components/VSearchGrid.vue
  frontend/src/types/analytics.ts
  frontend/test/playwright/e2e/external-sources.spec.ts
  frontend/test/unit/specs/components/ExternalSources/v-external-source-list.spec.js
  frontend/test/unit/specs/components/ImageDetails/v-copy-license.spec.js
  pnpm-lock.yaml
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend

#1933 No docs, Docker images or deploys if CI + CD workflow changes
  .github/filters.yml
  .github/workflows/ci_cd.yml
  .github/workflows/pr_label_check.yml
  automations/python/workflows/set_matrix_images.py
Labels: 🟩 priority: low, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#1994 Configure dependabot.yml to include the documentation and automations/python directories
  .github/dependabot.yml
Labels: 🟩 priority: low, 🚦 status: awaiting triage, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#1903 Query the filtered indexes
  api/catalog/api/controllers/search_controller.py
  api/catalog/api/models/media.py
  api/catalog/api/serializers/media_serializers.py
  api/catalog/settings.py
  api/env.template
  api/test/audio_integration_test.py
  api/test/factory/models/media.py
  api/test/image_integration_test.py
  api/test/unit/controllers/search_controller_test.py
  api/test/unit/models/media_report_test.py
  api/test/unit/serializers/media_serializers_test.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api

#2021 Skip flaky content-report-form test
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend, skip-changelog

#1993 Remove authentication in bulk translation downloads
  .github/actions/build-docs/action.yml
  .github/workflows/ci_cd.yml
  .github/workflows/weekly_updates.yml
  automations/js/src/last_week_tonight.mjs
  documentation/meta/ci_cd/actions.md
  frontend/src/locales/scripts/bulk-download.js
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2012 Update discussion.md template to remove typo
  .github/ISSUE_TEMPLATE/discussion.md
Labels: 🟨 priority: medium, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: mgmt

#2010 Add documentation for creating implementation plan issues
  .github/ISSUE_TEMPLATE/project_thread.md
  documentation/projects/planning.md
Labels: 🟨 priority: medium, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt, 🧱 stack: documentation

#2033 Fix stack label for documentation
  .github/workflows/pr_label_check.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt

#2016 Remove `piexif` and suppress warnings
  api/Pipfile
  api/Pipfile.lock
  api/catalog/api/utils/watermark.py
  api/catalog/api/views/image_views.py
  api/catalog/settings.py
  api/pytest.ini
  api/test/unit/utils/watermark_test.py
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#2023 Simplify and reorder parameters to `catalog/pgcli` recipe
  api/justfile
  catalog/justfile
  justfile
Labels: 🟩 priority: low, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: catalog

#1884 Add checks for required parameters to Provider scripts (K-R)
  catalog/dags/providers/provider_api_scripts/metropolitan_museum.py
  catalog/dags/providers/provider_api_scripts/museum_victoria.py
  catalog/dags/providers/provider_api_scripts/nappy.py
  catalog/dags/providers/provider_api_scripts/nypl.py
  catalog/dags/providers/provider_api_scripts/provider_data_ingester.py
  catalog/tests/dags/providers/provider_api_scripts/test_metropolitan_museum.py
  catalog/tests/dags/providers/provider_api_scripts/test_museum_victoria.py
  catalog/tests/dags/providers/provider_api_scripts/test_nappy.py
  catalog/tests/dags/providers/provider_api_scripts/test_nypl.py
  catalog/tests/dags/providers/provider_api_scripts/test_provider_data_ingester.py
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog

#1858 Add Cloudflare malicious traffic runbook
  automations/js/src/utils.js
  documentation/meta/index.md
  documentation/meta/traffic/index.md
  documentation/meta/traffic/runbooks/cloudflare_traffic_ui.png
  documentation/meta/traffic/runbooks/identifying-and-blocking-traffic-anomalies.md
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: frontend, 🧱 stack: mgmt, 🧱 stack: documentation

#2036 Add GitHub username link to changelog, unify & simplify format
  .github/release-drafter-api.yml
  .github/release-drafter-catalog.yml
  .github/release-drafter-frontend.yml
  .github/release-drafter-ingestion_server.yml
  documentation/changelogs/api/2023.04.12.23.29.59.md
  documentation/changelogs/api/2023.04.18.15.27.15.md
  documentation/changelogs/api/2023.04.19.00.01.39.md
  documentation/changelogs/api/2023.04.23.23.22.14.md
  documentation/changelogs/api/2023.04.27.07.29.23.md
  documentation/changelogs/api/2023.05.02.21.26.28.md
  documentation/changelogs/catalog/2023.04.27.02.43.13.md
  documentation/changelogs/frontend/2023.04.23.23.07.51.md
  documentation/changelogs/frontend/2023.05.02.19.17.32.md
  documentation/changelogs/ingestion_server/2023.05.03.22.29.52.md
  templates/release-drafter.yml.jinja
Labels: 🟨 priority: medium, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: mgmt, 🧱 stack: documentation

#2045 Add provider & new stack labels to label sync, remove catalog repo from github config
  automations/data/github.yml
  automations/data/labels.yml
Labels: 🟩 priority: low, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#2051 Update consistent python test module naming pattern
  api/test/test_audio_integration.py
  api/test/test_auth.py
  api/test/test_backwards_compat.py
  api/test/test_dead_link_filter.py
  api/test/test_examples.py
  api/test/test_image_integration.py
  api/test/test_v1_integration.py
  api/test/unit/configuration/test_link_validation_cache.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/management/commands/test_generatewaveforms.py
  api/test/unit/models/test_audio.py
  api/test/unit/models/test_media_report.py
  api/test/unit/serializers/test_audio_serializers.py
  api/test/unit/serializers/test_media_serializers.py
  api/test/unit/utils/test_attribution.py
  api/test/unit/utils/test_check_dead_links.py
  api/test/unit/utils/test_drf_renderer.py
  api/test/unit/utils/test_photon.py
  api/test/unit/utils/test_tallies.py
  api/test/unit/utils/test_throttle.py
  api/test/unit/utils/test_watermark.py
  api/test/unit/utils/test_waveform.py
  api/test/unit/views/test_health_views.py
  api/test/unit/views/test_image_views.py
  api/test/unit/views/test_media_views.py
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: catalog

#2054 Add a dev container supporting docs and frontend
  .devcontainer/devcontainer.json
  .devcontainer/post_create.sh
  .github/CODEOWNERS
  .github/filters.yml
  .gitignore
  .pre-commit-config.yaml
Labels: 🟨 priority: medium, 🌟 goal: addition, 🤖 aspect: dx, 🧱 stack: mgmt

#2053 Remove mermaid diagram in API jobs
  documentation/meta/ci_cd/jobs/api.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: documentation

#1983 Narrow filters for emitting new docs
  .github/filters.yml
  .github/workflows/ci_cd.yml
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#2049 Fix i18n setup in the unit tests
  frontend/src/components/VFilters/VSearchGridFilter.vue
  frontend/src/composables/use-analytics.ts
  frontend/src/composables/use-get-locale-formatted-number.ts
  frontend/src/constants/filters.ts
  frontend/test/unit/setup-after-env.js
  frontend/test/unit/setup.js
  frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
  frontend/test/unit/specs/components/AudioTrack/v-box-layout.spec.js
  frontend/test/unit/specs/components/AudioTrack/v-full-layout.spec.js
  frontend/test/unit/specs/components/AudioTrack/waveform.spec.js
  frontend/test/unit/specs/components/ExternalSources/v-external-source-list.spec.js
  frontend/test/unit/specs/components/ImageDetails/v-copy-license.spec.js
  frontend/test/unit/specs/components/ImageDetails/v-image-details-page.spec.js
  frontend/test/unit/specs/components/InputField/input-field.spec.js
  frontend/test/unit/specs/components/VAudioDetails/v-audio-details.spec.js
  frontend/test/unit/specs/components/VHeader/SearchBar/search-bar.spec.js
  frontend/test/unit/specs/components/scroll-button.spec.js
  frontend/test/unit/specs/components/v-back-to-search-results-link.spec.js
  frontend/test/unit/specs/components/v-button.spec.js
  frontend/test/unit/specs/components/v-checkbox.spec.js
  frontend/test/unit/specs/components/v-content-link.spec.js
  frontend/test/unit/specs/components/v-content-report-form.spec.js
  frontend/test/unit/specs/components/v-copy-button.spec.js
  frontend/test/unit/specs/components/v-filter-checklist.spec.js
  frontend/test/unit/specs/components/v-item-group.spec.js
  frontend/test/unit/specs/components/v-license.spec.js
  frontend/test/unit/specs/components/v-link.spec.js
  frontend/test/unit/specs/components/v-logo-loader.spec.js
  frontend/test/unit/specs/components/v-modal.spec.js
  frontend/test/unit/specs/components/v-popover.spec.js
  frontend/test/unit/specs/components/v-related-audios.spec.js
  frontend/test/unit/specs/components/v-related-images.spec.js
  frontend/test/unit/specs/components/v-search-grid-filter.spec.js
  frontend/test/unit/specs/components/v-search-results-title.spec.js
  frontend/test/unit/specs/components/v-sources-table.spec.js
  frontend/test/unit/specs/components/v-tabs.spec.js
  frontend/test/unit/specs/composables/use-get-locale-formatted-number.spec.js
  frontend/test/unit/specs/composables/use-window-scroll.spec.js
  frontend/test/unit/test-utils/i18n.js
  frontend/test/unit/test-utils/render.js
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2046 Determine labels for checks using labels.yml, factor out common workflow utils
  .github/workflows/ci_cd.yml
  .github/workflows/pr_label_check.yml
  automations/python/shared/actions.py
  automations/python/shared/labels.py
  automations/python/sync_labels.py
  automations/python/workflows/generate_report.py
  automations/python/workflows/get_label_groups.py
  automations/python/workflows/set_matrix_images.py
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#1907 Add Airflow variable for turning off provider DAG catchup
  catalog/dags/providers/provider_dag_factory.py
  catalog/env.template
  catalog/tests/dags/providers/test_provider_dag_factory.py
  catalog/tests/utilities/dag_doc_gen/test_dag_doc_generation.py
  catalog/utilities/dag_doc_gen/dag_doc_generation.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#1896 Add checks for required parameters to Provider scripts (A-J)
  catalog/dags/providers/provider_api_scripts/brooklyn_museum.py
  catalog/dags/providers/provider_api_scripts/cleveland_museum.py
  catalog/dags/providers/provider_api_scripts/finnish_museums.py
  catalog/dags/providers/provider_api_scripts/flickr.py
  catalog/dags/providers/provider_api_scripts/freesound.py
  catalog/dags/providers/provider_api_scripts/jamendo.py
  catalog/tests/dags/providers/provider_api_scripts/test_brooklyn_museum.py
  catalog/tests/dags/providers/provider_api_scripts/test_cleveland_museum.py
  catalog/tests/dags/providers/provider_api_scripts/test_finnish_museums.py
  catalog/tests/dags/providers/provider_api_scripts/test_flickr.py
  catalog/tests/dags/providers/provider_api_scripts/test_jamendo.py
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog

#1897 Add checks for required parameters to Provider scripts (S-Z)
  catalog/dags/providers/provider_api_scripts/science_museum.py
  catalog/dags/providers/provider_api_scripts/smithsonian.py
  catalog/dags/providers/provider_api_scripts/smk.py
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
  catalog/dags/providers/provider_api_scripts/wordpress.py
  catalog/tests/dags/providers/provider_api_scripts/resources/smk/expected_image_data_hq.json
  catalog/tests/dags/providers/provider_api_scripts/resources/smk/expected_image_data_legacy.json
  catalog/tests/dags/providers/provider_api_scripts/resources/smk/image_data_hq.json
  catalog/tests/dags/providers/provider_api_scripts/resources/smk/image_data_legacy.json
  catalog/tests/dags/providers/provider_api_scripts/test_science_museum.py
  catalog/tests/dags/providers/provider_api_scripts/test_smithsonian.py
  catalog/tests/dags/providers/provider_api_scripts/test_smk.py
  catalog/tests/dags/providers/provider_api_scripts/test_wikimedia_commons.py
  catalog/tests/dags/providers/provider_api_scripts/test_wordpress.py
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog

#1889 Handle more than one value for a url query parameter
  frontend/src/stores/search.ts
  frontend/src/utils/search-query-transform.ts
  frontend/test/unit/specs/stores/search-store.spec.js
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2048 Use additional build contexts to build frontend Docker image
  .dockerignore
  .github/workflows/ci_cd.yml
  api/Dockerfile
  automations/python/workflows/set_matrix_images.py
  catalog/Dockerfile
  docker/upstream_db/Dockerfile
  documentation/general/general_setup.md
  frontend/Dockerfile
  frontend/Dockerfile.playwright
  frontend/justfile
  ingestion_server/Dockerfile
  utilities/load_testing/Dockerfile
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend, 🧱 stack: catalog, 🧱 stack: mgmt, skip-changelog, 🧱 stack: documentation

#2025 Always build but only conditionally emit docs
  .github/workflows/ci_cd.yml
  automations/python/workflows/set_matrix_images.py
  documentation/justfile
  documentation/meta/ci_cd/actions.md
  documentation/meta/ci_cd/artifacts.md
  documentation/meta/ci_cd/flow.md
  documentation/meta/ci_cd/index.md
  documentation/meta/ci_cd/jobs/api.md
  documentation/meta/ci_cd/jobs/deployment.md
  documentation/meta/ci_cd/jobs/docker.md
  documentation/meta/ci_cd/jobs/docker_publishing.md
  documentation/meta/ci_cd/jobs/documentation.md
  documentation/meta/ci_cd/jobs/frontend.md
  documentation/meta/ci_cd/jobs/index.md
  documentation/meta/ci_cd/jobs/ingestion_server.md
  documentation/meta/ci_cd/jobs/notification.md
  documentation/meta/ci_cd/proof_of_functionality.md
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt, 🧱 stack: documentation

#2061 Add throttle classess for health check endpoint
  api/api/utils/throttle.py
  api/api/views/health_views.py
  api/conf/settings/rest_framework.py
Labels: 🟧 priority: high, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: api

#2066 Add project authors, auto-link GitHub usernames
  documentation/_ext/link_usernames.py
  documentation/conf.py
  documentation/meta/documentation/extensions.md
  documentation/meta/documentation/index.md
  documentation/projects/proposals/3d_model_support/20220221-project_proposal.md
  documentation/projects/proposals/analytics/20221006-implementation_plan_frontend.md
  documentation/projects/proposals/analytics/20230307-backend_service.md
  documentation/projects/proposals/core_user_interface_improvement/20230314-project_proposal_core_ui_improvement.md
  documentation/projects/proposals/document_all_media_properties/20230307-project_proposal.md
  documentation/projects/proposals/feature_flags/20220309-project_proposal.md
  documentation/projects/proposals/frontend_ui_state_cookie/20220218-project_proposal.md
  documentation/projects/proposals/monitoring/20220307-project_proposal.md
  documentation/projects/proposals/monorepo/20221124-project_proposal.md
  documentation/projects/proposals/popularity_optimizations/20230406-project_proposal_popularity_optimizations.md
  documentation/projects/proposals/search_relevancy_sandbox/20230331-project_proposal_search_relevancy_sandbox.md
  documentation/projects/proposals/search_relevancy_sandbox/20230406-implementation_plan_update_staging_database.md
  documentation/projects/proposals/trust_and_safety/content_report_moderation/20230411-project_proposal_content_report_moderation.md
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20230309-implementation_plan_sensitive_terms_list.md
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20230309-project_proposal_detecting_sensitive_textual_content.md
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20230330-implementation_plan_filtering_and_designating_results_with_sensitive_textual_content.md
  documentation/projects/proposals/visual_regression_testing/20220217-implementation_plan.md
  documentation/projects/proposals/vuex_to_pina_conversion/20220223-project_proposal.md
  documentation/projects/templates/implementation-plan.md
  documentation/projects/templates/project-proposal.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: documentation

#2069 Remove unused and empty settings file
  api/catalog/settings.py
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#2027 Calculate PR urgency based on ready for review time
  catalog/dags/common/github.py
  catalog/dags/maintenance/pr_review_reminders/pr_review_reminders.py
  catalog/tests/dags/maintenance/test_pr_review_reminders.py
  catalog/tests/factories/github/__init__.py
  catalog/tests/factories/github/events/convert_to_draft.json
  catalog/tests/factories/github/events/labeled.json
  catalog/tests/factories/github/events/ready_for_review.json
  catalog/tests/factories/github/events/review_requested.json
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#2065 Always run `clean` before `build` for the documentation
  documentation/justfile
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: documentation

#2064 Add custom 404 page in documentation
  documentation/404.md
  documentation/conf.py
Labels: 🟧 priority: high, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: documentation

#1890 Project Proposal: Additional search views
  documentation/projects/proposals/additional_search_views/20230424-project_proposal_additional_search_views.md
  documentation/projects/proposals/additional_search_views/index.md
Labels: 🟧 priority: high, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: frontend, 🧱 stack: documentation, 🧭 project: proposal

#1894 Implementation Plan: Decoupling Popularity Calculations from Data Refresh
  documentation/projects/proposals/popularity_optimizations/20230420-implementation_plan_popularity_optimizations.md
Labels: 🟨 priority: medium, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: ingestion server, 🧱 stack: catalog, 🧱 stack: documentation, 🧭 project: implementation plan

#2075 Re-add accidentally removed CORS middleware
  api/conf/settings/base.py
  api/conf/settings/logging.py
  api/conf/settings/oauth2.py
  api/conf/settings/openverse.py
  api/conf/settings/rest_framework.py
  api/conf/settings/s3.py
  api/conf/settings/security.py
  api/conf/settings/spectacular.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#2081 Paginate GitHub events query for PR reminders
  catalog/dags/common/github.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#2082 Add the data & python automation folders as sync for the infra repo
  .github/sync.yml
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#1979 Use contentlist role for search results for a11y
  frontend/src/components/VAudioDetails/VRelatedAudio.vue
  frontend/src/components/VHeader/VLogoButton.vue
  frontend/src/components/VImageDetails/VRelatedImages.vue
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/components/VSearchResultsGrid/VImageCell.vue
  frontend/src/components/VSearchResultsGrid/VImageGrid.vue
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/search/audio.vue
  frontend/src/pages/search/image.vue
  frontend/src/types/media.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-page-rtl-lg-linux.png
  frontend/test/unit/specs/components/v-image-grid.spec.js
Labels: 🟨 priority: medium, ✨ goal: improvement, ♿️ aspect: a11y, 🧱 stack: frontend

#2085 Fix issues with label automations, update issue templates
  .github/ISSUE_TEMPLATE/airflow_alert.md
  .github/ISSUE_TEMPLATE/image_provider_api_integration_request.yml
  .github/ISSUE_TEMPLATE/new_source_suggestion.yml
  .github/ISSUE_TEMPLATE/project_thread.md
  automations/python/print_labels.py
  automations/python/shared/labels.py
  automations/python/sync_labels.py
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#2072 Improve error handling and pipe flow for `just ps`
  justfile
  utilities/ps.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#2084 Spacing improvements in All content's <header> area
  frontend/src/components/VSearchGrid.vue
  frontend/src/components/VSearchResultsTitle.vue
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-page-rtl-lg-linux.png
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend, 🧱 stack: documentation

#2103 Update Load more button
  frontend/src/components/VLoadMore.vue
  frontend/src/components/meta/CustomButtonComponents.stories.mdx
  frontend/src/components/meta/VBackToSearchResultsLink.stories.mdx
  frontend/src/types/button.ts
  frontend/tailwind.config.js
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-focused-hovered-sm-linux.png
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-focused-hovered-xl-linux.png
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-focused-sm-linux.png
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-focused-xl-linux.png
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-hovered-sm-linux.png
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-hovered-xl-linux.png
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-resting-sm-linux.png
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-resting-xl-linux.png
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend, 🧱 stack: documentation

#2080 Add a run name to staging deployment workflows
  .github/workflows/ci_cd.yml
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#2086 Check the file type of the thumbnail before passing it to Photon
  api/api/utils/photon.py
  api/api/views/audio_views.py
  api/api/views/image_views.py
  api/api/views/media_views.py
  api/conf/settings/thumbnails.py
  api/test/unit/utils/test_photon.py
  api/test/unit/views/test_image_views.py
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api

#2115 Add a simple script for getting a sanitized commit message
  .github/workflows/ci_cd.yml
  automations/python/workflows/get_commit_message.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#2112 Fix release contributions by removing explicit author link creation
  .github/release-drafter-api.yml
  .github/release-drafter-catalog.yml
  .github/release-drafter-frontend.yml
  .github/release-drafter-ingestion_server.yml
  documentation/_ext/link_usernames.py
  documentation/changelogs/api/2023.04.12.23.29.59.md
  documentation/changelogs/api/2023.04.18.15.27.15.md
  documentation/changelogs/api/2023.04.19.00.01.39.md
  documentation/changelogs/api/2023.04.23.23.22.14.md
  documentation/changelogs/api/2023.04.27.07.29.23.md
  documentation/changelogs/api/2023.05.02.21.26.28.md
  documentation/changelogs/api/2023.05.15.21.51.49.md
  documentation/changelogs/catalog/2023.04.27.02.43.13.md
  documentation/changelogs/frontend/2023.04.23.23.07.51.md
  documentation/changelogs/frontend/2023.05.02.19.17.32.md
  documentation/changelogs/frontend/2023.05.15.22.13.27.md
  documentation/changelogs/ingestion_server/2023.05.03.22.29.52.md
  templates/release-drafter.yml.jinja
Labels: 🟩 priority: low, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt, 🧱 stack: documentation

#2077 Add `role="dialog"` to popover
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/components/VContentReport/VContentReportPopover.vue
  frontend/src/components/VContentSwitcher/VSearchTypePopover.vue
  frontend/src/components/VFilters/VFilterChecklist.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VPopover/VPopover.vue
  frontend/src/components/VPopover/VPopoverContent.vue
  frontend/src/composables/use-popover-content.ts
  frontend/src/composables/use-popper.ts
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-focused-linux.png
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-focused-md-linux.png
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-unfocused-linux.png
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-unfocused-md-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-xl-linux.png
  frontend/test/unit/specs/components/v-popover.spec.js
Labels: 🟥 priority: critical, ✨ goal: improvement, ♿️ aspect: a11y, 🧱 stack: frontend

#2119 Fix renovate GitHub actions version number
  .github/workflows/renovate.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#1891 Replace `media_url` with `url` in provider scripts
  catalog/dags/common/storage/audio.py
  catalog/dags/common/storage/image.py
  catalog/dags/common/storage/media.py
  catalog/dags/common/tsv_cleaner.py
  catalog/dags/providers/provider_api_scripts/brooklyn_museum.py
  catalog/dags/providers/provider_api_scripts/cleveland_museum.py
  catalog/dags/providers/provider_api_scripts/europeana.py
  catalog/dags/providers/provider_api_scripts/finnish_museums.py
  catalog/dags/providers/provider_api_scripts/flickr.py
  catalog/dags/providers/provider_api_scripts/freesound.py
  catalog/dags/providers/provider_api_scripts/jamendo.py
  catalog/dags/providers/provider_api_scripts/metropolitan_museum.py
  catalog/dags/providers/provider_api_scripts/museum_victoria.py
  catalog/dags/providers/provider_api_scripts/nappy.py
  catalog/dags/providers/provider_api_scripts/nypl.py
  catalog/dags/providers/provider_api_scripts/phylopic.py
  catalog/dags/providers/provider_api_scripts/rawpixel.py
  catalog/dags/providers/provider_api_scripts/science_museum.py
  catalog/dags/providers/provider_api_scripts/smithsonian.py
  catalog/dags/providers/provider_api_scripts/smk.py
  catalog/dags/providers/provider_api_scripts/stocksnap.py
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
  catalog/dags/providers/provider_api_scripts/wordpress.py
  catalog/docs/data_models.md
  catalog/templates/template_provider.py_template
  catalog/tests/dags/common/storage/test_audio.py
  catalog/tests/dags/common/storage/test_image.py
  catalog/tests/dags/common/storage/test_media.py
  catalog/tests/dags/common/test_tsv_cleaner.py
  catalog/tests/dags/providers/provider_api_scripts/resources/inaturalist/full_db_response.txt
  catalog/tests/dags/providers/provider_api_scripts/resources/metropolitan_museum_of_art/sample_additional_image_data.json
  catalog/tests/dags/providers/provider_api_scripts/resources/metropolitan_museum_of_art/sample_image_data.json
  catalog/tests/dags/providers/provider_api_scripts/resources/provider_data_ingester/complete_response.json
  catalog/tests/dags/providers/provider_api_scripts/resources/provider_data_ingester/mock_provider_data_ingester.py
  catalog/tests/dags/providers/provider_api_scripts/resources/smk/expected_image_data_hq.json
  catalog/tests/dags/providers/provider_api_scripts/resources/smk/expected_image_data_legacy.json
  catalog/tests/dags/providers/provider_api_scripts/test_brooklyn_museum.py
  catalog/tests/dags/providers/provider_api_scripts/test_europeana.py
  catalog/tests/dags/providers/provider_api_scripts/test_finnish_museums.py
  catalog/tests/dags/providers/provider_api_scripts/test_flickr.py
  catalog/tests/dags/providers/provider_api_scripts/test_freesound.py
  catalog/tests/dags/providers/provider_api_scripts/test_inaturalist.py
  catalog/tests/dags/providers/provider_api_scripts/test_jamendo.py
  catalog/tests/dags/providers/provider_api_scripts/test_metropolitan_museum.py
  catalog/tests/dags/providers/provider_api_scripts/test_museum_victoria.py
  catalog/tests/dags/providers/provider_api_scripts/test_nappy.py
  catalog/tests/dags/providers/provider_api_scripts/test_nypl.py
  catalog/tests/dags/providers/provider_api_scripts/test_phylopic.py
  catalog/tests/dags/providers/provider_api_scripts/test_rawpixel.py
  catalog/tests/dags/providers/provider_api_scripts/test_science_museum.py
  catalog/tests/dags/providers/provider_api_scripts/test_smithsonian.py
  catalog/tests/dags/providers/provider_api_scripts/test_smk.py
  catalog/tests/dags/providers/provider_api_scripts/test_stocksnap.py
  catalog/tests/dags/providers/provider_api_scripts/test_wikimedia_commons.py
  catalog/tests/dags/providers/provider_api_scripts/test_wordpress.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#1904 Implementation Plan: Documenting Media properties in the catalog
  documentation/projects/proposals/document_all_media_properties/20230426-implementation_plan_documenting_media_properties.md
  documentation/projects/proposals/document_all_media_properties/index.md
  documentation/projects/proposals/document_all_media_properties/samples/index.md
  documentation/projects/proposals/document_all_media_properties/samples/openverse_media_properties.md
  documentation/projects/proposals/document_all_media_properties/samples/sample_media_properties.md
  documentation/projects/proposals/document_all_media_properties/samples/sample_postamble.md
  documentation/projects/proposals/document_all_media_properties/samples/sample_preamble.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: catalog, 🧱 stack: documentation, 🧭 project: implementation plan

#1920 Add media type context to start of result link titles
  frontend/docker-compose.playwright.yml
  frontend/package.json
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VContentLink/VContentLink.vue
  frontend/src/components/VSearchResultsGrid/VImageCell.vue
  frontend/src/locales/scripts/en.json5
  frontend/test/playwright/e2e/all-results-keyboard.spec.ts
  frontend/test/playwright/playwright.config.ts
Labels: 🟧 priority: high, ✨ goal: improvement, ♿️ aspect: a11y, 🧱 stack: frontend

#2122 Remove old button variants and storybook snapshots
  frontend/src/components/VButton.vue
  frontend/src/components/meta/VButtonOld.stories.mdx
  frontend/src/types/button.ts
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-bordered-disabled-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-bordered-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-bordered-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-bordered-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-bordered-resting-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-disabled-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-muted-disabled-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-muted-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-muted-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-muted-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-muted-resting-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-resting-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/full-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/full-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/full-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/full-resting-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/menu-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/menu-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/menu-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/menu-resting-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/primary-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/primary-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/primary-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/primary-resting-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/secondary-filled-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/secondary-filled-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/secondary-filled-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/secondary-filled-resting-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/secondary-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/secondary-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/secondary-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/secondary-resting-linux.png
Labels: 🟧 priority: high, 🕹 aspect: interface, 🧰 goal: internal improvement, 🧱 stack: frontend

#2102 Updated content link
  frontend/src/components/VContentLink/VContentLink.vue
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/composables/use-i18n-utilities.ts
  frontend/src/locales/scripts/en.json5
  frontend/test/playwright/e2e/load-more.spec.ts
  frontend/test/playwright/e2e/search-navigation.spec.ts
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-page-rtl-lg-linux.png
  frontend/test/unit/specs/components/v-content-link.spec.js
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend

#2127 Add analytics toggle to the privacy page
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/preferences.vue
  frontend/src/pages/privacy.vue
  frontend/src/stores/feature-flag.ts
  frontend/test/locales/ar.json
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-xs-linux.png
Labels: 🟨 priority: medium, 🌟 goal: addition, 🕹 aspect: interface, 🧱 stack: frontend

#2114 Update External link buttons on No results page
  frontend/src/components/VErrorSection/VNoResults.vue
  frontend/src/types/button.ts
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-xs-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-xs-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-xs-linux.png
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/secondary-bordered-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/secondary-bordered-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/secondary-bordered-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/secondary-bordered-resting-linux.png
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend

#2131 Add full-stops to browse-page strings
  frontend/src/locales/scripts/en.json5
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: frontend

#2104 Remove the default `medium-old` size from buttons
  frontend/src/components/VButton.vue
  frontend/src/components/VFilters/VSearchGridFilter.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VIconButton/VIconButton.vue
  frontend/src/components/VRecentSearches/VRecentSearches.vue
  frontend/src/components/VSkipToContentContainer.vue
  frontend/src/components/meta/VButtonOld.stories.mdx
  frontend/src/types/button.ts
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-checked-ltr-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-checked-rtl-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/dropdown-label-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/dropdown-label-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/dropdown-label-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/dropdown-label-resting-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/plain--avoid-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/plain--avoid-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/plain--avoid-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/plain--avoid-resting-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/plain-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/plain-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/plain-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/plain-resting-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/text-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/text-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/text-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/text-resting-linux.png
  frontend/test/unit/specs/components/v-button.spec.js
  frontend/test/unit/specs/components/v-modal.spec.js
  frontend/test/unit/specs/components/v-popover.spec.js
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend, 🧱 stack: mgmt, 🧱 stack: documentation

#2117 Update banner spacing and add rounded corners
  frontend/src/components/VBanner/VBanners.vue
  frontend/src/components/VBanner/VNotificationBanner.vue
  frontend/src/layouts/content-layout.vue
Labels: 🟧 priority: high, ✨ goal: improvement, 🖼️ aspect: design, 🧱 stack: frontend

#2098 Calculate standardized popularity during ingestion load_data
  catalog/dags/common/loader/sql.py
  catalog/dags/common/popularity/constants.py
  catalog/dags/common/popularity/sql.py
  catalog/dags/common/storage/columns.py
  catalog/dags/common/storage/db_columns.py
  catalog/tests/dags/common/loader/test_sql.py
  catalog/tests/dags/common/popularity/test_sql.py
  catalog/tests/dags/common/storage/test_columns.py
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: catalog

#2143 Add safe check for Content-Type in photon
  api/api/utils/photon.py
  api/test/unit/utils/test_photon.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🐛 tooling: sentry, 🧱 stack: api

#2146 Make thumbnail alerts after threshold binned by configurable amount
  api/api/utils/photon.py
  api/conf/settings/thumbnails.py
  api/test/unit/utils/test_photon.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#2134 Add aliases and shortcuts for common "up" recipes
  justfile
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#2156 Apply triage labels when no stack filter matches
  .github/workflows/ci_cd.yml
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#2174 Make analytics switchable in production
  frontend/feat/feature-flags.json
Labels: 🟧 priority: high, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#2123 Add ON_ERROR_STOP option for psql operations in upstream_db
  docker/upstream_db/Dockerfile
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: ingestion server, 🧱 stack: catalog

#2178 Remove outdated docs section on release drafter workflow sync
  .github/GITHUB.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: mgmt, 🧱 stack: documentation

#2099 Staging database restore DAG: base restore
  catalog/DAGs.md
  catalog/dags/common/constants.py
  catalog/dags/database/staging_database_restore/constants.py
  catalog/dags/database/staging_database_restore/staging_database_restore.py
  catalog/dags/database/staging_database_restore/staging_database_restore_dag.py
  catalog/dags/database/staging_database_restore/utils.py
  catalog/dags/providers/provider_api_scripts/inaturalist.py
  catalog/dags/providers/provider_dag_factory.py
  catalog/tests/dags/common/loader/test_s3.py
  catalog/tests/dags/database/staging_database_restore/data.py
  catalog/tests/dags/database/staging_database_restore/test_staging_database_restore.py
  catalog/tests/dags/database/staging_database_restore/test_utils.py
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: catalog

#2106 Skip the create filtered index steps that expect an index to already exist
  catalog/dags/common/ingestion_server.py
  catalog/dags/data_refresh/create_filtered_index_dag.py
  catalog/tests/dags/common/test_ingestion_server.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#2177 Use the latest docker image for actionlint
  .github/workflows/actionlint.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#2132 Update banner to match new designs and add analytics notification
  frontend/feat/feature-flags.json
  frontend/src/assets/svg/raw/error.svg
  frontend/src/assets/svg/raw/info.svg
  frontend/src/assets/svg/raw/success.svg
  frontend/src/assets/svg/raw/warning.svg
  frontend/src/components/VBanner/VAnalyticsNotice.vue
  frontend/src/components/VBanner/VBanners.vue
  frontend/src/components/VBanner/VMigrationNotice.vue
  frontend/src/components/VBanner/VNotificationBanner.vue
  frontend/src/components/VBanner/VTranslationStatusBanner.vue
  frontend/src/components/VBanner/meta/VNotificationBanner.stories.mdx
  frontend/src/components/VCloseButton.vue
  frontend/src/locales/scripts/en.json5
  frontend/src/stores/ui.ts
  frontend/src/types/banners.ts
  frontend/tailwind.config.js
  frontend/test/playwright/utils/navigation.ts
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-xs-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-lg-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-md-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-sm-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-xl-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-xs-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-error-dark-sm-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-error-dark-xl-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-error-regular-sm-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-error-regular-xl-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-info-dark-sm-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-info-dark-xl-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-info-regular-sm-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-info-regular-xl-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-success-dark-sm-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-success-dark-xl-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-success-regular-sm-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-success-regular-xl-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-warning-dark-sm-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-warning-dark-xl-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-warning-regular-sm-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-warning-regular-xl-linux.png
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: documentation

#2073 Add `internal__index` param, walled behind auth
  api/api/controllers/search_controller.py
  api/api/serializers/audio_serializers.py
  api/api/serializers/image_serializers.py
  api/api/serializers/media_serializers.py
  api/api/views/media_views.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/serializers/test_media_serializers.py
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: api

#2118 Implementation plan: Blurring sensitive content in the frontend
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20230506-implementation_plan_frontend_blurring_sensitive.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation, 🧭 project: implementation plan

#2180 Include `env` as a dependency for `up` just recipe
  justfile
Labels: 🟧 priority: high, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#2179 Fix just alias for frontend
  justfile
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#2188 Wrap the RecentSearches in ClientOnly
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2120 Analytics event: `SUBMIT_SEARCH`
  frontend/src/components/VFourOhFour.vue
  frontend/src/components/VHeader/VHeaderDesktop.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/composables/use-search.ts
  frontend/src/pages/index.vue
  frontend/src/types/analytics.ts
  frontend/test/unit/specs/components/VHeader/v-header-desktop.spec.js
  frontend/test/unit/specs/components/VHeader/v-header-mobile.spec.js
  frontend/test/unit/specs/components/four-oh-four.spec.js
  frontend/test/unit/specs/pages/index-page.spec.js
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend

#2149 Update text button styles
  frontend/src/components/VBanner/VAnalyticsNotice.vue
  frontend/src/components/VBanner/VNotificationBanner.vue
  frontend/src/components/VButton.vue
  frontend/src/components/VCloseButton.vue
  frontend/src/components/VExternalSearch/VExternalSourceList.vue
  frontend/src/components/VFilters/VSearchGridFilter.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VHeader/VLogoButton.vue
  frontend/src/components/VHeader/VSearchBar/VSearchButton.vue
  frontend/src/components/VIconButton/VIconButton.vue
  frontend/src/components/VItemGroup/VItem.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/components/VRecentSearches/VRecentSearches.vue
  frontend/src/types/button.ts
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-checked-ltr-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-checked-rtl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-xs-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-xs-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/text-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/text-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/text-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/text-resting-linux.png
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend

#2158 Fix various issues that existed in the rotate_db_snapshots DAG
  catalog/DAGs.md
  catalog/dags/common/constants.py
  catalog/dags/database/staging_database_restore/constants.py
  catalog/dags/database/staging_database_restore/staging_database_restore.py
  catalog/dags/database/staging_database_restore/staging_database_restore_dag.py
  catalog/dags/database/staging_database_restore/utils.py
  catalog/dags/maintenance/rotate_db_snapshots.py
  catalog/tests/dags/maintenance/test_rotate_db_snapshots.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#2163 Decode cached file type for thumbnails
  api/api/utils/photon.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#2194 Remove focused playwright test so all tests run; fix broken tests
  frontend/test/playwright/e2e/all-results-keyboard.spec.ts
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2185 Fix 404 rendering with relative CSS references
  documentation/404.md
  documentation/Pipfile
  documentation/Pipfile.lock
  documentation/conf.py
Labels: 🟧 priority: high, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: documentation

#2190 Validate `name` field to replace `IntegrityError`s with 400 response
  api/api/serializers/oauth2_serializers.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#2137 Remove old button variants
  frontend/src/components/VButton.vue
  frontend/src/components/VFilters/VFilterChecklist.vue
  frontend/src/components/meta/VButton.stories.mdx
  frontend/src/components/meta/VButtonOld.stories.mdx
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-checked-ltr-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-checked-rtl-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-ltr-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-rtl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-page-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-lg-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-xl-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/dropdown-label-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/dropdown-label-resting-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/plain--avoid-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/plain--avoid-resting-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/plain-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/plain-resting-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/dropdown-label-focused-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/dropdown-label-focused-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/dropdown-label-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/dropdown-label-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/dropdown-label-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/dropdown-label-resting-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain--avoid-focused-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain--avoid-focused-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain--avoid-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain--avoid-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain--avoid-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain--avoid-resting-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain-focused-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain-focused-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain-resting-linux.png
Labels: 🟨 priority: medium, 🕹 aspect: interface, 🧰 goal: internal improvement, 🧱 stack: frontend

#2148 Update the search button
  frontend/src/components/VButton.vue
  frontend/src/components/VHeader/VSearchBar/VSearchBar.vue
  frontend/src/components/VHeader/VSearchBar/VSearchButton.vue
  frontend/src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
  frontend/src/components/VInputField/VInputField.vue
  frontend/test/unit/specs/components/InputField/input-field.spec.js
  frontend/test/unit/specs/components/VHeader/SearchBar/search-bar.spec.js
Labels: 🟧 priority: high, 🕹 aspect: interface, 🧰 goal: internal improvement, 🧱 stack: frontend

#2183 Update references to moved documentation pages
  .github/PULL_REQUEST_TEMPLATE/project_proposal.md
  documentation/general/deployment.md
  documentation/meta/decision_making/additional_practices.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: mgmt, 🧱 stack: documentation

#2189 Fix the image cell markup
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VLink.vue
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/components/VSearchResultsGrid/VAudioCell.vue
  frontend/src/components/VSearchResultsGrid/VImageCell.vue
  frontend/src/components/VSearchResultsGrid/VImageGrid.vue
  frontend/src/pages/search/audio.vue
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2141 Make additional search types flag clearer and add external sources for additional types
  frontend/feat/feature-flags.json
  frontend/src/components/VContentSwitcher/meta/VSearchTypeButton.stories.mdx
  frontend/src/components/VContentSwitcher/meta/VSearchTypePopover.stories.mdx
  frontend/src/components/VContentSwitcher/meta/VSearchTypes.stories.mdx
  frontend/src/components/VSearchGrid.vue
  frontend/src/composables/use-search-type.ts
  frontend/src/stores/search.ts
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts
  frontend/test/unit/specs/stores/search-store.spec.js
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#2135 Replace `nuxtjs/svg` with `nuxtjs/svg-sprite`
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/src/assets/svg/raw/images/brand.svg
  frontend/src/assets/svg/raw/images/logo.svg
  frontend/src/assets/svg/raw/images/logo_and_wordmark.svg
  frontend/src/assets/svg/raw/images/oops.svg
  frontend/src/assets/svg/raw/images/openverse-logo-text.svg
  frontend/src/assets/svg/raw/images/radiomark.svg
  frontend/src/assets/svg/raw/images/wordpress.svg
  frontend/src/components/VBrand/VBrand.vue
  frontend/src/components/VFourOhFour.vue
  frontend/src/components/VHeader/VHomeLink.vue
  frontend/src/components/VHeader/VWordPressLink.vue
  frontend/src/components/VRadio/VRadio.vue
  frontend/src/components/VSvg/VSvg.vue
  frontend/src/components/VSvg/meta/VSvg.stories.mdx
  frontend/tsconfig.json
  pnpm-lock.yaml
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: documentation

#2204 Fix banner close button hover state
  frontend/src/components/VBanner/VNotificationBanner.vue
  frontend/src/components/VCloseButton.vue
  frontend/src/components/VIconButton/VIconButton.vue
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-lg-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-md-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-sm-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-xl-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-xs-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-error-dark-sm-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-error-dark-xl-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-error-regular-xl-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-info-dark-sm-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-info-dark-xl-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-info-regular-xl-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-success-dark-sm-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-success-dark-xl-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-success-regular-xl-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-warning-dark-sm-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-warning-dark-xl-linux.png
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts-snapshots/notificationbanner-warning-regular-xl-linux.png
Labels: 🟧 priority: high, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#2206 Add documentation for add-stack-label and lint steps of CI prep
  documentation/meta/ci_cd/flow.md
  documentation/meta/ci_cd/jobs/preparation.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: documentation

#2006 Drop and recreate matview in data refresh
  catalog/dags/common/popularity/sql.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/recreate_view_data_task_factory.py
  catalog/dags/data_refresh/refresh_view_data_task_factory.py
  catalog/tests/dags/data_refresh/test_dag_factory.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#2100 Update Locales json files with camelCase keys and interpolated strings
  frontend/src/assets/error_images/image_info.json
  frontend/src/components/VAudioDetails/VAudioDetails.vue
  frontend/src/components/VAudioThumbnail/VAudioThumbnail.vue
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VAudioTrack/VGlobalAudioTrack.vue
  frontend/src/components/VAudioTrack/VPlayPause.vue
  frontend/src/components/VAudioTrack/layouts/VBoxLayout.vue
  frontend/src/components/VAudioTrack/layouts/VFullLayout.vue
  frontend/src/components/VAudioTrack/layouts/VRowLayout.vue
  frontend/src/components/VBackToSearchResultsLink.vue
  frontend/src/components/VBanner/VMigrationNotice.vue
  frontend/src/components/VBanner/VNotificationBanner.vue
  frontend/src/components/VErrorSection/VErrorImage.vue
  frontend/src/components/VErrorSection/VNoResults.vue
  frontend/src/components/VExternalSearch/VExternalSearchForm.vue
  frontend/src/components/VExternalSearch/VExternalSourceList.vue
  frontend/src/components/VFilters/VFilterChecklist.vue
  frontend/src/components/VFilters/VLicenseExplanation.vue
  frontend/src/components/VFilters/VSearchGridFilter.vue
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  frontend/src/components/VHeader/VFilterButton.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsButton.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VHeader/VHeaderMobile/VShowResultsButton.vue
  frontend/src/components/VHeader/VHomeLink.vue
  frontend/src/components/VHeader/VLogoButton.vue
  frontend/src/components/VHeader/VSearchBar/VSearchBar.vue
  frontend/src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
  frontend/src/components/VHeader/VWordPressLink.vue
  frontend/src/components/VLicense/VLicense.vue
  frontend/src/components/VRecentSearches/VRecentSearches.vue
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/components/VSketchFabViewer.vue
  frontend/src/components/VSkipToContentContainer.vue
  frontend/src/composables/use-pages.ts
  frontend/src/composables/use-seekable.ts
  frontend/src/constants/filters.ts
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/image/_id/report.vue
  frontend/src/pages/privacy.vue
  frontend/src/pages/search/audio.vue
  frontend/src/utils/license.ts
  frontend/test/locales/ar.json
  frontend/test/locales/es.json
  frontend/test/locales/ru.json
  frontend/test/playwright/e2e/filters-sidebar-keyboard.spec.ts
  frontend/test/playwright/e2e/global-audio.spec.ts
  frontend/test/playwright/e2e/header-internal.spec.ts
  frontend/test/playwright/e2e/image-detail.spec.ts
  frontend/test/playwright/e2e/migration-banner.spec.ts
  frontend/test/playwright/e2e/search-navigation.spec.ts
  frontend/test/playwright/utils/audio.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts
  frontend/test/unit/specs/components/v-filter-checklist.spec.js
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend

#2152 Initialize "Project thread update reminders" workflow for future development
  .github/workflows/project_thread_update_reminders.yml
  automations/js/src/project_thread_updates.js
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: mgmt
