Repository WordPress/openverse, pull requests merged in 2023-10, with the labels that each got.

#3073 Remove boto3 dependency
  api/Pipfile
  api/Pipfile.lock
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#2838 Show timeout errors on the frontend
  frontend/src/components/VErrorSection/VErrorSection.vue
  frontend/src/components/VErrorSection/meta/VErrorSection.stories.mdx
  frontend/src/components/VExternalSearch/VExternalSearchForm.vue
  frontend/src/components/VFooter/VFooter.vue
  frontend/src/components/VSearchResultsGrid/VAudioCollection.vue
  frontend/src/components/VSearchResultsGrid/VImageGrid.vue
  frontend/src/constants/errors.ts
  frontend/src/middleware/search.ts
  frontend/src/middleware/single-result.ts
  frontend/src/pages/audio/_id/index.vue
  frontend/src/pages/image/_id/index.vue
  frontend/src/pages/search.vue
  frontend/src/pages/search/audio.vue
  frontend/src/pages/search/image.vue
  frontend/src/stores/media/index.ts
  frontend/src/stores/media/related-media.ts
  frontend/src/stores/media/single-result.ts
  frontend/src/stores/provider.ts
  frontend/src/types/fetch-state.ts
  frontend/src/utils/errors.ts
  frontend/test/unit/specs/stores/media-store.spec.js
  frontend/test/unit/specs/stores/provider.spec.js
  frontend/test/unit/specs/stores/single-result-store.spec.js
Labels: 🟧 priority: high, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend, 🧱 stack: documentation

#3076 Add runbooks for API Thumbnails 2XX/5XX responses and Request Count alarms
  documentation/meta/monitoring/runbooks/api_thumbnails_http_2xx_under_threshold.md
  documentation/meta/monitoring/runbooks/api_thumbnails_http_5xx_above_threshold.md
  documentation/meta/monitoring/runbooks/api_thumbnails_request_count_anomaly.md
  documentation/meta/monitoring/runbooks/index.md
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: documentation

#3113 Skip flaky test
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#3111 Add various action folders to Dependabot
  .github/dependabot.yml
Labels: 🟨 priority: medium, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#3072 Undefined mediaResults Hotfix add an undefined/null check
  frontend/src/data/media-service.ts
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#3138 Disable running Renovate on forks
  .github/workflows/renovate.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#3067 Create recipes to generate project planning docs
  documentation/justfile
  documentation/projects/planning.md
  documentation/projects/templates/implementation_plan.md
  documentation/projects/templates/index.md
  documentation/projects/templates/project_proposal.md
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: documentation

#3074 Create the page for sensitive content explanation
  frontend/src/components/VSafeBrowsing/VSafeBrowsing.vue
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/sensitive-content.vue
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: frontend

#3107 Remove monetization meta tag
  frontend/src/constants/meta.ts
Labels: 🟨 priority: medium, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#3155 Update record count on about page
  frontend/src/locales/scripts/en.json5
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xs-linux.png
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: frontend

#3154 Update glibc
  api/Dockerfile
  catalog/Dockerfile
  docker/upstream_db/Dockerfile
  ingestion_server/Dockerfile
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: catalog

#3144 Enable the sensitive content flag and cleanup
  frontend/feat/feature-flags.json
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/layouts/search-layout.vue
  frontend/src/stores/search.ts
  frontend/test/playwright/e2e/filters.spec.ts
  frontend/test/playwright/e2e/search-query-client.spec.ts
  frontend/test/unit/specs/stores/search-store.spec.js
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend

#3165 added robots.txt for API endpoints
  api/api/templates/robots.txt
  api/conf/urls/__init__.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, Hacktoberfest, 🧱 stack: api

#3172 fix: Replace RequestError with BadRequestError
  api/api/controllers/search_controller.py
  documentation/meta/monitoring/cloudwatch_logs/index.md
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3151 Simplify the related search
  api/api/controllers/search_controller.py
  api/api/views/media_views.py
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api

#3174 Fix storybook v-image-cell test
  frontend/src/components/VImageCell/VImageCell.vue
  frontend/src/components/VImageCell/meta/VImageCell.stories.mdx
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-hovered-xl-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-hovered-xs-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-xl-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-xs-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-hovered-xl-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-hovered-xs-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-loaded-xl-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-loaded-xs-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-hovered-xl-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-hovered-xs-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-xl-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-xs-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-hovered-xl-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-hovered-xs-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-loaded-xl-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-loaded-xs-linux.png
  frontend/test/unit/fixtures/base64Image.js
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: documentation

#3177 Handle instances where media items do not have creator
  api/api/controllers/search_controller.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3108 Add frontend nginx container for logging and plausible proxying
  .github/workflows/ci_cd.yml
  automations/python/workflows/set_matrix_images.py
  docker-compose.yml
  documentation/frontend/reference/index.md
  documentation/frontend/reference/nginx.md
  frontend/Dockerfile
  frontend/Dockerfile.nginx
  frontend/nginx.conf.template
  frontend/nuxt.config.ts
  frontend/test/playwright/utils/analytics.ts
  justfile
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#3181 Handle related media with missing title
  api/api/controllers/search_controller.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3186 Fix single result page test flakiness
  frontend/src/composables/use-layout.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-page-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-2xl-linux.png
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#3182 Fix PR review reminder DAG for case where base branch is 2+ levels deep
  catalog/dags/maintenance/pr_review_reminders/pr_review_reminders.py
  catalog/tests/dags/maintenance/test_pr_review_reminders.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3173 Add result kind to the `SELECT_SEARCH_RESULT` event
  frontend/src/components/VAudioDetails/VRelatedAudio.vue
  frontend/src/components/VImageCell/VImageCell.vue
  frontend/src/components/VImageDetails/VRelatedImages.vue
  frontend/src/components/VSearchResultsGrid/VAudioCollection.vue
  frontend/src/components/VSearchResultsGrid/VAudioList.vue
  frontend/src/components/VSearchResultsGrid/VAudioResult.vue
  frontend/src/components/VSearchResultsGrid/VImageGrid.vue
  frontend/src/pages/search/audio.vue
  frontend/src/pages/search/image.vue
  frontend/src/types/analytics.ts
  frontend/src/types/external-source.ts
  frontend/src/types/result.ts
  frontend/test/playwright/e2e/all-results-analytics.spec.ts
  frontend/test/unit/specs/components/v-image-grid.spec.js
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#3137 Create VTag component
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/src/components/VTag/VTag.vue
  frontend/src/components/VTag/meta/VTag.stories.mdx
Labels: 🟨 priority: medium, 🌟 goal: addition, 🕹 aspect: interface, 🧱 stack: frontend

#3191 Re-add the style to tags container
  frontend/src/components/VMediaInfo/VMediaTags.vue
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#3175 Fix MRO to return 405 for unsupported methods
  api/api/views/oauth2_views.py
  api/test/test_auth.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3153 Wait for Plausible active state
  frontend/justfile
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#3209 Remove unnecessary information from API docs
  api/api/docs/base_docs.py
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: documentation

#3204 Move catalog README to docs site quickstart
  documentation/catalog/guides/index.md
  documentation/catalog/guides/quickstart.md
Labels: 🟨 priority: medium, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: catalog, 🧱 stack: documentation

#3203 Limit indexer workers using env var
  ingestion_server/env.template
  ingestion_server/ingestion_server/distributed_reindex_scheduler.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: ingestion server

#3143 Reduce ES shard count and simplify index properties
  ingestion_server/ingestion_server/elasticsearch_models.py
  ingestion_server/ingestion_server/es_mapping.py
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: ingestion server

#3219 Allow runtime configuration of nginx listening port
  frontend/Dockerfile.nginx
  frontend/nginx.conf.template
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: infra

#3231 Add shim `README.md` files in project directories
  api/README.md
  automations/README.md
  catalog/README.md
  documentation/README.md
  documentation/conf.py
  frontend/README.md
  ingestion_server/README.md
  packages/README.md
  packages/eslint-plugin/README.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: documentation

#3229 Remove `just` executions without arguments from CI
  .github/actions/load-img/action.yml
  .github/actions/setup-env/action.yml
  documentation/meta/ci_cd/actions.md
Labels: 🟩 priority: low, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#3171 Allow data refresh poke interval for Image.
  catalog/dags/data_refresh/data_refresh_task_factory.py
  catalog/dags/data_refresh/data_refresh_types.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#3198 Raise error when space is in URL
  catalog/dags/common/urls.py
  catalog/tests/dags/common/test_urls.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#3150 Update thumbnail response time runbooks
  documentation/meta/monitoring/runbooks/api_thumbnails_avg_response_time_above_threshold.md
  documentation/meta/monitoring/runbooks/api_thumbnails_avg_response_time_anomaly.md
  documentation/meta/monitoring/runbooks/api_thumbnails_p99_response_time_above_threshold.md
  documentation/meta/monitoring/runbooks/api_thumbnails_p99_response_time_anomaly.md
Labels: 🟩 priority: low, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation

#3214 Add correct label to exclude
  .github/workflows/new_issues.yml
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#3213 Use `property` attribute for OpenGraph title and image
  frontend/src/constants/meta.ts
  frontend/src/utils/og.ts
  frontend/test/playwright/e2e/seo.spec.ts
Labels: 🟩 priority: low, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#3162 Remove unreferenced subfields in indices
  ingestion_server/ingestion_server/es_mapping.py
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, ⛔ status: blocked, 🧱 stack: ingestion server

#3236 Use pook from GitHub to add binary support
  api/Dockerfile
  api/Pipfile
  api/Pipfile.lock
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: api

#3185 Hotfix for `undefined` in Nuxt provider data
  frontend/src/data/media-provider-service.ts
  frontend/src/stores/provider.ts
  frontend/test/unit/specs/data/media-provider-service.spec.js
  frontend/test/unit/specs/stores/provider.spec.js
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#3250 Update @popperjs/core dependency
  frontend/package.json
  pnpm-lock.yaml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#3249 Update @nuxtjs/i18n dependency
  frontend/package.json
  pnpm-lock.yaml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#3252 Update Clipboard dependencies
  frontend/package.json
  pnpm-lock.yaml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#3254 Update vue-demi dependencies
  frontend/package.json
  pnpm-lock.yaml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#3256 Update focus-trap dependency
  frontend/package.json
  pnpm-lock.yaml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#3255 Update uuid dependency
  frontend/package.json
  pnpm-lock.yaml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#3225 Update close buttons
  frontend/src/components/VBanner/VNotificationBanner.vue
  frontend/src/components/VContentReport/VContentReportPopover.vue
  frontend/src/components/VFilters/VFilterChecklist.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-focused-md-linux.png
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-unfocused-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-rtl-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-rtl-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-xs-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-xs-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-xs-linux.png
Labels: 🟨 priority: medium, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#3253 Update Tailwindcss dependencies
  frontend/package.json
  frontend/src/pages/search-help.vue
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xs-linux.png
  pnpm-lock.yaml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#3262 Encode spaces in metropolitan urls
  catalog/dags/providers/provider_api_scripts/metropolitan_museum.py
  catalog/tests/dags/providers/provider_api_scripts/resources/metropolitan_museum_of_art/sample_additional_image_data.json
  catalog/tests/dags/providers/provider_api_scripts/resources/metropolitan_museum_of_art/sample_response.json
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3267 Replaced http link with https in contributor.md
  documentation/general/contributing.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: documentation

#3275 Add ability to configure Nginx DNS resolver
  docker-compose.yml
  frontend/nginx.conf.template
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: infra
