Repository WordPress/openverse, pull requests merged in 2023-09, with the labels that each got.

#2908 Upgrade ESLint and Prettier packages in monorepo root
  .eslintrc.js
  frontend/src/components/VModal/VInputModal.vue
  frontend/src/components/VModal/VModal.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/components/VPopover/VPopover.vue
  frontend/src/pages/image/_id/index.vue
  frontend/test/playwright/e2e/all-results-analytics.spec.ts
  frontend/test/playwright/e2e/homepage.spec.ts
  frontend/test/playwright/e2e/image-detail.spec.ts
  frontend/test/playwright/e2e/report-media.spec.ts
  frontend/test/playwright/e2e/search-types.spec.ts
  frontend/test/storybook/visual-regression/v-select-field.spec.ts
  package.json
  pnpm-lock.yaml
  prettier.config.js
  tsconfig.json
Labels: 🟨 priority: medium, 🤖 aspect: dx, dependencies, 🧰 goal: internal improvement, 🧱 stack: frontend

#2897 Add all pages to tsconfig
  frontend/src/components/VHomepageContent.vue
  frontend/src/constants/screens.js
  frontend/src/constants/screens.ts
  frontend/src/pages/index.vue
  frontend/src/pages/preferences.vue
  frontend/src/pages/privacy.vue
  frontend/src/stores/feature-flag.ts
  tsconfig.json
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#2934 Replace deprecated function from Pillow
  api/api/utils/watermark.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#2958 Revert prettier updates to fix the dev build
  package.json
  pnpm-lock.yaml
  prettier.config.js
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2941 Add analytics to content safety events
  frontend/src/components/VSafeBrowsing/VSafeBrowsing.vue
  frontend/src/components/VSafetyWall/VSafetyWall.vue
  frontend/src/composables/use-sensitive-media.ts
  frontend/src/types/analytics.ts
  frontend/test/unit/specs/composables/use-sensitive-media.spec.ts
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: analytics

#2962 remove pycodestyle from ingestion server pipfile
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: ingestion server

#2968 Include general Node files under `packages` key
  .github/filters.yml
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt

#2845 Refactor the error page
  frontend/src/components/VErrorSection/VErrorImage.vue
  frontend/src/components/VErrorSection/VErrorSection.vue
  frontend/src/components/VErrorSection/VServerTimeout.vue
  frontend/src/components/VErrorSection/meta/VErrorSection.stories.mdx
  frontend/src/locales/scripts/en.json5
  frontend/src/middleware/search.ts
  frontend/src/pages/search.vue
  frontend/src/stores/media/index.ts
  frontend/test/locales/ar.json
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts
  frontend/test/playwright/visual-regression/pages/errors.spec.ts
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-no-results-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-no-results-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-no-results-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-no-results-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-timeout-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-timeout-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-timeout-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-timeout-rtl-xl-linux.png
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: documentation

#2971 Move deploy steps before changelog PR
  .github/workflows/release-app.yml
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#2975 Add 10k throttle to filtered index reindex query
  ingestion_server/ingestion_server/indexer.py
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: ingestion server

#2727 Ensure data refresh can still be run if no initial index exist
  catalog/dags/data_refresh/data_refresh_task_factory.py
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#2982 Wrap usage of `useSensitiveMedia` with `computed`
  frontend/src/components/VAudioThumbnail/VAudioThumbnail.vue
  frontend/src/components/VAudioTrack/layouts/VGlobalLayout.vue
  frontend/src/composables/use-sensitive-media.ts
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2948 Add null check for images in loading skeleton
  frontend/src/components/VSearchResultsGrid/VImageGrid.vue
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2984 Start data refresh schedule on Tuesdays UTC 00:00
  catalog/DAGs.md
  catalog/dags/data_refresh/data_refresh_types.py
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#2988 Add a null/undefined check to audio VGridSkeleton
  frontend/src/components/VSearchResultsGrid/VAudioCollection.vue
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#2936 Switch local API dev server to use gunicorn instead of django runserver
  api/Dockerfile
  api/conf/settings/static.py
  api/conf/urls/__init__.py
  api/env.docker
  docker-compose.yml
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#2929 Add an updated `VAudioControl` component
  frontend/src/assets/svg/raw/pause.svg
  frontend/src/assets/svg/raw/play.svg
  frontend/src/assets/svg/raw/replay.svg
  frontend/src/components/VAudioTrack/VAudioControl.vue
  frontend/src/components/VAudioTrack/layouts/VBoxLayout.vue
  frontend/src/components/VAudioTrack/meta/VAudioControl.stories.mdx
  frontend/src/components/VButton.vue
  frontend/src/components/VIconButton/VIconButton.vue
  frontend/src/types/button.ts
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-page-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-lg-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-md-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-xl-linux.png
Labels: 🟧 priority: high, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend, 🧱 stack: documentation

#2955 Separate features into persistent and session scoped cookies
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/default.vue
  frontend/src/layouts/search-layout.vue
  frontend/src/middleware/middleware.ts
  frontend/src/stores/feature-flag.ts
  frontend/src/types/cookies.ts
  frontend/src/utils/cookies.ts
  frontend/test/playwright/e2e/translation-banner.spec.ts
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts
  frontend/test/unit/specs/stores/feature-flag-store.spec.js
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend

#2972 Fix package build and refactor tsconfig to be less complex and breakable
  .dockerignore
  .eslintrc.js
  .github/filters.yml
  .pre-commit-config.yaml
  frontend/Dockerfile
  frontend/docker-compose.playwright.yml
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/tsconfig.json
  package.json
  packages/eslint-plugin/.swcrc
  packages/eslint-plugin/babel.config.js
  packages/eslint-plugin/jest.config.js
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/analytics-configuration.ts
  packages/eslint-plugin/src/rules/no-unexplained-disabled-test.ts
  packages/eslint-plugin/test/rules/analytics-configuration.spec.ts
  packages/eslint-plugin/test/rules/no-unexplained-disabled-test.spec.ts
  packages/eslint-plugin/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.json
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, dependencies, 🧱 stack: frontend, 🧱 stack: mgmt, 🧱 stack: documentation

#2995 Check flag 'sensitive_content' with 'fetch_sensitive'
  frontend/src/stores/search.ts
Labels: 🟨 priority: medium, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#2997 Fix meta tags on pages
  frontend/src/composables/use-single-result-page-meta.ts
  frontend/src/pages/audio/_id/index.vue
  frontend/src/pages/image/_id/index.vue
  frontend/src/pages/index.vue
  frontend/src/pages/preferences.vue
  frontend/src/pages/privacy.vue
  frontend/src/pages/search.vue
  frontend/src/utils/og.ts
  frontend/test/playwright/e2e/seo.spec.ts
Labels: 🟧 priority: high, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#2782 Collect image dimensions from Europeana
  catalog/DAGs.md
  catalog/dags/providers/provider_api_scripts/europeana.py
  catalog/dags/providers/provider_reingestion_workflows.py
  catalog/dags/providers/provider_workflows.py
  catalog/tests/dags/providers/provider_api_scripts/resources/europeana/item_full.json
  catalog/tests/dags/providers/provider_api_scripts/resources/europeana/item_not_first_webresource.json
  catalog/tests/dags/providers/provider_api_scripts/test_europeana.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#3003 remove hvac dependency from API
  api/Pipfile
  api/Pipfile.lock
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#3004 remove redlock-py from api dependencies
  api/Pipfile
  api/Pipfile.lock
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#3010 Skip flaky global audio visual regression test
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts
  packages/eslint-plugin/src/rules/no-unexplained-disabled-test.ts
  packages/eslint-plugin/test/rules/no-unexplained-disabled-test.spec.ts
Labels: 🟥 priority: critical, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#2793 Provider: justtakeitfree.com
  catalog/DAGs.md
  catalog/dags/common/loader/provider_details.py
  catalog/dags/providers/provider_api_scripts/justtakeitfree.py
  catalog/dags/providers/provider_workflows.py
  catalog/env.template
  catalog/tests/dags/providers/provider_api_scripts/resources/justtakeitfree/single_item.json
  catalog/tests/dags/providers/provider_api_scripts/test_justtakeitfree.py
Labels: 🟩 priority: low, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: catalog

#3006 `mature` -> `sensitive` frontend copy and code
  api/api/serializers/media_serializers.py
  api/test/unit/conftest.py
  api/test/unit/serializers/test_media_serializers.py
  frontend/feat/feature-flags.json
  frontend/src/constants/content-report.ts
  frontend/src/locales/scripts/en.json5
  frontend/src/types/media.ts
  frontend/src/utils/content-safety.ts
  frontend/src/utils/decode-media-data.ts
  frontend/test/locales/ar.json
  frontend/test/locales/ru.json
  frontend/test/playwright/e2e/report-media.spec.ts
  frontend/test/playwright/e2e/search-query-client.spec.ts
  frontend/test/playwright/e2e/search-query-server.spec.ts
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-focused-md-linux.png
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-unfocused-md-linux.png
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/ltr-full-page-report-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/ltr-full-page-report-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/rtl-full-page-report-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/rtl-full-page-report-xl-linux.png
  frontend/test/unit/fixtures/audio.js
  frontend/test/unit/fixtures/image.js
  frontend/test/unit/specs/components/v-content-report-form.spec.js
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: api, 🧱 stack: frontend

#3016 Media results null check
  frontend/src/data/media-service.ts
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#3017 Filter languages by presence of ISO
  frontend/nuxt.config.ts
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: documentation

#3002 Remove django-sslserver
  api/Pipfile
  api/Pipfile.lock
  api/conf/settings/base.py
Labels: 🟨 priority: medium, 💻 aspect: code, dependencies, 🧰 goal: internal improvement, 🧱 stack: api

#3018 Remove `requests-oauthlib` from api dependencies
  api/Pipfile
  api/Pipfile.lock
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#2964 Refactor popularity SQL
  catalog/DAGs.md
  catalog/dags/common/constants.py
  catalog/dags/common/loader/sql.py
  catalog/dags/common/popularity/README.md
  catalog/dags/common/popularity/constants.py
  catalog/dags/common/popularity/sql.py
  catalog/dags/common/sql.py
  catalog/dags/common/storage/db_columns.py
  catalog/dags/common/storage/tsv_columns.py
  catalog/dags/common/utils.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/recreate_view_data_task_factory.py
  catalog/dags/database/batched_update/batched_update.py
  catalog/dags/database/recreate_popularity_calculation_dag_factory.py
  catalog/dags/popularity/popularity_refresh_dag_factory.py
  catalog/dags/popularity/popularity_refresh_types.py
  catalog/dags/popularity/recreate_popularity_calculation_dag_factory.py
  catalog/dags/popularity/refresh_popularity_metrics_task_factory.py
  catalog/dags/popularity/sql.py
  catalog/tests/dags/common/conftest.py
  catalog/tests/dags/common/loader/test_sql.py
  catalog/tests/dags/common/popularity/__init__.py
  catalog/tests/dags/common/popularity/test_dag_factory.py
  catalog/tests/dags/common/popularity/test_resources/mock_popularity_dump.tsv
  catalog/tests/dags/common/test_utils.py
  catalog/tests/dags/conftest.py
  catalog/tests/dags/popularity/__init__.py
  catalog/tests/dags/popularity/test_popularity_refresh_types.py
  catalog/tests/dags/popularity/test_sql.py
  catalog/tests/dags/test_dag_parsing.py
  catalog/tests/test_utils/sql.py
  docker/upstream_db/0004_openledger_image_view.sql
  docker/upstream_db/0007_openledger_audio_view.sql
  ingestion_server/test/integration_test.py
  ingestion_server/test/mock_schemas/audio_view.sql
  ingestion_server/test/mock_schemas/image_view.sql
  load_sample_data.sh
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: catalog

#2983 Add content safety info to `SELECT_SEARCH_RESULT` event
  frontend/src/components/VImageCell/VImageCell.vue
  frontend/src/components/VSearchResultsGrid/VAudioResult.vue
  frontend/src/types/analytics.ts
  frontend/src/utils/decode-media-data.ts
  frontend/test/playwright/e2e/all-results-analytics.spec.ts
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: analytics

#2974 Initialise runbooks for Nuxt 2XX/5XX alarms
  documentation/meta/monitoring/runbooks/index.md
  documentation/meta/monitoring/runbooks/nuxt_2xx_under_threshold.md
  documentation/meta/monitoring/runbooks/nuxt_5xx_above_threshold.md
  documentation/meta/monitoring/runbooks/nuxt_request_count.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation, 🧱 stack: infra

#2851 Update links in metadata section on single result page
  frontend/src/components/VMediaInfo/VMediaDetails.vue
  frontend/src/components/VMediaInfo/VMetadata.vue
  frontend/src/components/VMediaInfo/VMetadataValue.vue
  frontend/src/pages/audio/_id/index.vue
  frontend/src/pages/image/_id/index.vue
  frontend/src/stores/provider.ts
  frontend/src/utils/metadata.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xs-linux.png
  frontend/test/unit/specs/components/VMediaInfo/v-media-details.spec.js
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend

#3021 Resolve flakiness in global audio player VR tests
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-rtl-png-xs-linux.png
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#3013 Populate sensitivities for single result view
  api/api/controllers/search_controller.py
  api/api/utils/search_context.py
  api/api/views/media_views.py
  api/test/media_integration.py
  api/test/test_audio_integration.py
  api/test/test_image_integration.py
  api/test/unit/utils/test_search_context.py
Labels: 🟧 priority: high, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: api

#2738 Add runbooks for first API alarms
  documentation/meta/monitoring/runbooks/api_http_2xx_under_threshold.md
  documentation/meta/monitoring/runbooks/api_http_5xx_above_threshold.md
  documentation/meta/monitoring/runbooks/api_request_count_above_threshold.md
  documentation/meta/monitoring/runbooks/index.md
Labels: 🟧 priority: high, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation

#3030 Update dependency Pillow to v10.0.1
  api/Pipfile
  api/Pipfile.lock
Labels: 🟥 priority: critical, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#3008 Deduplicate checks between ESLint and TypeScript
  frontend/src/modules/prometheus.ts
  frontend/src/plugins/ua-parse.ts
  packages/eslint-plugin/src/configs/import.ts
  packages/eslint-plugin/src/configs/index.ts
  packages/eslint-plugin/src/configs/typescript.ts
  tsconfig.base.json
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#3029 Upgrade ES dependencies to match cluster version
  api/Pipfile
  api/Pipfile.lock
  api/api/models/media.py
  api/conf/settings/elasticsearch.py
  api/test/factory/models/__init__.py
  api/test/factory/models/audio.py
  api/test/factory/models/image.py
  api/test/factory/models/media.py
  api/test/unit/conftest.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/models/test_media_report.py
  api/test/unit/utils/test_search_context.py
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
  ingestion_server/ingestion_server/es_helpers.py
  ingestion_server/test/integration_test.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, dependencies, 🧱 stack: api, 🧱 stack: ingestion server

#3022 Replace "mature" with "sensitive" in api help strings
  api/api/migrations/0052_relational_fields.py
  api/api/models/audio.py
  api/api/models/media.py
  api/api/serializers/media_serializers.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: api, migrations

#3036 Remove `django-storages` and associated conf
  api/Pipfile
  api/Pipfile.lock
  api/conf/settings/__init__.py
  api/conf/settings/s3.py
  api/env.template
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#3038 Reference WordPress CoC and etiquette in Openverse CoC
  CODE_OF_CONDUCT.md
Labels: 🟩 priority: low, 🏷 status: label work required, 🚦 status: awaiting triage, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: mgmt

#3047 Re-add gevent monkey-patching
  api/Pipfile
  api/Pipfile.lock
  api/conf/wsgi.py
  api/manage.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3048 Replace gevent with uvloop
  api/Pipfile
  api/Pipfile.lock
  api/conf/wsgi.py
  api/manage.py
  pyproject.toml
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, dependencies, 🧱 stack: api

#3035 Correctly set up constant fields in API responses
  api/api/serializers/image_serializers.py
  api/api/serializers/provider_serializers.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api

#2891 Improve image grid
  frontend/src/components/VImageCell/VImageCell.vue
  frontend/src/components/VImageCell/meta/VImageCell.stories.mdx
  frontend/src/components/VSearchResultsGrid/VImageGrid.vue
  frontend/src/composables/use-image-cell-size.ts
  frontend/tailwind.config.ts
  frontend/test/playwright/utils/breakpoints.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xs-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-hovered-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-hovered-xl-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-hovered-xs-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-xl-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-xs-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-hovered-xl-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-hovered-xs-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-loaded-xl-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-loaded-xs-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-hovered-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-hovered-xl-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-hovered-xs-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-xl-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-xs-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-hovered-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-hovered-xl-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-hovered-xs-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-loaded-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-loaded-xl-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-loaded-xs-linux.png
  frontend/test/unit/specs/composables/use-image-cell-size.spec.js
Labels: 🟧 priority: high, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend, 🧱 stack: documentation

#3032 Add Elasticsearch cluster maintenance documentation
  documentation/meta/index.md
  documentation/meta/maintenance/elasticsearch_cluster.md
  documentation/meta/maintenance/index.md
Labels: 🟨 priority: medium, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: mgmt, 🧱 stack: documentation

#3044 Configure conf options as parameters
  catalog/dags/providers/provider_dag_factory.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3001 Add runbooks for API response times alarms
  documentation/meta/monitoring/runbooks/api_avg_response_time_above_threshold.md
  documentation/meta/monitoring/runbooks/api_avg_response_time_anomaly.md
  documentation/meta/monitoring/runbooks/api_p99_response_time_above_threshold.md
  documentation/meta/monitoring/runbooks/api_p99_response_time_anomaly.md
  documentation/meta/monitoring/runbooks/index.md
Labels: 🟧 priority: high, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation

#3054 Start data refreshes on Mondays UTC 00:00
  catalog/DAGs.md
  catalog/dags/data_refresh/data_refresh_types.py
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#3059 Fixes `KeyError` for `media_serializers.py`
  api/api/serializers/media_serializers.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3012 Add runbooks for Nuxt response times alarms
  documentation/meta/monitoring/runbooks/index.md
  documentation/meta/monitoring/runbooks/nuxt_avg_response_time_above_threshold.md
  documentation/meta/monitoring/runbooks/nuxt_p99_response_time_above_threshold.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation

#3055 Replace deprecated body in the ES requests with individual parameters
  api/api/controllers/search_controller.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3053 Add thumbnail repsonse time runbooks
  documentation/meta/monitoring/runbooks/api_thumbnails_avg_response_time_above_threshold.md
  documentation/meta/monitoring/runbooks/api_thumbnails_avg_response_time_anomaly.md
  documentation/meta/monitoring/runbooks/api_thumbnails_p99_response_time_above_threshold.md
  documentation/meta/monitoring/runbooks/api_thumbnails_p99_response_time_anomaly.md
  documentation/meta/monitoring/runbooks/index.md
Labels: 🟧 priority: high, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation

#3061 generate-dag-docs recipe move DAGs.md to documentation folder
  catalog/justfile
  catalog/tests/utilities/dag_doc_gen/test_dag_doc_generation.py
  catalog/utilities/dag_doc_gen/dag_doc_generation.py
  documentation/catalog/reference/DAGs.md
  documentation/catalog/reference/index.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: catalog, 🧱 stack: documentation

#3064 Upgrade psycopg to version 3 in the API
  api/Dockerfile
  api/Pipfile
  api/Pipfile.lock
  api/test/unit/management/commands/test_generatewaveforms.py
Labels: 🟩 priority: low, 💻 aspect: code, dependencies, 🧰 goal: internal improvement, 🧱 stack: api

#3026 Update VSourcesTable.vue
  frontend/src/components/VSourcesTable.vue
  frontend/test/playwright/e2e/filters.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xs-linux.png
  frontend/test/tapes/response-1.json5
Labels: 🟩 priority: low, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#3068 Transfer UUID validation inside serializer
  api/api/serializers/image_serializers.py
  api/api/views/image_views.py
  api/test/test_image_integration.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3071 Use fully qualified docker image names
  api/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  ingestion_server/Dockerfile
  utilities/load_testing/Dockerfile
Labels: 🟨 priority: medium, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#3079 Update `_AIRFLOW_DB_UPGRADE` to `_AIRFLOW_DB_MIGRATE`
  docker-compose.yml
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3083 Increase the API sources cache TTL from 20 minutes to 4 hours
  api/api/controllers/search_controller.py
Labels: 🟥 priority: critical, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api
