Repository WordPress/openverse, pull requests merged in 2023-11, with the labels that each got.

#3239 Remove unused utils
  frontend/src/utils/local.ts
  frontend/src/utils/prop-validators.ts
  frontend/src/utils/url-params.ts
  frontend/test/unit/specs/utils/get-parameter-by-name.spec.js
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#3261 Simplify search query
  api/api/controllers/search_controller.py
  api/test/unit/controllers/test_search_controller_search_query.py
  documentation/api/reference/search_algorithm.md
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api, 🧱 stack: documentation

#3301 Hotfix: Increase ES timeout and retries
  api/api/controllers/search_controller.py
  api/conf/settings/elasticsearch.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3273 move new provider docs to documentation folder
  documentation/_static/multi_media_dag.png
  documentation/_static/simple_dag.png
  documentation/catalog/guides/adding_a_new_provider.md
  documentation/catalog/guides/index.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: catalog

#3300 Log times of ES queries
  api/api/controllers/elasticsearch/helpers.py
  api/api/controllers/search_controller.py
  api/api/utils/search_context.py
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#3248 Update Nuxt sentry dependency
  frontend/package.json
  pnpm-lock.yaml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#3019 Watermark exception
  api/api/utils/watermark.py
  api/test/unit/views/test_image_views.py
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3311 Fix accidental copy change causing dangling migration
  api/api/models/image.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3312 Update renovate config to handle all dependency types and group upgrades
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#3168 Remove unused fields from ES
  ingestion_server/ingestion_server/elasticsearch_models.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: ingestion server

#3305 Update Nuxt template overrides to latest versions of templates
  frontend/nuxt-template-overrides/App.js
  frontend/nuxt-template-overrides/index.js
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#3315 Update TypeScript to v5.2.2
  .pre-commit-config.yaml
  frontend/package.json
  frontend/tsconfig.json
  package.json
  packages/eslint-plugin/package.json
  pnpm-lock.yaml
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#3272 Use pytest-env to set up API key
  catalog/env.template
  catalog/pytest.ini
  catalog/requirements_dev.txt
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: catalog

#3317 Remove Storybook smoke test
  .github/workflows/ci_cd.yml
  documentation/meta/ci_cd/jobs/frontend.md
  frontend/package.json
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: mgmt, 🧱 stack: documentation

#3265 Update the global audio player
  frontend/src/components/VAudioTrack/VAudioControl.vue
  frontend/src/components/VAudioTrack/VGlobalAudioTrack.vue
  frontend/src/components/VAudioTrack/VPlayPause.vue
  frontend/src/components/VAudioTrack/layouts/VGlobalLayout.vue
  frontend/src/components/VButton.vue
  frontend/src/components/VCloseButton.vue
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  frontend/src/components/VHeader/VHeaderMobile/VSearchBarButton.vue
  frontend/src/components/VIconButton/VIconButton.vue
  frontend/src/components/meta/VCloseButton.stories.mdx
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/default.vue
  frontend/src/layouts/search-layout.vue
  frontend/src/types/button.ts
  frontend/tailwind.config.ts
  frontend/tailwind.safelist.txt
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-rtl-png-xs-linux.png
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: api, 🧱 stack: frontend, 🧱 stack: mgmt, 🧱 stack: documentation

#3319 Upated new-provider docs to use correct `just` commands
  documentation/catalog/guides/adding_a_new_provider.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: catalog

#3233 Vendor in case functions
  frontend/package.json
  frontend/src/components/VLicense/VLicense.vue
  frontend/src/components/VLicense/VLicenseElements.vue
  frontend/src/components/VSafetyWall/VSafetyWall.vue
  frontend/src/components/meta/VButton.stories.mdx
  frontend/src/locales/scripts/utils.js
  frontend/src/stores/provider.ts
  frontend/src/utils/case.ts
  frontend/src/utils/decode-media-data.ts
  frontend/src/utils/license.ts
  frontend/src/utils/metadata.ts
  frontend/test/unit/specs/utils/case.spec.js
  pnpm-lock.yaml
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: documentation

#3318 Ignore `.iml` files created by JetBrains inside the project
  .gitignore
Labels: 🟩 priority: low, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#3313 Fix the "search query" in the time took logs
  api/api/controllers/elasticsearch/helpers.py
  api/api/controllers/search_controller.py
  api/api/utils/search_context.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3247 Update nuxt, @nuxt/vue-app, @nuxt/types dependencies
  .github/actions/build-docs/action.yml
  frontend/package.json
  package.json
  pnpm-lock.yaml
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#3329 Remove `--merge` and `--noinput` flags in Django migration check
  .github/workflows/ci_cd.yml
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: mgmt

#3011 Run the app as ASGI
  api/Dockerfile
  api/Pipfile
  api/Pipfile.lock
  api/conf/asgi.py
  api/conf/asgi_handler.py
  api/conf/settings/base.py
  api/conf/urls/__init__.py
  api/conf/wsgi.py
  api/gunicorn.conf.py
  api/run.py
  docker-compose.yml
Labels: 🟧 priority: high, 💻 aspect: code, dependencies, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: catalog

#3307 Simplify related query to remove nesting and make more performant
  api/api/controllers/elasticsearch/__init__.py
  api/api/controllers/elasticsearch/helpers.py
  api/api/controllers/elasticsearch/related.py
  api/api/controllers/search_controller.py
  api/api/views/media_views.py
  api/test/factory/es_http.py
  api/test/media_integration.py
  api/test/test_dead_link_filter.py
  api/test/test_image_integration.py
  api/test/unit/controllers/elasticsearch/test_related.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/controllers/test_search_controller_search_query.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3331 Fix API integration test for the related endpoint
  api/test/media_integration.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3321 Add a guide for upgrading and migrating ES indices
  documentation/ingestion_server/guides/index.md
  documentation/ingestion_server/guides/migrate.md
  documentation/ingestion_server/guides/troubleshoot.md
  documentation/ingestion_server/guides/upgrade.md
  documentation/ingestion_server/reference/index.md
  documentation/ingestion_server/reference/task_api.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation

#3325 Revise Catalog Quickstart
  documentation/catalog/guides/deployment.md
  documentation/catalog/guides/index.md
  documentation/catalog/guides/quickstart.md
  documentation/catalog/reference/index.md
  documentation/catalog/reference/retired.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: catalog, 🧱 stack: documentation

#3323 Add instructions on running individual test in new provider docs
  documentation/catalog/guides/adding_a_new_provider.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: catalog

#3303 Create filtered index before promoting primary index during data refresh
  catalog/dags/common/ingestion_server.py
  catalog/dags/data_refresh/create_filtered_index.py
  catalog/dags/data_refresh/create_filtered_index_dag.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/data_refresh_task_factory.py
  documentation/catalog/reference/DAGs.md
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog, 🧱 stack: documentation

#3332 Unpin pytest-mock and rely on Airflow constraints for version
  catalog/requirements_dev.txt
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: catalog

#3333 Use a default for `HOST_NETWORK_ADDRESS` to hide warnings
  docker-compose.yml
  justfile
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend, 🧱 stack: catalog, 🧱 stack: mgmt

#3341 Remove `this` from `VGridSkeleton` props `default`
  frontend/src/components/VSkeleton/VGridSkeleton.vue
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend

#3334 Add logging around `_post_process_results` recursion
  api/api/controllers/search_controller.py
  api/api/views/media_views.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/views/test_media_views.py
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: api

#3322 Add some Vue 3 Eslint rules
  frontend/src/components/VBanner/VAnalyticsNotice.vue
  frontend/src/components/VBanner/VTranslationStatusBanner.vue
  frontend/src/components/VContentReport/VReportDescForm.vue
  frontend/src/components/VContentSwitcher/VSearchTypeButton.vue
  frontend/src/components/VContentSwitcher/VSearchTypeItem.vue
  frontend/src/components/VContentSwitcher/VSearchTypePopover.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VHeader/VHeaderMobile/VShowResultsButton.vue
  frontend/src/components/VHeader/VPageLinks.vue
  frontend/src/components/VHideButton.vue
  frontend/src/components/VLink.vue
  frontend/src/components/VMediaInfo/VMetadataValue.vue
  frontend/src/components/VRadio/VRadio.vue
  frontend/src/components/VSafetyWall/VSafetyWall.vue
  frontend/test/unit/setup.js
  packages/eslint-plugin/src/configs/vue.ts
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: mgmt

#3346 Use the `keyword` field for tags in related query
  api/api/controllers/elasticsearch/related.py
  api/test/unit/controllers/elasticsearch/test_related.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3259 Add DAG for filtering archived providers in catalog
  catalog/dags/common/loader/sql.py
  catalog/dags/common/sql.py
  catalog/dags/common/storage/columns.py
  catalog/dags/common/storage/db_columns.py
  catalog/dags/database/batched_update/batched_update.py
  catalog/dags/database/batched_update/constants.py
  catalog/dags/database/delete_records/constants.py
  catalog/dags/database/delete_records/delete_records.py
  catalog/dags/database/delete_records/delete_records_dag.py
  catalog/dags/maintenance/add_license_url.py
  catalog/dags/retired/database/terminate_long_queries_workflow.py
  catalog/tests/dags/database/test_batched_update.py
  catalog/tests/dags/database/test_delete_records.py
  catalog/tests/dags/test_dag_parsing.py
  catalog/tests/test_utils/sql.py
  docker/upstream_db/0003_openledger_image_schema.sql
  docker/upstream_db/0006_openledger_audio_schema.sql
  documentation/catalog/reference/DAGs.md
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: ingestion server, 🧱 stack: catalog, 🧱 stack: documentation

#3344 Configure the number of proxies to fix anon rate limiting
  api/conf/settings/rest_framework.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3354 Add gc debugging flag to help debug prod thumbnails leak
  api/conf/asgi.py
  api/conf/settings/logging.py
Labels: 🟥 priority: critical, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#3042 Document existing project automations and plan implementation of new ones
  documentation/meta/index.md
  documentation/meta/project_boards/discussions.md
  documentation/meta/project_boards/index.md
  documentation/meta/project_boards/issues.md
  documentation/meta/project_boards/projects.md
  documentation/meta/project_boards/prs.md
  documentation/projects/proposals/project_improvement/20230913-project_proposal_project_improvements.md
  documentation/projects/proposals/project_improvement/20230914-implementation_plan_project_automations.md
  documentation/projects/proposals/project_improvement/index.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation

#3359 Unpin glibc
  api/Dockerfile
  catalog/Dockerfile
  docker/upstream_db/Dockerfile
  ingestion_server/Dockerfile
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: catalog

#2853 Add API routes and controllers for additional search views
  api/api/constants/media_types.py
  api/api/constants/search.py
  api/api/controllers/search_controller.py
  api/api/docs/audio_docs.py
  api/api/docs/base_docs.py
  api/api/docs/image_docs.py
  api/api/serializers/audio_serializers.py
  api/api/serializers/image_serializers.py
  api/api/serializers/media_serializers.py
  api/api/views/audio_views.py
  api/api/views/image_views.py
  api/api/views/media_views.py
  api/test/media_integration.py
  api/test/test_audio_integration.py
  api/test/test_image_integration.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/controllers/test_search_controller_search_query.py
  api/test/unit/models/test_media_report.py
  api/test/unit/serializers/test_media_serializers.py
  api/test/unit/views/test_media_views.py
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: api

#3365 Update VCollectionHeader.vue
  frontend/src/components/VCollectionHeader/VCollectionHeader.vue
  frontend/src/components/VCollectionHeader/meta/VCollectionHeader.stories.mdx
  frontend/src/composables/use-i18n-utilities.ts
  frontend/src/locales/scripts/en.json5
  frontend/src/types/search.ts
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-2xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-lg-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-md-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-sm-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-xs-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-2xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-lg-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-md-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-sm-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-xs-linux.png
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: documentation

#3366 Add Elasticsearch Airflow provider
  catalog/requirements_prod.txt
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: catalog

#3363 Fix delete_records slack formatting
  catalog/dags/database/delete_records/delete_records.py
  catalog/dags/database/delete_records/delete_records_dag.py
  catalog/tests/dags/database/test_delete_records.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#3020 Add ADRF and make the thumbnail view async
  api/Pipfile
  api/Pipfile.lock
  api/api/utils/image_proxy/__init__.py
  api/api/views/audio_views.py
  api/api/views/image_views.py
  api/api/views/media_views.py
  api/test/unit/utils/test_image_proxy.py
  api/test/unit/views/test_image_views.py
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#3024 Add aiohttp client sharing
  api/Pipfile
  api/Pipfile.lock
  api/api/utils/aiohttp.py
  api/api/utils/check_dead_links/__init__.py
  api/conf/asgi.py
  api/conf/asgi_handler.py
  api/env.template
  api/run.py
  api/test/conftest.py
  api/test/unit/utils/test_aiohttp.py
  api/test/unit/utils/test_check_dead_links.py
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#3381 Fix dynamically excluded providers caching
  api/api/controllers/search_controller.py
  api/test/unit/controllers/elasticsearch/test_related.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/controllers/test_search_controller_search_query.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3375 Implementation of project board automations
  .github/sync.yml
  .github/workflows/issue_automations.yml
  .github/workflows/new_issues.yml
  .github/workflows/pr_automations.yml
  .github/workflows/pr_automations_init.yml
  automations/js/src/project_automation/issues.mjs
  automations/js/src/project_automation/prs.mjs
  automations/js/src/utils/pr.mjs
  automations/js/src/utils/projects.mjs
  documentation/automations/reference/index.md
  documentation/automations/reference/project_automations.md
  documentation/meta/project_boards/issues.md
  documentation/meta/project_boards/prs.md
  documentation/projects/proposals/project_improvement/20230914-implementation_plan_project_automations.md
Labels: 🟨 priority: medium, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: frontend, 🧱 stack: mgmt, 🧱 stack: documentation

#3390 Fix path to automation `.mjs` files
  .github/workflows/issue_automations.yml
  .github/workflows/pr_automations.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt

#3392 Really fix import path for `.mjs` files
  .github/workflows/issue_automations.yml
  .github/workflows/pr_automations.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt

#3394 Use the `ACCESS_TOKEN` secret instead of `GITHUB_TOKEN`
  .github/workflows/issue_automations.yml
  .github/workflows/pr_automations.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt

#3369 Add middleware to log application name and verification status
  api/api/middleware/response_headers_middleware.py
  api/api/utils/oauth2_helper.py
  api/api/utils/throttle.py
  api/api/views/oauth2_views.py
  api/conf/settings/base.py
  api/nginx.conf.template
  api/test/test_auth.py
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: api

#3395 Drop separate download fallback
  documentation/frontend/reference/i18n.md
  frontend/package.json
  frontend/src/locales/scripts/axios.js
  frontend/src/locales/scripts/get-translations.js
  frontend/src/locales/scripts/separate-download.js
  pnpm-lock.yaml
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: frontend, 🧱 stack: mgmt, 🧱 stack: documentation

#3398 Put `NUM_PROXIES` setting in correct location for DRF
  api/conf/settings/rest_framework.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3399 Revert "Fix dynamically excluded providers caching"
  api/api/controllers/search_controller.py
  api/test/unit/controllers/elasticsearch/test_related.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/controllers/test_search_controller_search_query.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3338 Add source, creator and tag links to the single result page media info
  frontend/src/assets/svg/raw/chevron-back.svg
  frontend/src/assets/svg/raw/chevron-forward.svg
  frontend/src/components/VAudioTrack/layouts/VFullLayout.vue
  frontend/src/components/VBackToSearchResultsLink.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VHeader/meta/VSearchBarButton.stories.mdx
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
  frontend/src/components/VMediaInfo/VByLine/VScroller.vue
  frontend/src/components/VMediaInfo/VByLine/VSourceCreatorButton.vue
  frontend/src/components/VMediaInfo/VByLine/meta/VByLine.stories.mdx
  frontend/src/components/VMediaInfo/VMediaInfo.vue
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/image/_id/index.vue
  frontend/tailwind.config.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-xs-linux.png
Labels: 🟨 priority: medium, 🌟 goal: addition, 🕹 aspect: interface, 🧱 stack: frontend, 🧱 stack: documentation

#3402 Sync project automation code to infra repo
  .github/sync.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt

#3383 Add script for calculating available development weeks
  utilities/project_planning/calculate_available_weeks.py
Labels: 🟨 priority: medium, 🌟 goal: addition, 🤖 aspect: dx, 🧱 stack: mgmt

#3401 Fix dynamically excluded providers
  api/api/controllers/search_controller.py
  api/test/unit/controllers/elasticsearch/test_related.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/controllers/test_search_controller_search_query.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3409 Allow None value for `NUM_PROXIES`
  api/conf/settings/rest_framework.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3389 Add SENTRY_RELEASE environment variable to relevant dockerfiles
  api/Dockerfile
  frontend/Dockerfile
  ingestion_server/Dockerfile
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: frontend, skip-changelog, 🧱 stack: infra

#3413 Handle existing stack label in CI labelling job
  .github/filters.yml
  .github/workflows/ci_cd.yml
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt

#3412 Add project planning weeks of work averaging script
  utilities/project_planning/README.md
  utilities/project_planning/_docs/example_effort_spreadsheet.png
  utilities/project_planning/_docs/example_weeks_spreadsheet.png
  utilities/project_planning/calculate_average_weeks_of_work.py
  utilities/project_planning/graph_project_voting.py
  utilities/project_planning/sheet_utils.py
Labels: 🟩 priority: low, 🌟 goal: addition, 🤖 aspect: dx, 🧱 stack: mgmt

#3416 Use authenticated GitHub requests to set up pre-commit
  .github/workflows/ci_cd.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt
