Repository WordPress/openverse, pull requests merged in 2024-04, with the labels that each got.

#3988 Add context comments to i18n key
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/search-help.vue
  frontend/src/plugins/vue-i18n.ts
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend

#3975 VTag improvements
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/src/components/VTag/VTag.vue
  frontend/test/unit/specs/components/VTag/v-tag.spec.js
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend

#4002 Selectively update API deps and undo unrelated updates
  api/Pipfile.lock
  utilities/load_testing/justfile
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, dependencies, 🐍 tech: python, 🧱 stack: api

#3941 Use more descriptive accessible headings for search result pages
  .pre-commit-config.yaml
  frontend/jest.config.js
  frontend/package.json
  frontend/src/components/VSearchResultsGrid/VSearchResults.vue
  frontend/src/components/VSearchResultsTitle.vue
  frontend/src/composables/use-i18n-utilities.ts
  frontend/src/locales/scripts/en.json5
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-xs-linux.png
  frontend/test/unit/specs/components/__snapshots__/v-search-results-title.spec.js.snap
  frontend/test/unit/specs/components/v-search-results-title.spec.js
  packages/eslint-plugin/package.json
  pnpm-lock.yaml
  prettier.config.js
Labels: 🟧 priority: high, ✨ goal: improvement, ♿️ aspect: a11y, 🧱 stack: frontend

#3949 Add a warning when source query parameter contains invalid values
  api/api/serializers/media_serializers.py
  api/test/unit/serializers/test_media_serializers.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api

#4004 Increase Wikimedia request timeout
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3999 Add SEO properties to collection pages
  frontend/bin/playwright.sh
  frontend/src/composables/use-collection-meta.ts
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/audio/collection.vue
  frontend/src/pages/image/collection.vue
  frontend/src/utils/parse-collection-path.ts
  frontend/test/playwright/e2e/seo.spec.ts
  frontend/test/unit/specs/utils/validate-collection-params.spec.js
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend

#3989 Create the moderation decision model
  api/api/admin/__init__.py
  api/api/constants/moderation.py
  api/api/migrations/0058_moderation_decision.py
  api/api/models/audio.py
  api/api/models/image.py
  api/api/models/media.py
  api/test/unit/models/test_media_report.py
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: api, migrations

#4017 Replace docker-compose with docker compose in just scripts and docs
  documentation/catalog/guides/quickstart.md
  documentation/frontend/guides/analytics.md
  documentation/frontend/reference/playwright_tests.md
  documentation/meta/maintenance/elasticsearch_cluster.md
  ingestion_server/justfile
  ingestion_server/test/integration_test.py
  justfile
  setup_plausible.sh
Labels: 🟥 priority: critical, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: ingestion server, 🧱 stack: mgmt, 🧱 stack: documentation

#3965 Add implementation plan for documenting the API media properties
  documentation/projects/proposals/document_all_media_properties/20240313-implementation_plan_document_media_properties_api.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: api, 🧱 stack: documentation, 🧭 project: implementation plan

#4012 Add log insights querying information for Nuxt 5XX errors
  documentation/meta/monitoring/runbooks/nuxt_http_5xx_above_threshold.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: documentation

#4018 Replace implicit getBy* assertion in `v-modal` test
  frontend/test/unit/specs/components/v-modal.spec.js
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#3948 Project Proposal: Rekognition data incorporation
  documentation/projects/proposals/rekognition_data/20240320-project_proposal_rekognition_data.md
  documentation/projects/proposals/rekognition_data/index.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: api, 🧱 stack: frontend, 🧱 stack: catalog, 🧭 project: proposal

#4028 Handle PR automations when quick succession of PR approved and merged
  automations/js/src/project_automation/prs.mjs
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#4027 Remove provision for missing fields on `Hit`
  api/api/serializers/base.py
  api/api/serializers/media_serializers.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api

#4014 Filter out duplicates from `raw_tags` in the catalog v2
  catalog/dags/common/storage/audio.py
  catalog/dags/common/storage/image.py
  catalog/dags/common/storage/media.py
  catalog/dags/providers/provider_api_scripts/flickr.py
  catalog/tests/dags/common/storage/test_audio.py
  catalog/tests/dags/common/storage/test_media.py
  catalog/tests/dags/providers/provider_api_scripts/resources/flickr/image_data_long_tags_string.json
  catalog/tests/dags/providers/provider_api_scripts/resources/flickr/image_data_varying_tags_whitespace.json
  catalog/tests/dags/providers/provider_api_scripts/test_flickr.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog, python, 🗄️ aspect: data

#4029 Improve testing import behavior for the catalog
  catalog/__init__.py
  catalog/dags/providers/provider_api_scripts/__init__.py
  catalog/dags/providers/provider_api_scripts/metropolitan_museum.py
  catalog/tests/dags/common/conftest.py
  catalog/tests/dags/common/loader/test_sql.py
  catalog/tests/dags/common/storage/test_audio.py
  catalog/tests/dags/common/test_requester.py
  catalog/tests/dags/common/test_sql.py
  catalog/tests/dags/database/staging_database_restore/test_staging_database_restore.py
  catalog/tests/dags/database/test_batched_update.py
  catalog/tests/dags/database/test_delete_records.py
  catalog/tests/dags/maintenance/test_check_silenced_dags.py
  catalog/tests/dags/maintenance/test_pr_review_reminders.py
  catalog/tests/dags/oauth2/test_oauth2.py
  catalog/tests/dags/popularity/test_sql.py
  catalog/tests/dags/providers/provider_api_scripts/test_auckland_museum.py
  catalog/tests/dags/providers/provider_api_scripts/test_brooklyn_museum.py
  catalog/tests/dags/providers/provider_api_scripts/test_cleveland_museum.py
  catalog/tests/dags/providers/provider_api_scripts/test_europeana.py
  catalog/tests/dags/providers/provider_api_scripts/test_finnish_museums.py
  catalog/tests/dags/providers/provider_api_scripts/test_flickr.py
  catalog/tests/dags/providers/provider_api_scripts/test_freesound.py
  catalog/tests/dags/providers/provider_api_scripts/test_jamendo.py
  catalog/tests/dags/providers/provider_api_scripts/test_make_resource_json_func.py
  catalog/tests/dags/providers/provider_api_scripts/test_metropolitan_museum.py
  catalog/tests/dags/providers/provider_api_scripts/test_museum_victoria.py
  catalog/tests/dags/providers/provider_api_scripts/test_nappy.py
  catalog/tests/dags/providers/provider_api_scripts/test_nypl.py
  catalog/tests/dags/providers/provider_api_scripts/test_phylopic.py
  catalog/tests/dags/providers/provider_api_scripts/test_provider_data_ingester.py
  catalog/tests/dags/providers/provider_api_scripts/test_rawpixel.py
  catalog/tests/dags/providers/provider_api_scripts/test_science_museum.py
  catalog/tests/dags/providers/provider_api_scripts/test_smithsonian.py
  catalog/tests/dags/providers/provider_api_scripts/test_smk.py
  catalog/tests/dags/providers/provider_api_scripts/test_stocksnap.py
  catalog/tests/dags/providers/provider_api_scripts/test_time_delineated_provider_data_ingester.py
  catalog/tests/dags/providers/provider_api_scripts/test_wikimedia_commons.py
  catalog/tests/dags/providers/provider_api_scripts/test_wordpress.py
  catalog/tests/dags/providers/test_factory_utils.py
  catalog/tests/dags/providers/test_provider_dag_factory.py
  catalog/tests/dags/providers/test_provider_workflows.py
  catalog/tests/factories/github/__init__.py
  catalog/tests/templates/test_create_provider_ingester.py
  catalog/tests/utilities/dag_doc_gen/test_dag_doc_generation.py
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: catalog, 🐍 tech: pytest

#4041 Clarify Batched Update DAG docs with use cases for failure recovery
  catalog/dags/database/batched_update/batched_update_dag.py
  documentation/catalog/reference/DAGs.md
Labels: 🟩 priority: low, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: catalog

#4032 Remove potentially problematic `do_not_wait_for`
  api/api/utils/asyncio.py
  api/api/utils/image_proxy/__init__.py
  api/api/utils/image_proxy/extension.py
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#4031 Add warning to search response when source parameter has mixed validity
  api/api/serializers/media_serializers.py
  api/api/utils/pagination.py
  api/api/views/media_views.py
  api/test/fixtures/rest_framework.py
  api/test/integration/test_media_integration.py
  api/test/unit/serializers/test_media_serializers.py
Labels: 🟧 priority: high, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: api

#3998 Update talkback
  frontend/package.json
  pnpm-lock.yaml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#4048 Update jest packages
  frontend/jest.config.ts
  frontend/package.json
  frontend/src/components/VImageCell/VImageCell.vue
  frontend/test/unit/setup.js
  frontend/test/unit/specs/components/v-item-group.spec.js
  frontend/test/unit/specs/components/v-link.spec.js
  frontend/test/unit/specs/components/v-modal.spec.js
  frontend/test/unit/specs/components/v-popover.spec.js
  frontend/test/unit/specs/components/v-sources-table.spec.js
  frontend/test/unit/specs/components/v-tabs.spec.js
  frontend/test/unit/svg-transform.js
  frontend/test/unit/test-utils/api-service-mock.ts
  frontend/test/unit/test-utils/svg-transform.js
  pnpm-lock.yaml
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend

#4054 Replace `focus:` with `focus-visible:`
  frontend/src/components/VAudioTrack/VWaveform.vue
  frontend/src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
  frontend/src/components/VHomeGallery/VHomeGallery.vue
  frontend/src/components/VInputField/VInputField.vue
  frontend/src/components/VItemGroup/VItem.vue
  frontend/src/components/VRadio/VRadio.vue
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#3889 Maintainer docs on "good first" and "help wanted" issues
  documentation/meta/contribution/good_first_and_help_wanted_issues.md
  documentation/meta/contribution/index.md
Labels: 🟧 priority: high, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation

#4056 Show the additional search views documentation on the API docs site
  api/conf/settings/misc.py
  api/env.template
Labels: 🟧 priority: high, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: api

#4060 Fix: Escape space in `just catalog/test` directory injection
  catalog/justfile
Labels: 🟩 priority: low, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: catalog

#4009 Related endpoint error is still sent to Sentry
  frontend/src/stores/media/related-media.ts
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#4061 Refactor: Remove `get_media_type()` redundant override in providers with a single media type
  catalog/dags/providers/provider_api_scripts/auckland_museum.py
  catalog/dags/providers/provider_api_scripts/brooklyn_museum.py
  catalog/dags/providers/provider_api_scripts/cc_mixter.py
  catalog/dags/providers/provider_api_scripts/cleveland_museum.py
  catalog/dags/providers/provider_api_scripts/finnish_museums.py
  catalog/dags/providers/provider_api_scripts/flickr.py
  catalog/dags/providers/provider_api_scripts/freesound.py
  catalog/dags/providers/provider_api_scripts/jamendo.py
  catalog/dags/providers/provider_api_scripts/justtakeitfree.py
  catalog/dags/providers/provider_api_scripts/metropolitan_museum.py
  catalog/dags/providers/provider_api_scripts/museum_victoria.py
  catalog/dags/providers/provider_api_scripts/nappy.py
  catalog/dags/providers/provider_api_scripts/nypl.py
  catalog/dags/providers/provider_api_scripts/rawpixel.py
  catalog/dags/providers/provider_api_scripts/science_museum.py
  catalog/dags/providers/provider_api_scripts/smithsonian.py
  catalog/dags/providers/provider_api_scripts/smk.py
  catalog/dags/providers/provider_api_scripts/stocksnap.py
  catalog/dags/providers/provider_api_scripts/wordpress.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#4051 Add logging to all dag-sync exits
  dag-sync.sh
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: infra

#4043 Turn on additional search views frontend
  frontend/feat/feature-flags.json
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
  frontend/test/unit/test-utils/i18n.js
  frontend/test/unit/test-utils/pinia.js
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend

#4044 Add `SEARCH_RESPONSE_TIME` event
  frontend/src/data/media-service.ts
  frontend/src/stores/media/index.ts
  frontend/src/stores/search.ts
  frontend/src/types/analytics.ts
  frontend/test/unit/specs/data/media-service.spec.ts
  frontend/test/unit/specs/stores/media-store.spec.js
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#4069 Update print_ps() to use Docker Compose ps JSON output
  utilities/ps.py
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#4062 Bugfix to ensure image type is correctly extracted from content type
  api/api/utils/image_proxy/extension.py
  api/test/unit/utils/test_image_proxy.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#4071 Reduce visual footprint of DAG Alerts in Slack
  catalog/dags/common/slack.py
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: catalog

#3966 Implement media properties documentation for the API and frontend
  .github/workflows/ci_cd.yml
  api/api/docs/media_properties/preamble.md
  api/api/management/commands/documentmedia.py
  api/api/models/audio.py
  api/api/models/media.py
  api/justfile
  documentation/meta/ci_cd/jobs/api.md
  documentation/meta/ci_cd/jobs/frontend.md
  documentation/meta/index.md
  documentation/meta/media_properties/api.md
  documentation/meta/media_properties/frontend.md
  documentation/meta/media_properties/index.md
  frontend/justfile
  frontend/package.json
  frontend/scripts/document-media.js
  frontend/scripts/preamble.md
  frontend/src/types/media.ts
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 💻 aspect: code, 🧱 stack: api, 🧱 stack: documentation

#4066 Fix: Remove unwanted leading/trailing whitespaces in attributions
  frontend/src/components/VMediaInfo/VCopyLicense.vue
  frontend/src/utils/attribution-html.ts
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#4011 Handle global audio play errors
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VAudioTrack/VGlobalAudioTrack.vue
  frontend/src/constants/audio.ts
  frontend/src/stores/active-media.ts
  frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#3620 Add media properties generation
  .github/workflows/ci_cd.yml
  .prettierignore
  catalog/justfile
  catalog/tests/utilities/media_props_gen/test_column_parser.py
  catalog/tests/utilities/media_props_gen/test_db.py
  catalog/tests/utilities/media_props_gen/test_generate_media_properties.py
  catalog/tests/utilities/media_props_gen/test_md.py
  catalog/utilities/media_props_gen/__init__.py
  catalog/utilities/media_props_gen/docs/media_props.md
  catalog/utilities/media_props_gen/docs/postamble.md
  catalog/utilities/media_props_gen/docs/preamble.md
  catalog/utilities/media_props_gen/generate_media_properties.py
  catalog/utilities/media_props_gen/helpers/__init__.py
  catalog/utilities/media_props_gen/helpers/column_parser.py
  catalog/utilities/media_props_gen/helpers/db.py
  catalog/utilities/media_props_gen/helpers/md.py
  documentation/catalog/guides/quickstart.md
  documentation/meta/ci_cd/jobs/catalog.md
  documentation/meta/media_properties/catalog.md
  documentation/meta/media_properties/index.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 💻 aspect: code, 🧱 stack: catalog, 🧱 stack: documentation

#4090 Add emojis to the project thread reminder bot acceptable statuses
  automations/js/src/project_thread_updates.js
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#4084 Fix the feature flags in production on hydration
  frontend/feat/feature-flags.json
  frontend/nuxt.config.ts
  frontend/src/pages/preferences.vue
  frontend/src/stores/feature-flag.ts
  frontend/test/playwright/e2e/preferences.spec.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/unit/specs/stores/feature-flag-store.spec.js
  frontend/test/unit/test-utils/pinia.js
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: documentation

#4085 Show the unstable params and improve collection docs
  api/api/constants/search.py
  api/api/docs/audio_docs.py
  api/api/docs/base_docs.py
  api/api/docs/image_docs.py
  api/api/serializers/docs.py
  api/api/serializers/media_serializers.py
Labels: 🟧 priority: high, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: api

#4117 Set additional search views to enabled
  frontend/feat/feature-flags.json
  frontend/test/playwright/e2e/preferences.spec.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
Labels: 🟥 priority: critical, 🌟 goal: addition, 🕹 aspect: interface, 🧱 stack: frontend

#4089 Add useful Log Insights query to Nuxt avg response time runbook
  documentation/meta/monitoring/runbooks/nuxt_avg_response_time_above_threshold.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: documentation

#3914 Content moderator user preferences admin view
  api/api/admin/__init__.py
  api/api/admin/forms.py
  api/api/admin/site.py
  api/api/migrations/0059_userpreferences.py
  api/api/models/__init__.py
  api/api/models/moderation.py
  api/test/unit/admin/test_forms.py
  load_sample_data.sh
Labels: 🟨 priority: medium, 🌟 goal: addition, 🕹 aspect: interface, 🧱 stack: api, 🧱 stack: ingestion server, migrations

#4074 Report reingestion errors in aggregate
  catalog/dags/providers/provider_dag_factory.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#4104 Wait for iNaturalist load completion before compiling statistics
  catalog/dags/providers/provider_api_scripts/inaturalist.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#4114 Break `docker-compose.yml` into smaller `compose.yml` files
  .github/workflows/ci_cd.yml
  api/compose.yml
  catalog/compose.yml
  docker-compose.yml
  frontend/compose.yml
  frontend/docker-compose.playwright.yml
  ingestion_server/compose.yml
  ingestion_server/test/env.integration
  ingestion_server/test/gen_integration_compose.py
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#4102 Fill out query params for Stocksnap DAG, allow restarts
  catalog/dags/providers/provider_api_scripts/stocksnap.py
  catalog/tests/dags/providers/provider_api_scripts/test_stocksnap.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🔧 tech: airflow, 🧱 stack: catalog

#4075 Add django-migration-git-conflict to prevent divergent migration merges
  api/Pipfile
  api/Pipfile.lock
  api/conf/settings/base.py
  api/latest_migrations/README
  api/latest_migrations/api
  api/latest_migrations/corsheaders
  api/latest_migrations/django.contrib.admin
  api/latest_migrations/django.contrib.auth
  api/latest_migrations/django.contrib.contenttypes
  api/latest_migrations/django.contrib.messages
  api/latest_migrations/django.contrib.sessions
  api/latest_migrations/django.contrib.staticfiles
  api/latest_migrations/drf_spectacular
  api/latest_migrations/migrations_git_conflicts
  api/latest_migrations/oauth2_provider
  api/latest_migrations/rest_framework
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: api

#4026 Implementation plan: Ingestion server removal
  documentation/projects/proposals/ingestion_server_removal/20240328-implementation_plan_ingestion_server_removal.md
Labels: 🟨 priority: medium, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: ingestion server, 🧱 stack: catalog, 🧱 stack: documentation, 🧱 stack: infra

#4099 Add a redirect on 503 to frontend nginx
  frontend/nginx.conf.template
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#4105 Update Science Museum ingester with API changes
  catalog/dags/providers/provider_api_scripts/science_museum.py
  catalog/tests/dags/providers/provider_api_scripts/resources/sciencemuseum/large_image.json
  catalog/tests/dags/providers/provider_api_scripts/resources/sciencemuseum/measurements.json
  catalog/tests/dags/providers/provider_api_scripts/resources/sciencemuseum/medium_image.json
  catalog/tests/dags/providers/provider_api_scripts/resources/sciencemuseum/metadata.json
  catalog/tests/dags/providers/provider_api_scripts/resources/sciencemuseum/object_attr.json
  catalog/tests/dags/providers/provider_api_scripts/resources/sciencemuseum/object_data.json
  catalog/tests/dags/providers/provider_api_scripts/resources/sciencemuseum/response_success.json
  catalog/tests/dags/providers/provider_api_scripts/resources/sciencemuseum/thumbnail_large.json
  catalog/tests/dags/providers/provider_api_scripts/resources/sciencemuseum/thumbnail_medium.json
  catalog/tests/dags/providers/provider_api_scripts/resources/sciencemuseum/thumbnail_small.json
  catalog/tests/dags/providers/provider_api_scripts/test_science_museum.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#4067 Get change in record counts during data refresh from Elasticsearch
  catalog/dags/common/elasticsearch.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/reporting.py
  catalog/tests/dags/data_refresh/test_reporting.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#4093 Fix date range sent to Slack from reingestion workflows
  catalog/dags/common/loader/reporting.py
  catalog/dags/providers/provider_dag_factory.py
  catalog/tests/dags/providers/test_provider_dag_factory.py
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#4053 Update catalog to non-legacy environment names and point to new airflow.openverse.org
  api/api/templates/admin/base_site.html
  catalog/dags/common/slack.py
  catalog/dags/database/staging_database_restore/constants.py
  catalog/dags/maintenance/pr_review_reminders/pr_review_reminders_dag.py
  catalog/env.template
  catalog/pytest.ini
  catalog/tests/dags/common/test_slack.py
  catalog/utilities/README.md
  documentation/catalog/guides/deploy.md
  documentation/catalog/guides/deployment.md
  documentation/catalog/guides/quickstart.md
  documentation/ingestion_server/guides/deploy.md
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog, 🧱 stack: documentation

#4072 Do not reproduce reingestion workflow documentation
  catalog/tests/utilities/dag_doc_gen/test_dag_doc_generation.py
  catalog/utilities/dag_doc_gen/dag_doc_generation.py
  documentation/catalog/reference/DAGs.md
  documentation/projects/proposals/data_normalization/20240227-implementation_plan_catalog_data_cleaning.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: documentation

#4128 Add implementation plan for new Python package manager PDM
  documentation/projects/proposals/python_packaging/20240412-implementation_plan_switching_to_a_new_python_package_manager.md
  documentation/projects/proposals/python_packaging/index.md
  documentation/projects/proposals/python_packaging/star_history.png
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🤖 aspect: dx, 🐍 tech: python, 🧱 stack: api, 🧱 stack: documentation, 🧭 project: implementation plan

#4083 Add instructions how to run ingestion script from command line
  catalog/justfile
  documentation/catalog/guides/adding_a_new_provider.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: catalog

#4170 Remove unnecessary params from healthcheck
  docker-compose.yml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🐳 tech: docker, 🧱 stack: mgmt

#4171 Always remove containers when using `just run`
  catalog/justfile
  justfile
Labels: 🟩 priority: low, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#4175 Add more cases for "On Hold" project state
  documentation/projects/planning.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: documentation

#4174 Move ESLint plugin inside `packages/js`
  .codespell/ignore_lines.txt
  .github/CODEOWNERS
  .github/filters.yml
  .github/renovate.json
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  documentation/meta/ci_cd/jobs/packages.md
  documentation/packages/index.md
  package.json
  packages/js/eslint-plugin/.swcrc
  packages/js/eslint-plugin/README.md
  packages/js/eslint-plugin/jest.config.js
  packages/js/eslint-plugin/package.json
  packages/js/eslint-plugin/src/configs/custom.ts
  packages/js/eslint-plugin/src/configs/import.ts
  packages/js/eslint-plugin/src/configs/index.ts
  packages/js/eslint-plugin/src/configs/typescript.ts
  packages/js/eslint-plugin/src/configs/vue.ts
  packages/js/eslint-plugin/src/index.ts
  packages/js/eslint-plugin/src/rules/analytics-configuration.ts
  packages/js/eslint-plugin/src/rules/index.ts
  packages/js/eslint-plugin/src/rules/no-unexplained-disabled-test.ts
  packages/js/eslint-plugin/src/rules/translation-strings.ts
  packages/js/eslint-plugin/src/utils/rule-creator.ts
  packages/js/eslint-plugin/test/rules/analytics-configuration.spec.ts
  packages/js/eslint-plugin/test/rules/no-unexplained-disabled-test.spec.ts
  packages/js/eslint-plugin/test/rules/translation-strings.spec.ts
  packages/js/eslint-plugin/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.base.json
Labels: 🟧 priority: high, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: mgmt

#4184 Refine Python package names and versions
  api/pdm.lock
  api/pyproject.toml
  packages/python/openverse-attribution/pyproject.toml
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🐍 tech: python, 🧱 stack: api

#4180 Add DAG run link, explanation of missing failures to agg failure report
  catalog/dags/providers/provider_dag_factory.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🔧 tech: airflow, 🧱 stack: catalog

#4191 Install `setuptools` needed by `pgcli`
  api/pdm.lock
  api/pyproject.toml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api

#4186 Fix frontend robots.txt
  frontend/.gitignore
  frontend/src/server-middleware/robots.js
  frontend/src/static/robots.txt
Labels: 🟧 priority: high, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#4176 Don't show sources if their count has not changed
  catalog/dags/data_refresh/reporting.py
  catalog/tests/dags/data_refresh/test_reporting.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🔧 tech: airflow, 🧱 stack: catalog

#4195 Make links in docstring display as hyperlinks in docs site
  catalog/dags/common/cloudwatch.py
  catalog/dags/common/sensors/utils.py
  catalog/dags/common/slack.py
  catalog/dags/common/storage/media.py
  catalog/dags/database/batched_update/batched_update_dag.py
  catalog/dags/database/staging_database_restore/staging_database_restore.py
  catalog/dags/database/staging_database_restore/staging_database_restore_dag.py
  catalog/dags/maintenance/pr_review_reminders/pr_review_reminders.py
  catalog/dags/providers/provider_api_scripts/auckland_museum.py
  catalog/dags/providers/provider_api_scripts/cc_mixter.py
  catalog/dags/providers/provider_api_scripts/europeana.py
  catalog/dags/providers/provider_api_scripts/finnish_museums.py
  catalog/dags/providers/provider_api_scripts/flickr.py
  catalog/dags/providers/provider_api_scripts/freesound.py
  catalog/dags/providers/provider_api_scripts/inaturalist.py
  catalog/dags/providers/provider_api_scripts/jamendo.py
  catalog/dags/providers/provider_api_scripts/justtakeitfree.py
  catalog/dags/providers/provider_api_scripts/metropolitan_museum.py
  catalog/dags/providers/provider_api_scripts/nappy.py
  catalog/dags/providers/provider_api_scripts/phylopic.py
  catalog/dags/providers/provider_api_scripts/rawpixel.py
  catalog/dags/providers/provider_api_scripts/science_museum.py
  catalog/dags/providers/provider_api_scripts/smithsonian.py
  catalog/dags/providers/provider_api_scripts/smk.py
  catalog/dags/providers/provider_api_scripts/stocksnap.py
  catalog/dags/providers/provider_api_scripts/time_delineated_provider_data_ingester.py
  catalog/dags/providers/provider_api_scripts/wordpress.py
  catalog/dags/retired/providers/provider_api_scripts/thingiverse.py
  catalog/dags/retired/providers/provider_api_scripts/walters.py
  documentation/catalog/reference/DAGs.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: catalog

#4124 Modify `add_license_url` DAG for more specific null check
  catalog/dags/maintenance/add_license_url.py
  documentation/catalog/reference/DAGs.md
Labels: 🟨 priority: medium, 🧰 goal: internal improvement, 🧱 stack: catalog, 🗄️ aspect: data

#4205 Add translated routes to block to robots.txt
  frontend/src/server-middleware/robots.js
Labels: 🟥 priority: critical, 🚦 status: awaiting triage, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#4065 Round decimal record difference percent to three decimals after zeros
  catalog/dags/data_refresh/reporting.py
  catalog/tests/dags/data_refresh/test_reporting.py
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: catalog

#4200 Remove obsolete field from docker-compose.yml
  api/conf/urls/__init__.py
  docker-compose.yml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: mgmt

#4209 Extend `update_license_url` tasks timeout to a day and a half
  catalog/dags/maintenance/add_license_url.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#4213 Delete base indices before recreation of sample data
  docker/es/justfile
  load_sample_data.sh
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: ingestion server

#4197 Convert OperationalError into unhealthy health check response
  api/api/views/health_views.py
  api/test/unit/views/test_health_views.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#4169 Update media moderation view
  api/api/admin/__init__.py
  api/api/admin/media_report.py
  api/api/models/media.py
  api/api/templates/admin/api/media_report/attribution.html
  api/api/templates/admin/api/media_report/change_form.html
Labels: 🟧 priority: high, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: api

#4037 Use "audio track(s)" to refer to individual audio works
  frontend/src/locales/scripts/en.json5
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xs-linux.png
Labels: 🟨 priority: medium, 🛠 goal: fix, 📄 aspect: text, 🕹 aspect: interface, 🧱 stack: frontend

#4226 Update PR template with info about other doc generation, remove old file
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/default_template.md
Labels: 🟩 priority: low, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: mgmt

#4239 Fix the file name of the default pull request template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt
