Repository WordPress/openverse, pull requests merged in 2024-09, with the labels that each got.

#4848 Only specify major version for post-v1 actions
  .github/workflows/ci_cd.yml
  .github/workflows/discussion_ping.yml
  .github/workflows/pr_limit_reminders.yml
  .github/workflows/pr_ping.yml
  .github/workflows/renovate.yml
Labels: 🟩 priority: low, 💻 aspect: code, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#4859 Revert Nuxt updates and pin pinia versions
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/server/plugins/sentry.ts
  frontend/server/routes/healthcheck.ts
  frontend/server/utils/logger.ts
  frontend/src/locales/scripts/get-validated-locales.js
  frontend/src/locales/scripts/types.d.ts
  frontend/test/locales/valid-locales.json
  pnpm-lock.yaml
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: documentation

#4858 Added 90% ES CPU alarms to those disabled for the data refresh
  catalog/dags/common/cloudwatch.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#4857 Increase Science Museum backoff timeout from 2 minutes to 30 minutes
  catalog/dags/providers/provider_api_scripts/science_museum.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#4836 DAG for generating and inserting Rekognition labels
  .pre-commit-config.yaml
  catalog/dags/common/sql.py
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels.py
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels_dag.py
  catalog/dags/data_augmentation/rekognition/constants.py
  catalog/dags/data_augmentation/rekognition/label_mapping.py
  catalog/dags/data_augmentation/rekognition/types.py
  catalog/dags/database/batched_update/batched_update.py
  catalog/dags/database/batched_update/batched_update_dag.py
  catalog/dags/database/batched_update/constants.py
  catalog/env.template
  catalog/requirements-prod.txt
  catalog/tests/dags/data_augmentation/rekognition/sample_labels.json
  catalog/tests/dags/data_augmentation/rekognition/test_add_rekognition_labels.py
  catalog/tests/dags/database/test_batched_update.py
  catalog/tests/dags/test_dag_parsing.py
  catalog/tests/s3-data/migrated-cccatalog-archives/image_analysis_labels.jsonl
  docker/minio/load_to_s3_entrypoint.sh
  documentation/catalog/reference/DAGs.md
  pyproject.toml
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: catalog, 🧱 stack: documentation

#4864 Fix frontend memory leak
  frontend/src/stores/ui.ts
  frontend/test/unit/specs/stores/ui-store.spec.ts
  utilities/load_testing/Dockerfile
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: mgmt

#4840 Add the UI toggle for changing theme
  frontend/feat/feature-flags.json
  frontend/src/assets/svg/raw/moon.svg
  frontend/src/assets/svg/raw/sun.svg
  frontend/src/assets/svg/sprite/icons.svg
  frontend/src/components/VFooter/VFooter.vue
  frontend/src/components/VSelectField/VSelectField.vue
  frontend/src/components/VThemeSelect/VThemeSelect.vue
  frontend/src/composables/use-dark-mode.ts
  frontend/src/locales/scripts/en.json5
  frontend/test/unit/specs/composables/use-dark-mode.spec.ts
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🕹 aspect: interface, 🔧 tech: vue, 🧱 stack: frontend

#4869 Update Nuxt to v3.13.1
  frontend/package.json
  frontend/typings/extend.d.ts
  pnpm-lock.yaml
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: documentation

#4872 Make `additional_where` optional for batched update
  catalog/dags/database/batched_update/batched_update.py
  catalog/dags/database/batched_update/batched_update_dag.py
  catalog/tests/dags/database/test_batched_update.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#4867 Remove retired DAGs from the codebase
  .github/ISSUE_TEMPLATE/new_source_suggestion.yml
  .pre-commit-config.yaml
  catalog/dags/.airflowignore
  catalog/dags/retired/README.md
  catalog/dags/retired/__init__.py
  catalog/dags/retired/cleaner_workflow.py
  catalog/dags/retired/common/etl/__init__.py
  catalog/dags/retired/common/etl/bootstrap/config-py27.sh
  catalog/dags/retired/common/etl/scripts/ExtractCCLinks.py
  catalog/dags/retired/common/etl/scripts/__init__.py
  catalog/dags/retired/common/ingestion_column.py
  catalog/dags/retired/common/loader/sql.py
  catalog/dags/retired/common/pg_cleaner.py
  catalog/dags/retired/common_api_workflows.py
  catalog/dags/retired/commoncrawl/commoncrawl_etl.py
  catalog/dags/retired/commoncrawl/commoncrawl_scripts/commoncrawl_s3_syncer/SyncImageProviders.py
  catalog/dags/retired/commoncrawl/commoncrawl_scripts/scripts/merge_cc_tags.py
  catalog/dags/retired/commoncrawl/commoncrawl_utils.py
  catalog/dags/retired/commoncrawl/sync_commoncrawl_workflow.py
  catalog/dags/retired/database/image_expiration_workflow.py
  catalog/dags/retired/database/loader_workflow.py
  catalog/dags/retired/database/terminate_long_queries_workflow.py
  catalog/dags/retired/fix_phylopic_foreign_identifier.py
  catalog/dags/retired/providers/provider_api_scripts/modules/__init__.py
  catalog/dags/retired/providers/provider_api_scripts/modules/etlMods.py
  catalog/dags/retired/providers/provider_api_scripts/thingiverse.py
  catalog/dags/retired/providers/provider_api_scripts/walters.py
  catalog/dags/retired/update_workflows/__init__.py
  catalog/dags/retired/update_workflows/europeana_sub_provider_update_workflow.py
  catalog/dags/retired/update_workflows/flickr_sub_provider_update_workflow.py
  catalog/dags/retired/update_workflows/smithsonian_sub_provider_update_workflow.py
  catalog/dags/retired/update_workflows/update_sql.py
  catalog/utilities/media_props_gen/docs/media_props.md
  documentation/catalog/guides/quickstart.md
  documentation/catalog/reference/index.md
  documentation/catalog/reference/retired.md
  documentation/meta/media_properties/catalog.md
  pyproject.toml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog, 🧱 stack: mgmt, 🧱 stack: documentation

#4854 Update `ContentSource` to match `MediaMixin`
  api/api/migrations/0069_alter_contentsource_source_identifier.py
  api/api/models/models.py
  api/latest_migrations/api
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api, migrations

#4875 Fix handful of networking issues including silence errors
  api/api/utils/check_dead_links/__init__.py
  api/api/utils/image_proxy/__init__.py
  api/api/utils/image_proxy/extension.py
  api/api/views/image_views.py
  api/test/unit/utils/test_check_dead_links.py
  api/test/unit/utils/test_image_proxy.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#4831 Update appearance of sensitive image thumbnails
  frontend/src/assets/svg/raw/eye-closed.svg
  frontend/src/assets/svg/raw/eye-open.svg
  frontend/src/assets/svg/sprite/icons.svg
  frontend/src/components/VAudioThumbnail/VAudioThumbnail.vue
  frontend/src/components/VImageCell/VImageCell.vue
  frontend/src/styles/tailwind.css
  frontend/tailwind.config.ts
  frontend/test/unit/specs/components/v-image-cell.spec.js
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend, 🧱 stack: documentation

#4871 Revert minor version removal from Renovate action
  .github/workflows/renovate.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt

#4889 Fix unbound access of `log` (when the captured exception is a timeout)
  api/api/utils/image_proxy/extension.py
  api/test/unit/utils/test_image_proxy.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#4891 Ensure correct API usage for frontend related media requests
  api/nginx/nginx.conf.template
  frontend/src/stores/media/related-media.ts
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api, 🧱 stack: frontend

#4866 Update to Vale 3 and refactor setup in light of ov
  .github/workflows/ci_cd.yml
  .vale/.gitignore
  .vale/.vale.ini
  .vale/Dockerfile
  .vale/README.md
  .vale/justfile
  .vale/pdm.lock
  .vale/pyproject.toml
  .vale/styles/Vocab/Openverse/accept.txt
  .vale/styles/config/vocabularies/Openverse/accept.txt
  documentation/meta/decision_making/index.md
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, dependencies, 🧱 stack: mgmt, 🧱 stack: documentation

#4899 Make PDM available when linting in release app
  .github/workflows/tag_docker_image_and_trigger_deployment.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt

#4538 Add low-level TS API client with generated types
  .pre-commit-config.yaml
  .vale/styles/Openverse/TermCasing.yml
  documentation/conf.py
  documentation/packages/index.md
  documentation/packages/js/api_client/index.md
  documentation/packages/js/eslint_plugin/analytics_configuration.md
  documentation/packages/js/eslint_plugin/index.md
  documentation/packages/js/eslint_plugin/no-unexplained-disabled-test.md
  documentation/packages/python/openverse_attribution/index.md
  frontend/package.json
  justfile
  package.json
  packages/js/api-client/.gitignore
  packages/js/api-client/.npmignore
  packages/js/api-client/README.md
  packages/js/api-client/bin/generate.mjs
  packages/js/api-client/package.json
  packages/js/api-client/rollup.config.ts
  packages/js/api-client/src/auth.ts
  packages/js/api-client/src/client.ts
  packages/js/api-client/src/generated/openverse.ts
  packages/js/api-client/src/index.ts
  packages/js/api-client/src/types.ts
  packages/js/api-client/tests/client.test.ts
  packages/js/api-client/tests/mock-thumbnail.bin
  packages/js/api-client/tsconfig.json
  packages/js/api-client/tsconfig.prod.json
  packages/js/api-client/vitest.config.mjs
  packages/js/api-client/vitest.config.mts
  packages/js/eslint-plugin/README.md
  packages/js/eslint-plugin/package.json
  packages/python/openverse-attribution/README.md
  pnpm-lock.yaml
Labels: 🟩 priority: low, 🌟 goal: addition, 🕹 aspect: interface, 🧱 stack: api, 🧱 stack: frontend, 🧱 stack: documentation

#4892 Log when API client apps authorize
  api/api/views/oauth2_views.py
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#4900 Add catalog changelog
  documentation/changelogs/catalog/2024.09.09.23.00.57.md
Labels: 🟩 priority: low, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: catalog, 🧱 stack: documentation

#4876 Update i18n packages
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/src/locales/scripts/get-validated-locales.js
  frontend/src/locales/scripts/types.d.ts
  frontend/test/locales/valid-locales.json
  pnpm-lock.yaml
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: documentation

#4903 Refactor k6 development environment to prepare for regular runs in CD
  docker/dev_env/Dockerfile
  frontend/package.json
  justfile
  packages/js/eslint-plugin/src/configs/import.ts
  packages/js/k6/README.md
  packages/js/k6/justfile
  packages/js/k6/package.json
  packages/js/k6/rollup.config.ts
  packages/js/k6/src/frontend/all.test.ts
  packages/js/k6/src/frontend/constants.ts
  packages/js/k6/src/frontend/scenarios.ts
  packages/js/k6/src/frontend/search-en.test.ts
  packages/js/k6/src/frontend/search-locales.test.ts
  packages/js/k6/src/frontend/static-en.test.ts
  packages/js/k6/src/frontend/static-locales.test.ts
  packages/js/k6/src/utils.ts
  packages/js/k6/tsconfig.json
  pnpm-lock.yaml
  utilities/load_testing/.env.sh.template
  utilities/load_testing/.gitignore
  utilities/load_testing/Dockerfile
  utilities/load_testing/README.md
  utilities/load_testing/api.sh
  utilities/load_testing/get_word.sh
  utilities/load_testing/justfile
  utilities/load_testing/k6/frontend.js
  utilities/load_testing/k6/main.js
  utilities/load_testing/k6/observation.js
  utilities/load_testing/k6/search.js
  utilities/load_testing/k6/utils.js
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🤖 aspect: dx, 🧱 stack: frontend, 🧱 stack: mgmt

#4886 Create S3 client for smart_open from session
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#4785 Raise exception for misclassified items in MediaStore and get filetype from Wikimedia's API
  catalog/dags/common/extensions.py
  catalog/dags/common/storage/media.py
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
  catalog/tests/dags/common/storage/test_audio.py
  catalog/tests/dags/common/storage/test_media.py
  catalog/tests/dags/common/test_extensions.py
  catalog/tests/dags/providers/provider_api_scripts/resources/provider_data_ingester/mock_provider_data_ingester.py
  catalog/tests/dags/providers/provider_api_scripts/resources/wikimedia/image_data_example.json
  catalog/tests/dags/providers/provider_api_scripts/resources/wikimedia/image_info_from_example_data.json
  catalog/tests/dags/providers/provider_api_scripts/test_wikimedia_commons.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#4921 Implement inverted CC icons for dark mode
  frontend/src/assets/svg/raw/licenses/by-dark.svg
  frontend/src/assets/svg/raw/licenses/by-light.svg
  frontend/src/assets/svg/raw/licenses/by.svg
  frontend/src/assets/svg/raw/licenses/cc-dark.svg
  frontend/src/assets/svg/raw/licenses/cc-light.svg
  frontend/src/assets/svg/raw/licenses/cc.svg
  frontend/src/assets/svg/raw/licenses/nc-dark.svg
  frontend/src/assets/svg/raw/licenses/nc-light.svg
  frontend/src/assets/svg/raw/licenses/nc.svg
  frontend/src/assets/svg/raw/licenses/nd-dark.svg
  frontend/src/assets/svg/raw/licenses/nd-light.svg
  frontend/src/assets/svg/raw/licenses/nd.svg
  frontend/src/assets/svg/raw/licenses/pd-dark.svg
  frontend/src/assets/svg/raw/licenses/pd-light.svg
  frontend/src/assets/svg/raw/licenses/pd.svg
  frontend/src/assets/svg/raw/licenses/remix-dark.svg
  frontend/src/assets/svg/raw/licenses/remix-light.svg
  frontend/src/assets/svg/raw/licenses/remix.svg
  frontend/src/assets/svg/raw/licenses/sa-dark.svg
  frontend/src/assets/svg/raw/licenses/sa-light.svg
  frontend/src/assets/svg/raw/licenses/sa.svg
  frontend/src/assets/svg/raw/licenses/sampling-dark.svg
  frontend/src/assets/svg/raw/licenses/sampling-light.svg
  frontend/src/assets/svg/raw/licenses/sampling-plus-dark.svg
  frontend/src/assets/svg/raw/licenses/sampling-plus-light.svg
  frontend/src/assets/svg/raw/licenses/sampling.plus.svg
  frontend/src/assets/svg/raw/licenses/sampling.svg
  frontend/src/assets/svg/raw/licenses/share-dark.svg
  frontend/src/assets/svg/raw/licenses/share-light.svg
  frontend/src/assets/svg/raw/licenses/share.svg
  frontend/src/assets/svg/raw/licenses/zero-dark.svg
  frontend/src/assets/svg/raw/licenses/zero-light.svg
  frontend/src/assets/svg/raw/licenses/zero.svg
  frontend/src/assets/svg/sprite/licenses.svg
  frontend/src/components/VLicense/VLicense.vue
  frontend/src/components/VLicense/VLicenseElements.vue
Labels: 🟧 priority: high, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend

#4932 Specify `amd64` platform to fix `ov` builds on macOS
  docker/dev_env/run.sh
  ov
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🤖 aspect: dx, 🧱 stack: mgmt

#4833 Add filtered index and promotion steps to data refresh
  catalog/dags/common/sql.py
  catalog/dags/data_refresh/copy_data.py
  catalog/dags/data_refresh/create_and_populate_filtered_index.py
  catalog/dags/data_refresh/create_index.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/data_refresh_types.py
  catalog/dags/data_refresh/distributed_reindex.py
  catalog/dags/data_refresh/es_mapping.py
  catalog/dags/data_refresh/promote_table.py
  catalog/dags/data_refresh/queries.py
  catalog/dags/data_refresh/remap_table_constraints.py
  catalog/dags/data_refresh/remap_table_indices.py
  catalog/entrypoint.sh
  catalog/env.template
  catalog/tests/dags/data_refresh/test_remap_table_constraints.py
  catalog/tests/dags/data_refresh/test_remap_table_indices.py
  indexer_worker/indexer_worker/api.py
  indexer_worker/indexer_worker/static/mock_sensitive_terms.txt
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: ingestion server, 🧱 stack: catalog

#4839 Fix `add_license_url` DAG for last items
  catalog/dags/maintenance/add_license_url.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 🧱 stack: catalog, 🗄️ aspect: data

#4938 Remove the gradient background from the VSafetyWall
  frontend/src/assets/safety-bg.png
  frontend/src/components/VSafetyWall/VSafetyWall.vue
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-2xl-light-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-lg-light-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-md-light-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-sm-light-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-xs-light-linux.png
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🕹 aspect: interface, 🧱 stack: frontend

#4939 Fix `VSelectField` focus ring
  frontend/src/components/VSelectField/VSelectField.vue
  frontend/src/styles/tailwind.css
Labels: 🟨 priority: medium, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend, 🧱 stack: documentation

#4942 Simplify audiowaveform installation in API Dockerfile
  api/Dockerfile
Labels: 🟨 priority: medium, 💻 aspect: code, dependencies, 🧰 goal: internal improvement, 🧱 stack: api

#4941 Update django-oauth-toolkit to major version 3
  api/api/migrations/0070_throttledapplication_allowed_origins_and_more.py
  api/latest_migrations/api
  api/latest_migrations/oauth2_provider
  api/pdm.lock
  api/pyproject.toml
Labels: 🟧 priority: high, 💻 aspect: code, dependencies, 🧰 goal: internal improvement, 🧱 stack: api, migrations

#4945 Remove "Testing Nuxt 3" text from markup
  frontend/src/components/VHomepageContent.vue
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#4946 Fix markup in the general setup guide
  documentation/general/general_setup.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: documentation

#4950 Specify insert fields and unique indices for Rekognition tags insert
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels.py
  catalog/tests/s3-data/migrated-cccatalog-archives/image_analysis_labels.jsonl
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#4922 Add new feature notice for dark mode
  frontend/src/components/VFeatureNotice/VDarkModeFeatureNotice.vue
  frontend/src/components/VFeatureNotice/VFeatureNotice.vue
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VSelectField/VSelectField.vue
  frontend/src/components/VThemeSelect/VThemeSelect.vue
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/default.vue
  frontend/src/layouts/search-layout.vue
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/index.vue
  frontend/src/stores/ui.ts
  frontend/src/styles/tailwind.css
  frontend/tailwind.config.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-ltr-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-ltr-xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-rtl-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-rtl-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts
  frontend/test/unit/specs/stores/ui-store.spec.ts
Labels: 🟨 priority: medium, ✨ goal: improvement, 🖼️ aspect: design, 🧱 stack: frontend, 🧱 stack: documentation

#4943 Conditional removal of changelogs
  documentation/conf.py
  documentation/meta/missing_changelogs.md
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: documentation

#4955 Modify Rekognition insertion timeouts
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels_dag.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🔧 tech: airflow, 🧱 stack: catalog

#4951 Address deprecations, make DeprecationWarning and RemovedInAirflow3Warning raise error
  catalog/pytest.ini
  catalog/tests/dags/common/sensors/test_single_run_external_dags_sensor.py
  catalog/tests/dags/common/sensors/test_utils.py
  catalog/tests/dags/database/staging_database_restore/test_staging_database_restore.py
  catalog/tests/dags/providers/test_provider_dag_factory.py
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: catalog

#4908 Sign k6 requests with HMAC to enable WAF bypass
  packages/js/k6/package.json
  packages/js/k6/rollup.config.ts
  packages/js/k6/src/crypto.ts
  packages/js/k6/src/frontend/constants.ts
  packages/js/k6/src/frontend/scenarios.ts
  packages/js/k6/src/http.ts
  packages/js/k6/src/utils.ts
  pnpm-lock.yaml
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: infra

#4919 Make Storybook visual regression tests more strict
  frontend/src/components/VContentSwitcher/meta/VSearchTypes.stories.js
  frontend/test/storybook/playwright.config.ts
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-dark-hovered-light-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-dark-resting-light-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-gray-hovered-light-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-pink-8-hovered-light-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-pink-8-resting-light-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-white-hovered-light-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/transparent-dark-hovered-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-2xl-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-lg-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-md-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-sm-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-2xl-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-lg-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-2xl-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-lg-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-2xl-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-lg-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-md-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/desktop-header-internal-rtl-2xl-light-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-ltr-md-light-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-ltr-sm-light-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-rtl-md-light-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-rtl-sm-light-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-rtl-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-search-types.spec.ts
  frontend/test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-medium-at-rest-md-light-linux.png
  frontend/test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-medium-focused-md-light-linux.png
  frontend/test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-medium-images-hovered-md-light-linux.png
  frontend/test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-small-at-rest-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-small-focused-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-small-images-hovered-xl-light-linux.png
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#4968 Fix flaky image cell test
  frontend/src/components/VImageCell/VImageCell.vue
  frontend/src/components/VImageCell/meta/VImageCell.stories.ts
  frontend/test/hars/f54be427bbbd5e2a3dc4f38eda3679769eb1cb4e.webp
  frontend/test/hars/v-image-cell.har
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-hovered-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-hovered-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-loaded-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-loaded-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-loaded-xs-light-linux.png
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#4969 Organise and fix bugs in color definitions
  frontend/src/styles/tailwind.css
  frontend/tailwind.config.ts
Labels: 🟩 priority: low, 📄 aspect: text, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: documentation

#4915 Add dark snapshots to 2xl breakpoint visual regression tests
  frontend/test/playwright/utils/breakpoints.ts
  frontend/test/playwright/utils/expect-snapshot.ts
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-from-search-results-with-additional-search-views-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-from-search-results-with-additional-search-views-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sensitive-content-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sensitive-content-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-2xl-dark-linux.png
Labels: 🟨 priority: medium, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: frontend

#4970 Add dark snapshots to xl breakpoint visual regression tests
  frontend/test/playwright/utils/breakpoints.ts
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/generic-error-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/generic-error-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-no-results-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-no-results-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-no-results-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-no-results-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-timeout-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-timeout-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/full-page-report-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/full-page-report-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-from-search-results-with-additional-search-views-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-from-search-results-with-additional-search-views-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sensitive-content-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sensitive-content-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-xl-dark-linux.png
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#4973 Add Sutori to Made with Openverse page
  documentation/_static/openverse_sutori.png
  documentation/api/reference/made_with_ov.md
Labels: 🟩 priority: low, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation

#4971 Add Katmai NPS source from Flickr
  catalog/dags/common/loader/provider_details.py
Labels: 🟨 priority: medium, 🌟 goal: addition, 🧱 stack: catalog, 🗄️ aspect: data

#4978 Changed "exact match boost" implementation to use a match_phrase query in should
  api/api/controllers/search_controller.py
  api/test/unit/controllers/test_search_controller_search_query.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api

#4961 Fix just argument splitting on pass-through recipes with complex args
  .vale/justfile
  api/justfile
  automations/js/justfile
  automations/python/justfile
  catalog/justfile
  docker/cache/justfile
  documentation/justfile
  frontend/bin/playwright.sh
  frontend/justfile
  indexer_worker/justfile
  justfile
  packages/js/k6/justfile
  packages/python/openverse-attribution/justfile
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: frontend, 🧱 stack: catalog, 🧱 stack: mgmt, 🧱 stack: documentation, 🧱 stack: infra

#4987 Fix flaky test
  frontend/test/playwright/e2e/search-navigation.spec.ts
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#4990 Remove steps for unprepared k6 after staging frontend deploy
  .github/workflows/ci_cd.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt

#4992 Use Elasticsearch configuration file to avoid tricky envvar names
  docker-compose.yml
  docker/es/elasticsearch.yml
  docker/es/env.docker
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api, 🧱 stack: catalog, 🧱 stack: mgmt, 🧱 stack: analytics

#4993 Do not ping for project update reminders on shipped projects
  automations/js/src/project_thread_updates.js
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#4994 Collect lighthouse CI on each frontend change
  .github/.lighthouserc.yml
  .github/workflows/ci_cd.yml
  justfile
Labels: 🟩 priority: low, 🌟 goal: addition, 💻 aspect: code, ♿️ aspect: a11y, 🧱 stack: frontend, 🧱 stack: mgmt, 🧱 stack: infra

#4999 Fix flaky test from #4995
  frontend/src/pages/preferences.vue
  frontend/test/playwright/e2e/attribution.spec.ts
  frontend/test/playwright/e2e/preferences.spec.ts
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend
