Repository WordPress/openverse, pull requests merged in 2024-07, with the labels that each got.

#4583 Remove volta and engines.pnpm settings
  .gitignore
  frontend/justfile
  package.json
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, dependencies, 🧱 stack: frontend

#4573 Fix Docker build warnings
  api/Dockerfile
  catalog/Dockerfile
  docker/upstream_db/Dockerfile
  frontend/Dockerfile
  frontend/Dockerfile.nginx
  indexer_worker/Dockerfile
  ingestion_server/Dockerfile
  utilities/load_testing/Dockerfile
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🐳 tech: docker, 🧱 stack: api, 🧱 stack: frontend, 🧱 stack: catalog, 🧱 stack: mgmt

#4589 Add manual changelog for API 2024.07.01.20.35.48
  documentation/changelogs/api/2024.07.01.20.35.48.md
Labels: 🟩 priority: low, 🌟 goal: addition, 📄 aspect: text, skip-changelog, 🧱 stack: documentation

#4592 Try adding ignoreScripts to fix pnpmfileChecksum update issue
  .github/global-renovate.json5
  .github/renovate.json
  .github/renovate.json5
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#4590 Drop `status` column from media reports
  api/api/migrations/0068_remove_audioreport_status_remove_imagereport_status.py
  api/api/models/__init__.py
  api/api/models/media.py
  api/latest_migrations/api
  api/test/unit/models/test_media_report.py
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api, migrations

#4593 Bump `schemathesis` to v3.31.0 and silence warnings on API tests
  api/pdm.lock
  api/test/unit/controllers/test_search_controller.py
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#4560 Make `ov` base image updates overall more convenient and take immediate effect
  docker/dev_env/.gitignore
  docker/dev_env/Dockerfile
  docker/dev_env/run.sh
  docker/dev_env/setup_env.sh
  ov
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#4584 Fix TypeError by checking if duration is not Finite before setting cu…
  frontend/src/components/VAudioTrack/VAudioTrack.vue
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#4552 Split `batched_update` DAG into automated and manual DAGs
  catalog/dags/database/batched_update/batched_update_dag.py
  catalog/dags/database/batched_update/constants.py
  catalog/dags/popularity/popularity_refresh_dag_factory.py
  catalog/utilities/dag_doc_gen/dag_doc_generation.py
  documentation/catalog/reference/DAGs.md
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog, 🧱 stack: documentation

#4598 Decrease link validation timeout
  api/api/controllers/search_controller.py
  api/api/utils/check_dead_links/__init__.py
  api/conf/settings/__init__.py
  api/conf/settings/link_validation.py
  api/test/factory/es_http.py
  api/test/integration/test_dead_link_filter.py
  api/test/unit/configuration/test_link_validation_cache.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/utils/test_check_dead_links.py
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: infra

#4582 Update pook to v2
  api/pdm.lock
  api/pyproject.toml
  api/test/unit/utils/test_watermark.py
  api/test/unit/utils/test_waveform.py
  api/test/unit/views/test_image_views.py
  catalog/requirements-dev.txt
  indexer_worker/pdm.lock
  indexer_worker/pyproject.toml
Labels: 🟩 priority: low, 💻 aspect: code, dependencies, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: catalog

#4567 Expand `ov` documentation and replace environment setup docs with `ov` instructions
  .devcontainer/devcontainer.json
  .github/ISSUE_TEMPLATE/new_source_suggestion.yml
  .github/pull_request_template.md
  .gitignore
  .vale/README.md
  api/justfile
  catalog/templates/template_test.py_template
  catalog/tests/dags/providers/provider_api_scripts/test_cc_mixter.py
  catalog/tests/dags/providers/provider_api_scripts/test_inaturalist.py
  docker/dev_env/exec.py
  docker/dev_env/run.sh
  docker/minio/load_to_s3_entrypoint.sh
  documentation/api/guides/https.md
  documentation/api/guides/quickstart.md
  documentation/api/guides/test.md
  documentation/automations/guides/quickstart.md
  documentation/catalog/guides/adding_a_new_provider.md
  documentation/catalog/guides/dag_testing.md
  documentation/catalog/guides/quickstart.md
  documentation/frontend/guides/analytics.md
  documentation/frontend/guides/icons.md
  documentation/frontend/guides/quickstart.md
  documentation/frontend/guides/test.md
  documentation/frontend/reference/i18n.md
  documentation/frontend/reference/miscellaneous.md
  documentation/frontend/reference/nginx.md
  documentation/frontend/reference/testing_guidelines.md
  documentation/general/contributing.md
  documentation/general/contribution/dev_flow.md
  documentation/general/contribution/good_first_and_help_wanted_issues.md
  documentation/general/deployment.md
  documentation/general/general_setup.md
  documentation/general/https.md
  documentation/general/index.md
  documentation/general/logging.md
  documentation/general/quickstart.md
  documentation/general/run.md
  documentation/general/test.md
  documentation/index.md
  documentation/ingestion_server/guides/quickstart.md
  documentation/ingestion_server/guides/test.md
  documentation/ingestion_server/reference/elasticsearch.md
  documentation/meta/ci_cd/actions.md
  documentation/meta/ci_cd/jobs/preparation.md
  documentation/meta/documentation/adding_docs.md
  documentation/meta/documentation/quickstart.md
  documentation/meta/monitoring/runbooks/api_http_5xx_above_threshold.md
  documentation/meta/monitoring/runbooks/unhealthy_ecs_hosts.md
  documentation/packages/index.md
  documentation/projects/planning.md
  documentation/projects/templates/implementation_plan.md
  documentation/projects/yearly_planning/process_outline.md
  frontend/src/locales/scripts/bulk-download.js
  justfile
  ov
  utilities/generate_test_locales/__main__.py
  utilities/load_testing/README.md
Labels: 🟨 priority: medium, ✨ goal: improvement, 📄 aspect: text, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: frontend, 🧱 stack: catalog, 🧱 stack: mgmt, 🧱 stack: documentation, 🧭 project: implementation plan

#4605 Remove `proxy` service and make API NGINX setup similar to the frontend
  api/Dockerfile
  api/compose.yml
  api/justfile
  api/nginx/nginx.conf.template
  api/nginx/snippets/django_location.conf
  docker/nginx/.gitignore
  docker/nginx/justfile
  docker/nginx/templates/web.conf.template
  documentation/api/guides/https.md
  documentation/api/guides/index.md
  documentation/general/https.md
  documentation/general/index.md
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🐳 tech: docker, 🧱 stack: api, 🧱 stack: documentation

#4615 Update ingestion server removal IP with EC2 approach
  documentation/projects/proposals/ingestion_server_removal/20240328-implementation_plan_ingestion_server_removal.md
Labels: 🟧 priority: high, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: ingestion server, 🧱 stack: catalog, 🧱 stack: documentation, 🧭 project: implementation plan

#4623 Migrate `utilities/dead_link` to PDM
  utilities/dead_links/Pipfile
  utilities/dead_links/Pipfile.lock
  utilities/dead_links/dead_link_tally.py
  utilities/dead_links/pdm.lock
  utilities/dead_links/pyproject.toml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: mgmt

#4622 Migrate `utilities/project_planning` to PDM
  utilities/project_planning/Pipfile
  utilities/project_planning/Pipfile.lock
  utilities/project_planning/pdm.lock
  utilities/project_planning/pyproject.toml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: mgmt

#4628 Update pnpm and use corepack
  .github/actions/setup-env/action.yml
  frontend/Dockerfile
  frontend/Dockerfile.playwright
  frontend/bin/playwright.sh
  frontend/docker-compose.playwright.yml
  frontend/package.json
  package.json
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: mgmt

#4624 Migrate `utilities/provider_tallies` to PDM
  utilities/provider_tallies/Pipfile
  utilities/provider_tallies/Pipfile.lock
  utilities/provider_tallies/README.md
  utilities/provider_tallies/pdm.lock
  utilities/provider_tallies/provider_tally_stats.py
  utilities/provider_tallies/pyproject.toml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: mgmt

#4601 Create a dataclass for indexer worker TaskStatus
  indexer_worker/indexer_worker/tasks.py
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog

#4585 Make running Playwright to update snapshots easier
  .github/workflows/ci_cd.yml
  docker/dev_env/Dockerfile
  documentation/frontend/reference/testing_guidelines.md
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: frontend, 🧱 stack: mgmt, 🧱 stack: documentation

#4610 Add `catalog_cleaner` DAG
  catalog/dags/database/catalog_cleaner/catalog_cleaner.py
  catalog/dags/database/catalog_cleaner/constants.py
  documentation/catalog/reference/DAGs.md
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: catalog, 🧱 stack: documentation

#4543 Make the sources tables responsive using CSS
  frontend/src/components/VSourcesTable.vue
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xs-linux.png
Labels: 🟨 priority: medium, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#4635 Remove client application headers from API responses
  api/api/middleware/response_headers_middleware.py
  api/conf/oauth2_extensions.py
  api/conf/settings/base.py
  api/test/integration/test_auth.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api

#4625 Migrate automations to PDM
  .github/workflows/ci_cd.yml
  automations/python/Pipfile
  automations/python/Pipfile.lock
  automations/python/justfile
  automations/python/pdm.lock
  automations/python/pyproject.toml
  documentation/automations/guides/quickstart.md
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: mgmt

#4632 Fix version qualifiers in `pyproject.toml` files
  utilities/dead_links/pdm.lock
  utilities/dead_links/pyproject.toml
  utilities/project_planning/pdm.lock
  utilities/project_planning/pyproject.toml
  utilities/provider_tallies/pdm.lock
  utilities/provider_tallies/pyproject.toml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: mgmt

#4649 Use a separate logger for dead links check that Sentry will ignore
  api/api/utils/check_dead_links/__init__.py
  api/conf/settings/sentry.py
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#4626 Migrate `utilities/generate_test_locales` to PDM
  frontend/test/locales/ar.json
  frontend/test/locales/es.json
  utilities/generate_test_locales/Pipfile
  utilities/generate_test_locales/Pipfile.lock
  utilities/generate_test_locales/justfile
  utilities/generate_test_locales/pdm.lock
  utilities/generate_test_locales/pyproject.toml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: mgmt

#4652 Remove env from Airflow alerts, improve ES alert username & icon
  catalog/dags/common/slack.py
  catalog/dags/elasticsearch_cluster/healthcheck_dag.py
  catalog/tests/dags/common/test_slack.py
Labels: 🟧 priority: high, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: catalog, 🧱 stack: infra

#4603 Limit access for content moderators
  api/api/admin/media_report.py
  api/api/admin/site.py
  load_sample_data.sh
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api

#4653 Fix HTML creator crediting incorrect image tags
  frontend/src/utils/attribution-html.ts
Labels: 🟧 priority: high, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#4657 Remove the "2 Reviews Needed" column automation from the PR board
  .pre-commit-config.yaml
  automations/js/prettier.config.js
  automations/js/src/count_user_reviewable_prs.js
  automations/js/src/label_pr.mjs
  automations/js/src/last_week_tonight.mjs
  automations/js/src/project_automation/issues.mjs
  automations/js/src/project_automation/prs.mjs
  automations/js/src/project_thread_updates.js
  automations/js/src/render-jinja.js
  automations/js/src/sync_labels.mjs
  automations/js/src/utils/html.mjs
  automations/js/src/utils/projects.mjs
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#4660 Remove the single-result endpoints from the robots.txt
  frontend/src/server-middleware/robots.js
  frontend/src/utils/og.ts
  frontend/test/playwright/e2e/seo.spec.ts
Labels: 🟧 priority: high, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#4656 Update media list admin view to add ES-powered search
  api/api/admin/media_report.py
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: api

#4662 Clarify policy around which demographics to exclude in Rekognition IP
  documentation/projects/proposals/rekognition_data/20240530-implementation_plan_augment_catalog_with_rekognition_tags.md
Labels: 🟨 priority: medium, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: catalog, 🧱 stack: documentation, 🧭 project: implementation plan

#4654 Implement bulk moderation actions
  api/api/admin/media_report.py
  api/api/constants/moderation.py
  api/api/models/media.py
  api/api/templates/admin/api/bulk_moderation_confirmation.html
  api/api/utils/moderation.py
  api/test/factory/models/__init__.py
  api/test/factory/models/audio.py
  api/test/factory/models/image.py
  api/test/factory/models/oauth2.py
  api/test/fixtures/media_type_config.py
  api/test/unit/models/test_media.py
  api/test/unit/utils/test_moderation.py
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: api

#4669 Remove nonexistent directory from `just` recipe display list
  justfile
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#4671 Set site indexability at runtime
  frontend/server/plugins/indexable.ts
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#4675 Ensure CODEOWNERS matches from top level rather than anywhere in path
  .github/CODEOWNERS
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#4673 Update Django admin views for bulk moderation ergonomics
  api/api/admin/media_report.py
  api/api/templates/admin/api/filters/media_decision.html
  api/api/templates/admin/api/media_decision/change_form.html
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: api
