Repository WordPress/openverse, pull requests merged in 2024-08, with the labels that each got.

#4682 Update Vue and remove modal hotfix
  frontend/package.json
  frontend/src/components/VExternalSearch/VExternalSearchForm.vue
  frontend/src/components/VModal/VModal.vue
  frontend/src/components/VModal/VModalContent.vue
  pnpm-lock.yaml
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#4683 Drop Elasticsearch throttling on Ingestion Server
  ingestion_server/ingestion_server/indexer.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: ingestion server

#4697 Bump the minimum required PDM version for the API
  api/Dockerfile
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api

#4702 Fix the flaky pages test
  frontend/test/playwright/utils/components.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
Labels: 🟥 priority: critical, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: frontend

#4687 Init dark mode with feature flag and body class
  frontend/feat/feature-flags.json
  frontend/src/app.vue
  frontend/src/composables/use-dark-mode.ts
  frontend/test/unit/specs/composables/use-dark-mode.spec.ts
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend

#4698 Increase PR count for PR limit bot reminder to 5
  .github/workflows/pr_limit_reminders.yml
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#4709 Fix test flake in pages.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#4711 Convert iNaturalist vernacular VARCHAR columns to TEXT
  catalog/dags/providers/provider_csv_load_scripts/inaturalist/create_schema.sql
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🔧 tech: airflow, 🧱 stack: catalog

#4677 Fix waveform generation for short tracks
  api/api/utils/waveform.py
  api/test/factory/sample-short-audio.mp3
  api/test/unit/utils/test_waveform.py
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#4528 Reorganise release and deployment process documentation
  .codespell/ignore_lines.txt
  .github/workflows/draft_releases.yml
  .github/workflows/tag_docker_image_and_trigger_deployment.yml
  documentation/api/guides/deploy.md
  documentation/api/guides/index.md
  documentation/catalog/guides/deployment.md
  documentation/catalog/guides/index.md
  documentation/conf.py
  documentation/frontend/guides/index.md
  documentation/general/deployment.md
  documentation/general/index.md
  documentation/ingestion_server/guides/index.md
  documentation/ingestion_server/guides/migrate.md
  documentation/ingestion_server/guides/upgrade.md
  documentation/meta/incidents/runbooks/incident_response_runbook.md
  documentation/meta/index.md
  documentation/meta/monitoring/runbooks/nuxt_avg_response_time_anomaly.md
  documentation/meta/monitoring/runbooks/nuxt_p99_response_time_anomaly.md
  documentation/meta/monitoring/runbooks/unhealthy_ecs_hosts.md
  documentation/meta/release_and_deployment/index.md
  documentation/meta/release_and_deployment/manually-trigger-workflow.png
  documentation/meta/release_and_deployment/runbooks/api.md
  documentation/meta/release_and_deployment/runbooks/catalog.md
  documentation/meta/release_and_deployment/runbooks/frontend.md
  documentation/meta/release_and_deployment/runbooks/ingestion_server.md
Labels: 🟨 priority: medium, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: mgmt, 🧱 stack: documentation

#4722 Fix audio collection page SSR error
  frontend/src/components/VSearchResultsGrid/VCollectionResults.vue
  frontend/src/composables/use-collection.ts
  frontend/src/pages/audio/collection.vue
  frontend/src/pages/image/collection.vue
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#4700 Convert modal-related components to script setup
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/components/VFilters/VFilterChecklist.vue
  frontend/src/components/VFilters/VLicenseExplanation.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VMediaInfo/VMediaDetails.vue
  frontend/src/components/VModal/VModal.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/components/VPopover/VPopover.vue
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#4725 Fix the sources table crash
  frontend/src/components/VSourcesTable.vue
  frontend/src/pages/sources.vue
  frontend/test/playwright/e2e/sources.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xl-linux.png
  frontend/test/unit/specs/components/v-sources-table.spec.js
Labels: 🟧 priority: high, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#4727 Remove the url cleanup steps from data refresh
  ingestion_server/ingestion_server/cleanup.py
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: ingestion server

#4695 Decrease thumbnail upstream timeout and add timing logs for thumbnail requests
  api/api/utils/aiohttp.py
  api/api/utils/check_dead_links/__init__.py
  api/api/utils/image_proxy/__init__.py
  api/api/utils/image_proxy/dataclasses.py
  api/api/utils/image_proxy/extension.py
  api/compose.yml
  api/conf/settings/thumbnails.py
  api/test/unit/utils/test_aiohttp.py
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#4705 Remove the use of `import.meta.env`
  frontend/.env.template
  frontend/Dockerfile
  frontend/nuxt.config.ts
  frontend/server/plugins/indexable.ts
  frontend/server/plugins/sentry.ts
  frontend/src/app.config.ts
  frontend/src/app.vue
  frontend/src/constants/disallowed-bots.ts
  frontend/src/plugins/01.sentry.client.ts
  frontend/src/stores/feature-flag.ts
  frontend/src/stores/search.ts
  frontend/src/types/cookies.ts
  frontend/src/utils/console.ts
  frontend/src/utils/focus-management.ts
  frontend/test/playwright/e2e/preferences.spec.ts
  frontend/test/playwright/playwright.config.ts
  frontend/test/unit/specs/stores/feature-flag-store.spec.js
  frontend/test/unit/specs/stores/provider.spec.js
  frontend/test/unit/specs/stores/ui-store.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-missing-credentials.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-parallel.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-successful.spec.js
  frontend/typings/nuxt__types/index.d.ts
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: documentation

#4731 Fix Playwright test failures when Nuxt context is not available
  frontend/src/composables/use-api-client.ts
  frontend/src/data/api-service.ts
  frontend/src/plugins/02. init-stores.ts
  frontend/src/plugins/03. analytics.ts
  frontend/src/stores/feature-flag.ts
  frontend/src/stores/media/index.ts
  frontend/src/stores/media/related-media.ts
  frontend/src/stores/media/single-result.ts
  frontend/src/stores/provider.ts
  frontend/src/utils/decode-media-data.ts
  frontend/test/playwright/e2e/recent-searches.spec.ts
  frontend/test/playwright/utils/page.ts
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts
  frontend/test/unit/specs/stores/media-store-fetching.spec.js
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#4730 Fix mobile recent searches modal with banners
  frontend/src/app.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/layouts/search-layout.vue
  frontend/src/stores/ui.ts
  frontend/test/playwright/e2e/recent-searches.spec.ts
Labels: 🟥 priority: critical, 🛠 goal: fix, 🕹 aspect: interface, ♿️ aspect: a11y, 🧱 stack: frontend

#4716 Update nuxtjs/plausible
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/src/plugins/03. analytics.ts
  frontend/src/plugins/errors.ts
  frontend/src/types/analytics.ts
  frontend/test/playwright/playwright.config.ts
  pnpm-lock.yaml
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#4735 Disallow crawlers from high cardinality collection pages
  .pre-commit-config.yaml
  frontend/nuxt.config.ts
  frontend/src/composables/use-page-robots-rule.ts
  frontend/src/constants/deploy-env.ts
  frontend/src/middleware/single-result.ts
  frontend/src/pages/audio/[id]/index.vue
  frontend/src/pages/audio/collection.vue
  frontend/src/pages/image/[id]/index.vue
  frontend/src/pages/image/collection.vue
  frontend/test/playwright/e2e/seo.spec.ts
  frontend/test/playwright/e2e/seo.spec.ts-snapshots/robots-linux.txt
  frontend/test/playwright/playwright.config.ts
Labels: 🟧 priority: high, 🕹 aspect: interface, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: documentation

#4667 Preemptively filter out Rekognition tags
  ingestion_server/ingestion_server/cleanup.py
  ingestion_server/test/unit_tests/test_cleanup.py
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: ingestion server, 🧱 stack: catalog

#4746 Revert "Decrease thumbnail upstream timeout and add timing logs for thumbnail requests"
  api/api/utils/aiohttp.py
  api/api/utils/check_dead_links/__init__.py
  api/api/utils/image_proxy/__init__.py
  api/api/utils/image_proxy/dataclasses.py
  api/api/utils/image_proxy/extension.py
  api/compose.yml
  api/conf/settings/thumbnails.py
  api/test/unit/utils/test_aiohttp.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#4752 Always use only latest provider tags when reingesting
  catalog/dags/common/storage/columns.py
  catalog/tests/dags/common/loader/test_sql.py
  documentation/meta/media_properties/catalog.md
Labels: 🟧 priority: high, ✨ goal: improvement, 🧱 stack: catalog, 🗄️ aspect: data

#4748 Correct response handling for checking dead links
  api/api/utils/aiohttp.py
  api/api/utils/check_dead_links/__init__.py
  api/api/utils/image_proxy/__init__.py
  api/api/utils/image_proxy/dataclasses.py
  api/api/utils/image_proxy/extension.py
  api/compose.yml
  api/conf/settings/thumbnails.py
  api/test/unit/utils/test_aiohttp.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#4736 Generate Wikimedia thumbnail URLs on the fly
  api/api/utils/image_proxy/__init__.py
  api/api/utils/image_proxy/dataclasses.py
  api/api/utils/image_proxy/wikimedia.py
  api/api/views/image_views.py
  api/conf/settings/thumbnails.py
  api/test/factory/models/image.py
  api/test/factory/models/media.py
  api/test/unit/utils/test_image_proxy.py
  api/test/unit/views/test_image_views.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: api

#4754 Add dependencies necessary for cffi installation to dev environment
  docker/dev_env/Dockerfile
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#4704 Setup structlog Sentry integration
  api/api/admin/media_report.py
  api/api/utils/aiohttp.py
  api/api/utils/image_proxy/extension.py
  api/api/utils/watermark.py
  api/api/utils/waveform.py
  api/api/views/oauth2_views.py
  api/conf/settings/logging.py
  api/conf/settings/sentry.py
  api/pdm.lock
  api/pyproject.toml
Labels: 🟥 priority: critical, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: mgmt

#4757 Do not logger.error timeout errors in dead link checks
  api/api/utils/check_dead_links/__init__.py
  api/test/unit/utils/test_check_dead_links.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#4759 Use default of 0 for SENTRY_SAMPLE_RATE
  api/conf/settings/sentry.py
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#4663 Replace retry with backoff, add backoff to all Freesound requests
  catalog/dags/providers/provider_api_scripts/freesound.py
  catalog/dags/providers/provider_api_scripts/smithsonian.py
  catalog/requirements-prod.txt
  catalog/tests/dags/providers/provider_api_scripts/test_freesound.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#4715 Add request retries for 5XX errors on Science Museum & Brooklyn Museum
  catalog/dags/providers/provider_api_scripts/brooklyn_museum.py
  catalog/dags/providers/provider_api_scripts/science_museum.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#4761 Fix the focus outline for buttons
  frontend/tailwind.config.ts
Labels: 🟧 priority: high, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#4769 Add a note about keeping the bucket to the Rekognition project proposal
  documentation/projects/proposals/rekognition_data/20240320-project_proposal_rekognition_data.md
Labels: 🟩 priority: low, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation, 🧭 project: proposal

#4753 Fix Wikimedia provider when verbose logging enabled
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#4772 Filter `filetype` of Wikimedia's images
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
  catalog/tests/dags/providers/provider_api_scripts/test_wikimedia_commons.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#4766 Silence pnpm peer dependency version warnings
  frontend/package.json
  package.json
  pnpm-lock.yaml
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#4744 Increase Wikimedia reingestion pull_data timeout
  catalog/dags/providers/provider_reingestion_workflows.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#4782 Update the filters snapshot to fix the CI
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-rtl-xs-linux.png
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#4773 Fix or ignore deprecation warnings in the catalog
  catalog/dags/common/storage/columns.py
  catalog/pytest.ini
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: catalog

#4747 Only cache branch protection within the scope of the function
  catalog/dags/maintenance/pr_review_reminders/pr_review_reminders.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog, 🧱 stack: mgmt

#4770 Fix DAG docstrings so they no longer produce improper HTML
  catalog/dags/maintenance/airflow_log_cleanup_workflow.py
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
  documentation/catalog/reference/DAGs.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: catalog, 🧱 stack: documentation

#4684 Add alter data step to the data refresh DAG
  catalog/dags/data_refresh/alter_data.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/env.template
  catalog/tests/dags/data_refresh/test_alter_data.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: ingestion server, 🧱 stack: catalog

#4792 Fix Google Images external source link
  frontend/src/utils/get-additional-sources.ts
Labels: 🟩 priority: low, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#4790 Run `ov just install` as part of `ov init`
  ov
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#4789 Convert audio track components
  frontend/src/components/VAudioTrack/VAudioControl.vue
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VAudioTrack/VGlobalAudioTrack.vue
  frontend/src/components/VAudioTrack/VWaveform.vue
  frontend/src/components/VAudioTrack/layouts/VBoxLayout.vue
  frontend/src/components/VAudioTrack/layouts/VFullLayout.vue
  frontend/src/components/VAudioTrack/layouts/VGlobalLayout.vue
  frontend/src/components/VAudioTrack/layouts/VRowLayout.vue
  frontend/src/components/VIcon/VIcon.vue
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#4763 Convert header-related components to script setup (23)
  frontend/src/components/VBanner/VAnalyticsNotice.vue
  frontend/src/components/VBanner/VBanners.vue
  frontend/src/components/VBanner/VNotificationBanner.vue
  frontend/src/components/VBanner/VTranslationStatusBanner.vue
  frontend/src/components/VHeader/VFilterButton.vue
  frontend/src/components/VHeader/VFilterIconOrCounter.vue
  frontend/src/components/VHeader/VHeaderDesktop.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsButton.vue
  frontend/src/components/VHeader/VHeaderMobile/VFilterTab.vue
  frontend/src/components/VHeader/VHeaderMobile/VSearchBarButton.vue
  frontend/src/components/VHeader/VHeaderMobile/VShowResultsButton.vue
  frontend/src/components/VHeader/VHomeLink.vue
  frontend/src/components/VHeader/VLogoButton.vue
  frontend/src/components/VHeader/VPageLinks.vue
  frontend/src/components/VHeader/VSearchBar/VSearchBar.vue
  frontend/src/components/VHeader/VSearchBar/VSearchButton.vue
  frontend/src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
  frontend/src/components/VHeader/VWordPressLink.vue
  frontend/src/components/VRecentSearches/VRecentSearches.vue
  frontend/test/playwright/visual-regression/pages/errors.spec.ts
  frontend/test/tapes/search/images/q=galah&license_type=modification_keep-alive.json5
  frontend/test/tapes/search/images/q=galah_close.json5
  frontend/test/tapes/search/images/q=galah_keep-alive.json5
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#4781 Convert single result page components
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
  frontend/src/components/VMediaInfo/VByLine/VScroller.vue
  frontend/src/components/VMediaInfo/VByLine/VSourceCreatorButton.vue
  frontend/src/components/VMediaInfo/VCollapsibleTagSection.vue
  frontend/src/components/VMediaInfo/VCopyLicense.vue
  frontend/src/components/VMediaInfo/VGetMediaButton.vue
  frontend/src/components/VMediaInfo/VLicenseTabPanel.vue
  frontend/src/components/VMediaInfo/VMediaInfo.vue
  frontend/src/components/VMediaInfo/VMediaLicense.vue
  frontend/src/components/VMediaInfo/VMediaReuse.vue
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/src/components/VMediaInfo/VMetadata.vue
  frontend/src/components/VMediaInfo/VMetadataValue.vue
  frontend/src/components/VMediaInfo/VRelatedMedia.vue
  frontend/src/components/VMediaInfo/VSourceProviderTooltip.vue
  frontend/src/components/VSafeBrowsing/VSafeBrowsing.vue
  frontend/src/components/VSafetyWall/VSafetyWall.vue
  frontend/src/components/VScrollableLine.vue
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#4701 Convert the report content popover to a modal
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/components/VContentReport/VContentReportModal.vue
  frontend/src/components/VContentReport/VContentReportPopover.vue
  frontend/src/components/VContentReport/VDmcaNotice.vue
  frontend/src/components/VContentReport/VReportDescForm.vue
  frontend/src/components/VContentReport/meta/VContentReportModal.stories.js
  frontend/src/components/VExternalSearch/VExternalSearchForm.vue
  frontend/src/components/VExternalSearch/VExternalSourceList.vue
  frontend/src/components/VMediaInfo/VMediaDetails.vue
  frontend/src/components/VModal/VModal.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/composables/use-content-report.ts
  frontend/src/composables/use-dialog-content.ts
  frontend/src/pages/image/[id]/report.vue
  frontend/tailwind.config.ts
  frontend/test/playwright/e2e/report-media.spec.ts
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/ltr-full-page-report-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/ltr-full-page-report-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/rtl-full-page-report-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/rtl-full-page-report-xl-linux.png
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend

#4793 Update documentation to recommend OrbStack for mac users
  documentation/general/general_setup.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: documentation

#4765 Extract `VHeader` as a wrapper for header and banners
  frontend/src/components/VHeader/VHeader.vue
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/default.vue
  frontend/src/layouts/search-layout.vue
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#4801 Convert components for license explanation modal
  frontend/src/components/VContentSwitcher/VSearchTypePopover.vue
  frontend/src/components/VItemGroup/VItem.vue
  frontend/src/components/VLicense/VLicenseElements.vue
  frontend/src/components/VPopover/VPopover.vue
  frontend/src/components/VPopover/VPopoverContent.vue
  frontend/src/constants/z-indices.ts
  frontend/src/types/provides.ts
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#4794 Add Quick Tip section to rollback docs
  documentation/meta/release_and_deployment/index.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: documentation

#4572 Add distributed reindex steps
  catalog/dags/common/constants.py
  catalog/dags/common/elasticsearch.py
  catalog/dags/common/operators/http.py
  catalog/dags/common/sensors/http.py
  catalog/dags/data_refresh/alter_data.py
  catalog/dags/data_refresh/constants.py
  catalog/dags/data_refresh/copy_data.py
  catalog/dags/data_refresh/create_and_promote_index.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/data_refresh_types.py
  catalog/dags/data_refresh/distributed_reindex.py
  catalog/dags/legacy_data_refresh/data_refresh_task_factory.py
  indexer_worker/indexer_worker/api.py
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: catalog

#4784 Add specifics of Rekognition tag filtering to implementation plan
  documentation/projects/proposals/rekognition_data/20240530-implementation_plan_augment_catalog_with_rekognition_tags.md
Labels: 🟧 priority: high, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: catalog, 🧱 stack: documentation, 🧭 project: implementation plan

#4795 Add reviewed Rekognition labels to project appendix
  documentation/projects/proposals/rekognition_data/appendix/appendix.md
  documentation/projects/proposals/rekognition_data/appendix/rekognition_labels.md
  documentation/projects/proposals/rekognition_data/index.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 🧱 stack: catalog, 🧱 stack: documentation, 🗄️ aspect: data

#4800 Use a modal for license explanation
  frontend/src/components/VContentReport/VContentReportModal.vue
  frontend/src/components/VContentSwitcher/VSearchTypePopover.vue
  frontend/src/components/VExternalSearch/VExternalSearchForm.vue
  frontend/src/components/VFilters/VFilterChecklist.vue
  frontend/src/components/VFilters/VLicenseExplanation.vue
  frontend/src/components/VHeader/VHeaderDesktop.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VLicense/VLicenseElements.vue
  frontend/src/components/VMediaInfo/VMediaLicense.vue
  frontend/src/components/VModal/VModal.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/components/VPopover/VPopover.vue
  frontend/src/components/VPopover/VPopoverContent.vue
  frontend/src/composables/use-dialog-control.ts
  frontend/src/composables/use-dialog-stack.ts
  frontend/src/composables/use-event-listener-outside.ts
  frontend/src/composables/use-hide-on-click-outside.ts
  frontend/src/composables/use-popover-content.ts
  frontend/src/constants/dialogs.ts
  frontend/src/layouts/search-layout.vue
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-xl-linux.png
  frontend/test/unit/specs/components/v-modal.spec.js
  frontend/test/unit/specs/components/v-popover.spec.js
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🕹 aspect: interface, 🖼️ aspect: design, 🧱 stack: frontend

#4796 Convert `VButton`, tabs and item group components to script setup
  frontend/src/components/LoadingIcon.vue
  frontend/src/components/VBrand/VBrand.vue
  frontend/src/components/VButton.vue
  frontend/src/components/VContentLink/VContentLink.vue
  frontend/src/components/VContentSwitcher/VSearchTypeButton.vue
  frontend/src/components/VContentSwitcher/VSearchTypeItem.vue
  frontend/src/components/VContentSwitcher/VSearchTypePopover.vue
  frontend/src/components/VContentSwitcher/VSearchTypes.vue
  frontend/src/components/VContentSwitcher/meta/VSearchTypeButton.stories.js
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VItemGroup/VItem.vue
  frontend/src/components/VItemGroup/VItemGroup.vue
  frontend/src/components/VLogoLoader/VLogoLoader.vue
  frontend/src/components/VTabs/VTab.vue
  frontend/src/components/VTabs/VTabPanel.vue
  frontend/src/components/VTabs/VTabs.vue
  frontend/src/composables/use-component-name.ts
  frontend/src/composables/use-search-type.ts
  frontend/test/unit/specs/components/loading-icon.spec.js
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#4804 Replace hard-coded strings in Playwright tests
  frontend/src/components/VRadio/VRadio.vue
  frontend/test/playwright/e2e/all-results-keyboard.spec.ts
  frontend/test/playwright/e2e/audio-detail.spec.ts
  frontend/test/playwright/e2e/audio-results.spec.ts
  frontend/test/playwright/e2e/filters.spec.ts
  frontend/test/playwright/e2e/global-audio.spec.ts
  frontend/test/playwright/e2e/header-internal.spec.ts
  frontend/test/playwright/e2e/image-detail.spec.ts
  frontend/test/playwright/e2e/preferences.spec.ts
  frontend/test/playwright/e2e/recent-searches.spec.ts
  frontend/test/playwright/e2e/report-media.spec.ts
  frontend/test/playwright/e2e/search-navigation.spec.ts
  frontend/test/playwright/e2e/search-query-client.spec.ts
  frontend/test/playwright/e2e/search-query-server.spec.ts
  frontend/test/playwright/e2e/sensitive-results.spec.ts
  frontend/test/playwright/e2e/skip-to-content.spec.ts
  frontend/test/playwright/e2e/sources.spec.ts
  frontend/test/playwright/utils/components.ts
  frontend/test/playwright/utils/i18n.ts
  frontend/test/playwright/visual-regression/pages/errors.spec.ts
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#4808 Fix dark theme grays
  frontend/src/app.vue
  frontend/src/components/TableSortIcon.vue
  frontend/src/components/VAudioTrack/VWaveform.vue
  frontend/src/components/VButton.vue
  frontend/src/components/VHeader/VSearchBar/VSearchButton.vue
  frontend/src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/components/VSkeleton/VAudioTrackSkeleton.vue
  frontend/src/components/VSkeleton/VBone.vue
  frontend/src/constants/favicons.ts
  frontend/src/error.vue
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🕹 aspect: interface, 🧱 stack: frontend

#4807 Update Nuxt and related dependencies to v3.13.0
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/src/locales/scripts/get-validated-locales.js
  frontend/src/locales/scripts/types.d.ts
  frontend/test/locales/valid-locales.json
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/generic-error-xl-linux.png
  pnpm-lock.yaml
Labels: 🟨 priority: medium, 💻 aspect: code, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: frontend

#4821 Revert the Nuxt 3 update
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/src/locales/scripts/get-validated-locales.js
  frontend/src/locales/scripts/types.d.ts
  frontend/test/locales/valid-locales.json
  pnpm-lock.yaml
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: documentation

#4823 Update Nuxt and deps to v3.13.0; fix server dir location
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/src/locales/scripts/get-validated-locales.js
  frontend/src/locales/scripts/types.d.ts
  frontend/src/server/plugins/sentry.ts
  frontend/src/server/routes/healthcheck.ts
  frontend/src/server/utils/logger.ts
  frontend/test/locales/valid-locales.json
  frontend/test/playwright/e2e/healthcheck.spec.ts
  pnpm-lock.yaml
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: documentation

#4809 Add feature flag to display the dark mode UI toggle
  frontend/feat/feature-flags.json
Labels: 🟨 priority: medium, 🌟 goal: addition, 🤖 aspect: dx, 🧱 stack: frontend

#4816 Fix homepage layout shift
  frontend/src/components/VHomeGallery/VHomeGallery.vue
  frontend/src/pages/index.vue
  frontend/test/playwright/utils/breakpoints.ts
Labels: 🟨 priority: medium, 🛠 goal: fix, 🕹 aspect: interface, ♿️ aspect: a11y, 🧱 stack: frontend

#4818 fix: Reduce timeouts for batched update
  catalog/dags/database/batched_update/constants.py
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog

#4824 Update the recent search disclaimer
  frontend/src/locales/scripts/en.json5
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-md-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-xs-linux.png
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🕹 aspect: interface, ♿️ aspect: a11y, 🧱 stack: frontend

#4805 Convert the last components to script-setup
  frontend/src/components/TableSortIcon.vue
  frontend/src/components/VCollectionHeader/VCollectionHeader.vue
  frontend/src/components/VContentPage.vue
  frontend/src/components/VFooter/VFooter.vue
  frontend/src/components/VFourOhFour.vue
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  frontend/src/components/VHeader/VSearchBar/VSearchBar.vue
  frontend/src/components/VIconButton/VIconButton.vue
  frontend/src/components/VInputField/VInputField.vue
  frontend/src/components/VPill.vue
  frontend/src/components/VRadio/VRadio.vue
  frontend/src/components/VSelectField/VSelectField.vue
  frontend/src/components/VSkipToContentButton.vue
  frontend/src/components/VSourcesTable.vue
  frontend/src/components/VTooltip/VTooltip.vue
  frontend/src/types/emits.ts
  frontend/test/unit/specs/components/VHeader/SearchBar/search-bar.spec.js
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#4837 Convert some store unit tests to TypeScript
  frontend/src/stores/media/index.ts
  frontend/src/types/analytics.ts
  frontend/test/unit/fixtures/audio.js
  frontend/test/unit/specs/stores/media-store.spec.ts
  frontend/test/unit/specs/stores/provider.spec.ts
  frontend/test/unit/specs/stores/search-store.spec.ts
  frontend/test/unit/specs/stores/single-result-store.spec.ts
Labels: 🟨 priority: medium, 💻 aspect: code, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: frontend

#4810 Add color mode to ui store
  frontend/feat/feature-flags.json
  frontend/src/composables/use-dark-mode.ts
  frontend/src/pages/preferences.vue
  frontend/src/stores/feature-flag.ts
  frontend/src/stores/ui.ts
  frontend/src/styles/tailwind.css
  frontend/src/types/cookies.ts
  frontend/src/types/feature-flag.ts
  frontend/test/unit/specs/composables/use-dark-mode.spec.ts
  frontend/test/unit/specs/stores/ui-store.spec.ts
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: documentation
