Repository WordPress/openverse, pull requests merged in 2024-05, with the labels that each got.

#4220 Add "sa" as valid license and map "publicdomain" to "pdm"
  api/api/models/media.py
  api/api/serializers/media_serializers.py
  api/api/utils/watermark.py
  packages/python/openverse-attribution/src/openverse_attribution/attribution.py
  packages/python/openverse-attribution/src/openverse_attribution/license.py
  packages/python/openverse-attribution/tests/test_attribution.py
  packages/python/openverse-attribution/tests/test_license.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#4214 Fix advanced provider options for dags that override ingest records
  catalog/dags/providers/provider_api_scripts/auckland_museum.py
  catalog/dags/providers/provider_api_scripts/brooklyn_museum.py
  catalog/dags/providers/provider_api_scripts/cc_mixter.py
  catalog/dags/providers/provider_api_scripts/cleveland_museum.py
  catalog/dags/providers/provider_api_scripts/europeana.py
  catalog/dags/providers/provider_api_scripts/finnish_museums.py
  catalog/dags/providers/provider_api_scripts/flickr.py
  catalog/dags/providers/provider_api_scripts/freesound.py
  catalog/dags/providers/provider_api_scripts/inaturalist.py
  catalog/dags/providers/provider_api_scripts/jamendo.py
  catalog/dags/providers/provider_api_scripts/justtakeitfree.py
  catalog/dags/providers/provider_api_scripts/museum_victoria.py
  catalog/dags/providers/provider_api_scripts/nappy.py
  catalog/dags/providers/provider_api_scripts/nypl.py
  catalog/dags/providers/provider_api_scripts/phylopic.py
  catalog/dags/providers/provider_api_scripts/provider_data_ingester.py
  catalog/dags/providers/provider_api_scripts/rawpixel.py
  catalog/dags/providers/provider_api_scripts/science_museum.py
  catalog/dags/providers/provider_api_scripts/smithsonian.py
  catalog/dags/providers/provider_api_scripts/smk.py
  catalog/dags/providers/provider_api_scripts/stocksnap.py
  catalog/dags/providers/provider_api_scripts/time_delineated_provider_data_ingester.py
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
  catalog/dags/providers/provider_api_scripts/wordpress.py
  catalog/templates/template_provider.py_template
  catalog/tests/dags/common/test_resources/fake_provider_data_ingester.py
  catalog/tests/dags/providers/provider_api_scripts/resources/provider_data_ingester/mock_provider_data_ingester.py
  catalog/tests/dags/providers/provider_api_scripts/test_finnish_museums.py
  catalog/tests/dags/providers/provider_api_scripts/test_flickr.py
  catalog/tests/dags/providers/provider_api_scripts/test_museum_victoria.py
  catalog/tests/dags/providers/provider_api_scripts/test_provider_data_ingester.py
  catalog/tests/dags/providers/provider_api_scripts/test_science_museum.py
  catalog/tests/dags/providers/provider_api_scripts/test_smithsonian.py
  catalog/tests/dags/providers/provider_api_scripts/test_stocksnap.py
  catalog/tests/dags/providers/provider_api_scripts/test_time_delineated_provider_data_ingester.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3963 Dark Mode Frontend Implementation Plan
  documentation/_static/dark_mode_palette_example.png
  documentation/projects/proposals/dark_mode/20240325-implementation_plan_dark_mode.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation, 🧭 project: implementation plan

#4253 Fix Science Museum index out of range error
  catalog/dags/providers/provider_api_scripts/science_museum.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#4251 Update Nuxt dependencies
  frontend/package.json
  pnpm-lock.yaml
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#4262 Automatically convert URLs to hyperlinks using `linkify` extension
  documentation/Pipfile
  documentation/Pipfile.lock
  documentation/conf.py
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: documentation

#4229 Add management command to send api move announcement email
  api/api/management/commands/sendapimoveannouncement.py
  api/test/unit/management/commands/test_sendapimoveannouncement.py
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: api

#4267 Run checks for Python packages in CI
  .github/filters.yml
  .github/workflows/ci_cd.yml
  justfile
  packages/python/openverse-attribution/justfile
  packages/python/openverse-attribution/pyproject.toml
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🐍 tech: python, 🧱 stack: api, 🧱 stack: mgmt, 🔧 tech: github actions

#4250 Update `openverse-attribution` with new features and improvements
  api/api/admin/media_report.py
  api/api/models/media.py
  api/api/serializers/media_serializers.py
  api/api/utils/watermark.py
  packages/python/openverse-attribution/pdm.lock
  packages/python/openverse-attribution/pyproject.toml
  packages/python/openverse-attribution/src/openverse_attribution/attribution.py
  packages/python/openverse-attribution/src/openverse_attribution/data/__init__.py
  packages/python/openverse-attribution/src/openverse_attribution/data/all_licenses.json
  packages/python/openverse-attribution/src/openverse_attribution/data/all_licenses.py
  packages/python/openverse-attribution/src/openverse_attribution/license.py
  packages/python/openverse-attribution/src/openverse_attribution/license_name.py
  packages/python/openverse-attribution/tests/test_attribution.py
  packages/python/openverse-attribution/tests/test_license.py
  packages/python/openverse-attribution/tests/test_license_name.py
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🐍 tech: python, 🧱 stack: api

#4266 Migrate documentation to PDM
  .github/actions/setup-env/action.yml
  .github/filters.yml
  .github/workflows/ci_cd.yml
  api/pyproject.toml
  documentation/Pipfile
  documentation/Pipfile.lock
  documentation/justfile
  documentation/pdm.lock
  documentation/pyproject.toml
  justfile
  packages/python/openverse-attribution/justfile
  packages/python/openverse-attribution/pyproject.toml
Labels: 🟩 priority: low, 💻 aspect: code, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: documentation

#4189 Implementation Plan: Machine-generated tags in the API
  documentation/projects/proposals/rekognition_data/20240423-implementation_plan_machine_generated_tags_api.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation

#4260 Rename old data refresh to `legacy_data_refresh`
  catalog/dags/elasticsearch_cluster/healthcheck_dag.py
  catalog/dags/elasticsearch_cluster/recreate_staging_index/recreate_full_staging_index.py
  catalog/dags/legacy_data_refresh/__init__.py
  catalog/dags/legacy_data_refresh/create_filtered_index.py
  catalog/dags/legacy_data_refresh/create_filtered_index_dag.py
  catalog/dags/legacy_data_refresh/dag_factory.py
  catalog/dags/legacy_data_refresh/data_refresh_task_factory.py
  catalog/dags/legacy_data_refresh/data_refresh_types.py
  catalog/dags/legacy_data_refresh/reporting.py
  catalog/tests/dags/data_refresh/test_reporting.py
  catalog/tests/dags/test_dag_parsing.py
  pyproject.toml
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog

#4249 Cache repeated thumbnail failures within configured TTL
  api/api/utils/image_proxy/__init__.py
  api/conf/settings/thumbnails.py
  api/pdm.lock
  api/pyproject.toml
  api/pytest.ini
  api/test/unit/utils/test_image_proxy.py
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#4263 Add structured logging for the API
  api/api/admin/media_report.py
  api/api/controllers/elasticsearch/helpers.py
  api/api/controllers/search_controller.py
  api/api/management/commands/generatewaveforms.py
  api/api/models/media.py
  api/api/serializers/media_serializers.py
  api/api/utils/aiohttp.py
  api/api/utils/check_dead_links/__init__.py
  api/api/utils/dead_link_mask.py
  api/api/utils/image_proxy/__init__.py
  api/api/utils/image_proxy/extension.py
  api/api/utils/tallies.py
  api/api/utils/throttle.py
  api/api/utils/watermark.py
  api/api/utils/waveform.py
  api/api/views/media_views.py
  api/api/views/oauth2_views.py
  api/conf/settings/__init__.py
  api/conf/settings/link_validation_cache.py
  api/conf/settings/logging.py
  api/conf/settings/signals.py
  api/pdm.lock
  api/pyproject.toml
  api/run.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/utils/test_check_dead_links.py
  api/test/unit/utils/test_image_proxy.py
  api/test/unit/utils/test_tallies.py
  documentation/general/logging.md
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🤖 aspect: dx, 🧱 stack: api

#4277 Give up Pipenv cache to fix CI
  .github/actions/setup-env/action.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt, 🔧 tech: github actions

#4278 Tag API images with PDM content hash
  api/compose.yml
  api/justfile
  justfile
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: api

#4272 Storybook test changes to prevent flakiness from `sleep`
  frontend/test/storybook/utils/args.ts
  frontend/test/storybook/utils/response.ts
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/dropdown-label-focused-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/dropdown-label-focused-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/dropdown-label-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/dropdown-label-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/dropdown-label-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/dropdown-label-resting-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-transparent-focused-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-transparent-focused-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-transparent-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-transparent-resting-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain--avoid-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain--avoid-pressed-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-12-checked-not-selected-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-12-checked-selected-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-0-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-1-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-12-checked-not-selected-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-12-checked-selected-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-12-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-hovered-12-checked-not-selected-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-hovered-12-checked-selected-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-resting-12-checked-not-selected-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-resting-12-checked-selected-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-md-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-sm-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-xs-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-closed-ltr-md-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-closed-ltr-sm-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-closed-rtl-md-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-closed-rtl-sm-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-closed-rtl-xs-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-ltr-md-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-ltr-sm-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-ltr-xs-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-rtl-md-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-rtl-sm-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-rtl-xs-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-at-rest-lg-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-button-with-text-label-hovered-md-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-button-with-text-label-pressed-at-rest-md-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-button-with-text-label-pressed-hovered-md-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-button-without-text-label-hovered-md-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-button-without-text-label-pressed-at-rest-md-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-button-without-text-label-pressed-hovered-md-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-hovered-lg-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-pressed-hovered-lg-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-pressed-lg-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-at-rest-xl-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-hovered-xl-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-pressed-hovered-xl-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-pressed-xl-linux.png
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#4231 Initialize Provider store data, UI store and flags store from cookies in a plugin
  documentation/meta/media_properties/frontend.md
  frontend/nuxt.config.ts
  frontend/src/components/VContentSwitcher/VSearchTypeButton.vue
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
  frontend/src/components/VMediaInfo/VByLine/meta/VByLine.stories.mdx
  frontend/src/components/VMediaInfo/VMediaInfo.vue
  frontend/src/middleware/feature-flags.ts
  frontend/src/middleware/middleware.ts
  frontend/src/plugins/init-stores.ts
  frontend/src/stores/media/single-result.ts
  frontend/src/stores/provider.ts
  frontend/src/stores/search.ts
  frontend/src/types/media.ts
  frontend/src/utils/decode-media-data.ts
  frontend/src/utils/env.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts
  frontend/test/tapes/stats-images-keep-alive.json5
  frontend/test/tapes/thumb/images/feb91b13-422d-46fa-8ef4-cbf1e6ddee9b_keep-alive.json5
  frontend/test/tapes/thumb/images/feb91b13-422d-46fa-8ef4-cbf1e6ddee9b_keep-alive_HEAD.json5
  frontend/test/unit/fixtures/audio.js
  frontend/test/unit/specs/stores/provider.spec.js
  frontend/test/unit/specs/utils/decode-image-data.spec.js
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: documentation

#4254 Alter Django Admin media views to surface content reports
  api/api/admin/__init__.py
  api/api/admin/media_report.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api

#4281 Fix send email query
  api/api/management/commands/sendapimoveannouncement.py
  api/test/factory/models/oauth2.py
  api/test/unit/management/commands/test_sendapimoveannouncement.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#4265 Add storybook smoke test
  frontend/src/components/VAudioTrack/meta/VAudioTrack.stories.mdx
  frontend/src/components/VAudioTrack/meta/VWaveform.stories.mdx
  frontend/src/components/VBanner/meta/VNotificationBanner.stories.mdx
  frontend/src/components/VCollectionHeader/meta/VCollectionHeader.stories.mdx
  frontend/src/components/VContentLink/meta/VContentLink.stories.mdx
  frontend/src/components/VExternalSearch/meta/VExternalSourceList.stories.mdx
  frontend/src/components/VFilters/meta/VLicenseExplanation.stories.mdx
  frontend/src/components/VHeader/VHeaderDesktop.vue
  frontend/src/components/VHeader/VSearchBar/VSearchBar.vue
  frontend/src/components/VHeader/VSearchBar/meta/VSearchBar.stories.mdx
  frontend/src/components/VHeader/meta/VContentSettingsModal.stories.mdx
  frontend/src/components/VHeader/meta/VHeaderDesktop.stories.mdx
  frontend/src/components/VHeader/meta/VHomeLink.stories.mdx
  frontend/src/components/VHomeGallery/meta/VHomeGallery.stories.mdx
  frontend/src/components/VIcon/meta/VIcon.stories.mdx
  frontend/src/components/VInputField/VInputField.vue
  frontend/src/components/VInputField/meta/VInputField.stories.mdx
  frontend/src/components/VMediaInfo/VByLine/meta/VByLine.stories.mdx
  frontend/src/components/VMediaInfo/meta/VMediaLicense.stories.mdx
  frontend/src/components/VMediaInfo/meta/VMetadata.stories.mdx
  frontend/src/components/VRadio/meta/VRadio.stories.mdx
  frontend/src/components/VSafetyWall/meta/VSafetyWall.stories.mdx
  frontend/src/components/VSelectField/meta/VSelectField.stories.mdx
  frontend/test/storybook/functional/smoke-test.spec.ts
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend

#4288 Remove sendapimoveannouncement management command
  api/api/management/commands/sendapimoveannouncement.py
  api/test/unit/management/commands/test_sendapimoveannouncement.py
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#4073 Move brand assets to documentation
  .github/CODEOWNERS
  documentation/meta/brand/banner.svg
  documentation/meta/brand/icon.svg
  documentation/meta/brand/index.md
  documentation/meta/brand/logo.svg
  documentation/meta/brand/thumbnail-dark.svg
  documentation/meta/brand/thumbnail-small-dark.svg
  documentation/meta/brand/thumbnail-small-transparent.svg
  documentation/meta/brand/thumbnail-small-yellow.svg
  documentation/meta/brand/thumbnail-transparent.svg
  documentation/meta/brand/thumbnail-yellow.svg
  documentation/meta/brand/wp-icon-openverse.svg
  documentation/meta/index.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: documentation

#4225 Expand documentation on API media properties
  api/api/docs/media_properties/preamble.md
  api/api/management/commands/documentmedia.py
  api/api/migrations/0060_fill_out_help_text.py
  api/api/models/audio.py
  api/api/models/image.py
  api/api/models/media.py
  api/latest_migrations/api
  documentation/meta/media_properties/api.md
Labels: 🟨 priority: medium, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: api, migrations, 🧱 stack: documentation

#4088 Upgrade eslint-plugin-playwright to get new checks; fix small checkbox bug
  frontend/src/components/VCheckbox/VCheckbox.vue
  frontend/src/components/VCheckbox/meta/VCheckbox.stories.js
  frontend/test/playwright/e2e/filters.spec.ts
  frontend/test/playwright/e2e/preferences.spec.ts
  frontend/test/playwright/e2e/search-types.spec.ts
  frontend/test/storybook/functional/v-checkbox.spec.ts
  frontend/test/storybook/visual-regression/v-select-field.spec.ts
  package.json
  packages/js/eslint-plugin/package.json
  packages/js/eslint-plugin/src/configs/index.ts
  pnpm-lock.yaml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#4292 Ignore `django-structlog` middleware logs in Sentry
  api/conf/settings/sentry.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🔧 tech: django, 🧱 stack: api

#4283 Replace sample secret key for plausible with a more obviously safe value
  docker/plausible/env.docker
  setup_plausible.sh
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: frontend

#4164 Move "Contributing to Openverse" docs section to general and updated conf.py
  documentation/conf.py
  documentation/general/contributing.md
  documentation/general/contribution/becoming_a_committer.md
  documentation/general/contribution/codespell.md
  documentation/general/contribution/communication_aliases.md
  documentation/general/contribution/current_maintainers.md
  documentation/general/contribution/dev_flow.md
  documentation/general/contribution/github_contribution_practices.md
  documentation/general/contribution/good_first_and_help_wanted_issues.md
  documentation/general/contribution/maintainer_tasks.md
  documentation/meta/contribution/index.md
  documentation/meta/index.md
Labels: 🟨 priority: medium, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: documentation

#4163 Save cleaned data of Ingestion Server to AWS S3
  docker/minio/env.template
  ingestion_server/ingestion_server/cleanup.py
  ingestion_server/test/unit_tests/test_slack.py
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: ingestion server

#4276 Update Science museum urls
  catalog/dags/maintenance/update_science_museum_urls.py
  catalog/dags/providers/provider_api_scripts/science_museum.py
  catalog/tests/dags/providers/provider_api_scripts/test_science_museum.py
  documentation/catalog/reference/DAGs.md
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#4296 Fix links to frontend unhealthy host alarms and move PRs template
  .github/pull_request_template.md
  documentation/meta/monitoring/runbooks/unhealthy_ecs_hosts.md
Labels: 🟨 priority: medium, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: documentation

#4294 Update pnpm
  package.json
  pnpm-lock.yaml
Labels: 🟨 priority: medium, 💻 aspect: code, dependencies, 🧰 goal: internal improvement, 🧱 stack: frontend

#4299 Update Node to v.20
  frontend/package.json
  package.json
  pnpm-lock.yaml
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#4285 Make API image smaller by not including dev dependencies
  .github/workflows/ci_cd.yml
  automations/python/workflows/set_matrix_images.py
  documentation/meta/ci_cd/jobs/api.md
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: mgmt

#4301 Fix the aria label for search result grid
  frontend/src/components/VSearchResultsGrid/VSearchResults.vue
  frontend/src/locales/scripts/en.json5
Labels: 🟨 priority: medium, 🛠 goal: fix, ♿️ aspect: a11y, 🧱 stack: frontend

#4314 Remove temporary Science Museum DAG now that it is no longer necessary
  catalog/dags/maintenance/update_science_museum_urls.py
  documentation/catalog/reference/DAGs.md
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog

#4323 Use openverse.org domains for Openverse API in all documentation
  README.md
  documentation/api/guides/deploy.md
  documentation/api/guides/documentation.md
  documentation/api/index.md
  documentation/api/reference/authentication_and_throttling.md
  documentation/api/reference/search_algorithm.md
  documentation/changelogs/api/index.md
  documentation/frontend/reference/testing_guidelines.md
  documentation/general/deployment.md
  documentation/index.md
  documentation/meta/ci_cd/artifacts.md
  documentation/meta/ci_cd/index.md
  documentation/meta/ci_cd/jobs/documentation.md
  frontend/test/tapes/search/images/collection=creator&unstable__collection=creator&creator=strogoscope_keep-alive.json5
  frontend/test/tapes/search/images/collection=source&unstable__collection=source&source=flickr_keep-alive.json5
  frontend/test/tapes/search/images/collection=tag&unstable__collection=tag&tag=cat&unstable__tag=cat_keep-alive.json5
  utilities/load_testing/README.md
  utilities/load_testing/k6/utils.js
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: api, 🧱 stack: frontend, 🧱 stack: documentation

#4295 Initialize feature flag state on the server
  frontend/src/pages/preferences.vue
  frontend/src/stores/feature-flag.ts
  frontend/src/types/feature-flag.ts
  frontend/test/playwright/e2e/preferences.spec.ts
  frontend/test/unit/specs/stores/feature-flag-store.spec.js
  frontend/test/unit/specs/stores/search-store.spec.js
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#4331 Force all API loggers to be structured
  api/conf/settings/logging.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#4322 Remove unnecessary write-time validating URLTextField
  api/api/migrations/0061_convert_varchar_to_text.py
  api/api/models/fields.py
  api/api/models/mixins.py
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api, migrations

#4259 Add new data refresh factory
  catalog/dags/common/constants.py
  catalog/dags/data_refresh/copy_data.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/data_refresh_types.py
  catalog/dags/data_refresh/queries.py
  catalog/dags/data_refresh/reporting.py
  catalog/dags/legacy_data_refresh/data_refresh_types.py
  catalog/tests/dags/data_refresh/test_copy_data.py
  documentation/catalog/reference/DAGs.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: ingestion server, 🧱 stack: catalog

#4349 Prevent exposing Django Admin features referencing media tables in prod
  api/api/admin/__init__.py
  api/api/admin/media_report.py
  api/test/unit/admin/test_media_report.py
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#4336 Fix the skip-to-content button
  frontend/src/components/VSkipToContentButton.vue
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/default.vue
  frontend/src/layouts/search-layout.vue
Labels: 🟧 priority: high, 🛠 goal: fix, ♿️ aspect: a11y, 🧱 stack: frontend

#4338 Focus the trigger when content setting modal is closed
  frontend/src/components/VButton.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsButton.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VHeader/VHeaderMobile/VSearchBarButton.vue
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain--avoid-focused-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain--avoid-focused-linux.png
Labels: 🟧 priority: high, 🛠 goal: fix, ♿️ aspect: a11y, 🧱 stack: frontend

#4310 Use explicit through table for media/decision many-to-many field
  api/api/migrations/0062_decision_through_tables.py
  api/api/models/audio.py
  api/api/models/image.py
  api/api/models/media.py
  api/latest_migrations/api
  documentation/meta/media_properties/api.md
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api, migrations, 🧱 stack: documentation

#4359 Update bucket names to use openverse-catalog and remove openverse-storage
  catalog/env.template
  docker/minio/env.template
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: catalog

#4351 Fix stray use of `console` logger to `console_structured`
  api/conf/settings/logging.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#4353 Remove popularity & matview timeouts from data refresh configurations
  catalog/dags/legacy_data_refresh/data_refresh_types.py
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog

#4297 Set up airflow variable defaults with descriptions automatically
  catalog/Dockerfile
  catalog/entrypoint.sh
  catalog/variables.tsv
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: catalog

#4345 Fix Slack message formatting for ES health alert
  catalog/dags/elasticsearch_cluster/healthcheck_dag.py
  catalog/tests/dags/elasticsearch_cluster/test_healthcheck_dag.py
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#4358 Add logs to cleaning steps in the ingestion server and skip saving tags
  ingestion_server/ingestion_server/cleanup.py
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: ingestion server

#4363 Fix frontend to include languages that do not have iso-639-1 codes
  frontend/src/locales/scripts/create-wp-locale-list.js
  frontend/src/locales/scripts/get-validated-locales.js
Labels: 🟨 priority: medium, 🛠 goal: fix, ♿️ aspect: a11y, 🧱 stack: frontend

#4238 Change search query approach to include only available providers
  api/api/controllers/elasticsearch/related.py
  api/api/controllers/search_controller.py
  api/conf/settings/__init__.py
  api/test/unit/controllers/elasticsearch/test_related.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/controllers/test_search_controller_search_query.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#4368 Install caniuse-lite as a frontend dev dependency
  frontend/package.json
  pnpm-lock.yaml
Labels: 🟩 priority: low, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: frontend

#4313 Add frontend media documentation
  documentation/meta/media_properties/frontend.md
  frontend/src/types/media.ts
Labels: 🟨 priority: medium, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: frontend

#4369 Use `.venv` for catalog virtualenv instead of `venv`
  catalog/justfile
  documentation/catalog/guides/quickstart.md
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: catalog

#4375 Only set the user-agent header on the server
  frontend/src/data/api-service.ts
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#4302 Implementation Plan: Machine-generated tags on the frontend
  documentation/projects/proposals/rekognition_data/20240510-implementation_plan_machine_generated_tags_frontend.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation, 🧭 project: implementation plan

#4326 Document retired node replacement in ES
  documentation/meta/maintenance/elasticsearch_cluster.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation

#4383 Update link to openverse-attribution documentation
  packages/python/openverse-attribution/README.md
Labels: 🟨 priority: medium, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: documentation

#4339 Fix recent searches keyboard navigation
  frontend/src/components/VHeader/VHeaderDesktop.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsButton.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VHeader/VSearchBar/VSearchBar.vue
  frontend/src/components/VHeader/VSearchBar/VSearchButton.vue
  frontend/src/components/VModal/VInputModal.vue
  frontend/src/components/VRecentSearches/VRecentSearches.vue
  frontend/src/composables/use-recent-searches.ts
  frontend/src/pages/search.vue
  frontend/src/stores/search.ts
  frontend/test/playwright/e2e/mobile-menu.spec.ts
  frontend/test/playwright/e2e/recent-searches.spec.ts
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-md-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-rtl-md-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-rtl-xs-linux.png
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, ♿️ aspect: a11y, 🧱 stack: frontend

#4382 Drop `ORDER BY` clause from copy step when adding a limit
  ingestion_server/ingestion_server/queries.py
  ingestion_server/test/unit_tests/test_queries.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: ingestion server

#4389 Fix path to banner in `README.md`
  README.md
Labels: 🟧 priority: high, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: mgmt

#4387 Make miscellaneous improvements to the API developer experience
  api/api/apps.py
  api/api/migrations/0064_define_verbose_names.py
  api/api/models/mixins.py
  api/latest_migrations/api
  api/run.py
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: api, migrations

#4385 Always assume special urgency for contributor PR pings
  catalog/dags/common/github.py
  catalog/dags/maintenance/pr_review_reminders/pr_review_reminders.py
  catalog/dags/maintenance/pr_review_reminders/pr_review_reminders_dag.py
  catalog/tests/dags/maintenance/test_pr_review_reminders.py
  catalog/tests/factories/github/team.json
  documentation/catalog/reference/DAGs.md
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: catalog, 🧱 stack: documentation

#4397 Revert "Change search query approach to include only available providers (#4238)"
  api/api/controllers/elasticsearch/related.py
  api/api/controllers/search_controller.py
  api/conf/settings/__init__.py
  api/test/unit/controllers/elasticsearch/test_related.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/controllers/test_search_controller_search_query.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#4388 Added documentations for how to run DAGs in development alongside how to add new documentations.
  documentation/_static/airflow_home.png
  documentation/_static/airflow_login.png
  documentation/_static/dag_index.png
  documentation/_static/dag_unpaused.png
  documentation/catalog/guides/dag_testing.md
  documentation/catalog/guides/index.md
  documentation/meta/documentation/adding_docs.md
  documentation/meta/documentation/index.md
Labels: 🟩 priority: low, 🌟 goal: addition, 🤖 aspect: dx, 🧱 stack: catalog, 🧱 stack: documentation

#4372 Reduce permissions of default authentication scope
  api/api/admin/__init__.py
  api/api/admin/forms.py
  api/api/admin/media_report.py
  api/api/admin/oauth.py
  api/api/admin/user.py
  api/api/constants/restricted_features.py
  api/api/migrations/0065_throttledapplication_privileges.py
  api/api/models/oauth.py
  api/api/serializers/media_serializers.py
  api/api/utils/pagination.py
  api/api/views/media_views.py
  api/conf/settings/misc.py
  api/conf/settings/spectacular.py
  api/latest_migrations/api
  api/test/conftest.py
  api/test/fixtures/cache.py
  api/test/fixtures/media_type_config.py
  api/test/fixtures/rest_framework.py
  api/test/integration/test_auth.py
  api/test/integration/test_dead_link_filter.py
  api/test/integration/test_media_integration.py
  api/test/unit/admin/test_forms.py
  api/test/unit/conftest.py
  api/test/unit/controllers/test_search_controller_search_query.py
  api/test/unit/serializers/test_audio_serializers.py
  api/test/unit/serializers/test_media_serializers.py
  api/test/unit/utils/test_throttle.py
Labels: 🟧 priority: high, 🕹 aspect: interface, 🧰 goal: internal improvement, 🧱 stack: api, migrations

#4399 Add recipes for cleaning up
  justfile
Labels: 🟩 priority: low, 🌟 goal: addition, 🤖 aspect: dx, 🧱 stack: mgmt

#4401 Make Dockerfied development environment compatible with macOS
  docker/dev_env/Dockerfile
  docker/dev_env/entrypoint.sh
  docker/dev_env/run.sh
  ov
Labels: 🟨 priority: medium, 🌟 goal: addition, 🤖 aspect: dx, 🧱 stack: mgmt

#4343 Dockerfy the Openverse development environment
  .github/CODEOWNERS
  .gitignore
  .pre-commit-config.yaml
  docker/dev_env/Dockerfile
  docker/dev_env/entrypoint.sh
  docker/dev_env/hooks/pre-commit
  docker/dev_env/hooks/pre-push
  docker/dev_env/run.sh
  justfile
  ov
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🤖 aspect: dx, 🧱 stack: mgmt

#4198 Warn on `license_url` computation in the API
  api/api/models/media.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api

#4396 Improve accessibility labels for filters tab and button
  frontend/src/components/VHeader/VHeaderMobile/VFilterTab.vue
  frontend/src/locales/scripts/en.json5
  frontend/test/locales/ar.json
  frontend/test/playwright/utils/navigation.ts
Labels: 🟨 priority: medium, ✨ goal: improvement, ♿️ aspect: a11y, 🧱 stack: frontend, 🧱 stack: mgmt

#4410 Ignore v8 compile cache
  .gitignore
Labels: 🟩 priority: low, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#4386 Make media items the centre for all moderation activity
  api/api/admin/media_report.py
  api/api/models/__init__.py
  api/api/models/audio.py
  api/api/models/image.py
  api/api/models/moderation.py
  api/api/templates/admin/api/components/media_additional.html
  api/api/templates/admin/api/components/media_decisions.html
  api/api/templates/admin/api/components/media_reports.html
  api/api/templates/admin/api/media/change_form.html
  api/api/templates/admin/api/media/change_list.html
  api/api/templatetags/__init__.py
  api/api/templatetags/get_attr.py
  api/api/utils/moderation_lock.py
  api/test/unit/admin/test_media_report.py
  api/test/unit/utils/test_moderation_lock.py
  load_sample_data.sh
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🕹 aspect: interface, 🐍 tech: python, 🔧 tech: django, 🧱 stack: api

#4409 Add support for aliases to `ov`
  .gitignore
  docker/dev_env/entrypoint.sh
  docker/dev_env/expand_aliases.py
  justfile
  ov
Labels: 🟩 priority: low, 🌟 goal: addition, 🤖 aspect: dx, 🧱 stack: mgmt

#4414 Add report creation, better filtering and more improvements to admin views for media
  api/api/admin/media_report.py
  api/api/templates/admin/api/components/media_complain.html
  api/api/templates/admin/api/components/media_decisions.html
  api/api/templates/admin/api/components/media_reports.html
  api/api/templates/admin/api/media/change_form.html
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🔧 tech: django, 🧱 stack: api
