Repository WordPress/openverse, pull requests merged in 2024-06, with the labels that each got.

#4402 Rename ContentProvider to ContentSource
  api/api/admin/__init__.py
  api/api/controllers/elasticsearch/related.py
  api/api/controllers/search_controller.py
  api/api/docs/audio_docs.py
  api/api/docs/image_docs.py
  api/api/migrations/0066_rename_contentprovider_to_contentsource.py
  api/api/models/__init__.py
  api/api/models/models.py
  api/api/serializers/source_serializers.py
  api/api/views/media_views.py
  api/latest_migrations/api
  api/test/factory/models/content_provider.py
  api/test/factory/models/content_source.py
  api/test/unit/controllers/elasticsearch/test_related.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/controllers/test_search_controller_search_query.py
  api/test/unit/views/test_media_views.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api, migrations

#4431 Add Nuxt 3 folders to gitignore
  frontend/.gitignore
Labels: 🟩 priority: low, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend

#4416 Move NGINX-based services out of the API profile
  api/compose.yml
  api/justfile
  justfile
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#4432 Update docs to recommend blobless cloning strategy
  documentation/api/guides/quickstart.md
  documentation/frontend/guides/quickstart.md
  documentation/general/quickstart.md
  documentation/ingestion_server/guides/quickstart.md
  documentation/meta/documentation/quickstart.md
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: documentation

#4428 Ensure required DB extension is installed before attempting to setup plausible
  .github/workflows/ci_cd.yml
  setup_plausible.sh
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: frontend

#4436 Update assets in the documentation
  documentation/_static/favicon.ico
  documentation/conf.py
  documentation/index.md
Labels: 🟩 priority: low, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: documentation

#4435 Add a link to the committer announcements in the committer docs
  documentation/general/contribution/becoming_a_committer.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: documentation

#4366 Add catalog media properties documentation
  catalog/tests/utilities/media_props_gen/test_md.py
  catalog/utilities/media_props_gen/docs/media_props.md
  catalog/utilities/media_props_gen/docs/postamble.md
  catalog/utilities/media_props_gen/generate_media_properties.py
  catalog/utilities/media_props_gen/helpers/md.py
  documentation/meta/media_properties/catalog.md
Labels: 🟨 priority: medium, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: catalog, 🧱 stack: documentation

#4440 Handle tags without provider in media admin view
  api/api/admin/media_report.py
Labels: 🟧 priority: high, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: api

#4438 Overhaul the complete labelling system
  .github/auto-label.json
  .github/filters.yml
  .github/workflows/ci_cd.yml
  .github/workflows/migration_safety_warning.yml
  .github/workflows/pr_automations.yml
  .github/workflows/pr_automations_init.yml
  automations/js/src/label_pr.mjs
Labels: 🟨 priority: medium, 🌟 goal: addition, 🤖 aspect: dx, 🧱 stack: mgmt

#4450 Fix incorrect brackets in PR automation
  .github/workflows/pr_automations.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#4451 Update pr_automations.yml with missing character
  .github/workflows/pr_automations.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#4449 Jest docs broken link fixed
  documentation/frontend/reference/testing_guidelines.md
Labels: 🟨 priority: medium, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: documentation

#4448 Updated Playwright Codegen broken link
  documentation/frontend/reference/playwright_tests.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: documentation

#4443 Revert "Save cleaned data of Ingestion Server to AWS S3 (#4163)"
  ingestion_server/ingestion_server/cleanup.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: ingestion server

#4429 Add DAG to trim and deduplicate tags
  catalog/dags/maintenance/trim_and_deduplicate_tags.py
  documentation/catalog/reference/DAGs.md
Labels: 🟨 priority: medium, 🛠 goal: fix, 🧱 stack: catalog, 🗄️ aspect: data

#4444 More precisely handle waveform generation failures
  api/api/utils/waveform.py
  api/api/views/audio_views.py
  api/test/integration/test_audio_integration.py
  api/test/integration/test_image_integration.py
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#4068 Add verbose logging option to `ProviderDataIngester`
  catalog/dags/providers/provider_api_scripts/provider_data_ingester.py
  catalog/tests/dags/providers/provider_api_scripts/test_provider_data_ingester.py
  catalog/variables.tsv
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: catalog

#4415 Add `backfillmoderationdecision` management command
  api/api/management/commands/backfillmoderationdecision.py
  api/test/factory/models/audio.py
  api/test/factory/models/oauth2.py
  api/test/unit/management/commands/test_backfillmoderationdecision.py
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: api

#4485 Order quickstart links, add missing catalog link
  documentation/general/quickstart.md
Labels: 🟧 priority: high, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: documentation

#4481 Moved by tag from the fuzzy match group to exact match
  catalog/dags/common/storage/media.py
  catalog/tests/dags/common/storage/test_media.py
  ingestion_server/ingestion_server/cleanup.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#4460 Update the 'updated_on' column during popularity refresh
  catalog/dags/database/batched_update/batched_update_dag.py
  catalog/dags/popularity/sql.py
  catalog/tests/dags/popularity/test_sql.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 🧱 stack: catalog, 🗄️ aspect: data

#4472 Fix ov corepack and pdm existence issues
  docker/dev_env/run.sh
Labels: 🟩 priority: low, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#4496 Fix ov reference in hooks
  docker/dev_env/hooks/pre-commit
  docker/dev_env/hooks/pre-push
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#4473 Fix trim and deduplicate tags deduplication
  catalog/dags/maintenance/trim_and_deduplicate_tags.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#4486 Update works count on the frontend
  documentation/api/reference/made_with_ov.md
  frontend/src/constants/meta.ts
  frontend/src/locales/scripts/en.json5
  frontend/test/locales/ar.json
  frontend/test/locales/es.json
  frontend/test/playwright/e2e/seo.spec.ts
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-xs-linux.png
Labels: 🟨 priority: medium, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: frontend, 🧱 stack: documentation

#4446 Stop opening links in a new tab
  frontend/docker-compose.playwright.yml
  frontend/src/components/VLink.vue
  frontend/src/utils/attribution-html.ts
  frontend/test/playwright/e2e/audio-detail.spec.ts
  frontend/test/playwright/e2e/external-sources.spec.ts
  frontend/test/playwright/e2e/header-internal.spec.ts
  frontend/test/playwright/e2e/report-media.spec.ts
  frontend/test/playwright/e2e/translation-banner.spec.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-2xl-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-sm-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-xs-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-sm-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-xs-linux.png
  frontend/test/unit/specs/components/v-link.spec.js
Labels: 🟨 priority: medium, ✨ goal: improvement, ♿️ aspect: a11y, 🧱 stack: frontend

#4504 Make read contents permission explicit for PR automations
  .github/workflows/pr_automations_init.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#4483 Changes all sensible occurrences of the just commands to have them run using ov
  .github/ISSUE_TEMPLATE/new_source_suggestion.yml
  .github/pull_request_template.md
  .vale/README.md
  catalog/templates/template_test.py_template
  catalog/tests/dags/providers/provider_api_scripts/test_cc_mixter.py
  catalog/tests/dags/providers/provider_api_scripts/test_inaturalist.py
  docker/minio/load_to_s3_entrypoint.sh
  documentation/api/guides/https.md
  documentation/api/guides/quickstart.md
  documentation/api/guides/test.md
  documentation/automations/guides/quickstart.md
  documentation/catalog/guides/adding_a_new_provider.md
  documentation/catalog/guides/dag_testing.md
  documentation/catalog/guides/quickstart.md
  documentation/frontend/guides/analytics.md
  documentation/frontend/guides/icons.md
  documentation/frontend/guides/quickstart.md
  documentation/frontend/guides/test.md
  documentation/frontend/reference/i18n.md
  documentation/frontend/reference/miscellaneous.md
  documentation/frontend/reference/nginx.md
  documentation/frontend/reference/playwright_tests.md
  documentation/frontend/reference/storybook_tests.md
  documentation/frontend/reference/testing_guidelines.md
  documentation/general/contribution/good_first_and_help_wanted_issues.md
  documentation/general/https.md
  documentation/general/logging.md
  documentation/general/quickstart.md
  documentation/general/run.md
  documentation/general/test.md
  documentation/ingestion_server/guides/quickstart.md
  documentation/ingestion_server/guides/test.md
  documentation/meta/ci_cd/jobs/preparation.md
  documentation/meta/documentation/adding_docs.md
  documentation/meta/documentation/quickstart.md
  documentation/packages/index.md
  documentation/projects/planning.md
  frontend/src/locales/scripts/bulk-download.js
  utilities/generate_test_locales/__main__.py
  utilities/load_testing/README.md
Labels: 🟧 priority: high, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: frontend, 🧱 stack: catalog, 🧱 stack: mgmt, 🧱 stack: documentation

#4491 Use a persistent container for `ov`
  docker/dev_env/Dockerfile
  docker/dev_env/exec.py
  docker/dev_env/run.sh
  docker/dev_env/setup_env.sh
  ov
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: infra

#4518 Update current_maintainers.md to add @zackkrida
  documentation/general/contribution/current_maintainers.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation

#4508 Log dead link verification request timings
  api/api/utils/check_dead_links/__init__.py
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: infra

#4525 Make `ov clean` work when a container, image or volume does not exist
  ov
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#4330 Add catalog indexer worker
  .github/CODEOWNERS
  catalog/tests/dags/legacy_data_refresh/__init__.py
  catalog/tests/dags/legacy_data_refresh/test_reporting.py
  docker-compose.yml
  indexer_worker/.dockerignore
  indexer_worker/Dockerfile
  indexer_worker/Pipfile
  indexer_worker/Pipfile.lock
  indexer_worker/README.md
  indexer_worker/compose.yml
  indexer_worker/env.docker
  indexer_worker/env.template
  indexer_worker/gunicorn.conf.py
  indexer_worker/indexer_worker/__init__.py
  indexer_worker/indexer_worker/api.py
  indexer_worker/indexer_worker/authority.py
  indexer_worker/indexer_worker/db_helpers.py
  indexer_worker/indexer_worker/elasticsearch_models.py
  indexer_worker/indexer_worker/es_helpers.py
  indexer_worker/indexer_worker/indexer.py
  indexer_worker/indexer_worker/queries.py
  indexer_worker/indexer_worker/tasks.py
  indexer_worker/justfile
  indexer_worker/pytest.ini
  indexer_worker/tests/__init__.py
  indexer_worker/tests/test_es_audio_model.py
  indexer_worker/tests/test_es_image_model.py
  indexer_worker/tests/utils.py
  justfile
  pyproject.toml
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: catalog, 🧱 stack: mgmt, 🧱 stack: analytics

#4524 Explicitly include Filter Data step in ingestion server removal IP
  documentation/projects/proposals/ingestion_server_removal/20240328-implementation_plan_ingestion_server_removal.md
Labels: 🟨 priority: medium, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: ingestion server, 🧱 stack: catalog, 🧱 stack: documentation, 🧭 project: implementation plan

#4527 Set `ov` workdir to current working directory
  docker/dev_env/run.sh
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: infra

#4537 Sync the dependencies for PR automation init workflow to infra repo
  .github/sync.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#4465 Add data flow diagram for various ETL steps in pipelines
  documentation/meta/media_properties/etls.md
  documentation/meta/media_properties/index.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation

#4539 Add dev tools jq and HTTPie to `ov`
  docker/dev_env/Dockerfile
Labels: 🟩 priority: low, 🌟 goal: addition, 🤖 aspect: dx, 🧱 stack: mgmt

#4291 Display generated tags separately
  frontend/src/components/VMediaInfo/VCollapsibleTagSection.vue
  frontend/src/components/VMediaInfo/VMediaDetails.vue
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/src/components/VMediaInfo/VMetadata.vue
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/generated-tags.vue
  frontend/src/types/media.ts
  frontend/test/playwright/e2e/collections.spec.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-xs-linux.png
Labels: 🟨 priority: medium, ✨ goal: improvement, 🖼️ aspect: design, 🧱 stack: frontend

#4530 Drop FK constraint on media_obj in MediaDecisionThrough, update backfillmoderationdecision command
  api/api/management/commands/backfillmoderationdecision.py
  api/api/migrations/0067_alter_audiodecisionthrough_media_obj_and_more.py
  api/api/models/audio.py
  api/api/models/image.py
  api/api/models/media.py
  api/latest_migrations/api
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api, migrations

#4516 Add caching to frontend Nginx configuration
  .editorconfig
  frontend/Dockerfile.nginx
  frontend/nginx/nginx.conf.template
  frontend/nginx/snippets/cached_location.conf
  frontend/nginx/snippets/nuxt_location.conf
Labels: 🟨 priority: medium, 💻 aspect: code, 🕹 aspect: interface, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: infra

#4495 Fix placing test S3 data into MinIO
  catalog/dags/providers/provider_api_scripts/inaturalist.py
  catalog/tests/dags/common/loader/test_s3.py
  catalog/tests/dags/providers/provider_api_scripts/test_inaturalist.py
  docker/minio/env.template
  docker/minio/load_to_s3_entrypoint.sh
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#4551 Shorten PDM hash to first 8 characters
  api/justfile
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🐳 tech: docker, 🧱 stack: api

#4544 Create sensitive and deleted media models for decisions
  api/api/admin/media_report.py
  api/api/models/audio.py
  api/api/models/image.py
  api/api/models/media.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#4536 Do not use unstable pook reference for API
  api/Dockerfile
  api/pdm.lock
  api/pyproject.toml
  api/test/unit/utils/test_image_proxy.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, dependencies, 🧱 stack: api

#4499 Include xml in frontend attribution options
  frontend/src/assets/error_images.json
  frontend/src/components/VErrorSection/VErrorImage.vue
  frontend/src/components/VMediaInfo/VCopyLicense.vue
  frontend/src/components/VMediaInfo/VLicenseTabPanel.vue
  frontend/src/locales/scripts/en.json5
  frontend/src/types/analytics.ts
  frontend/src/utils/attribution-html.ts
  frontend/test/locales/ar.json
  frontend/test/locales/es.json
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-md-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-xs-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-md-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-md-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-xs-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-xml-tab-2xl-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-xml-tab-lg-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-xml-tab-md-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-xml-tab-sm-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-xml-tab-xl-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-xml-tab-xs-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-md-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-xs-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-md-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-xs-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-md-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-xs-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-xml-tab-2xl-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-xml-tab-lg-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-xml-tab-md-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-xml-tab-sm-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-xml-tab-xl-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-xml-tab-xs-linux.png
  frontend/test/unit/specs/components/ImageDetails/v-copy-license.spec.js
  frontend/test/unit/specs/utils/attribution-html.spec.ts
Labels: 🟩 priority: low, 🌟 goal: addition, 💻 aspect: code, 🕹 aspect: interface, 🧱 stack: api, 🧱 stack: frontend

#4550 Fix Plausible setup after domain was already set
  setup_plausible.sh
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: analytics

#4549 Re-add tags page text
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/generated-tags.vue
  frontend/src/pages/tags.vue
Labels: 🟧 priority: high, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: frontend

#4526 Fix separators in catalog and dev-env images and dev-env volume
  .github/workflows/ci_cd.yml
  catalog/compose.yml
  docker/dev_env/run.sh
  ov
Labels: 🟩 priority: low, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: catalog, 🧱 stack: mgmt

#4554 Remove backfillmoderationdecision management command after production run
  api/api/management/commands/backfillmoderationdecision.py
  api/test/unit/management/commands/test_backfillmoderationdecision.py
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#4546 combine frontend testing documentation pages
  .github/workflows/ci_cd.yml
  documentation/conf.py
  documentation/frontend/guides/test.md
  documentation/frontend/reference/index.md
  documentation/frontend/reference/playwright_tests.md
  documentation/frontend/reference/storybook_tests.md
  documentation/frontend/reference/testing_guidelines.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: mgmt, 🧱 stack: documentation

#4523 Fix possible TypeError when accessing properties of `route.value`
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VMediaInfo/VMetadata.vue
  frontend/src/components/VMediaInfo/VRelatedMedia.vue
  frontend/src/composables/use-match-routes.ts
  frontend/src/pages/audio/_id/index.vue
  frontend/src/pages/image/_id/index.vue
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#4555 Ensure plpython3u exists in live db when using it
  catalog/dags/maintenance/decode_and_deduplicate_image_tags.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#4557 Remove `trim_and_deduplicate_tags` DAG after successful run
  catalog/dags/maintenance/trim_and_deduplicate_tags.py
  documentation/catalog/reference/DAGs.md
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog, 🧱 stack: documentation

#4417 Implementation Plan: Augment the catalog database with suitable Rekognition tags
  documentation/projects/proposals/rekognition_data/20240530-implementation_plan_augment_catalog_with_rekognition_tags.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation, 🧭 project: implementation plan

#4471 Remove single quotes in values of Ingestion Server's TSV files
  ingestion_server/ingestion_server/cleanup.py
  ingestion_server/test/unit_tests/test_cleanup.py
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: ingestion server

#4529 Upload Ingestion Server's TSV files to AWS S3 (skip tags)
  ingestion_server/env.template
  ingestion_server/ingestion_server/cleanup.py
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: ingestion server

#4568 Specify pull policy for `openverse-` images
  api/compose.yml
  catalog/compose.yml
  docker-compose.yml
  ingestion_server/compose.yml
Labels: 🟩 priority: low, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: catalog, 🧱 stack: mgmt, 🧱 stack: analytics
