Repository WordPress/openverse, pull requests merged in 2024-02, with the labels that each got.

#3650 Implementation Plan: Move Airflow and API to openverse.org
  documentation/projects/proposals/infrastructure_improvements/20240105_implementation_plan_move_remaining_services_to_openverse_org.md
  documentation/projects/proposals/infrastructure_improvements/index.md
Labels: 🟩 priority: low, 🌟 goal: addition, 📄 aspect: text, skip-changelog, 🧱 stack: infra, 🧭 project: implementation plan

#3727 Add the ToS to the navigation bar
  frontend/src/composables/use-pages.ts
  frontend/src/locales/scripts/en.json5
  frontend/test/locales/ar.json
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-no-results-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-no-results-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-no-results-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-no-results-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-timeout-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-timeout-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/ltr-full-page-report-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/rtl-full-page-report-xl-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-md-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-sm-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-xs-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-md-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-sm-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-xs-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/desktop-header-internal-ltr-2xl-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/desktop-header-internal-ltr-lg-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/desktop-header-internal-ltr-xl-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/desktop-header-internal-rtl-2xl-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/desktop-header-internal-rtl-lg-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/desktop-header-internal-rtl-xl-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-xl-linux.png
Labels: 🟧 priority: high, 🚦 status: awaiting triage, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: frontend

#3732 Add a link to the GitHub file history on the Terms of Service
  documentation/terms_of_service.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation

#3756 Fix incorrect key `pass_filesnames`
  .pre-commit-config.yaml
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt

#3759 Fix flaky Playwright tests
  frontend/test/playwright/e2e/sensitive-results.spec.ts
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#3407 Add source and provider definition tooltips
  frontend/src/components/VIconButton/VIconButton.vue
  frontend/src/components/VMediaInfo/VMetadata.vue
  frontend/src/components/VMediaInfo/VSourceProviderTooltip.vue
  frontend/src/components/VPopover/VPopover.vue
  frontend/src/components/VTooltip/VTooltip.vue
  frontend/src/composables/use-floating-ui.ts
  frontend/src/composables/use-popover-content.ts
  frontend/src/locales/scripts/en.json5
  frontend/src/types/media.ts
  frontend/src/utils/metadata.ts
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🕹 aspect: interface, 🧱 stack: frontend

#3762 Remove codeowners validator from pre-commit
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  documentation/meta/ci_cd/jobs/preparation.md
  justfile
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#3632 Add SEARCH_RESPONSE_TIME analytics event to searches
  frontend/src/data/media-service.ts
  frontend/src/types/analytics.ts
  frontend/test/unit/specs/data/media-service.spec.ts
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#3767 Fixed Typo in Frontend Icons.md file
  documentation/frontend/guides/icons.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: documentation

#3726 Raise an exception if any indexer workers fail their health check
  ingestion_server/ingestion_server/distributed_reindex_scheduler.py
  ingestion_server/test/unit_tests/test_distributed_reindex_scheduler.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: ingestion server

#3773 Prevent running certain workflows on forks
  .github/workflows/generate_pot.yml
  .github/workflows/issue_automations.yml
  .github/workflows/label_sync.yml
  .github/workflows/pr_automations.yml
  .github/workflows/pr_automations_init.yml
  .github/workflows/pr_ping.yml
  .github/workflows/project_thread_update_reminders.yml
  .github/workflows/release-app.yml
  .github/workflows/renovate.yml
  .github/workflows/subscribe_to_label.yml
  .github/workflows/sync_meta.yml
  .github/workflows/weekly_updates.yml
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#3779 Revert Add SEARCH_RESPONSE_TIME analytics event to searches (#3632)
  frontend/src/data/media-service.ts
  frontend/src/types/analytics.ts
  frontend/test/unit/specs/data/media-service.spec.ts
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#3768 Change outdated links in about page for codebase and project board to current links
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/about.vue
  frontend/test/locales/ar.json
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xs-linux.png
  packages/eslint-plugin/src/configs/vue.ts
Labels: 🟨 priority: medium, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: frontend

#3771 Remove `edited` type from PR automation init review trigger, enable concurrency
  .github/workflows/pr_automations_init.yml
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#3748 Add Elasticsearch cluster health monitor DAGs
  catalog/dags/common/constants.py
  catalog/dags/common/sensors/utils.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index_dag.py
  catalog/dags/elasticsearch_cluster/healthcheck_dag.py
  catalog/dags/elasticsearch_cluster/shared.py
  catalog/justfile
  catalog/tests/dags/elasticsearch_cluster/test_healthcheck_dag.py
  catalog/tests/dags/test_dag_parsing.py
  documentation/catalog/reference/DAGs.md
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: catalog, 🧱 stack: documentation

#3755 Separate release drafting from publishing
  .github/workflows/draft_releases.yml
  .github/workflows/release-app.yml
  documentation/api/guides/deploy.md
  documentation/catalog/guides/deploy.md
  documentation/frontend/guides/deploy.md
  documentation/general/deployment.md
  documentation/ingestion_server/guides/deploy.md
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#3788 Fix release tag formatting
  .github/workflows/draft_releases.yml
  .github/workflows/release-app.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt

#3789 Fix newline at end of folded env variable string and prevent confusing skips of the changelog PRs
  .github/workflows/release-app.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: infra

#3749 Add links to additional views to sources table
  frontend/src/components/VSourcesTable.vue
  frontend/test/playwright/e2e/sources.spec.ts
Labels: 🟨 priority: medium, 🌟 goal: addition, 🕹 aspect: interface, 🧱 stack: frontend

#3544 Refactor integration tests to have no side-effects
  api/test/api_live_integration.py
  api/test/api_live_search_qa.py
  api/test/conftest.py
  api/test/fixtures/rest_framework.py
  api/test/integration/conftest.py
  api/test/integration/test_audio_integration.py
  api/test/integration/test_auth.py
  api/test/integration/test_dead_link_filter.py
  api/test/integration/test_deprecations.py
  api/test/integration/test_image_integration.py
  api/test/integration/test_media_integration.py
  api/test/media_integration.py
  api/test/test_audio_integration.py
  api/test/test_backwards_compat.py
  api/test/test_image_integration.py
  api/test/test_v1_integration.py
  api/test/unit/conftest.py
  api/test/unit/models/test_media.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api

#3682 Add check to skip toggling CloudWatch alarms
  catalog/dags/common/cloudwatch.py
  catalog/dags/common/constants.py
  catalog/dags/common/ingestion_server.py
  catalog/dags/data_refresh/data_refresh_task_factory.py
  catalog/env.template
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3799 Prevent creation of `.md-e` files in the docs
  .pre-commit-config.yaml
  ingestion_server/test/update_mocks.sh
Labels: 🟨 priority: medium, 💻 aspect: code, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#3787 Add Ralph Rinzler Folklife Archives and Collections to Smithsonian subproviders
  catalog/dags/common/loader/provider_details.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3774 Update NYPL DAG to use API v2
  catalog/dags/providers/provider_api_scripts/nypl.py
  catalog/justfile
  catalog/tests/dags/providers/provider_api_scripts/resources/nypl/metadata.json
  catalog/tests/dags/providers/provider_api_scripts/resources/nypl/response_search_success.json
  catalog/tests/dags/providers/provider_api_scripts/test_nypl.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3800 Remove the repository specific code of conduct.
  .github/CODEOWNERS
  CODE_OF_CONDUCT.md
  documentation/general/contributing.md
Labels: 🟨 priority: medium, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: documentation

#3801 Update actions running on deprecated Node v16
  .github/actions/get-changes/action.yml
  .github/actions/load-img/action.yml
  .github/actions/setup-env/action.yml
  .github/workflows-disabled/sentry-release.yml
  .github/workflows/ci_cd.yml
  .github/workflows/migration_safety_warning.yml
  .github/workflows/pr_limit_reminders.yml
  .github/workflows/project_thread_update_reminders.yml
  .github/workflows/release-app.yml
  .github/workflows/renovate.yml
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: mgmt, 🔧 tech: github actions

#3805 Fix airflow connections
  catalog/dags/common/slack.py
  catalog/dags/elasticsearch_cluster/shared.py
  catalog/entrypoint.sh
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3804 Use correct `BASE_URL` for the API by default
  api/conf/settings/security.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3794 Fix sketchfab loading state error
  frontend/src/components/VSketchFabViewer.vue
  frontend/src/pages/image/_id/index.vue
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#3824 Enable at-any-time security updates from Renovate
  .github/renovate.json
Labels: 🟨 priority: medium, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#3528 Replaced `get_token_info` calls with the `request.auth.application`
  api/api/middleware/response_headers_middleware.py
  api/api/serializers/media_serializers.py
  api/api/utils/oauth2_helper.py
  api/api/utils/throttle.py
  api/api/views/oauth2_views.py
  api/test/unit/controllers/test_search_controller_search_query.py
  api/test/unit/utils/test_throttle.py
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#3810 Use infrequent access when uploading provider TSVs
  catalog/dags/common/loader/s3.py
  catalog/dags/providers/provider_dag_factory.py
  catalog/dags/providers/provider_workflows.py
  catalog/env.template
  catalog/tests/dags/providers/test_provider_workflows.py
  justfile
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog, 🧱 stack: infra

#3769 `mature` -> `sensitive` code changes for the API
  api/api/admin/__init__.py
  api/api/migrations/0055_alter_matureaudio_table_alter_matureimage_table.py
  api/api/migrations/0056_rename_mature_to_sensitive.py
  api/api/models/__init__.py
  api/api/models/audio.py
  api/api/models/image.py
  api/api/models/media.py
  api/api/serializers/media_serializers.py
  api/api/views/audio_views.py
  api/api/views/image_views.py
  api/test/factory/models/__init__.py
  api/test/factory/models/audio.py
  api/test/factory/models/image.py
  api/test/factory/models/media.py
  api/test/unit/conftest.py
  api/test/unit/models/test_media_report.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api, migrations

#3811 Turn analytics composable into a plugin
  frontend/nuxt.config.ts
  frontend/src/composables/use-analytics.ts
  frontend/src/plugins/analytics.ts
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#3786 Add a documentation page describing the different parts of the Openverse stack
  documentation/general/index.md
  documentation/general/stack.md
Labels: 🟩 priority: low, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation

#3828 Make User-Agent a default header
  catalog/dags/common/loader/provider_details.py
  catalog/dags/common/requester.py
  catalog/dags/providers/provider_api_scripts/museum_victoria.py
  catalog/dags/providers/provider_api_scripts/nappy.py
  catalog/dags/providers/provider_api_scripts/provider_data_ingester.py
  catalog/dags/providers/provider_api_scripts/rawpixel.py
  catalog/dags/providers/provider_api_scripts/stocksnap.py
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
  catalog/tests/dags/common/test_requester.py
  catalog/tests/dags/providers/provider_api_scripts/test_provider_data_ingester.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🕹 aspect: interface, 🧱 stack: catalog

#3837 Rename verbose plural "mature" to "sensitive" in API admin
  api/api/migrations/0057_alter_sensitiveaudio_options.py
  api/api/models/audio.py
Labels: 🟧 priority: high, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: api, migrations

#3719 Implementation Plan: Bulk moderation actions
  documentation/projects/proposals/trust_and_safety/content_report_moderation/20240122-implementation_plan_bulk_moderation_actions.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: api, skip-changelog, 🧭 project: implementation plan

#3763 Add proportional staging index dag
  catalog/dags/common/elasticsearch.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index_dag.py
  catalog/dags/elasticsearch_cluster/create_proportional_by_source_staging_index/create_proportional_by_source_staging_index.py
  catalog/dags/elasticsearch_cluster/create_proportional_by_source_staging_index/create_proportional_by_source_staging_index_dag.py
  catalog/dags/elasticsearch_cluster/healthcheck_dag.py
  catalog/dags/elasticsearch_cluster/recreate_staging_index/recreate_full_staging_index_dag.py
  catalog/dags/elasticsearch_cluster/shared.py
  catalog/tests/dags/elasticsearch_cluster/create_new_es_index/test_create_proportional_by_source_staging_index_dag.py
  documentation/catalog/reference/DAGs.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: api, 🧱 stack: catalog, 🧱 stack: documentation

#3834 Add Free Music Archive to external sources in the frontend
  frontend/src/utils/get-additional-sources.ts
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-no-results-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-no-results-rtl-sm-linux.png
Labels: 🟩 priority: low, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend

#3444 Add API schema tests using schemathesis
  api/.gitignore
  api/Pipfile
  api/Pipfile.lock
  api/api/docs/audio_docs.py
  api/api/docs/base_docs.py
  api/api/docs/image_docs.py
  api/api/docs/oauth2_docs.py
  api/api/examples/image_responses.py
  api/api/serializers/audio_serializers.py
  api/api/serializers/error_serializers.py
  api/api/serializers/media_serializers.py
  api/api/serializers/provider_serializers.py
  api/api/utils/exceptions.py
  api/api/views/audio_views.py
  api/api/views/image_views.py
  api/api/views/media_views.py
  api/api/views/oauth2_views.py
  api/test/test_schema.py
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: api, 🧱 stack: mgmt

#3849 Remove references to api-dev
  utilities/load_testing/README.md
  utilities/load_testing/k6/utils.js
Labels: 🟩 priority: low, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: documentation
