Repository WordPress/openverse, pull requests merged in 2024-01, with the labels that each got.

#3556 Update pnpm from 7.17.1 to 8.12.1
  .github/workflows/bundle_size.yml
  frontend/Dockerfile
  package.json
  pnpm-lock.yaml
Labels: 🟧 priority: high, 💻 aspect: code, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: frontend

#3611 Remove step to deploy production thumbnails
  .github/workflows/release-app.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api, 🧱 stack: mgmt

#3617 Silence the gunicorn access log
  api/run.py
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: api

#3591 Update Airflow filtered warnings, address deprecations
  catalog/dags/common/ingestion_server.py
  catalog/env.template
  catalog/pytest.ini
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: catalog

#3613 Delete unused VOldIconButton
  frontend/src/components/VIconButton/VOldIconButton.vue
  frontend/src/components/VIconButton/meta/VOldIconButton.stories.mdx
  frontend/test/storybook/visual-regression/v-old-icon-button.spec.ts
  frontend/test/storybook/visual-regression/v-old-icon-button.spec.ts-snapshots/v-old-icon-button-sizes-linux.png
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#3624 HOTFIX: Convert encoded HTTP connection variables to http type not https
  catalog/entrypoint.sh
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3494 Implementation Plan: Django admin moderator access control and base improvements
  documentation/projects/proposals/trust_and_safety/content_report_moderation/20231208-implementation_plan_django_admin_moderator_access.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: api, 🧭 project: implementation plan

#3628 pgcli version is extracted into a docker argument
  .github/workflows/ci_cd.yml
  api/justfile
  docker-compose.yml
  docker/upstream_db/Dockerfile
  justfile
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: mgmt

#3627 Remove unused AWS variables
  api/conf/settings/__init__.py
  api/conf/settings/aws.py
  api/env.template
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#3623 Add secret-key check
  api/conf/settings/security.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api

#3577 Replaced `cURL` slack workflows with `slackapi`
  .github/workflows/discussion_ping.yml
  .github/workflows/pr_limit_reminders.yml
  .github/workflows/pr_ping.yml
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#3651 Fix slack ping action version reference
  .github/workflows/discussion_ping.yml
  .github/workflows/pr_limit_reminders.yml
  .github/workflows/pr_ping.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt

#3594 Documentation for becoming a committer, reorganize contributing pages
  documentation/conf.py
  documentation/general/contributing.md
  documentation/meta/contribution/becoming_a_committer.md
  documentation/meta/contribution/codespell.md
  documentation/meta/contribution/communication_aliases.md
  documentation/meta/contribution/current_maintainers.md
  documentation/meta/contribution/dev_flow.md
  documentation/meta/contribution/github_contribution_practices.md
  documentation/meta/contribution/index.md
  documentation/meta/contribution/maintainer_tasks.md
  documentation/meta/index.md
Labels: 🟩 priority: low, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation

#3648 Add additional_query_params to provider DAG configuration
  catalog/dags/providers/provider_api_scripts/provider_data_ingester.py
  catalog/dags/providers/provider_dag_factory.py
  catalog/tests/dags/providers/provider_api_scripts/test_provider_data_ingester.py
Labels: 🟩 priority: low, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: catalog

#3622 Convert unittest to pytest
  catalog/tests/dags/common/sensors/test_single_run_external_dags_sensor.py
  ingestion_server/test/integration_test.py
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: ingestion server, 🧱 stack: catalog

#3657 Fix PR limit reminders
  .github/workflows/pr_limit_reminders.yml
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt

#3258 Retrieve Auckland Museum Image Data
  catalog/dags/common/loader/provider_details.py
  catalog/dags/common/requester.py
  catalog/dags/providers/provider_api_scripts/auckland_museum.py
  catalog/dags/providers/provider_workflows.py
  catalog/tests/dags/providers/provider_api_scripts/resources/aucklandmuseum/single_item.json
  catalog/tests/dags/providers/provider_api_scripts/test_auckland_museum.py
Labels: 🟩 priority: low, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: catalog

#3644 Increase ES throttling rate in Ingestion Server
  ingestion_server/ingestion_server/indexer.py
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: ingestion server

#3653 Fix formatting of PR ping Slack messages
  .github/workflows/pr_ping.yml
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#3025 Prevent iNaturalist from running alongside any other DAGs
  catalog/dags/providers/provider_api_scripts/inaturalist.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#3662 fix: broken pipenv install link in general quickstart guide
  documentation/general/general_setup.md
Labels: 🟨 priority: medium, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: documentation

#3570 Add codeowners pre-commit check
  .github/CODEOWNERS
  .pre-commit-config.yaml
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#3656 Simplify load sample data
  load_sample_data.sh
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api, skip-changelog

#3668 Add Rawpixel to authority data as CURATED
  ingestion_server/ingestion_server/authority.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api

#3590 Additional service checks for ingestion server health endpoint
  ingestion_server/ingestion_server/api.py
  ingestion_server/ingestion_server/cleanup.py
  ingestion_server/ingestion_server/db_helpers.py
  ingestion_server/ingestion_server/indexer.py
  ingestion_server/ingestion_server/ingest.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: ingestion server

#3629 Add documentation for yearly planning
  documentation/projects/index.md
  documentation/projects/yearly_planning/index.md
  documentation/projects/yearly_planning/process_outline.md
  documentation/projects/yearly_planning/project_themes.md
Labels: 🟩 priority: low, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation

#3649 Draft PRs fix for PR Board automation
  automations/js/src/project_automation/prs.mjs
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#3674 Allow CI + CD workflow to deploy from a different branch
  .github/workflows/ci_cd.yml
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🤖 aspect: dx, 🧱 stack: mgmt

#3618 Do not ingest Jamendo records with downloads disabled
  catalog/dags/database/delete_records/constants.py
  catalog/dags/database/delete_records/delete_records.py
  catalog/dags/database/delete_records/delete_records_dag.py
  catalog/dags/providers/provider_api_scripts/jamendo.py
  catalog/dags/providers/provider_dag_factory.py
  catalog/dags/providers/provider_workflows.py
  catalog/tests/dags/database/test_delete_records.py
  catalog/tests/test_utils/sql.py
  docker/upstream_db/0003_openledger_image_schema.sql
  docker/upstream_db/0006_openledger_audio_schema.sql
  documentation/catalog/reference/DAGs.md
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#3652 Toggle CloudWatch alarms actions during Data Refresh
  catalog/dags/common/cloudwatch.py
  catalog/dags/data_refresh/data_refresh_task_factory.py
  catalog/env.template
  catalog/tests/dags/common/conftest.py
  catalog/tests/dags/common/loader/test_s3.py
Labels: 🟧 priority: high, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: catalog, 🧱 stack: mgmt

#3681 Add missing spaces in PR ping
  .github/workflows/pr_ping.yml
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: mgmt

#3679 Add user-agent header for rawpixel
  catalog/dags/providers/provider_api_scripts/rawpixel.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3672 Update alarms runbooks
  documentation/meta/monitoring/runbooks/api_avg_response_time_above_threshold.md
  documentation/meta/monitoring/runbooks/api_avg_response_time_anomaly.md
  documentation/meta/monitoring/runbooks/api_p99_response_time_above_threshold.md
  documentation/meta/monitoring/runbooks/api_p99_response_time_anomaly.md
  documentation/meta/monitoring/runbooks/api_request_count_anomaly.md
  documentation/meta/monitoring/runbooks/nuxt_avg_response_time_above_threshold.md
  documentation/meta/monitoring/runbooks/nuxt_avg_response_time_anomaly.md
  documentation/meta/monitoring/runbooks/nuxt_http_2xx_under_threshold.md
  documentation/meta/monitoring/runbooks/nuxt_http_5xx_above_threshold.md
  documentation/meta/monitoring/runbooks/nuxt_p99_response_time_above_threshold.md
  documentation/meta/monitoring/runbooks/nuxt_p99_response_time_anomaly.md
  documentation/meta/monitoring/runbooks/nuxt_request_count_anomaly.md
  documentation/meta/monitoring/runbooks/unhealthy_ecs_hosts.md
Labels: 🟧 priority: high, 📄 aspect: text, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: documentation

#3586 Make the terms of service apply to all services
  documentation/terms_of_service.md
Labels: 🟧 priority: high, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: documentation

#3676 Combine write to file and STDOUT in one command using `tee`
  .github/workflows/ci_cd.yml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: mgmt

#3680 Remove outdated Docker image deployment workflow and documentation
  .github/workflows/push_docker_image.yml
  documentation/_static/publish_action_example.png
  documentation/general/deployment.md
  documentation/general/index.md
  documentation/general/publish.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: documentation

#3689 Revert "Toggle CloudWatch alarms actions during Data Refresh (#3652)"
  catalog/dags/common/cloudwatch.py
  catalog/dags/data_refresh/data_refresh_task_factory.py
  catalog/env.template
  catalog/tests/dags/common/conftest.py
  catalog/tests/dags/common/loader/test_s3.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3696 Update WordPress Photo Directory DAG to ingest weekly
  catalog/dags/providers/provider_workflows.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#3537 Add create_new_es_index DAGs
  catalog/dags/common/constants.py
  catalog/dags/common/sensors/utils.py
  catalog/dags/data_refresh/create_filtered_index_dag.py
  catalog/dags/data_refresh/data_refresh_task_factory.py
  catalog/dags/data_refresh/data_refresh_types.py
  catalog/dags/database/staging_database_restore/staging_database_restore_dag.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index_dag.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index_types.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/utils.py
  catalog/dags/elasticsearch_cluster/recreate_staging_index/recreate_full_staging_index.py
  catalog/dags/elasticsearch_cluster/recreate_staging_index/recreate_full_staging_index_dag.py
  catalog/env.template
  catalog/tests/dags/elasticsearch_cluster/create_new_es_index/test_create_new_es_index.py
  catalog/tests/dags/elasticsearch_cluster/create_new_es_index/test_util.py
  catalog/tests/dags/test_dag_parsing.py
  documentation/catalog/reference/DAGs.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: catalog

#3687 Remove needs db and add patch
  api/api/serializers/audio_serializers.py
  api/api/serializers/image_serializers.py
  api/api/serializers/media_serializers.py
  api/api/views/media_views.py
  api/test/test_auth.py
  api/test/test_dead_link_filter.py
Labels: 🟨 priority: medium, 🚦 status: awaiting triage, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api

#3669 Update Rawpixel image URLs for ingestion
  catalog/dags/providers/provider_api_scripts/rawpixel.py
  catalog/tests/dags/providers/provider_api_scripts/test_rawpixel.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3699 Wrap PR and discussion titles in `toJSON` to escape them in Slack
  .github/workflows/discussion_ping.yml
  .github/workflows/pr_ping.yml
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#3698 Enable the isort rules for ruff and fix linting issues
  api/api/views/audio_views.py
  api/conf/settings/security.py
  api/test/factory/models/audio.py
  api/test/factory/models/image.py
  api/test/factory/models/media.py
  api/test/factory/models/oauth2.py
  api/test/media_integration.py
  api/test/test_audio_integration.py
  api/test/test_auth.py
  api/test/test_backwards_compat.py
  api/test/test_dead_link_filter.py
  api/test/test_examples.py
  api/test/test_image_integration.py
  api/test/test_v1_integration.py
  api/test/unit/conftest.py
  api/test/unit/controllers/elasticsearch/test_related.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/management/commands/test_generatewaveforms.py
  api/test/unit/models/test_audio.py
  api/test/unit/serializers/test_media_serializers.py
  api/test/unit/utils/test_image_proxy.py
  api/test/unit/utils/test_throttle.py
  api/test/unit/views/test_image_views.py
  automations/python/models/label.py
  automations/python/shared/labels.py
  catalog/dags/database/delete_records/delete_records.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index_dag.py
  catalog/dags/popularity/popularity_refresh_dag_factory.py
  catalog/dags/popularity/recreate_popularity_calculation_dag_factory.py
  catalog/dags/popularity/sql.py
  catalog/dags/providers/provider_dag_factory.py
  ingestion_server/ingestion_server/api.py
  ingestion_server/ingestion_server/cleanup.py
  ingestion_server/ingestion_server/ingest.py
  ingestion_server/test/unit_tests/test_cleanup.py
  ingestion_server/test/unit_tests/test_es_image_model.py
  pyproject.toml
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: catalog, 🧱 stack: mgmt

#3705 Use format over toJSON for escaping quotes in GHA
  .github/workflows/discussion_ping.yml
  .github/workflows/pr_ping.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#3697 Use correct path when checking if DAGs.md needs to be regenerated
  catalog/justfile
  documentation/catalog/reference/DAGs.md
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: catalog

#3702 Do not use unsupported folded chomping multiline YAML block syntax
  .github/workflows/pr_limit_reminders.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#3568 Update copy changes implementation plan to avoid table rename
  documentation/projects/proposals/trust_and_safety/content_report_moderation/20230517-implementation_plan_mature_copy_change.md
Labels: 🟨 priority: medium, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: api

#3567 Add initial vale configuration and apply editorial changes to documentation
  .github/CODEOWNERS
  .github/filters.yml
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  .vale/.gitignore
  .vale/.vale.ini
  .vale/Dockerfile
  .vale/README.md
  .vale/justfile
  .vale/styles/Openverse/README.md
  .vale/styles/Openverse/TermCasing.yml
  .vale/styles/Vocab/Openverse/accept.txt
  automations/python/workflows/set_matrix_images.py
  catalog/dags/providers/provider_api_scripts/inaturalist.py
  catalog/docs/data_models.md
  catalog/docs/provider_data_ingester_faq.md
  documentation/api/reference/search_algorithm.md
  documentation/catalog/guides/adding_a_new_provider.md
  documentation/catalog/guides/quickstart.md
  documentation/catalog/reference/DAGs.md
  documentation/frontend/reference/playwright_tests.md
  documentation/frontend/reference/storybook_tests.md
  documentation/general/contributing.md
  documentation/general/general_setup.md
  documentation/general/logging.md
  documentation/general/quickstart.md
  documentation/general/test.md
  documentation/general/zero_downtime_database_management.md
  documentation/ingestion_server/guides/troubleshoot.md
  documentation/meta/ci_cd/artifacts.md
  documentation/meta/ci_cd/flow.md
  documentation/meta/ci_cd/proof_of_functionality.md
  documentation/meta/contribution/codespell.md
  documentation/meta/maintenance/elasticsearch_cluster.md
  documentation/meta/monitoring/cloudwatch_logs/index.md
  documentation/meta/monitoring/runbooks/unhealthy_ecs_hosts.md
  documentation/meta/monitoring/traffic/runbooks/identifying-and-blocking-traffic-anomalies.md
  documentation/projects/planning.md
  documentation/projects/yearly_planning/process_outline.md
  frontend/nuxt-template-overrides/README.md
  frontend/src/components/VModal/meta/VModal.stories.mdx
  justfile
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: mgmt, 🧱 stack: documentation

#3715 Prevent real network requests in TLS cleanup test
  ingestion_server/justfile
  ingestion_server/test/unit_tests/test_cleanup.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: ingestion server, skip-changelog

#3709 Remove sentry exception capture for thumbnail errors
  api/api/utils/image_proxy/__init__.py
  api/conf/settings/thumbnails.py
  api/test/unit/utils/test_image_proxy.py
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#3728 Add storybook snapshot update command to testing documentation
  documentation/frontend/guides/test.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: documentation

#3730 Remove preceding `$` in documentation code blocks, use bash for code blocks, add pre-commit check for console usage
  .pre-commit-config.yaml
  documentation/api/guides/https.md
  documentation/api/guides/quickstart.md
  documentation/api/guides/test.md
  documentation/automations/guides/quickstart.md
  documentation/catalog/guides/adding_a_new_provider.md
  documentation/frontend/guides/analytics.md
  documentation/frontend/guides/quickstart.md
  documentation/general/deployment.md
  documentation/general/general_setup.md
  documentation/general/quickstart.md
  documentation/ingestion_server/guides/quickstart.md
  documentation/ingestion_server/guides/test.md
  documentation/ingestion_server/guides/troubleshoot.md
  documentation/ingestion_server/reference/task_api.md
  documentation/meta/documentation/quickstart.md
  documentation/projects/planning.md
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: documentation
