Repository WordPress/openverse, pull requests merged in 2024-10, with the labels that each got.

#5021 Fix the load test comment condition
  .github/workflows/ci_cd.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt

#4997 Improve Sentry init log and ignore non-actionable error
  frontend/server/plugins/sentry.ts
  frontend/src/plugins/01.sentry.client.ts
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🤖 aspect: dx, 🧱 stack: frontend

#5023 Update plausible to fix logging
  frontend/package.json
  pnpm-lock.yaml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: frontend

#4982 Update loading skeletons
  frontend/src/components/VSkeleton/VBone.vue
  frontend/src/components/VSkeleton/VGridSkeleton.vue
  frontend/src/components/VSkeleton/meta/VGridSkeleton.stories.ts
  frontend/src/styles/tailwind.css
Labels: 🟨 priority: medium, ✨ goal: improvement, 🖼️ aspect: design, 🧱 stack: frontend, 🧱 stack: documentation

#4953 Add BACK_TO_TOP event and fire when button is clicked
  frontend/src/components/VLoadMore.vue
  frontend/src/components/VScrollButton.vue
  frontend/src/stores/search.ts
  frontend/src/types/analytics.ts
Labels: 🟩 priority: low, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend

#4962 Update init scripts to use new data refresh
  .github/workflows/ci_cd.yml
  catalog/dags/common/sensors/single_run_external_dags_sensor.py
  catalog/dags/data_refresh/copy_data.py
  catalog/dags/data_refresh/create_and_populate_filtered_index.py
  catalog/dags/data_refresh/create_index.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/data_refresh_types.py
  catalog/dags/data_refresh/distributed_reindex.py
  catalog/dags/data_refresh/queries.py
  catalog/dags/data_refresh/remap_table_indices.py
  catalog/justfile
  catalog/tests/dags/common/sensors/test_single_run_external_dags_sensor.py
  documentation/catalog/reference/DAGs.md
  load_sample_data.sh
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: api, 🧱 stack: catalog, 🧱 stack: mgmt, 🧱 stack: documentation

#5015 Make the preferences test more robust
  frontend/test/playwright/e2e/preferences.spec.ts
  frontend/test/playwright/utils/assertions.ts
  packages/js/eslint-plugin/src/configs/index.ts
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#5014 Added some 5xx error code handling for function
  catalog/dags/providers/provider_api_scripts/stocksnap.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#5028 Move team alumni from current maintainers to `README.md`
  README.md
  documentation/general/contribution/current_maintainers.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: documentation

#5029 Bump installed Python and fix stage name
  .github/actions/setup-env/action.yml
  .pre-commit-config.yaml
Labels: 🟥 priority: critical, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#5027 Add tests for data refresh task dependencies
  catalog/tests/dags/data_refresh/test_task_dependencies.py
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog

#4986 Add correct `verbose_name` and `verbose_name_plural` to audio models
  api/api/migrations/0071_alter_audio_options_alter_deletedaudio_options_and_more.py
  api/api/models/audio.py
  api/latest_migrations/api
  load_sample_data.sh
Labels: 🟨 priority: medium, 🛠 goal: fix, 📄 aspect: text, 💻 aspect: code, 🧱 stack: api, migrations

#5030 Add `catalog` to list of images built for API tests
  automations/python/workflows/set_matrix_images.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt

#5038 Fix WP Photo Directory DAG
  catalog/dags/providers/provider_api_scripts/wordpress.py
  catalog/tests/dags/providers/provider_api_scripts/test_wordpress.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#4959 Fix image and audio result focus rings
  frontend/.storybook/decorators/with-theme.ts
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VImageCell/VImageCell.vue
  frontend/src/components/VImageCell/meta/VImageCell.stories.ts
  frontend/src/components/VSearchResultsGrid/VImageCollection.vue
  frontend/src/components/meta/Focus.stories.js
  frontend/src/constants/z-indices.ts
  frontend/src/pages/search.vue
  frontend/src/styles/tailwind.css
  frontend/tailwind.config.ts
  frontend/test/playwright/visual-regression/components/filters.spec.ts
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-md-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-rtl-md-light-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-from-search-results-with-additional-search-views-ltr-xs-light-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-from-search-results-with-additional-search-views-rtl-xs-light-linux.png
  frontend/test/storybook/visual-regression/focus.spec.ts-snapshots/focus-bold-filled-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-hovered-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-hovered-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-hovered-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-hovered-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-loaded-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-loaded-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-loaded-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-hovered-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-hovered-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-hovered-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-hovered-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-loaded-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-loaded-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-loaded-xs-light-linux.png
Labels: 🟧 priority: high, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend, 🧱 stack: documentation

#5036 Correctly set locale `language` property
  frontend/nuxt.config.ts
  frontend/src/locales/scripts/get-validated-locales.js
Labels: 🟧 priority: high, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend, 🧱 stack: documentation

#4904 IP: Undo split indices for sensitive text detection
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20240903-implementation_plan_undo_split_filtered_indices.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation, 🧭 project: implementation plan

#5044 Fix flaky e2e preferences test
  frontend/src/pages/preferences.vue
  frontend/test/playwright/e2e/preferences.spec.ts
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#5041 Add Slack Alert for non-dated provider DAGs with no data
  catalog/dags/common/loader/reporting.py
  catalog/dags/providers/provider_dag_factory.py
  catalog/tests/dags/common/loader/test_reporting.py
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog

#5034 Update the text area colors
  frontend/src/components/VButton.vue
  frontend/src/components/VContentReport/VReportDescForm.vue
Labels: 🟨 priority: medium, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#5046 Initialize the stores only on the server
  frontend/src/plugins/01.api-token.server.ts
  frontend/src/plugins/02.init-stores.server.ts
  frontend/src/plugins/analytics.ts
  frontend/src/plugins/sentry.client.ts
  frontend/test/unit/specs/utils/api-token/api-token-missing-credentials.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-parallel.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-successful.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-unsuccessful.spec.js
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#5050 Removed obsolete cache invalidation code from get_sources function
  api/api/controllers/search_controller.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api, 🧱 stack: documentation

#4991 Run k6 after staging deployments
  .github/workflows/ci_cd.yml
  .github/workflows/k6.yml
  docker/dev_env/Dockerfile
  packages/js/k6/justfile
  packages/js/k6/src/frontend/constants.ts
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: mgmt, 🧱 stack: infra

#5062 Fix token in #4991
  .github/workflows/ci_cd.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: mgmt

#5070 Exclude `ar` from k6 load testing
  packages/js/k6/src/frontend/scenarios.ts
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#5077 Use the correct environment DB for getting the record count of media
  catalog/dags/data_refresh/distributed_reindex.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#5078 Fix parameter type for fetching launch template number
  catalog/dags/data_refresh/distributed_reindex.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#5080 Use port 8002 for indexer worker in non-local environment
  catalog/dags/data_refresh/distributed_reindex.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#5079 Wait for worker to initialize before trying to trigger reindexing task
  catalog/dags/data_refresh/distributed_reindex.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#5081 Log instance status in distributed reindex, pass if empty
  catalog/dags/data_refresh/distributed_reindex.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#5084 Update node and pnpm
  frontend/package.json
  package.json
  pnpm-lock.yaml
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#5096 Update node to v.22
  package.json
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#5097 Drop bespoke time-freezing fixture and adopt FreezeGun
  catalog/requirements-dev.txt
  catalog/tests/dags/conftest.py
  catalog/tests/dags/maintenance/test_pr_review_reminders.py
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog

#5101 Update wait_for_worker checks to check instance is running and reachable
  catalog/dags/data_refresh/distributed_reindex.py
  catalog/tests/dags/data_refresh/test_distributed_reindex.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#5057 Add Collect creator data from Europeana API
  catalog/dags/providers/provider_api_scripts/europeana.py
  catalog/tests/dags/providers/provider_api_scripts/test_europeana.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#5111 Remove logic to change port to 8002 for prod data refresh
  catalog/dags/data_refresh/distributed_reindex.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#5112 Fix param name in `terminate_indexer_worker` task
  catalog/dags/data_refresh/distributed_reindex.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#5113 Log response in wait_for_reindex
  catalog/dags/common/elasticsearch.py
Labels: 🟥 priority: critical, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog

#5106 Increase the timeout before taking a dark snapshot
  frontend/test/playwright/utils/expect-snapshot.ts
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#5095 Update python version in API and attribution
  api/Dockerfile
  api/pdm.lock
  api/pyproject.toml
  packages/python/openverse-attribution/pdm.lock
  packages/python/openverse-attribution/pyproject.toml
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#5116 Prevent layout shift by removing `<ClientOnly>` on the theme selector
  frontend/src/components/VFooter/VFooter.vue
  frontend/src/components/VThemeSelect/VThemeSelect.vue
Labels: 🟧 priority: high, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend

#5099 Create env files from templates in a change-preserving way
  .gitignore
  justfile
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: catalog

#5118 Manually set option's selected prop
  frontend/src/components/VSelectField/VSelectField.vue
Labels: 🟨 priority: medium, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#5025 Update Storybook and pin Nuxt Storybook module version
  frontend/docker-compose.playwright.yml
  frontend/package.json
  pnpm-lock.yaml
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: documentation

#5115 Include env in data refresh Slack notifications
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/reporting.py
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog

#5123 Adjust timeouts for image data refresh
  catalog/dags/data_refresh/copy_data.py
  catalog/dags/data_refresh/data_refresh_types.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#5114 Configure poke interval for the filtered index creation by environment
  catalog/dags/common/elasticsearch.py
  catalog/dags/data_refresh/create_and_populate_filtered_index.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/data_refresh_types.py
  catalog/dags/elasticsearch_cluster/create_proportional_by_source_staging_index/create_proportional_by_source_staging_index_dag.py
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#5124 Make alter data batch size configurable by media type
  catalog/dags/common/constants.py
  catalog/dags/data_refresh/alter_data.py
  catalog/dags/data_refresh/data_refresh_types.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#5125 Limit to 2 `alter_data_batches` concurrently
  catalog/dags/data_refresh/alter_data.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog
