Repository WordPress/openverse, pull requests merged in 2024-11, with the labels that each got.

#5135 Fix Playwright VR test failures
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VHeader/VHeaderMobile/VShowResultsButton.vue
  frontend/src/components/VThemeSelect/VThemeSelect.vue
  frontend/src/styles/tailwind.css
  frontend/test/playwright/utils/components.ts
  frontend/test/playwright/utils/expect-snapshot.ts
  frontend/test/playwright/visual-regression/components/filters.spec.ts
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-md-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-md-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-sm-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-sm-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-xs-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-xs-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-rtl-md-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-rtl-md-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-rtl-sm-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-rtl-sm-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-rtl-xs-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-rtl-xs-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-md-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-md-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-sm-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-sm-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-xs-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-xs-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-md-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-md-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-sm-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-sm-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-xs-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-xs-light-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-timeout-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-timeout-ltr-xl-light-linux.png
  frontend/test/tapes/thumb/images/3c2a4bd5-0fde-4c08-ba06-ed931f93a872_keep-alive.json5
  frontend/test/tapes/thumb/images/3d5b0091-6d7a-4592-abcd-b8924ecc7c67_keep-alive.json5
  frontend/test/tapes/thumb/images/7548937b-232e-4896-a022-776158b881b0_keep-alive.json5
  frontend/test/tapes/thumb/images/94572ee0-244e-4046-a2c9-afdcb3594b8d_keep-alive.json5
  frontend/test/tapes/thumb/images/a8bf5aa0-2ada-4e5b-bde0-7a6c19bb6232_keep-alive.json5
  frontend/test/tapes/thumb/images/d1fe3639-4c08-4162-9abe-304b15bfb708_keep-alive.json5
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: documentation

#5145 Increase batch size for image data refresh alter step
  catalog/dags/data_refresh/data_refresh_types.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#5150 Pin watchfiles dependency in documentation for rust compatibility
  api/pyproject.toml
  documentation/pdm.lock
  documentation/pyproject.toml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: documentation

#5109 Add an analytics event for search results count
  frontend/src/stores/media/index.ts
  frontend/src/types/analytics.ts
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend

#5152 Move Staci from current maintainers to `README.md`
  README.md
  documentation/general/contribution/current_maintainers.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: mgmt, 🧱 stack: documentation

#5160 Fix incorrect OpenAPI examples
  api/api/docs/audio_docs.py
  api/api/docs/base_docs.py
  api/api/docs/image_docs.py
  api/api/examples/audio_responses.py
  api/api/examples/image_responses.py
  api/api/examples/oauth2_responses.py
  api/api/serializers/source_serializers.py
  api/api/utils/pagination.py
  api/test/test_examples.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🤖 aspect: dx, 🧱 stack: api

#5163 Add meta description for documentation index page
  documentation/index.md
Labels: 🟨 priority: medium, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: documentation

#5170 Use healthcheck command preferred by MinIO
  catalog/compose.yml
  docker/minio/env.template
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: catalog

#5165 Bump aiohttp to 3.11.2
  api/pdm.lock
  api/pyproject.toml
  api/test/unit/utils/test_aiohttp.py
Labels: 🟧 priority: high, 💻 aspect: code, dependencies, 🧰 goal: internal improvement, 🧱 stack: api

#5175 Limit number of items in admin media pages
  api/api/admin/media_report.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#5172 Fix unit test warnings
  eslint.config.mjs
  frontend/src/components/VButton.vue
  frontend/src/components/VHeader/VHomeLink.vue
  frontend/src/components/VHeader/VWordPressLink.vue
  frontend/src/components/VLogoLoader/VLogoLoader.vue
  frontend/src/components/VTag/VTag.vue
  frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
  frontend/test/unit/specs/components/ImageDetails/v-copy-license.spec.js
  frontend/test/unit/specs/components/InputField/input-field.spec.js
  frontend/test/unit/specs/components/VMediaInfo/v-media-details.spec.js
  frontend/test/unit/specs/components/VSafetyWall/v-safety-wall.spec.js
  frontend/test/unit/specs/components/VTag/v-tag.spec.js
  frontend/test/unit/specs/components/scroll-button.spec.js
  frontend/test/unit/specs/components/v-content-link.spec.js
  frontend/test/unit/specs/components/v-image-cell.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-missing-credentials.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-parallel.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-successful.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-unsuccessful.spec.js
  frontend/test/unit/test-utils/i18n.js
  frontend/test/unit/test-utils/render-suspended.ts
  frontend/test/unit/test-utils/render.js
  packages/js/eslint-plugin/src/configs/vue.ts
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#5182 Reduce threshold for color matching in VRT
  frontend/test/playwright/playwright.config.ts
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-checked-ltr-lg-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-checked-rtl-lg-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-ltr-lg-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-rtl-lg-light-linux.png
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-ltr-xs-light-linux.png
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-rtl-xs-light-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-ltr-lg-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-rtl-lg-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-ltr-lg-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-rtl-lg-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-ltr-lg-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-lg-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-no-results-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-no-results-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-no-results-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-no-results-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-md-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-sm-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-md-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-sm-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-xs-light-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-lg-dark-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-xl-dark-linux.png
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#5176 Update Nuxt i18n
  .codespell/ignore_lines.txt
  .github/workflows/generate_pot.yml
  frontend/.gitignore
  frontend/i18n/data/en.json5
  frontend/i18n/locale-fallback.json
  frontend/i18n/locales/README.md
  frontend/i18n/locales/scripts/README.md
  frontend/i18n/locales/scripts/axios.js
  frontend/i18n/locales/scripts/bulk-download.js
  frontend/i18n/locales/scripts/create-wp-locale-list.js
  frontend/i18n/locales/scripts/get-translations-status.js
  frontend/i18n/locales/scripts/get-translations.js
  frontend/i18n/locales/scripts/get-validated-locales.js
  frontend/i18n/locales/scripts/jed1x-json-to-json.js
  frontend/i18n/locales/scripts/json-helpers.js
  frontend/i18n/locales/scripts/json-pot-helpers.js
  frontend/i18n/locales/scripts/json-to-pot.js
  frontend/i18n/locales/scripts/ngx-json-to-json.js
  frontend/i18n/locales/scripts/parse-vue-files.js
  frontend/i18n/locales/scripts/read-i18n.js
  frontend/i18n/locales/scripts/types.d.ts
  frontend/i18n/locales/scripts/utils.js
  frontend/i18n/vue-i18n.ts
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/src/app.vue
  frontend/src/components/VErrorSection/VErrorImage.vue
  frontend/src/components/VLicense/VLicense.vue
  frontend/src/components/VMediaInfo/VCopyLicense.vue
  frontend/src/components/VMediaInfo/VMediaDetails.vue
  frontend/src/components/VMediaInfo/VMediaLicense.vue
  frontend/src/components/VMediaInfo/meta/VMetadata.stories.ts
  frontend/src/composables/use-collection-meta.ts
  frontend/src/composables/use-collection.ts
  frontend/src/error.vue
  frontend/src/locales/README.md
  frontend/src/pages/image/[id]/report.vue
  frontend/src/utils/attribution-html.ts
  frontend/src/utils/license.ts
  frontend/src/utils/metadata.ts
  frontend/src/vue-i18n.ts
  frontend/test/README.md
  frontend/test/playwright/e2e/filters.spec.ts
  frontend/test/playwright/playwright.config.ts
  frontend/test/playwright/utils/i18n.ts
  frontend/test/unit/specs/utils/attribution-html.spec.ts
  frontend/test/unit/specs/utils/license.spec.ts
  frontend/test/unit/test-utils/i18n.js
  frontend/test/unit/test-utils/i18n.ts
  packages/js/eslint-plugin/src/configs/vue.ts
  pnpm-lock.yaml
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: mgmt, 🧱 stack: documentation

#5180 Get sources list for filter from content_provider table
  api/api/admin/media_report.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#5183 Add `syntax` and `check` declarations in `Dockerfile`s
  api/Dockerfile
  catalog/Dockerfile
  docker/dev_env/Dockerfile
  frontend/Dockerfile
  frontend/Dockerfile.playwright
  indexer_worker/Dockerfile
  ingestion_server/Dockerfile
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: frontend, 🧱 stack: catalog, 🧱 stack: mgmt

#5158 Add project proposal and IP for license migration
  documentation/projects/proposals/relicensing/20241028-implementation_plan_relicensing.md
  documentation/projects/proposals/relicensing/20241028-project_proposal.md
  documentation/projects/proposals/relicensing/index.md
Labels: 🟩 priority: low, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation, 🧭 project: proposal, 🧭 project: implementation plan

#5162 Update link to running DAGs in runbook
  documentation/meta/release_and_deployment/runbooks/catalog.md
Labels: 🟨 priority: medium, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: catalog, 🧱 stack: documentation

#5189 Prevent from counting media tables in admin
  api/api/admin/media_report.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#5191 Add option to skip dotenv files recreation when `just up` runs
  env.template
  justfile
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#5198 Fix the CI by fixing the i18n dependencies, and updating vite to v6.0.1
  frontend/package.json
  package.json
  packages/js/api-client/package.json
  pnpm-lock.yaml
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#5188 Add filters to throttled application admin view
  api/api/admin/oauth.py
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#5185 docs: mention using docs.openverse.org links for plans in project_thread.md
  .github/ISSUE_TEMPLATE/project_thread.md
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt, 🧱 stack: documentation

#5194 Fix the heading size for related audio
  frontend/src/components/VMediaInfo/VRelatedMedia.vue
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-ltr-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-ltr-lg-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-ltr-lg-light-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-ltr-md-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-ltr-md-light-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-ltr-xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-rtl-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-rtl-lg-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-rtl-lg-light-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-rtl-md-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-rtl-md-light-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-rtl-xl-light-linux.png
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend

#5213 Introduce a memory leak to check k6 tests
  frontend/src/stores/ui.ts
  frontend/test/unit/specs/stores/ui-store.spec.ts
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#5181 Modify k6 load tests
  .github/workflows/k6.yml
  packages/js/k6/src/frontend/scenarios.ts
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#5217 Revert "Downgrade pinia (#5214)"
  frontend/package.json
  pnpm-lock.yaml
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#5212 Update node replacement docs based on last run
  documentation/meta/maintenance/elasticsearch_cluster.md
Labels: 🟨 priority: medium, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: documentation
