Repository WordPress/openverse, pull requests merged in 2024-12, with the labels that each got.

#5237 Update the icon color in `onMounted`
  frontend/src/components/VLicense/VLicense.vue
  frontend/src/components/VLicense/VLicenseElements.vue
  frontend/src/composables/use-dark-mode.ts
  frontend/src/composables/use-icon-names.ts
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#5241 Disable renovate updates for ES, PG and Redis docker images
  .github/renovate.json5
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#5193 Handle case when the input template ref is falsy in the mobile header
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#5216 Track `focus` event instead of `click` to support Safari
  frontend/src/components/VThemeSelect/VThemeSelect.vue
Labels: 🟩 priority: low, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#5218 Enable debugging of the API server from inside a Docker container
  api/compose.yml
  api/pdm.lock
  api/pyproject.toml
  documentation/_static/vs_code_debug_panel.png
  documentation/_static/vs_code_workspace.png
  documentation/api/guides/debugging.md
  documentation/api/guides/index.md
  documentation/general/index.md
  documentation/general/workspace.md
Labels: 🟩 priority: low, 🌟 goal: addition, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: documentation

#5245 Handle new 90% alarms in alarm toggle
  catalog/dags/common/cloudwatch.py
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog

#5247 Fix ov Dockerfile
  docker/dev_env/Dockerfile
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#5249 Bump dev and test dependencies of the API
  api/pdm.lock
  api/pyproject.toml
Labels: 🟨 priority: medium, 💻 aspect: code, dependencies, 🧰 goal: internal improvement, 🧱 stack: api

#5250 Bump and unify PDM in the api/ and indexer_worker/ to 2.21
  .github/workflows/ci_cd.yml
  api/Dockerfile
  api/compose.yml
  api/pdm.lock
  api/pyproject.toml
  indexer_worker/Dockerfile
  indexer_worker/compose.yml
  justfile
Labels: 🟨 priority: medium, 💻 aspect: code, dependencies, 🧰 goal: internal improvement, 🧱 stack: api

#5255 Added https instead of http in wordpress design channel slack link
  documentation/general/contributing.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: documentation

#5238 Making docker user names consistent
  api/Dockerfile
  api/justfile
  env.template
  indexer_worker/Dockerfile
  ingestion_server/Dockerfile
  justfile
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api, 🧱 stack: ingestion server, 🧱 stack: catalog

#5253 Add changelog section to project proposal and implementation plan
  documentation/projects/templates/implementation_plan.md
  documentation/projects/templates/project_proposal.md
Labels: 🟨 priority: medium, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: documentation, 🧭 project: proposal, 🧭 project: implementation plan

#5257 Update `shfmt` hook to remove warning
  .pre-commit-config.yaml
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: mgmt

#5260 Launch the dark mode
  frontend/feat/feature-flags.json
  frontend/src/components/VFeatureNotice/VDarkModeFeatureNotice.vue
  frontend/test/unit/specs/composables/use-dark-mode.spec.ts
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: frontend

#5256 Avoid emulation for `ov` development environment
  .vale/.gitignore
  .vale/download.sh
  .vale/justfile
  .vale/pdm.lock
  .vale/pyproject.toml
  docker/dev_env/Dockerfile
  docker/dev_env/hooks/pre-commit
  docker/dev_env/hooks/pre-push
  docker/dev_env/run.sh
  ov
Labels: 🟨 priority: medium, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#5264 Set up Sentry profiling for the API
  api/conf/settings/logging.py
  api/conf/settings/security.py
  api/conf/settings/sentry.py
  api/env.template
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🐛 tooling: sentry, 🧱 stack: api

#5268 Use `nuxi typecheck` to make the frontend types check in pre-commit faster
  .pre-commit-config.yaml
  frontend/package.json
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: frontend

#5272 Standardize the image and audio result components
  frontend/shared/utils/query-utils.ts
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VImageResult/VImageResult.vue
  frontend/src/components/VImageResult/meta/VImageResult.stories.ts
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/components/VSearchResultsGrid/VAudioResult.vue
  frontend/src/components/VSearchResultsGrid/VImageCollection.vue
  frontend/test/storybook/visual-regression/v-image-result.spec.ts
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-intrinsic-focused-hovered-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-intrinsic-focused-hovered-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-intrinsic-focused-hovered-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-intrinsic-focused-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-intrinsic-focused-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-intrinsic-focused-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-intrinsic-focused-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-intrinsic-focused-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-intrinsic-hovered-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-intrinsic-hovered-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-intrinsic-hovered-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-intrinsic-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-intrinsic-loaded-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-intrinsic-loaded-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-intrinsic-loaded-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-intrinsic-loaded-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-square-focused-hovered-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-square-focused-hovered-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-square-focused-hovered-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-square-focused-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-square-focused-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-square-focused-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-square-focused-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-square-focused-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-square-hovered-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-square-hovered-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-square-hovered-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-square-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-square-loaded-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-square-loaded-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-square-loaded-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-result.spec.ts-snapshots/v-image-result-square-loaded-xs-light-linux.png
  frontend/test/unit/specs/components/v-image-result.spec.js
  frontend/test/unit/specs/composables/use-get-locale-formatted-number.spec.js
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#5276 Fix broken schemathesis tests
  api/api/views/media_views.py
  api/conf/settings/sentry.py
  api/conf/urls/__init__.py
  api/test/test_schema.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#5278 Set the background color on `<option>` to fix readability issue
  frontend/src/components/VSelectField/VSelectField.vue
Labels: 🟧 priority: high, 🛠 goal: fix, 🕹 aspect: interface, ♿️ aspect: a11y, 🧱 stack: frontend

#5275 Bump `adrf` to 0.1.8 and `aiohttp` to 3.11.10
  api/api/serializers/base.py
  api/api/serializers/image_serializers.py
  api/api/serializers/media_serializers.py
  api/api/utils/asyncio.py
  api/api/views/audio_views.py
  api/api/views/image_views.py
  api/api/views/media_views.py
  api/pdm.lock
  api/pyproject.toml
Labels: 🟨 priority: medium, 💻 aspect: code, dependencies, 🧰 goal: internal improvement, 🧱 stack: api

#5273 Remove MediaViewSet's lookup regex
  api/api/docs/audio_docs.py
  api/api/docs/image_docs.py
  api/api/examples/__init__.py
  api/api/examples/audio_requests.py
  api/api/examples/image_responses.py
  api/api/views/media_views.py
  api/conf/settings/sentry.py
  api/conf/urls/__init__.py
  api/pdm.lock
  api/test/integration/test_media_integration.py
  api/test/test_schema.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api

#5108 Update the analytics events for relevancy
  frontend/shared/types/analytics.ts
  frontend/shared/types/collection-component-props.ts
  frontend/shared/utils/query-utils.ts
  frontend/src/components/VImageResult/VImageResult.vue
  frontend/src/components/VMediaInfo/VGetMediaButton.vue
  frontend/src/components/VMediaInfo/VLicenseTabPanel.vue
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/components/VSearchResultsGrid/VAudioCollection.vue
  frontend/src/components/VSearchResultsGrid/VAudioResult.vue
  frontend/src/components/VSearchResultsGrid/VImageCollection.vue
  frontend/src/composables/use-route-result-params.ts
  frontend/src/pages/image/[id]/index.vue
  frontend/src/stores/media/index.ts
  frontend/test/playwright/e2e/all-results-analytics.spec.ts
  frontend/test/playwright/e2e/all-results-keyboard.spec.ts
  frontend/test/playwright/e2e/attribution.spec.ts
  frontend/test/playwright/e2e/audio-detail.spec.ts
  frontend/test/playwright/e2e/image-detail.spec.ts
  frontend/test/playwright/e2e/search-navigation.spec.ts
  frontend/test/playwright/utils/search-results.ts
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: analytics

#5288 Add sources cache to Nuxt app
  frontend/server/api/sources.ts
  frontend/src/stores/provider.ts
  frontend/test/unit/specs/stores/provider.spec.ts
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend

#5284 Add required variables for Nuxt Sentry setup
  .github/workflows/ci_cd.yml
  frontend/Dockerfile
  frontend/nuxt.config.ts
  frontend/package.json
  justfile
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: mgmt, 🧱 stack: documentation

#5292 Use .env.sentry-build-plugin for Sentry auth token
  frontend/Dockerfile
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: frontend

#5289 Pull all addons in one DB request
  api/api/models/audio.py
  api/api/serializers/audio_serializers.py
  api/api/views/audio_views.py
  api/api/views/media_views.py
  api/test/integration/test_dead_link_filter.py
  api/test/unit/models/test_audio.py
  api/test/unit/views/test_audio_views.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#5297 Fix Sentry client setup
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/sentry.client.config.ts
  frontend/sentry.server.config.ts
  frontend/server/api/sources.ts
  frontend/src/app.config.ts
  frontend/src/pages/preferences.vue
  pnpm-lock.yaml
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: documentation

#5300 Start the catalog service as part of `ov just init`
  load_sample_data.sh
Labels: 🟩 priority: low, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api, 🧱 stack: mgmt

#5295 Downgrade the API's python version back to 3.11
  api/pdm.lock
  api/pyproject.toml
  packages/python/openverse-attribution/pdm.lock
  packages/python/openverse-attribution/pyproject.toml
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api, python
