Repository WordPress/openverse, pull requests merged in 2024-03, with the labels that each got.

#3851 Use GitHub script to handle JSON escaping in Slack message
  .github/workflows/pr_ping.yml
Labels: 🟨 priority: medium, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#3867 Fix pr_ping typo
  .github/workflows/pr_ping.yml
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt

#3831 Combine related media component using `VMediaCollection.vue`
  frontend/src/components/VAudioDetails/VRelatedAudio.vue
  frontend/src/components/VCollectionPage.vue
  frontend/src/components/VImageDetails/VRelatedImages.vue
  frontend/src/components/VMediaInfo/VRelatedMedia.vue
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/components/VSearchResultsGrid/VAudioCollection.vue
  frontend/src/components/VSearchResultsGrid/VAudioInstructions.vue
  frontend/src/components/VSearchResultsGrid/VAudioList.vue
  frontend/src/components/VSearchResultsGrid/VAudioResult.vue
  frontend/src/components/VSearchResultsGrid/VImageCollection.vue
  frontend/src/components/VSearchResultsGrid/VMediaCollection.vue
  frontend/src/pages/audio/_id/index.vue
  frontend/src/pages/image/_id/index.vue
  frontend/src/pages/search/audio.vue
  frontend/src/types/result.ts
  frontend/test/playwright/e2e/audio-detail.spec.ts
  frontend/test/playwright/e2e/image-detail.spec.ts
  frontend/test/tapes/related/audio/1cb1af19-7232-40c2-b9ea-8d6c47e677f9_keep-alive.json5
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#3879 Fix prettier errors
  frontend/src/components/VSearchResultsGrid/VAudioCollection.vue
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#3880 Fix flaky content report form test
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-focused-md-linux.png
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-md-linux.png
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-unfocused-md-linux.png
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#3845 Preemptively fail unparsable/unusable Europeana URLs
  catalog/dags/providers/provider_api_scripts/europeana.py
  catalog/tests/dags/providers/provider_api_scripts/test_europeana.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3796 Update recent searches to match updated mockups
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VHeader/VSearchBar/VSearchBar.vue
  frontend/src/components/VModal/VInputModal.vue
  frontend/src/components/VRecentSearches/VRecentSearches.vue
  frontend/src/components/VRecentSearches/meta/VRecentSearches.stories.mdx
  frontend/src/locales/scripts/en.json5
  frontend/src/stores/search.ts
  frontend/tailwind.config.ts
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🖼️ aspect: design, 🧱 stack: frontend, 🧱 stack: documentation

#3846 Various iNaturalist updates
  catalog/dags/providers/provider_api_scripts/inaturalist.py
  catalog/dags/providers/provider_csv_load_scripts/inaturalist/create_schema.sql
  catalog/tests/dags/providers/provider_api_scripts/test_inaturalist.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3871 Fix Vale by passing files to process instead of a glob to ignore
  .vale/Dockerfile
  .vale/justfile
  .vale/styles/Openverse/TermCasing.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#3888 Extend timeout on iNaturalist table loads
  catalog/dags/providers/provider_api_scripts/inaturalist.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3878 Update documentation for how to perform rollbacks
  documentation/api/guides/deploy.md
  documentation/catalog/guides/deploy.md
  documentation/frontend/guides/deploy.md
  documentation/general/deployment.md
  documentation/ingestion_server/guides/deploy.md
Labels: 🟩 priority: low, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: documentation

#3822 Introduce and use new API domain environment variables
  api/Dockerfile
  api/api/docs/base_docs.py
  api/api/examples/audio_requests.py
  api/api/examples/audio_responses.py
  api/api/examples/environment.py
  api/api/examples/image_requests.py
  api/api/examples/image_responses.py
  api/api/examples/oauth2_requests.py
  api/api/examples/oauth2_responses.py
  api/api/models/media.py
  api/api/serializers/media_serializers.py
  api/conf/settings/security.py
  api/env.docker
  api/env.template
  api/run.py
  api/test/__init__.py
  api/test/constants.py
  api/test/integration/test_auth.py
  api/test/test_examples.py
  api/test/test_schema.py
  api/test/utils.py
  docker-compose.yml
Labels: 🟧 priority: high, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#3892 Correct `ADDITIONAL_DOMAINS` to `ALTERNATIVE_DOMAINS`
  api/conf/settings/security.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3848 Implementation plan: Catalog Data Cleaning
  documentation/projects/proposals/data_normalization/20240227-implementation_plan_catalog_data_cleaning.md
  documentation/projects/proposals/data_normalization/index.md
Labels: 🟨 priority: medium, 📄 aspect: text, 🧰 goal: internal improvement, 🧱 stack: ingestion server, 🧱 stack: catalog, skip-changelog, 🧭 project: implementation plan

#3903 ES healthcheck: skip message composition task when cluster is green
  catalog/dags/elasticsearch_cluster/healthcheck_dag.py
  catalog/tests/dags/elasticsearch_cluster/test_healthcheck_dag.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3905 ccMixter: Handle bad numbers with a decimal point
  catalog/dags/providers/provider_api_scripts/cc_mixter.py
  catalog/tests/dags/providers/provider_api_scripts/test_cc_mixter.py
Labels: 🟨 priority: medium, 🚦 status: awaiting triage, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3874 Recover from updated build_param in Phylopic DAG
  catalog/dags/common/requester.py
  catalog/dags/providers/provider_api_scripts/freesound.py
  catalog/dags/providers/provider_api_scripts/phylopic.py
  catalog/tests/dags/common/test_requester.py
  catalog/tests/dags/providers/provider_api_scripts/test_freesound.py
  catalog/tests/dags/providers/provider_api_scripts/test_phylopic.py
  catalog/tests/dags/providers/provider_api_scripts/test_provider_data_ingester.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🕹 aspect: interface, 🧱 stack: catalog

#3907 ccMixter: Handle spaces in URLs
  catalog/dags/providers/provider_api_scripts/cc_mixter.py
  catalog/tests/dags/providers/provider_api_scripts/resources/cc_mixter/expected_single_record.json
  catalog/tests/dags/providers/provider_api_scripts/resources/cc_mixter/single_item.json
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3868 Update the Additional search views IP
  documentation/projects/proposals/additional_search_views/20230424-project_proposal_additional_search_views.md
  documentation/projects/proposals/additional_search_views/20230719-implementation_plan_additional_search_views.md
  documentation/projects/proposals/additional_search_views/SUPERSEDED-20230719-implementation_plan_additional_search_views.md
Labels: 🟧 priority: high, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: api, 🧱 stack: frontend, 🧭 project: implementation plan

#3780 Add source links to creator pages
  frontend/src/components/VCollectionHeader/VCollectionHeader.vue
  frontend/src/components/VCollectionHeader/meta/VCollectionHeader.stories.mdx
  frontend/src/components/VCollectionPage.vue
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
  frontend/src/components/VScrollableLine.vue
  frontend/src/components/VSearchResultsGrid/VImageGrid.vue
  frontend/src/locales/scripts/en.json5
  frontend/test/locales/ar.json
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-2xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-lg-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-md-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-sm-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-xs-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-2xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-lg-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-md-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-sm-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-xs-linux.png
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🧱 stack: frontend

#3915 Remove leftover files from catalog
  catalog/dags/flickr_thumbs_removal.py
  catalog/tests/dags/providers/provider_api_scripts/resources/wikimedia/prettify.sh
  documentation/catalog/reference/DAGs.md
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3890 Add point_alias DAG and add alias params to create_new_es_index DAGs
  catalog/dags/common/elasticsearch.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index_dag.py
  catalog/dags/elasticsearch_cluster/create_proportional_by_source_staging_index/create_proportional_by_source_staging_index_dag.py
  catalog/dags/elasticsearch_cluster/point_es_alias/point_es_alias_dag.py
  documentation/catalog/reference/DAGs.md
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#3929 Remove unused API variables from environment template
  api/env.template
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#3909 Freesound: handle space in creator name when making URL
  catalog/dags/providers/provider_api_scripts/freesound.py
  catalog/tests/dags/providers/provider_api_scripts/test_freesound.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3928 Use DAG_DEFAULT_ARGS for all DAGs
  catalog/dags/elasticsearch_cluster/healthcheck_dag.py
  catalog/dags/maintenance/rotate_db_snapshots.py
  catalog/tests/dags/test_dag_parsing.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#3836 Add accesstoken and ThrottledApplication to admin panel
  api/api/admin/__init__.py
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: api

#3760 Implementation Plan: Content moderation metrics
  documentation/conf.py
  documentation/projects/proposals/trust_and_safety/content_report_moderation/20240122-implementation_plan_moderation_metrics.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: api, skip-changelog, 🧱 stack: documentation, 🧭 project: implementation plan

#3808 Cleanup tag display for long lists of tags
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/src/locales/scripts/en.json5
  frontend/src/types/analytics.ts
  frontend/src/utils/focus-management.ts
  frontend/test/locales/ar.json
  frontend/test/playwright/e2e/collections.spec.ts
  frontend/test/tapes/detail/images/2bc7dde0-5aad-4cf7-b91d-7f0e3bd06750_keep-alive.json5
Labels: 🟨 priority: medium, ✨ goal: improvement, 🖼️ aspect: design, 🧱 stack: frontend

#3835 Use the `VMediaCollection` for search and collection results
  frontend/src/components/VCollectionPage.vue
  frontend/src/components/VLoadMore.vue
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/components/VSearchResultsGrid/VAudioList.vue
  frontend/src/components/VSearchResultsGrid/VCollectionResults.vue
  frontend/src/components/VSearchResultsGrid/VImageGrid.vue
  frontend/src/components/VSearchResultsGrid/VMediaCollection.vue
  frontend/src/components/VSearchResultsGrid/VSearchResults.vue
  frontend/src/components/meta/CustomButtonComponents.stories.mdx
  frontend/src/composables/use-search-type.ts
  frontend/src/middleware/search.ts
  frontend/src/pages/audio/collection.vue
  frontend/src/pages/image/collection.vue
  frontend/src/pages/search.vue
  frontend/src/pages/search/audio.vue
  frontend/src/pages/search/image.vue
  frontend/src/pages/search/index.vue
  frontend/src/stores/media/index.ts
  frontend/src/stores/search.ts
  frontend/test/unit/specs/components/v-image-grid.spec.js
  frontend/test/unit/specs/pages/browse-page.spec.js
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#3942 Fix the skip-to-content link reloading the results
  frontend/src/components/VButton.vue
  frontend/src/components/VSkipToContentButton.vue
  frontend/src/middleware/search.ts
  frontend/src/pages/image/collection.vue
  frontend/src/types/button.ts
  frontend/test/playwright/e2e/all-results-keyboard.spec.ts
  frontend/test/playwright/e2e/search-navigation.spec.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/playwright/utils/search-results.ts
Labels: 🟥 priority: critical, 🛠 goal: fix, ♿️ aspect: a11y, 🧱 stack: frontend

#3950 Link to Openverse in Documentation site root
  documentation/index.md
Labels: 🟨 priority: medium, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: documentation

#3952 Update pinia and vue-demi
  frontend/package.json
  pnpm-lock.yaml
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#3850 Centralise frontend error reporting (and suppress unactionable Sentry errors)
  frontend/nuxt.config.ts
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/composables/use-search.ts
  frontend/src/plugins/errors.ts
  frontend/src/stores/media/index.ts
  frontend/src/stores/media/related-media.ts
  frontend/src/stores/media/single-result.ts
  frontend/src/stores/provider.ts
  frontend/src/types/analytics.ts
  frontend/src/utils/errors.ts
  frontend/test/playwright/e2e/search.spec.ts
  frontend/test/playwright/playwright.config.ts
  frontend/test/unit/specs/plugins/errors.spec.ts
  frontend/test/unit/test-utils/pinia.js
  pnpm-lock.yaml
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend

#3951 Adds locale to the locale kebab-case warnings
  frontend/src/locales/scripts/bulk-download.js
  frontend/src/locales/scripts/utils.js
Labels: 🟧 priority: high, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#3957 Update payload of collection search analytics events
  frontend/src/components/VImageCell/VImageCell.vue
  frontend/src/components/VLoadMore.vue
  frontend/src/components/VSearchResultsGrid/VAudioResult.vue
  frontend/src/stores/search.ts
  frontend/src/types/analytics.ts
  frontend/test/playwright/e2e/all-results-analytics.spec.ts
  frontend/test/playwright/e2e/audio-detail.spec.ts
  frontend/test/playwright/e2e/image-detail.spec.ts
  frontend/test/playwright/e2e/load-more.spec.ts
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: frontend

#3913 Project proposal for dark mode project
  documentation/projects/proposals/dark_mode/20240313-project_proposal_dark_mode.md
  documentation/projects/proposals/dark_mode/index.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: documentation, 🧭 project: proposal

#3961 Remove unused colors from the tailwind config
  frontend/src/components/TableSortIcon.vue
  frontend/src/components/VAudioTrack/layouts/VBoxLayout.vue
  frontend/src/components/VMediaTag/VMediaTag.vue
  frontend/src/styles/accent.css
  frontend/tailwind.config.ts
Labels: 🟩 priority: low, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: frontend

#3921 Add elasticsearch concurrency tags for Airflow
  catalog/dags/common/sensors/constants.py
  catalog/dags/common/sensors/utils.py
  catalog/dags/data_refresh/create_filtered_index_dag.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/data_refresh_task_factory.py
  catalog/dags/database/staging_database_restore/staging_database_restore_dag.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index_dag.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index_types.py
  catalog/dags/elasticsearch_cluster/create_proportional_by_source_staging_index/create_proportional_by_source_staging_index_dag.py
  catalog/dags/elasticsearch_cluster/point_es_alias/point_es_alias_dag.py
  catalog/dags/elasticsearch_cluster/recreate_staging_index/recreate_full_staging_index_dag.py
  catalog/tests/dags/common/sensors/test_utils.py
  documentation/catalog/reference/DAGs.md
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog, 🧱 stack: documentation

#3955 Group "week in Openverse" items by stack label
  automations/js/src/last_week_tonight.mjs
Labels: 🟩 priority: low, ✨ goal: improvement, 🤖 aspect: dx, 🧱 stack: mgmt

#3936 Add Project Proposal for ingestion server removal project
  documentation/projects/proposals/ingestion_server_removal/20240319-project_proposal.md
  documentation/projects/proposals/ingestion_server_removal/index.md
Labels: 🟨 priority: medium, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: ingestion server, 🧱 stack: catalog, skip-changelog, 🧭 project: proposal

#3887 Use search query parameters for additional search views in the API
  api/Pipfile
  api/Pipfile.lock
  api/api/constants/parameters.py
  api/api/controllers/search_controller.py
  api/api/docs/audio_docs.py
  api/api/docs/base_docs.py
  api/api/docs/image_docs.py
  api/api/serializers/audio_serializers.py
  api/api/serializers/docs.py
  api/api/serializers/image_serializers.py
  api/api/serializers/media_serializers.py
  api/api/views/audio_views.py
  api/api/views/image_views.py
  api/api/views/media_views.py
  api/conf/settings/misc.py
  api/env.template
  api/test/integration/test_media_integration.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/controllers/test_search_controller_search_query.py
  api/test/unit/serializers/test_media_serializers.py
  api/test/unit/views/test_media_views.py
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: api

#3971 Fix load sample data script provider insertion
  api/api/examples/audio_responses.py
  load_sample_data.sh
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: api

#3980 Add documentation guidelines, update API docs guidelines links
  documentation/api/guides/documentation.md
  documentation/api/guides/index.md
  documentation/meta/documentation/guidelines.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: documentation

#3983 Use a `make_insert_query` function in test_sql.py
  catalog/tests/dags/common/loader/test_sql.py
  catalog/tests/test_utils/sql.py
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog

#3978 Update additional search views API params in frontend
  frontend/src/stores/search.ts
  frontend/test/tapes/search/images/creator=strogoscope&source=flickr&unstable__collection=creator_keep-alive.json5
  frontend/test/tapes/search/images/creator=strogoscope_keep-alive.json5
  frontend/test/tapes/search/images/source=flickr&unstable__collection=source_keep-alive.json5
  frontend/test/tapes/search/images/unstable__collection=tag&tags=cat_keep-alive.json5
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#3982 Automatically apply the project proposal and IP labels to PRs
  .github/auto-label.json
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: mgmt

#3985 Check for emptiness of case.split function input
  frontend/src/utils/case.ts
Labels: 🟩 priority: low, 🛠 goal: fix, 💻 aspect: code, ⌨️ tech: typescript, 🧱 stack: frontend

#3979 Reset the media store state if collection state changes
  frontend/src/middleware/collection.ts
  frontend/src/stores/search.ts
Labels: 🟧 priority: high, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend
