Repository WordPress/openverse, pull requests merged in 2025-01, with the labels that each got.

#5301 Docs: add database queries log documentation
  documentation/api/guides/index.md
  documentation/api/guides/logging.md
Labels: 🟩 priority: low, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: api, 🧱 stack: documentation

#5319 Update dependency Nuxt
  frontend/package.json
  pnpm-lock.yaml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#5320 Update i18n-related dependencies
  .github/renovate.json5
  frontend/package.json
  package.json
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend

#5328 Update `aiohttp` to last patch version 3.11.11
  api/pdm.lock
  api/pyproject.toml
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#5335 Close old db connections after getting thumbnails
  api/api/utils/image_proxy/__init__.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#5332 Add Django connection pools feature
  .github/workflows/ci_cd.yml
  api/api/templatetags/get_attr.py
  api/conf/settings/databases.py
  api/conf/settings/logging.py
  api/justfile
  api/pdm.lock
  api/pyproject.toml
  api/test/integration/test_auth.py
  api/test/unit/management/commands/test_generatewaveforms.py
  api/test/unit/models/test_media_report.py
  api/test/unit/utils/test_moderation.py
  catalog/dags/providers/provider_api_scripts/cleveland_museum.py
  catalog/dags/providers/provider_api_scripts/metropolitan_museum.py
  catalog/dags/providers/provider_api_scripts/nappy.py
  catalog/dags/providers/provider_api_scripts/science_museum.py
  catalog/dags/providers/provider_api_scripts/smithsonian.py
  catalog/tests/dags/providers/provider_api_scripts/test_nappy.py
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api, 🧱 stack: mgmt

#5305 Only show audio message when track ID matches active
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VAudioTrack/VWaveform.vue
  frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
Labels: 🟨 priority: medium, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: frontend

#5338 Update instructions for ES node replacement
  documentation/meta/maintenance/elasticsearch_cluster.md
Labels: 🟨 priority: medium, ✨ goal: improvement, 📄 aspect: text, 🧱 stack: documentation

#5261 Clean repeated static string interpolation
  frontend/i18n/data/en.json5
  frontend/i18n/scripts/translations.mjs
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VSafetyWall/VSafetyWall.vue
  frontend/src/pages/about.vue
  frontend/src/pages/feedback.vue
  frontend/src/pages/privacy.vue
  frontend/src/pages/sensitive-content.vue
  frontend/src/pages/sources.vue
  frontend/test/locales/ar.json
  frontend/test/locales/es.json
  frontend/test/playwright/utils/i18n.ts
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: frontend

#5323 Simplify media `FetchState` and fix fetching errors
  frontend/nuxt.config.ts
  frontend/shared/types/fetch-state.ts
  frontend/src/components/VCollectionHeader/VCollectionHeader.vue
  frontend/src/components/VCollectionHeader/meta/VCollectionHeader.stories.ts
  frontend/src/components/VContentLink/VContentLink.vue
  frontend/src/components/VHeader/VHeaderDesktop.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VLoadMore.vue
  frontend/src/components/VMediaInfo/VRelatedMedia.vue
  frontend/src/components/VSearchResultsGrid/VCollectionResults.vue
  frontend/src/components/VSearchResultsGrid/VSearchResults.vue
  frontend/src/components/meta/CustomButtonComponents.stories.ts
  frontend/src/composables/use-collection.ts
  frontend/src/composables/use-i18n-utilities.ts
  frontend/src/composables/use-search.ts
  frontend/src/middleware/search.ts
  frontend/src/middleware/single-result.ts
  frontend/src/pages/audio/[id]/index.vue
  frontend/src/pages/image/[id]/index.vue
  frontend/src/pages/image/collection.vue
  frontend/src/pages/search.vue
  frontend/src/stores/media/index.ts
  frontend/src/stores/media/related-media.ts
  frontend/src/stores/media/single-result.ts
  frontend/src/stores/provider.ts
  frontend/test/unit/specs/components/v-content-link.spec.js
  frontend/test/unit/specs/composables/use-i18n-utilities.spec.js
  frontend/test/unit/specs/stores/media-store-fetching.spec.js
  frontend/test/unit/specs/stores/media-store.spec.ts
  frontend/test/unit/specs/stores/provider.spec.ts
  frontend/test/unit/specs/stores/single-result-store.spec.ts
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: frontend, 🧱 stack: documentation

#5136 Updated notify_slack method
  catalog/dags/common/slack.py
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels_dag.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index_dag.py
  catalog/dags/elasticsearch_cluster/create_proportional_by_source_staging_index/create_proportional_by_source_staging_index_dag.py
  catalog/dags/elasticsearch_cluster/point_es_alias/point_es_alias_dag.py
  catalog/dags/elasticsearch_cluster/recreate_staging_index/recreate_full_staging_index_dag.py
  catalog/dags/maintenance/rotate_envfiles.py
  catalog/dags/popularity/popularity_refresh_dag_factory.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#5343 Fix i18n placeholder replacement and make tests robust
  .github/workflows/ci_cd.yml
  documentation/frontend/reference/i18n.md
  frontend/Dockerfile.playwright
  frontend/i18n/data/en.json5
  frontend/i18n/scripts/po/po-helpers.mjs
  frontend/i18n/scripts/translations.mjs
  frontend/i18n/scripts/utils.mjs
  frontend/src/components/VContentLink/meta/VContentLink.stories.ts
  frontend/src/components/VThemeSelect/VThemeSelect.vue
  frontend/src/composables/use-analytics.ts
  frontend/src/pages/audio/collection.vue
  frontend/src/plugins/02.init.server.ts
  frontend/src/plugins/03.analytics.ts
  frontend/src/plugins/04.errors.ts
  frontend/src/plugins/05.init-stores.server.ts
  frontend/src/stores/media/index.ts
  frontend/src/stores/provider.ts
  frontend/test/playwright/playwright.config.ts
  frontend/test/playwright/utils/expect-snapshot.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
  frontend/test/proxy.js
  frontend/test/storybook/functional/smoke-test.spec.ts
  frontend/test/storybook/playwright.config.ts
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: frontend, 🧱 stack: mgmt, 🧱 stack: documentation

#5341 Fix missing `dag` parameter in Slack notification
  catalog/dags/maintenance/rotate_envfiles.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#5344 Skip posting if there is no change to post about
  automations/js/src/last_week_tonight.mjs
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: mgmt

#5353 Remove the watermarking code and endpoint
  api/Dockerfile
  api/api/docs/image_docs.py
  api/api/serializers/image_serializers.py
  api/api/utils/ccrel.py
  api/api/utils/watermark.py
  api/api/views/image_views.py
  api/conf/settings/misc.py
  api/env.docker
  api/env.template
  api/pdm.lock
  api/pyproject.toml
  api/test/unit/utils/test_watermark.py
  api/test/unit/views/test_image_views.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: api

#5345 Exclude health checks from Sentry profiles sampling
  api/conf/settings/sentry.py
Labels: 🟨 priority: medium, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api

#5356 Revert "Close old db connections after getting thumbnails (#5335)"
  api/api/utils/image_proxy/__init__.py
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: api
